@model UTP.PortalEmpleabilidad.Modelo.Lista

@{
    ViewBag.Title = "EDITAR";
}

<h2>editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EDITAR</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IDLista)

        <div class="form-group">
            @Html.LabelFor(model => model.IDLista, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDLista)
                @Html.ValidationMessageFor(model => model.IDLista)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NombreLista, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreLista)
                @Html.ValidationMessageFor(model => model.NombreLista)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionLista, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescripcionLista)
                @Html.ValidationMessageFor(model => model.DescripcionLista)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Modificable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modificable)
                @Html.ValidationMessageFor(model => model.Modificable)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Creadopor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Creadopor)
                @Html.ValidationMessageFor(model => model.Creadopor)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCreacion)
                @Html.ValidationMessageFor(model => model.FechaCreacion)
            </div>
        </div>
    </div>
}
