<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Empleabilidad - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<body class="cuerpo-zona-publica">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgb(245, 245, 245);border:0px;" role="navigation">
        <div class="container">
            @*@Html.ActionLink(" ", "Index", "Home", new { @class = "LogoUTPPE" })*@
            <div class="row">
                <div class="col-sm-6">
                    <a href="@Url.Action("Index", "Home")"><img src="~/img/LogoUTPPE2.png" class="LogoUTPPE" /></a>
                </div>

                <div class="col-sm-6 AreaLogoINTERCORP" style="text-align:right;">
                    <a href="@Url.Action("Index", "Home")"><img src="~/img/intercorp.png" class="LogoINTERCORP" /></a>
                </div>
            </div>
            <div class="navbar-header posicion-menu">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin: 6px 5px 3px 0px;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="row" style="background-color:rgb(230,230,230);">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li class="boton-menu-utp">
                            <a class=" a-menu-utp" href="..\Home\Index" style="text-align:left;height:100%;padding:6px 6px 6px 6px;color:rgb(180,30,34)">
                                Inicio<br />&nbsp;
                            </a>
                        </li>*@
                        <li id="OpcionMenuEmpleabilidad" class="boton-menu-utp" style="background-color:lightgray;">
                            <a href="..\Home\DirEmp" style="text-align:left;padding: 10px 10px 10px 10px;">@*Dirección de<br />*@Nosotros</a>
                        </li>
                        <li id="OpcionMenuServicios" class="boton-menu-utp">
                            <a href="..\Home\Servicios" style="text-align:left;padding: 10px 10px 10px 10px;">Servicios @*a tu<br /> disposición*@</a>
                        </li>
                        @*<li id="OpcionMenuNoticiasEventos" class="boton-menu-utp">
                            <a href="..\Home\NoticiasEventos" style="text-align:left;padding: 6px 3px 6px 3px;">Noticias<br />y Eventos</a>
                        </li>*@
                        <li id="OpcionMenuTestimonios" class="boton-menu-utp">
                            <a href="..\Home\Testimonios" style="text-align:left;padding: 10px 10px 10px 10px;">Testimonios@*<br />&nbsp;*@</a>

                            <!--Link para la programación de la plantilla CV. Sólo para desarrollo.-->
                            @*@Html.ActionLink("Generar CV", "GenerarCV", "Plantilla", new { idCV = 3 }, new { @class = "btn btn-default navbar-btn Boton_pestana color-paleta4", @style = "padding: 2px 0px 2px 0px; color: white;" })*@
                        </li>
                        <li id="OpcionMenuParaEmpleadores" class="boton-menu-utp">
                            <a href="..\Home\ParaEmpleadores" style="text-align:left;padding: 10px 10px 10px 10px;">
                                @*Para<br />*@Empleadores
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="padding-right: 15px; ">
                        <li>
                            <a href="#" style="padding: 11px 10px 0px 10px;" data-toggle="modal" data-target="#Modal-ingresar" id="LinkIngresar">
                                <span class="menuOpcionesAd">INGRESAR</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" style="padding: 11px 10px 0px 10px;"><span class="fui color-icono-facebook menuOpcionesAd" style="font-size:35px;">)</span></a>
                        </li>
                    </ul>
                    <!--@Html.Partial("_LoginPartial")-->
                </div>
            </div>

        </div>
    </div>
    
    @RenderBody()
    <div>               
        <footer style="background-color:rgb(131, 131, 129);">
            <br />
            <div class="container">
                <p style="text-align:center;color:white;font-size:16px;">
                    Universidad Tecnológica del Perú
                </p>
                <p style="text-align:center;color:white;font-size:10px;padding-bottom:0px;padding-top:0px;">
                    Esquina Av. 28 de Julio y Av. Pettit Thouars, Lima Perú | teléfono: 315-9600 e-mail: admision@utp.edu.pe
                </p>
                <p style="text-align:center;color:white;font-size:10px;">
                    Campus Chiclayo: Esquina Prol. Augusto B. Leguía con Av. Herman Meiner | teléfono: (074) 622121 | Informes: Calle San José 720 - teléfono: (074) 624 998 | e-mail: admisionchiclayo@utp.edu.pe
                </p>
                <p style="text-align:center;color:white;font-size:14px;">
                    2014 UTP &copy; - <a href="@Url.Action("TerminosDeUso", "Home")" style="color:white;">Términos de Uso</a> - <a href="@Url.Action("PoliticasDePrivacidad", "Home")" style="color:white;">Política de Privacidad</a> - <a href="@Url.Action("FAQ", "Home")" style="color:white;">FAQ</a> -
                    @*<a href="../Home/Contacto" style="color:white;">Contáctenos</a>*@

                    <a href=@Url.Action("Contacto", "Home", new { pantalla = UTP.PortalEmpleabilidad.Modelo.Constantes.MENSAJES_INICIO }) style="color:white;">Contáctenos</a>
                </p>
            </div>
        </footer>
    </div>


    <!-- Modal -->
    <div class="modal" id="Modal-ingresar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ingreso de Usuario</h4>
                </div>

                @Html.Action("Autenticar", "Cuenta")
               
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    
</body>
</html>

@if (TempData["UsuarioNoExitoso"] == "_ClickAqui")
{
    <script>
        document.getElementById("LinkIngresar").click();
    </script>
    TempData["UsuarioNoExitoso"] = null;
}