<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/IDAT/favicon.ico">
    <title>Portal de Empleabilidad - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (System.Configuration.ConfigurationManager.AppSettings["LogeoProduccion"] != "false")
    {
    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-61006808-1', 'auto');
        ga('send', 'pageview');

    </script>
    }
  

</head>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<body class="cuerpo-zona-publica">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgb(245, 245, 245);border:0px;" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="@Url.Action("Index", "Home")"><img src="~/img/IDAT/logo.png" class="LogoUTPPE" /></a>
                </div>
            </div>
            <div class="navbar-header posicion-menu">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin: 6px 5px 3px 0px;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="row" style="background-color:rgb(230,230,230);">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li class="boton-menu-utp">
                            <a class=" a-menu-utp" href="..\Home\Index" style="text-align:left;height:100%;padding:6px 6px 6px 6px;color:rgb(180,30,34)">
                                Inicio<br />&nbsp;
                            </a>
                        </li>*@
                        <li id="OpcionMenuEmpleabilidad" class="boton-menu-utp">  
                            @*<a href="~/Views/Home/DirEmp.cshtml" style="text-align:left;padding: 10px 10px 10px 10px;">Nosotros</a>*@                       
                            @Html.ActionLink("Nosotros", "DirEmp", "Home", new { @style = "text-align:left;padding: 10px 10px 10px 10px;" })
                        </li>
                        <li id="OpcionMenuServicios" class="boton-menu-utp">
                            @*<a href="..\Home\Servicios" style="text-align:left;padding: 10px 10px 10px 10px;">Servicios</a>*@
                            @Html.ActionLink("Servicios", "Servicios", "Home", new { @style = "text-align:left;padding: 10px 10px 10px 10px;" })
                        </li>
                        @*<li id="OpcionMenuNoticiasEventos" class="boton-menu-utp">
                            <a href="..\Home\NoticiasEventos" style="text-align:left;padding: 6px 3px 6px 3px;">Noticias<br />y Eventos</a>
                        </li>*@
                        <li id="OpcionMenuTestimonios" class="boton-menu-utp">
                            @*<a href="..\Home\Testimonios" style="text-align:left;padding: 10px 10px 10px 10px;">Testimonios</a>*@
                            @Html.ActionLink("Testimonios", "Testimonios", "Home", new { @style = "text-align:left;padding: 10px 10px 10px 10px;" })
                            <!--Link para la programación de la plantilla CV. Sólo para desarrollo.-->
                            @*@Html.ActionLink("Generar CV", "GenerarCV", "Plantilla", new { idCV = 3 }, new { @class = "btn btn-default navbar-btn Boton_pestana color-paleta4", @style = "padding: 2px 0px 2px 0px; color: white;" })*@
                        </li>
                        <li id="OpcionMenuParaEmpleadores" class="boton-menu-utp">
                            @*<a href="..\Home\ParaEmpleadores" style="text-align:left;padding: 10px 10px 10px 10px;">Empleadores</a>*@
                            @Html.ActionLink("Empleadores", "ParaEmpleadores", "Home", new { @style = "text-align:left;padding: 10px 10px 10px 10px;" })
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="padding-right: 15px; ">
                        <li>
                            <!--data-toggle="modal" data-target="#Modal-ingresar"-->
                            <a href="#" style="padding: 11px 10px 0px 10px;" data-toggle="modal" data-target="#Modal-ingresar" id="LinkIngresar" onclick="abrirPantallaLogin();">
                                <span class="menuOpcionesAd">INGRESAR</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://es-es.facebook.com/UTPEmpleabilidad" target="_blank" style="padding: 11px 10px 0px 10px;"><span class="fui color-icono-facebook menuOpcionesAd" style="font-size:35px;">)</span></a>
                        </li>
                    </ul>
                    <!--@Html.Partial("_LoginPartial")-->
                </div>
            </div>

        </div>
    </div>
    
    @RenderBody()
    <div>               
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span7" style="padding-left:5px;">
                        @Html.Partial("FooterIntra")
                        &nbsp;
                    </div>

                    <div id="footer_right" class="span4">


                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal" id="Modal-ingresar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="boton-cierra-login"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ingreso de Usuario</h4>
                </div>
                
                @if (ViewBag.MensajeDeError == null)
                { 
                    @Html.Action("Autenticar", "Cuenta")
                }

                <div id="divAutenticar">

                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="Modal-recuperar-clave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="boton-cierra-login"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Restablecer Contraseña</h4>
                </div>

                @Html.Action("Restablecer", "Cuenta")

                <div id="divRestablecer">

                </div>
            </div>
        </div>
    </div>
      
    <form class="modal" action="Cuenta/CambiarClave" id="Modal-cambiar-clave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Usuario: <span></span></h4>
                    <input type="hidden" value="" class="hidden" name="usuario"/>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">(*)<br />Contraseña</span>
                                <input class="form-control" id="contrasena-text" name="contrasena" type="password"></input>                                
                            </div>
                        </div>
                        <div class="col-sm-6 fuente-pequeña">
                            <p>Ingrese una contraseña con al menos 8 caracteres utilizando al menos una letra mayúscula, una minúscula y un dígito.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">(*) Repita<br />Contraseña</span>
                                <input class="form-control" id="repiteContrasena-text" type="password"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align:right;">
                            @*<button type="button" class="btn btn-default color-paleta4 fuente-pequeña" style="color: white; margin-bottom: 10px;">Guardar</button>*@

                            <button id="btnCambiarClave" type="submit" class="btn btn-default color-paleta4 fuente-pequeña">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

            @*<div class="modal" id="Modal-cambiar-clave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" id="boton-cierra-login"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Cambiar Contraseña</h4>
                            </div>

                            <div id="divRestablecer">

                            </div>
                        </div>
                    </div>
                </div>*@

            @Scripts.Render("~/bundles/jqueryval")

</body>
</html>

@if (TempData["UsuarioNoExitoso"] == "_ClickAqui")
{
    <script>
        document.getElementById("LinkIngresar").click();
       
    </script>
    
    TempData["UsuarioNoExitoso"] = null;
}
<script>
    $("#Modal-ingresar").click(function cierraError() {

        if (document.getElementById("boton-login-cierra-error") != null)
        { 
            document.getElementById("boton-login-cierra-error").click();
        }
    });

    @*function abrirPantallaLogin()
    {
        var url = '@Url.Action("Autenticar", "Cuenta")';

        $.get(url, function (data) {
            $('#divAutenticar').html(data);
            $.validator.unobtrusive.parse('#divAutenticar');
            $('#Modal-ingresar').modal('show');
        });
    }*@

    //Solo se usa este método cuando existe un error al validar la página de registro.
    function abrirPantallaLogin()
    {
        var mensajeError = '@ViewBag.MensajeDeError';

        if (mensajeError != null && mensajeError != '' )
        {
            var url = '@Url.Action("Autenticar", "Cuenta")';

            $.get(url, function (data) {
                $('#divAutenticar').html(data);
                $.validator.unobtrusive.parse('#divAutenticar');
                $('#Modal-ingresar').modal('show');
            });

        }
    }

    $(document).ready(function () {
        var target = document.location.hash.replace("#", "");
        if (target.length) {
            if (target == "Token") {
                showModal();
            }            
        } else {
            //showModal("no title", "no content");
        }
        
        function showModal() {
            $('#Modal-recuperar-clave').modal('show');
        }
    });
</script>