
@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Contenido>
@{
    ViewBag.Title = "Home";
    int contadorPanel = 1;
}

@using UTP.PortalEmpleabilidad.Modelo;

<script src="~/Scripts/jquery.jcarousel.js"></script>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active" style="border-color: gray;"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" style="border-color: gray;"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" style="border-color: gray;"></li>
        </ol>

        <div class="carousel-inner" style="padding: 0px; width: 100%; height: auto;">

            @foreach (var item in Model)
            {

                if (contadorPanel == 1)
                {
                    <div class="item active">
                        <img src="~/img/imagen1.jpg" style="width:100%;" />
                        <div style="width: 100%; height:100%;background-image: url(../../img/imagen1-banda.png);position:absolute;top:60%;left:0px;padding-right:10%;" class="slideInRight animated animated2">
                            <div class="container">
                                <p class="BannerSuperTitulo slideInRight animated animated3" style="text-align:right;">@item.Titulo</p>
                                <p class="BannerTitulo slideInRight animated animated4" style="text-align:right;">@item.SubTitulo</p>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="item">
                        <img src="~/img/imagen1.jpg" style="width:100%;" />
                        <div style="width: 100%; height:100%;background-image: url(../../img/imagen1-banda.png);position:absolute;top:60%;left:0px;padding-right:10%;" class="slideInRight animated animated2">
                            <div class="container">
                                <p class="BannerSuperTitulo slideInRight animated animated3" style="text-align:right;">@item.Titulo</p>
                                <p class="BannerTitulo slideInRight animated animated4" style="text-align:right;">@item.SubTitulo</p>
                            </div>
                        </div>
                    </div>

                }

                contadorPanel++;
            }

        </div>





                @*<div class="item active">
                    <img src="~/img/imagen1.jpg" style="width:100%;" />
                    <div style="width: 100%; height:100%;background-image: url(../../img/imagen1-banda.png);position:absolute;top:60%;left:0px;padding-right:10%;" class="slideInRight animated animated2">
                        <div class="container">
                            <p class="BannerSuperTitulo slideInRight animated animated3" style="text-align:right;">@item.Titulo</p>
                            <p class="BannerTitulo slideInRight animated animated4" style="text-align:right;">@item.SubTitulo</p>
                        </div>
                    </div>
                </div>*@

                @*<div class="item">
                    <img src="~/img/imagen2.jpg" style="width:100%;" />

                    <div style="width: 100%; height:100%;position:absolute;top:35%;left:0px;padding-left:5%;">
                        <div class="container">
                            <p class="BannerSuperTitulo lightSpeedIn animated animated2" style="color: black; text-align: left;">Lorem ipsum dolor</p>
                            <p class="BannerTitulo lightSpeedIn animated animated3" style="color: gray; text-align: left;">Phasellus volutpat, justo quis</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/imagen3.jpg" width="1080" height="400" style="width:100%;" />

                    <div style="width: 100%; height:100%;position:absolute;top:10%;left:0px;padding-left:5%;">
                        <div class="container">
                            <p class="BannerSuperTitulo rollIn animated animated2" style="color: rgb(233, 149, 34); text-align: left;">Lorem ipsum dolor </p>
                            <p class="BannerTitulo rollIn animated animated3" style="color: rgb(15, 175, 188); text-align: left;">Phasellus volutpat, justo quis efficitur </p>
                            <p class="BannerSubTitulo rollIn animated animated4" style="color: white; text-align: left;">"...pellentesque justo purus, posuere eget magna vel, ultricies ..."</p>

                            <img src="~/img/LogoUTP2.png" style="width:30%;" class="tada animated animated5" />
                        </div>
                    </div>
                </div>*@


       




        <!-- Wrapper for slides -->
        @*<div class="carousel-inner" style="padding: 0px; width: 100%; height: auto;">
            <div class="item active">
                <img src="~/img/imagen1.jpg" style="width:100%;" />
                <div style="width: 100%; height:100%;background-image: url(../../img/imagen1-banda.png);position:absolute;top:60%;left:0px;padding-right:10%;" class="slideInRight animated animated2" >
                    <div class="container">
                        <p class="BannerSuperTitulo slideInRight animated animated3" style="text-align:right;">CURSOS DE EXTENSIÓN Y DIPLOMADO</p>
                        <p class="BannerTitulo slideInRight animated animated4" style="text-align:right;">EGRESADOS - INSCRIPCIONES ABIERTAS</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/img/imagen2.jpg" style="width:100%;" />

                <div style="width: 100%; height:100%;position:absolute;top:35%;left:0px;padding-left:5%;">
                    <div class="container">
                        <p class="BannerSuperTitulo lightSpeedIn animated animated2" style="color: black; text-align: left;">Lorem ipsum dolor</p>
                        <p class="BannerTitulo lightSpeedIn animated animated3" style="color: gray; text-align: left;">Phasellus volutpat, justo quis</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/img/imagen3.jpg" width="1080" height="400" style="width:100%;" />

                <div style="width: 100%; height:100%;position:absolute;top:10%;left:0px;padding-left:5%;">
                    <div class="container">
                        <p class="BannerSuperTitulo rollIn animated animated2" style="color: rgb(233, 149, 34); text-align: left;">Lorem ipsum dolor </p>
                        <p class="BannerTitulo rollIn animated animated3" style="color: rgb(15, 175, 188); text-align: left;">Phasellus volutpat, justo quis efficitur </p>
                        <p class="BannerSubTitulo rollIn animated animated4" style="color: white; text-align: left;">"...pellentesque justo purus, posuere eget magna vel, ultricies ..."</p>

                        <img src="~/img/LogoUTP2.png" style="width:30%;" class="tada animated animated5" />
                    </div>
                </div>
            </div>
        </div>*@


        <!-- Controls -->
        <a class="left carousel-control"  href="#carousel-example-generic" role="button" data-slide="prev" style="background-image: none">
            <span class="glyphicon glyphicon-chevron-left" style="color: rgb(180, 30, 34);"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background-image: none;">
            <span class="glyphicon glyphicon-chevron-right" style="color: rgb(180, 30, 34);"></span>
        </a>
    </div>




<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Noticias</h3>
            <hr />


            @{
                var listaNoticias = ((List<Contenido>)(ViewBag.ListaNoticias));

                foreach (var itemNoticias in listaNoticias)
                {
                    <span>
                        <img src="/Content/imagen/@itemNoticias.Imagen" style="border:solid;border-width:1px;border-color:rgb(220,220,220);border-radius: 6px 6px 6px 6px;width:100%;" />
                        @*<img src="/Content/imagen/@item.Imagen" height="100" width="100" />*@
                    
                    
                    </span>
                    <h4><strong>@Html.Raw(@itemNoticias.Titulo)</strong></h4>
                    <p>@Html.Raw(@itemNoticias.SubTitulo)</p>
                    <span>@Html.Raw(@itemNoticias.Descripcion)</span>
                    <hr />
                }
            }

        </div>
        <div class="col-sm-4">
            <h3>Eventos</h3>
            <hr />

            @{
                var listaEventos = ((List<Contenido>)(ViewBag.ListaEventos));

                foreach (var itemEventos in listaEventos)
                {
                    <span>
                        <img src="/Content/imagen/@itemEventos.Imagen" style="border:solid;border-width:1px;border-color:rgb(220,220,220);border-radius: 6px 6px 6px 6px;width:100%;" />
                        @*<img src="/Content/imagen/@item.Imagen" height="100" width="100" />*@


                    </span>
                    <h4><strong>@Html.Raw(@itemEventos.Titulo)</strong></h4>
                    <span>@Html.Raw(@itemEventos.Descripcion)</span>
                    <hr />
                }
            }


            @*<span>
                    <img src="~/img/evento/Evento1.jpg" style="border:solid;border-width:1px;border-color:rgb(220,220,220);border-radius: 6px 6px 6px 6px;width:100%;" />
                </span>
                <span>Consectetur adipiscing elit. Nam vel ipsum id nisi tristique venenatis. Quisque pulvinar quam quis maximus pharetra.
                Vestibulum lobortis, sem vel sollicitudin malesuada, nunc quam dignissim dui. Pellentesque ipsum lectus, rhoncus quis.</span>

            </div>*@
        </div>
        <div class="col-sm-4 " >
            <h3>Testimonios</h3>
            <hr />

            

            @{
                int contador = 1;
                var listaTestimonios = ((List<Contenido>)(ViewBag.listaTestimonios));

                foreach (var itemTestimonios in listaTestimonios)
                {
                    if (contador % 2 == 0)
                    {
                        <div class="row ">
                            <div class="col-sm-6">
                                <img src="/Content/imagen/@itemTestimonios.Imagen" style="border:solid;border-width:1px;border-color:rgb(220,220,220);border-radius: 6px 6px 6px 6px;width:100%;" />
                            </div>
                            <div class="col-sm-6">
                                <h3 style="color:rgb(180,34,30)"><strong>@Html.Raw(@itemTestimonios.Titulo)</strong></h3>
                                <h6>@Html.Raw(@itemTestimonios.SubTitulo)</h6>
                               
                            </div>

                        </div>
                    
                    }
                    else
                    {
                        
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 style="color:rgb(180,34,30)"><strong>@Html.Raw(@itemTestimonios.Titulo)</strong></h3>
                                    <h6>@Html.Raw(@itemTestimonios.SubTitulo)</h6>
                                   
                                </div>
                                <div class="col-sm-6">
                                    <img src="/Content/imagen/@itemTestimonios.Imagen" style="border:solid;border-width:1px;border-color:rgb(220,220,220);border-radius: 6px 6px 6px 6px;width:100%;" />
                                </div>
                            </div>
                       
                    }
                    contador++;
                    <hr />
                }
            }
            @*<span>
                <img src="~/img/testimonio/customer-testimonials.jpg" style="border:solid;border-width:1px;border-color:rgb(220,220,220);border-radius: 6px 6px 6px 6px;width:100%;" />
            </span>
            <span>
                "Consectetur adipiscing elit. Nam vel ipsum id nisi tristique venenatis.
                Quisque pulvinar quam quis maximus pharetra. Vestibulum lobortis, sem vel sollicitudin malesuada"
            </span>
            <hr />
            <span>

                <img src="~/img/testimonio/customer.gif" style="border:solid;border-width:1px;border-color:rgb(220,220,220);border-radius: 6px 6px 6px 6px;width:100%;" />
            </span>
            <span>
                "Vestibulum lobortis, sem vel sollicitudin malesuada consectetur adipiscing elit. Nam vel ipsum id nisi tristique venenatis."
            </span>*@

        </div>


    </div>
    
</div>
<br />