@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Contenido>
@{
    ViewBag.Title = "Home";
}

@using UTP.PortalEmpleabilidad.Modelo;

<body class="home">
    <header class="home__header">
        @Html.Partial("Menu")
        <section class="home__header__slider">
            <div class="home__header__slider__content cycle-slideshow" data-cycle-fx="fade" data-cycle-slides=">div" data-cycle-timeout="5000" data-cycle-pager=".home__header__slider__pager" data-cycle-pager-template="<div></div>">
              @{
                  var ListaIndex = ((List<Contenido>)(ViewBag.ListaIndex));

                  foreach (var itemIndex in ListaIndex)
                  {
                    <div style="background-image: url(@Url.Action("Imagen_Index", "Home", new { id = itemIndex.IdContenido }));"></div>
                  }
              }
            </div>
            <div class="home__header__slider__pager"></div>
        </section>
    </header>
    <section class="home__body">
        <div class="bg"></div>
        <section class="home__body__content">
            <div class="container">
                <ul class="home__body__content__publications row">
                    <li class="card col-lg-4 col-md-4">
                        <div class="card__wrapper">
                            @{
                                var noticia = ((List<Contenido>)(ViewBag.ListaNoticias))[0];

                                <h4 class="card__title"><img src="~/img/IDAT/noti-empleos.png" alt="">noti-empleos</h4>
                                <p class="card__subtitle">@Html.Raw(@noticia.Titulo)</p>
                                <div class="card__content">
                                    <p>@Html.Raw(@noticia.SubTitulo)</p>
                                    <p>@Html.Raw(@noticia.Descripcion)</p>
                                </div>
                                <a href="#" class="card__hook">ver más</a>
                            }
                        </div>
                    </li>
                    <li class="card col-lg-4 col-md-4">
                        <div class="card__wrapper">
                            @{
                                var evento = ((List<Contenido>)(ViewBag.ListaEventos))[0];

                                <h4 class="card__title"><img src="~/img/IDAT/lo-que-se-viene.png" alt="">lo que se viene</h4>
                                <p class="card__subtitle">@Html.Raw(@evento.Titulo)</p>
                                <div class="card__content">
                                    <p>@Html.Raw(@evento.SubTitulo)</p>
                                    <p>@Html.Raw(@evento.Descripcion)</p>
                                </div>
                                <a href="#" class="card__hook">ver más</a>
                            }
                        </div>
                    </li>
                    <li class="card col-lg-4 col-md-4">
                        <div class="card__wrapper">
                            @{
                                var testimonio = ((List<Contenido>)(ViewBag.listaTestimonios))[0];

                                <h4 class="card__title"><img src="~/img/IDAT/que-nos-cuentan.png" alt="">qué nos cuentan</h4>
                                <p class="card__subtitle">@Html.Raw(@testimonio.Titulo)</p>
                                <div class="card__content">
                                    <p>@Html.Raw(@testimonio.SubTitulo)</p>
                                    <p>@Html.Raw(@testimonio.Descripcion)</p>
                                </div>
                                <a href="@Url.Action("Testimonios", "Home")" class="card__hook">ver más</a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        @Html.Partial("Footer")
    </section>
</body>