@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Contenido>
@{
    ViewBag.Title = "Home";
}

@using UTP.PortalEmpleabilidad.Modelo;

<body class="home">
    <header class="home__header">
        @Html.Partial("Menu")
        <section class="home__header__slider">
            <div class="home__header__slider__content cycle-slideshow" data-cycle-fx="fade" data-cycle-slides=">div" data-cycle-timeout="5000" data-cycle-pager=".home__header__slider__pager" data-cycle-pager-template="<div></div>">
              @{
                  var ListaIndex = ((List<Contenido>)(ViewBag.ListaIndex));

                  foreach (var itemIndex in ListaIndex)
                  {
                    <div style="background-image: url(@Url.Action("Imagen_Index", "Home", new { id = itemIndex.IdContenido }));"></div>
                    @Html.Raw(itemIndex.Descripcion)
                  }
              }
            </div>
            <div class="home__header__slider__pager"></div>
        </section>
    </header>
    <section class="home__body">
        <div class="bg"></div>
        <section class="home__body__content">
            <div class="container">
                <ul class="home__body__content__publications row">
                    <li class="card col-lg-4 col-md-4">
                        <div class="card__wrapper">
                            <h4 class="card__title"><img src="~/img/IDAT/noti-empleos.png" alt="">noti-empleos</h4>
                            @{
                                var Noticia = ((List<Contenido>)(ViewBag.ListaNoticias));
                                if (Noticia.Count > 0) 
                                {
                                    var noticia = Noticia[0];
                                    
                                    <p class="card__subtitle">@Html.Raw(@noticia.Titulo)</p>
                                    <div class="card__content">
                                        <p>@Html.Raw(@noticia.SubTitulo)</p>
                                    </div>
                                    <a href="@Url.Action("NotiEmpleos", "Home")" target="_blank" class="card__hook">ver más</a>
                                }
                                else
                                {
                                    <p class="card__subtitle">Sin datos</p>
                                }
                            }
                        </div>
                    </li>
                    <li class="card col-lg-4 col-md-4">
                        <div class="card__wrapper">
                            <h4 class="card__title"><img src="~/img/IDAT/lo-que-se-viene.png" alt="">lo que se viene</h4>
                            @{
                                var Evento = ((List<Contenido>)(ViewBag.ListaEventos));
                                if (Evento.Count > 0)
                                {
                                    var evento = Evento[0];
                                    
                                    <p class="card__subtitle">@Html.Raw(@evento.Titulo)</p>
                                    <div class="card__content">
                                        <p>@Html.Raw(@evento.SubTitulo)</p>
                                    </div>
                                    <a href="@Url.Action("LoQueSeViene", "Home")" target="_blank" class="card__hook">ver más</a>
                                }
                                else 
                                { 
                                    <p class="card__subtitle">Sin datos</p>
                                }
                            }                           
                        </div>
                    </li>
                    <li class="card col-lg-4 col-md-4">
                        <div class="card__wrapper">
                            <h4 class="card__title"><img src="~/img/IDAT/que-nos-cuentan.png" alt="">qué nos cuentan</h4>
                            @{
                                var Testimonio = ((List<Contenido>)(ViewBag.listaTestimonios));
                                if (Testimonio.Count > 0) 
                                {
                                    var testimonio = Testimonio[0];

                                    <p class="card__subtitle">@Html.Raw(@testimonio.Titulo)</p>
                                    <div class="card__content">
                                        <p>@Html.Raw(@testimonio.SubTitulo)</p>
                                        <p>@Html.Raw(@testimonio.Descripcion)</p>
                                    </div>
                                    <a href="@Url.Action("QueNosCuentan", "Home")" target="_blank" class="card__hook">ver más</a>
                                } 
                                else
                                {
                                    <p class="card__subtitle">Sin datos</p>
                                }
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        @Html.Partial("Footer")
    </section>
</body>

@if (TempData["GuardaRegistroExitoso"] != null)
{
    <div class="modal fade" id="GuardaRegistroExitoso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Información de Registro recibida</h4>
                </div>
                <div class="modal-body">
                    <p>@Html.Raw(TempData["GuardaRegistroExitoso"])</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="" data-toggle="modal" data-target="#GuardaRegistroExitoso" id="BotonExito" hidden>.</button>
    <script>document.getElementById("BotonExito").click();</script>
    TempData["GuardaRegistroExitoso"] = null;
}