@*@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Contenido>*@
@model  IEnumerable<UTPPrototipo.Models.ViewModels.Contenido.ContenidoVista>

@{
    ViewBag.Title = "Servicios a su disposición";
    int contador = 1;
}

@foreach (var item in Model)
{
    if (contador % 2 == 0)
        {
            <div class="row row-contenido1">
                <div class="container">
                    <div class="col-md-6">
                       

                        <img alt="" class="imagen-portal1" src='@Url.Action("Imagen_Servicios", "Home", new { id = @item.IdContenido })' />

                    </div>
                    <div class="col-md-6">
                        <h3 style="color:rgb(180,34,30)"><strong>@Html.Raw(@item.Titulo)</strong></h3>
                        <h6>@Html.Raw(@item.SubTitulo)</h6>
                        <p>@Html.Raw(@item.Descripcion)</p>
                    </div>



                </div>
            </div>
        }
        else
        {
            <div class="row row-contenido2">
                <div class="container">
                    <div class="col-md-6">
                        <h3 style="color:rgb(180,34,30)"><strong>@Html.Raw(@item.Titulo)</strong></h3>
                        <h6>@Html.Raw(@item.SubTitulo)</h6>
                        <p>@Html.Raw(@item.Descripcion)</p>
                    </div>
                    <div class="col-md-6">
                        <img alt="" class="imagen-portal1" src='@Url.Action("Imagen_Servicios", "Home", new { id = @item.IdContenido  })' />

                    </div>




                </div>
            </div>
        }




        contador++;


}


@*<h5></h5>
<div class="row row-contenido1">
    <div class="container">

        <div class="col-md-6">
            <h3 style="color:rgb(180,34,30)"><strong>Lobortis hendrerit ante</strong></h3>
            <h6>"Aliquam et mauris ut lacus viverra mattis. Fusce blandit turpis sem, id congue arcu venenatis nec."</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id sagittis leo. Morbi in sagittis diam. Ut imperdiet pulvinar ligula, ac rhoncus eros pretium quis. Aenean sapien est, posuere ut neque sollicitudin, volutpat tristique erat. Vestibulum lobortis augue metus, ut tincidunt lacus scelerisque tristique. Pellentesque dui nisi, sagittis in neque a, molestie laoreet erat. Donec ultricies sapien ac lectus pharetra, non vestibulum lectus blandit. Morbi ultrices augue vitae tellus iaculis, varius varius tortor iaculis. Duis libero velit, accumsan sit amet ipsum non, viverra consectetur nisi. Phasellus bibendum ut ipsum aliquet vestibulum.</p>
        </div>
        <div class="col-md-6">
            <img src="~/img/UTP/imagen1.jpg" class="imagen-portal1" />
        </div>
    </div>
</div>
<div class="row row-contenido2">
    <div class="container">
        <div class="col-md-6">
            <img src="~/img/UTP/imagen2.jpg" class="imagen-portal1" />
        </div>
        <div class="col-md-6">
            <h3 style="color:rgb(180,34,30)"><strong>Aliquam et mauris ut lacus viverra mattis</strong></h3>
            <p>
                Nunc ligula purus, posuere sit amet condimentum at, tincidunt id nulla. Aliquam eleifend dignissim massa vitae tincidunt. Donec lobortis hendrerit ante, pharetra laoreet tortor varius non. Nam eu dignissim dolor. Praesent sed turpis non est scelerisque cursus. Duis hendrerit, eros sit amet scelerisque auctor, libero odio laoreet orci, ac ultrices ipsum ipsum vel purus. Aliquam et mauris ut lacus viverra mattis. Fusce blandit turpis sem, id congue arcu venenatis nec. Ut scelerisque accumsan eros nec elementum. Quisque fermentum nibh sit amet diam sagittis volutpat sed in metus. Praesent tempus sed purus at volutpat. Nullam vehicula lectus eu diam placerat, ut lobortis augue vehicula. Nam pulvinar leo eu tortor euismod ornare. Donec vitae est at nisl blandit elementum.
            </p>
        </div>
    </div>
</div>
<div class="row row-contenido1">
    <div class="container">

        <div class="col-md-6">
            <h3 style="color:rgb(180,34,30)"><strong> Vivamus lacus lectus</strong></h3>
            <p>
                Vestibulum mattis interdum diam. Cras est lacus, viverra a auctor eget, interdum in nisl. Nullam ac elementum diam. Nam imperdiet est enim, lobortis placerat nibh fermentum vel. Nulla fermentum at risus sit amet laoreet. Fusce sed risus quis sem rhoncus interdum eu ac mauris. Praesent euismod velit lorem, sollicitudin consequat orci auctor non. Maecenas tincidunt mauris tortor. Nam condimentum eu magna et scelerisque.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/img/UTP/imagen3.jpg" class="imagen-portal1" />
        </div>
    </div>
</div>*@

<script>

    $(document).ready(function () {
        $("#OpcionMenuServicios").addClass("opcion-seleccionada");
    });


</script>

