@using UTP.PortalEmpleabilidad.Modelo;
@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Contenido>
@{
    ViewBag.Title = "Testimonios";
    int contador = 1;
}

<body class="testimonials">
    <header class="testimonials__header" style="position: relative;">
        @Html.Partial("Menu")
        <img class="testimonials__header__bg" src="~/img/IDAT/testimonio.png" alt="Alternate Text" />
        <div class="testimonials__header__slider cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="5000" data-cycle-slides=">div">
            @{
                var testimonios = ((List<Contenido>)(ViewBag.Testimonios));

                foreach (var testimonio in testimonios)
                {
                    <div>
                        @Html.Raw(testimonio.Descripcion)
                        <small>@Html.Raw(testimonio.Titulo)</small>
                    </div>
                }
            }
        </div>
    </header>
    <section class="testimonials__body">
        <section class="testimonials__body__content">
            <div class="bg"></div>
            <div class="container">


                <ul class="home__body__content__publications row">
                    <li class="card col-lg-6 col-sm-6">
                        <div class="card__wrapper">
                            @{
                                <h4 class="card__title"><img src="~/img/IDAT/las-empresas-opinan.png" alt="">las empresas opinan</h4>

                                var contenidos = ((List<Contenido>)(ViewBag.Opiniones));
                                Contenido contenido = null;
                                if (contenidos != null && contenidos.Count > 0)
                                {
                                    contenido = (contenidos)[0];

                                    <p class="card__subtitle">@Html.Raw(@contenido.Titulo)</p>
                                    <div class="card__content">
                                        <p>@Html.Raw(@contenido.SubTitulo)</p>
                                        <p>@Html.Raw(@contenido.Descripcion)</p>
                                    </div>
                                }

                                <a href="@Url.Action("LasEmpresasOpinan", "Home")" target="_blank" class="card__hook">ver más</a>
                            }
                        </div>
                    </li>
                    <li class="card col-lg-6 col-sm-6">
                        <div class="card__wrapper">
                            @{
                                <h4 class="card__title"><img src="~/img/IDAT/imparable.png" alt="">casos de éxito imparable</h4>

                                var casos = ((List<Contenido>)(ViewBag.Casos));
                                Contenido caso = null;
                                if (casos != null && casos.Count > 0)
                                {
                                    caso = (casos)[0];

                                    <p class="card__subtitle">@Html.Raw(@caso.Titulo)</p>
                                    <div class="card__content">
                                        <p>@Html.Raw(@caso.SubTitulo)</p>
                                        <p>@Html.Raw(@caso.Descripcion)</p>
                                    </div>
                                }
                                <a href="@Url.Action("CasosDeExitoImparable", "Home")" target="_blank" class="card__hook">ver más</a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        @Html.Partial("Footer")
    </section>
</body>