@using UTP.PortalEmpleabilidad.Modelo;
@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Contenido>
@{
    ViewBag.Title = "Testimonios";
    int contador = 1;
}

<body class="testimonials">
    <header class="testimonials__header" style="position: relative;">
        @Html.Partial("Menu")
        <img class="testimonials__header__bg" src="~/img/IDAT/testimonio.png" alt="Alternate Text" />
        <div class="testimonials__header__slider cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="5000" data-cycle-slides=">div">
            @{
                var testimonios = ((List<Contenido>)(ViewBag.Testimonios));
                
                foreach(var testimonio in testimonios) {
                    <div>
                        @Html.Raw(testimonio.Descripcion)
                        <small>@Html.Raw(testimonio.Titulo)</small>
                    </div>
                }
            }
        </div>
    </header>
    <section class="testimonials__body">
        <section class="testimonials__body__content">
            <div class="bg"></div>
            <div class="container">
                
                
                <ul class="home__body__content__publications row">
                    <li class="card col-lg-6 col-sm-6">
                        <div class="card__wrapper">
                         @{
                            var noticia = ((List<Contenido>)(ViewBag.Noticias))[0];

                            <h4 class="card__title"><img src="~/img/IDAT/las-empresas-opinan.png" alt="">las empresas opinan</h4>
                            <p class="card__subtitle">@Html.Raw(@noticia.Titulo)</p>
                            <div class="card__content">
                                <p>@Html.Raw(@noticia.SubTitulo)</p>
                                <p>@Html.Raw(@noticia.Descripcion)</p>
                            </div>
                            <a href="#" class="card__hook">ver más</a>
                        }
                        </div>
                    </li>
                    <li class="card col-lg-6 col-sm-6">
                        <div class="card__wrapper">
                        @{
                            var evento = ((List<Contenido>)(ViewBag.Eventos))[0];

                            <h4 class="card__title"><img src="~/img/IDAT/imparable.png" alt="">casos de éxito imparable</h4>
                            <p class="card__subtitle">@Html.Raw(@evento.Titulo)</p>
                            <div class="card__content">
                                <p>@Html.Raw(@evento.SubTitulo)</p>
                                <p>@Html.Raw(@evento.Descripcion)</p>
                            </div>
                            <a href="#" class="card__hook">ver más</a>
                        }
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        @Html.Partial("Footer")
    </section>
</body>