@using UTPPrototipo.Common
@model UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaOfertaAlumno
@using UTP.PortalEmpleabilidad.Modelo

@{
    ViewBag.Title = "Oferta de Trabajo";
}
<div class="container" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @Html.Hidden("IdOferta", Model.Oferta.IdOferta)
        @Html.Hidden("RecibeCorreosIdListaValor", Model.Oferta.RecibeCorreosIdListaValor)
        @Html.Hidden("CorreoElectronicoUsuarioEmpresa", Model.Oferta.CorreoElectronicoUsuarioEmpresa)
        @Html.Hidden("CargoOfrecido", Model.Oferta.CargoOfrecido)

    </div>

    <div class="row">
        <div class="col-md-7">
            <!--Vista para la empresa-->
            <div class=" tabla-empresa">
                <table>
                    <tr>
                        <td>

                            @if (Model.Oferta.LogoEmpresa != null && string.IsNullOrEmpty(Model.Oferta.ArchivoMimeType) == false)
                            {
                                <img src="@Url.Action("GetImageEmpresa", "Alumno", new { Model.Oferta.IdEmpresa })" class="logo-empresa" />

                            }
                            else
                            {
                                <img class="logo-empresa" src="~/img/sinimagen.jpg" />
                            }
                        </td>
                        <td style="vertical-align:top;">
                            <a data-toggle="modal" data-target="#Modal-datos-empresa"><strong>@Model.Oferta.NombreComercial </strong></a>
                            <br /><span class="fuente-pequeña">
                                @if (string.IsNullOrEmpty(Model.Oferta.SitioWeb) == false)
                                {
                                    @Html.ActionLink(Model.Oferta.SitioWeb, null, null, "http", Model.Oferta.SitioWeb, null, null, null)
                                }


                            </span>
                            <br /><span class="fuente-pequeña">
                                RUC. @Model.Oferta.IdentificadorTributario
                            </span>
                            <br />
                            <span class="fuente-pequeña">
                                @Model.Oferta.DesNumeroEmpleados
                            </span>
                            <br /><p class="fuente-pequeña" style="margin:0px 0px 0px 0px;">
                                @Model.Oferta.DescripcionEmpresa
                            </p>
                        </td>
                    </tr>
                </table>

            </div>

            <!--Vista para la empresa-->
            <div class="panel-group" id="oferta-anuncio" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOferta" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOferta" aria-expanded="true" aria-controls="collapseOferta" class="fuente-seccion">
                                @Model.Oferta.CargoOfrecido
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOferta" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOferta">
                        <div class="panel-body fuente-pequeña">
                            <h6><strong>Funciones</strong></h6>
                            <br />
                            @Html.Raw(Model.Oferta.Funciones)
                            <h6><strong>Requisitos</strong></h6>
                            <br />
                            @Html.Raw(Model.Oferta.Competencias)
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="col-md-5">
            <div class="panel-group" id="oferta-requisito" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingRequisito" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseRequisito" aria-expanded="true" aria-controls="collapseRequisito" class="fuente-seccion">
                                Requisitos de la Oferta
                            </a>

                        </h5>
                        @*<div class="progress" style="background-color:white;margin:5px 10px 5px 10px;">
                                @Html.Raw(Html.CompatibilidaOferta((int)Model.Oferta.Compatible))


                            </div>*@
                    </div>
                    <div id="collapseRequisito" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRequisito">
                        <div class="panel-body fuente-pequeña">
                            <table class="fuente-pequeña">

                                @if (Model.ListadoEstudios != null && Model.ListadoEstudios.Count > 0)
                                {
                                    <tr>
                                        <td class="celda-nombre"></td>
                                        <td class="celda-datos"><strong class="sub-titulo-seccion">Estudios</strong></td>
                                    </tr>
                                    foreach (var item in Model.ListadoEstudios)
                                    {
                                        if (item.Tipo == 0)
                                        {
                                            <tr>
                                                <td class="celda-nombre"></td>
                                                <td class="celda-datos">
                                                    <strong>@item.Requisito</strong>
                                                    @*@if (item.Line == 1)
                                                        {
                                                            if (item.Cumplimiento == 1)
                                                            {
                                                                <span class="valor-palabra si-cumple">Si cumple</span><span class="valor-icono2 si-cumple">g</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="valor-palabra no-cumple"><strong>No cumple</strong></span><span class="valor-icono2 no-cumple">l</span>
                                                            }
                                                        }*@

                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="2"><div class="linea_raya"></div></td>
                                            </tr>
                                        }


                                    }
                                }
                                <tr><td><br /></td></tr>

                                @if (Model.ListadoSectorEmpresarial != null && Model.ListadoSectorEmpresarial.Count > 0)
                                {
                                    <tr>
                                        <td class="celda-nombre"></td>
                                        <td class="celda-datos"><strong class="sub-titulo-seccion">Experiencia por Sector</strong></td>
                                    </tr>
                                    foreach (var item in Model.ListadoSectorEmpresarial)
                                    {
                                        if (item.Tipo == 0)
                                        {
                                            <tr>
                                                <td class="celda-nombre"></td>
                                                <td class="celda-datos">
                                                    <strong>@item.Requisito</strong>
                                                    @*@if (item.Line == 1)
                                                        {
                                                            if (item.Cumplimiento == 1)
                                                            {
                                                                <span class="valor-palabra si-cumple">Si cumple</span><span class="valor-icono2 si-cumple">g</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="valor-palabra no-cumple"><strong>No cumple</strong></span><span class="valor-icono2 no-cumple">l</span>
                                                            }
                                                        }*@

                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="2"><div class="linea_raya"></div></td>
                                            </tr>
                                        }


                                    }
                                }
                                <tr><td><br /></td></tr>

                                @if (Model.ListadoInformacionAdicional != null && Model.ListadoInformacionAdicional.Count > 0)
                                {
                                    <tr>
                                        <td class="celda-nombre"></td>
                                        <td class="celda-datos"><strong class="sub-titulo-seccion">Conocimientos</strong></td>
                                    </tr>
                                    foreach (var item in Model.ListadoInformacionAdicional)
                                    {
                                        if (item.Tipo == 0)
                                        {
                                            <tr>
                                                <td class="celda-nombre"></td>
                                                <td class="celda-datos">
                                                    <strong>@item.Requisito</strong>
                                                    @*@if (item.Line == 1)
                                                        {
                                                            if (item.Cumplimiento == 1)
                                                            {
                                                                <span class="valor-palabra si-cumple">Si cumple</span><span class="valor-icono2 si-cumple">g</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="valor-palabra no-cumple"><strong>No cumple</strong></span><span class="valor-icono2 no-cumple">l</span>
                                                            }
                                                        }*@

                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="2"><div class="linea_raya"></div></td>
                                            </tr>
                                        }


                                    }
                                }

                                <tr><td><br /></td></tr>



                            </table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>

            <!--Vista para la empresa-->
            <div class="panel-group" id="oferta-detalle" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingDetalle" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDetalle" aria-expanded="true" aria-controls="collapseDetalle" class="fuente-seccion">
                                Condiciones
                            </a>
                        </h5>
                    </div>
                    <div id="collapseDetalle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingDetalle">
                        <div class="panel-body fuente-pequeña">


                            <table class="fuente-pequeña">
                                <tr>
                                    <td class="celda-nombre">
                                        <span>Cargo</span>
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.CargoOfrecido</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Publicado el
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@String.Format("{0:dd/MM/yyyy}", Model.Oferta.FechaPublicacion)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        CVs hasta el
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@String.Format("{0:dd/MM/yyyy}", Model.Oferta.FechaFinRecepcionCV)</strong>

                                    </td>
                                </tr>
                                <tr style="display:none;">
                                    <td class="celda-nombre">
                                        Finaliza el
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@String.Format("{0:dd/MM/yyyy}", Model.Oferta.FechaFinProceso)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Tipo Cargo
                                    </td>
                                    <td class="celda-datos">
                                        <span class="valor-palabra"><strong>@Model.Oferta.DesTipoCargo</strong></span><span class="valor-icono2">H</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Tipo Trabajo
                                    </td>
                                    <td class="celda-datos">
                                        <span class="valor-palabra"><strong>@Model.Oferta.DesTipoTrabajo</strong></span><span class="valor-icono2">I</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Tipo Contrato
                                    </td>
                                    <td class="celda-datos">
                                        <span class="valor-palabra"><strong>@Model.Oferta.DesTipoContrato</strong></span><span class="valor-icono2">N</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Duración
                                    </td>
                                    <td class="celda-datos">

                                        @if (Model.Oferta.DuracionContrato > 0)
                                        {

                                            <strong>@Model.Oferta.DuracionContrato Meses</strong>
                                        }
                                        else
                                        {
                                            <strong>Indefinido</strong>
                                        }


                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Horario
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.Horario</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Remuneración
                                    </td>
                                    <td class="celda-datos">
                                        @if (Model.Oferta.RemuneracionOfrecida > 0)
                                        {

                                            <strong>@String.Format("{0:###,###,###.#0}", Model.Oferta.RemuneracionOfrecida)</strong>
                                        }
                                        else
                                        {
                                            <strong></strong>
                                        }



                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Área
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.AreaEmpresa</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Vacantes
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.NumeroVacantes</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Ubicación
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.NombreLocacion</strong>
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta2");
        $('#PestañaOfertas').css('backgroundColor', '#f00');
    });

</script>
