@model UTP.PortalEmpleabilidad.Modelo.Usuario

@using (Ajax.BeginForm("Autenticar", "Cuenta", new AjaxOptions()))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    

    <div class="modal-body">
        @if (TempData["UsuarioNoExitoso"] != null)
        {
            
        <div class="alert alert-danger" role="alert">Usuario o Password no válidos</div>
        
            TempData["UsuarioNoExitoso"] = "_ClickAqui";
            
        }
        
        <form>


            <div class="input-group grupo-ingreso">
                <span class="input-group-addon nombre-campo">Usuario</span>
                @*<input type="text" class="form-control" placeholder="Usuario" style="width:100%;">*@
                @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control" })
             </div>@Html.ValidationMessageFor(m => m.NombreUsuario, "", new { @class = "text-danger" })
                  <div class="input-group grupo-ingreso">
                    <span class="input-group-addon nombre-campo">Clave</span>
                    @*<input type="password" class="form-control" placeholder="Clave">*@
                    @*@Html.TextBoxFor(m => m.Contrasena, new { @class = "form-control" })*@
                    @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control" })

                   
                </div>@Html.ValidationMessageFor(m => m.Contrasena, "", new { @class = "text-danger" })
                <br />
                <div class="grupo-ingreso" style="text-align:center;">
                    <input type="checkbox">
                    <span class="label-sistema"> No Cerrar mi Sesión </span>
                </div>
                <br />
                <div class="text-center" style="width: 100%;">
                    <input id="btnAutenticar" type="submit" value="Ingresar" class="btn btn-default" />
                </div>

</form>
       <div id="divMsjRespuestaError">

       </div>

    </div>
}
<div class="modal-footer">
    <span class="label-sistema">Recuperar Clave</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@*<span class="label-sistema">Registrarse</span>*@
    @Html.ActionLink("Registrarse", "Registro", "Home")
</div>

<script>


    //$(document).ready(function () {

    //    $('#btnAutenticar').on('click', function () {

    //        var url = 'Cuenta/Autenticar';

    //        var nombre = '';
    //        var contrasena = '';


    //        $('#divMsjRespuestaError').html('<p>Hola <strong>mundo</strong> !!!</p>');
    //    });
    //});



    //$('#btnAutenticar').click(function () {
    //    $(this).after(
    //        '<div class="alert alert-danger">' +
    //            '<button type="button" class="close" ' +
    //                    'data-dismiss="alert" aria-hidden="true">' +
    //                '&times;' +
    //            '</button>' +
    //            'Password Changed' +
    //         '</div>');
    //});


</script>