@model UTP.PortalEmpleabilidad.Modelo.Usuario

@using (Ajax.BeginForm("GenerarToken", "Cuenta", new AjaxOptions()))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>*@


    <div class="modal-body">
        @if (TempData["CorreoExitoso"] != null)
        {
            <script>

                $(document).ready(function () {

                    alert('@TempData["CorreoExitoso"]');

                });

            </script>
        }
        @if (TempData["TokenNoExitoso"] != null)
        {
            <script>

                $(document).ready(function () {

                    alert('@TempData["TokenNoExitoso"]');

                });

            </script>
        }
        <form>
            <p>Paso 1:</p>
            <p>Ingrese su Usuario y haga click en Enviar. Le enviaremos una clave token a su cuenta de correo registrada.</p>
            <div class="input-group grupo-ingreso">
                <span class="input-group-addon nombre-campo">Usuario</span>            
                @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control",  @id = "Nusuario"})  
                <span class="input-group-btn">
                    <button type="button" id="btnGenerarToken" class="btn" value="mail" name="submitButton" onclick="generarTokenUsuario(); return false;">&nbsp;Enviar&nbsp;&nbsp;</button>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.NombreUsuario, "", new { @class = "text-danger" })           
            <hr />
            <p>Paso 2:</p>
            <p>Revise su correo, ingrese su clave token y haga click en Ingresar. Si la ventana se cierra, deberá volver a generar la clave token.</p>
            <div class="input-group grupo-ingreso">
              
                <span class=" input-group-addon nombre-campo">Token</span>

                <div>
                    @Html.TextBoxFor(m => m.Token, new { @class = "form-control", @id = "token" })
                </div>
           

                <span class="input-group-btn">
                    <button type="button" id="btnIngresar" class="btn" value="ingresar" name="submitButton" onclick="verificarTokenUsuario(); return false;">Ingresar</button>
                </span>
             </div>
            @Html.ValidationMessageFor(m => m.Token, "", new { @class = "text-danger" })          
        </form>
    </div>
}
<script>


    $(document).ready(function () {
        var $singinButton = $('#btnIngresar');
        var $recoverPasswordModal = $('#Modal-cambiar-clave'),
            $recoverPasswordModalButton = $recoverPasswordModal.find('#btnCambiarClave'),
            $passwordInput = $('#contrasena-text'),
            $repeatPasswordInput = $('#repiteContrasena-text');

        $recoverPasswordModalButton.click(function (e) {
            var valid = true;
            var message = '';

            if ($passwordInput.val() == '') {
                valid = false;
                message += 'No puede dejar contraseña vacia \n';
            }

            if ($passwordInput.val() != $repeatPasswordInput.val()) {
                valid = false;
                message += 'Las contraseñas deben ser iguales';
            }

            if (!valid) {
                e.preventDefault();
                e.stopPropagation();
                alert(message);
            }
            else {
                alert('Se cambio su contraseña correctamente')
            }
        });

    });

    function generarTokenUsuario() {
        var usuario = $('#Nusuario').val();
        var $currentModal = $('.modal.in');

        $.ajax({
            url: '@Url.Action("generarTokenUsuario", "Cuenta")',
            method: 'POST',
            data: { NombreUsuario: usuario, submitButton: 'Ingresar', token: '' }
        })
            .done(function (data) {
                console.log(data);
                var valueAlert;
                //var //$title = $recoverPasswordModal.find('.modal-title span'),
                //$usuario = $recoverPasswordModal.find('input.hidden');

                //$title.text(data.NombreUsuario);
                //$usuario.val(data.NombreUsuario);

                valueAlert = JSON.stringify(data)
                if (valueAlert != "")
                    alert(valueAlert);
                else {
                    alert('Ha ocurrido un error, intentelo mas tarde.');
                }
                //$currentModal.modal('hide');
                //$recoverPasswordModal.modal('show');
            })
            .fail(function (xhr, error) { });

        return false;
    };

    function verificarTokenUsuario() {
        var usuario = $('#Nusuario').val();
        var token = $('#token').val();
        var $currentModal = $('.modal.in');
        var $recoverPasswordModal = $('#Modal-cambiar-clave');

        $.ajax({
            url: '@Url.Action("verificarTokenUsuario", "Cuenta")',
            method: 'POST',
            data: { NombreUsuario: usuario, submitButton: 'ingresar', token: token }
        })
            .done(function (data) {

                var $title;
                var $usuario;
                var valueAlert;

                valueAlert = JSON.stringify(data);

                if (valueAlert.trim() == '""') {
                    $title = $recoverPasswordModal.find('.modal-title span');
                    $usuario = $recoverPasswordModal.find('input.hidden');

                    $title.text(usuario);
                    $usuario.val(usuario);

                    $currentModal.modal('hide');
                    $recoverPasswordModal.modal('show');
                }
                else {
                    alert(valueAlert);
                }

            })
            .fail(function (xhr, error) { });

        return false;
    };


</script>