@model UTP.PortalEmpleabilidad.Modelo.Empresa

<div class="panel-group" id="datos-empresa" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingDatosEmpresa" style="padding: 2px 2px 2px 6px;">
            <div class="panel-title">
                <div data-toggle="collapse" data-parent="#datos-empresa" data-target="#collapseDatosEmpresa" aria-expanded="true" aria-controls="collapseDatosEmpresa" class="fuente-seccion">
                    <span role="button">Datos empresa - @Model.NombreComercial</span>
                    <span class="glyphicon pull-right" role="button"></span>
                </div>
            </div>
        </div>
        <div id="collapseDatosEmpresa" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingDatosEmpresa">
            <div class="panel-body">
                <div class="row">
           

                    @*<div class="col-sm-2" style="text-align:center;">
                        <img src="~/img/logos/LogoCriteria.jpg" style="width:100%;" /><hr />
                        <a href="~/Views/Empresa/CambiarImagen">Cambiar Imagen</a>
            
                        <br />


                    </div>*@



                    <div class="col-sm-10">
                        <table class="fuente-pequeña">
                            <tr>
                                <td class="celda-nombre" style="width:150px;">Nombre</td>
                                <td class="celda-datos">@Model.NombreComercial</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">Razón Social</td>
                                <td class="celda-datos">@Model.RazonSocial</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">País</td>
                                <td class="celda-datos">@Model.Pais.Valor</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">RUC</td>
                                <td class="celda-datos">@Model.IdentificadorTributario</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">Descripción de la Empresa</td>
                                <td class="celda-datos" style="text-align:justify;">@Model.DescripcionEmpresa</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">Año de Creación</td>
                                <td class="celda-datos">@if (Model.AnoCreacion > 0) { @Model.AnoCreacion}</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">Número de Empleados</td>
                                <td class="celda-datos">@Model.NumeroEmpleados.Valor</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">Sector Empresarial</td>
                                <td class="celda-datos">@Model.SectorEmpresarial.Valor @Model.SectorEmpresarial2.Valor @Model.SectorEmpresarial3.Valor</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">Sitio Web</td>
                                <td class="celda-datos">@Model.SitioWeb</td>
                            </tr>
                        </table>

                        <div class="row" style="text-align:right;">
                            <div class="col-sm-12">
                                @*<button data-toggle="modal" id="btnModificarEmpresa" data-target="#divEditarModal"
                                    class="btn btn-default color-paleta4" data-id="@Model.IdEmpresa">
                                    Cambiar Datos
                                </button>*@
                                <button id="btnModificarEmpresa" onclick="modificarEmpresa(@Model.IdEmpresa);"
                                        class="btn btn-default color-paleta4" data-id="@Model.IdEmpresa">
                                    Cambiar Datos
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>

