@model UTPPrototipo.Models.ViewModels.Empresa.EmpresaVista


@*@using (Ajax.BeginForm("", "", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "divAdministrarImagen", InsertionMode = InsertionMode.Replace }, new { enctype = "multipart/form-data", action = "/Empresa/_AdministrarActualizarImagen" }))*@
@using (Html.BeginForm("_AdministrarActualizarImagen", "Empresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel-group" id="datos-imagen" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingLogo" style="padding: 2px 2px 2px 6px;">
                <div class="panel-title">
                    <div data-toggle="collapse" data-parent="#datos-logo" data-target="#collapseLogo" aria-expanded="true" aria-controls="collapseLogo" class="fuente-seccion">
                        <span role="button">Logo - @Model.NombreComercial</span>
                        <span class="glyphicon pull-right" role="button"></span>
                    </div>
                </div>
            </div>
            <div id="collapseLogo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingLogo">
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    <div class="col-sm-12" style="text-align:center;">

                        @*<img src="~/img/logos/LogoCriteria.jpg" style="width:100%;" /><hr />*@
                        <img alt="" class="foto-empresa" src='@Url.Action("ObtenerImagenEmpresa", "Empresa", new { id = Model.IdEmpresa })' />
                        <br /><br />
                        @Html.HiddenFor(m => m.IdEmpresa)
                        @Html.TextBoxFor(model => model.LogoEmpresaHtml, new { type = "file"})
                        @*@Html.EditorFor(model => model.Imagen)*@
                        @Html.ValidationMessageFor(model => model.LogoEmpresaHtml)
                        <br />
                        <input type="submit" value="Guardar" class="btn btn-default color-paleta4" />
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

}
