@model UTP.PortalEmpleabilidad.Modelo.Vistas.Empresa.VistaPanelCabecera

<div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne" style="padding: 2px 2px 2px 6px;">
            <div class="panel-title">
                <div data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="fuente-seccion">
                    <span role="button">Cuenta - @Model.EmpresaRazonSocial - @Model.UsuarioNombre @Model.UsuarioApellido</span>
                    <span class="glyphicon pull-right" role="button"></span>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse @ViewBag.EstiloPanel" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body fuente-pequeña">
                <div class="row">
                    <div class="col-sm-2">
                        <img class="foto-empresa" src='@Url.Action("ObtenerImagenEmpresa", "Empresa", new { id = ViewBag.IdEmpresa })' />
                        @*@Url.Action("ObtenerImagenEmpresa", "Empresa", new { id = ViewBag.IdEmpresa })*@
                        @Html.HiddenFor(m => m.IdEmpresaUsuario)
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <strong>@Model.EmpresaRazonSocial</strong><br />
                                <strong>@Model.EmpresaIdentificadorTributario</strong><br />
                                @*<a href="#" class="fuente-pequeña">Modificar Datos ...</a>*@
                                
                            </div>
                            <div class="col-md-4">
                                <strong>Rol: @Model.UsuarioRolDescripcion</strong><br />
                                <strong>@Model.UsuarioNombre @Model.UsuarioApellido</strong><br />
                                <strong>@Model.UsuarioNumeroDocumento</strong><br />
                                <strong>@Model.UsuarioCorreoElectronico</strong><br />
                                <strong>@Model.UsuarioTelefonoCelular</strong>
                            </div>
                            <div class="col-md-4">
                                <strong>@Model.LocacionNombre</strong><br />
                                <strong>@Model.LocacionDireccion</strong><br />
                                <strong>@Model.LocacionTelefonoFijo</strong><br />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12" style="text-align:right;">
                                <a href="@Url.Action("DescargarArchivoEstatico", "UTP", new { archivo = "manual-empresa.pdf" })" class="btn btn-danger pull-left">Descargar manual para empresas <span class="glyphicon glyphicon-download-alt"></span></a>
                                <button type="button" value="Modificar datos" class="btn btn-default color-paleta1" onclick="modificarDatosUsuario(@Model.IdEmpresaUsuario);">Modificar mis datos ...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Editar usuario-->
<div class="modal" id="divModalUsuarioEditarTMP" tabindex="-1" role="dialog" aria-labelledby="EditarUbicacion" aria-hidden="true">

    @using (Ajax.BeginForm("_AdministrarUsuarioEditarTMP", "Empresa", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "datos-cuenta", OnComplete = "cerrarModalTMP" }))
    {
        @Html.AntiForgeryToken()

        <div id="divUsuarioContenedorEditarTMP" class="modal-dialog">

        </div>
    }
</div>

@{
    //Se valida que exista el mensaje.
    if (TempData["_AdministrarUsuarioEditarTMP"] != null)
    {
        //Se obtiene el valor de TempData en un hidden para ser llamado desde javascript.
        <input id="_AdministrarUsuarioEditarTMP" type="hidden" value="@TempData["_AdministrarUsuarioEditarTMP"]" />
        TempData["_AdministrarUsuarioEditarTMP"] = null; //Se establece el valor nuevamente en NULL.

        //Se muestra el script
        <script>
            var msjExito = document.getElementById("_AdministrarUsuarioEditarTMP").value;
            alert(msjExito); //Acá se puede llamar a una librería de mensajes parar crear una mejor experiencia de usuario.
        </script>
    }

}

<script>

    function modificarDatosUsuario(id) {
        //var url = "/Empresa/_AdministrarUsuarioEditar/" + id;
        //debugger;
        //console.log('modificando datos');
        var url = '@Url.Action("_AdministrarUsuarioEditar", "Empresa")' + "/" + id;

        $.get(url, function (data) {
            $('#divUsuarioContenedorEditarTMP').html(data);
            $.validator.unobtrusive.parse('#divUsuarioContenedorEditarTMP');
            $('#divModalUsuarioEditarTMP').modal('show');
        });
    }

</script>