<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/IDAT/favicon.ico">
    <title>Portal de Empleabilidad: Empresa - @ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" /> 
    <script src="~/Scripts/jsEmpresa.js"></script>
    <!--Estilo para el datepicker con jquery-->
    @if (System.Configuration.ConfigurationManager.AppSettings["LogeoProduccion"] != "false")
    {
        <script>

            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-61006808-1', 'auto');
            ga('send', 'pageview');

        </script>
    }  
        
</head>
<body class="cuerpo-zona-empresa">

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgb(240, 240, 240);border:0px;">
        <div class="container">

            <a href="@Url.Action("Index", "Empresa")"><img src="~/img/IDAT/logo.png" class="LogoUTPPE2" /></a>
            <div class="navbar-header posicion-menu">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin: 3px 5px 3px 0px">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" style="border:0px;background-color:transparent;">
                <ul class="nav navbar-nav" style="margin-top: 11px;">
                    <li>
                        @Html.ActionLink("Mi Cuenta", "Index", "Empresa", null, new { @id = "PestañaIndex", @class = "btn btn-default navbar-btn Boton_pestana color-paleta1", @style = "padding: 2px 0px 2px 0px; color: white; background-color: #669999;" })
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta1" href="..\Empresa\Index" style="padding: 2px 0px 2px 0px;color:white;">Mi Cuenta</a>*@
                    </li>
                    <li>
                        @Html.ActionLink("Ofertas", "Publicacion", "Empresa", null, new { @id = "PestañaOfertas", @class = "btn btn-default navbar-btn Boton_pestana color-paleta2", @style = "padding: 2px 0px 2px 0px; color: white; background-color: #669999;" })
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta2" href="..\Empresa\Publicacion" style="padding: 2px 0px 2px 0px;color:white;">Ofertas</a>*@
                    </li>
                    <li>
                        @Html.ActionLink("Head Hunting", "Hunting", "Empresa", null, new { @id = "PestañaHunting", @class = "btn btn-default navbar-btn Boton_pestana color-paleta3", @style = "padding: 2px 0px 2px 0px; color: white; background-color: #669999;" })
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta3" href="..\Empresa\Hunting" style="padding: 2px 0px 2px 0px; color: white;">Buscar CVs</a>*@
                    </li>
                    <li>
                            @if (UTPPrototipo.Common.Util.ObtenerRolEmpresa() == "ROLEAD")
                            {
                                @Html.ActionLink("Mi Empresa", "Administrar", "Empresa", null, new { @id = "PestañaEmpresa", @class = "btn btn-default navbar-btn Boton_pestana color-paleta4", @style = "padding: 2px 0px 2px 0px; color: white; background-color: #669999;" })
                            }
                        <!--Link demo para generación de plantillas-->
                        
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta4" href="..\Empresa\Administrar" style="padding: 2px 0px 2px 0px; color: white;">Mi Empresa</a>*@
                    </li>
                    <li>
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta5" href="..\Empresa\Eventos" style="padding: 2px 0px 2px 0px; color: white;">Eventos</a>*@
                        @Html.ActionLink("Eventos", "Eventos", "Empresa", null, new { @id = "PestañaEventos", @class = "btn btn-default navbar-btn Boton_pestana color-paleta5", @style = "padding: 2px 0px 2px 0px; color: white; background-color: #669999;" })
                                  
                    </li>
                </ul>
                @Html.Partial("MenuIntraEmpresa")
            </div>
            <div id="divFinalCabeceraEmpresa" class="final-cabecera" style="background-color:#FF0000"></div>
        </div>
    </div>
    <!--<div class="container body-content">-->
    <div>
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span7" style="padding-left:5px;">
                        @Html.Partial("FooterIntra")
                        &nbsp;
                    </div>

                    <div id="footer_right" class="span4">


                    </div>
                </div>
            </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
    @Scripts.Render("~/bundles/jqueryui")

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/carga.asincrona.js"></script>
    <script>site.baseUrl = "@Url.Content("~/").TrimEnd('/')";</script>

    <script src="~/Scripts/calendario.js"></script>

    <script>

    function CargarPOSTNull(id, link) {
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            dataType: 'html'
        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
            ShowModal("#" + id);
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);

        })
    }
    function CargarPOST(id, link, entidad) {
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(entidad),
            dataType: 'html'
        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);

        })
    }


    function CargarGET(id, link) {
        $.ajax({
            url: link,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
        })
        .error(function (xhr, status) {
            console.log(xhr.statusText);
            console.log(status);
        })
    }


    function AutoComplete(inputsearch, urlsearch, inputtext, inputid) {
        alert(1);
        $(inputsearch).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: urlsearch,
                    data: "{ 'query': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(data);
                            return {
                                value: item.Label,
                                id: item.Value
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 1,
            select: function (even, ui) {
                $(inputid).val(ui.item.id);
                $(inputtext).val(ui.item.value);

                alert($(inputid).val());
                alert($(inputtext).val());

            }
        });
    }
    function AutoCompleteText(inputsearch, urlsearch, inputtext) {

        console.log(inputsearch);
        console.log(urlsearch);
        console.log(inputtext);

        $(inputsearch).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: urlsearch,
                    data: "{ 'query': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(data);
                            return {
                                value: item.Label,
                                id: item.Value
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 1,
            select: function (even, ui) {
                $(inputtext).val(ui.item.value);

            }
        });
    }

    function AutoCompleteTextDemo(inputsearch, urlsearch, inputtext, combo) {

        console.log(inputsearch);
        console.log(urlsearch);
        console.log(combo);

        //var codigoTipoConocimiento = $('#TipoConocimientoIdListaValor').val();


        $(inputsearch).autocomplete({
            source: function (request, response) {
                console.log(request);
                var codigoTipoConocimiento = $('#TipoConocimientoIdListaValor').val();
                $.ajax({
                    url: urlsearch,
                    data: "{ 'query': '" + request.term + "', 'codigoTipo': '" + codigoTipoConocimiento + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(data);
                            return {
                                value: item.Label,
                                id: item.Value
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 1,
            select: function (even, ui) {
                $(inputtext).val(ui.item.value);

            }
        });
    }

    </script>





</body>
</html>


