@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaOfertaEmpresa>
@using UTPPrototipo.Models.ViewModels.Cuenta;
@using UTPPrototipo.Common
@using UTP.PortalEmpleabilidad.Modelo
@using UTPPrototipo.Utiles

@{

    TicketEmpresa ticketEmpresa = (TicketEmpresa)Session["TicketEmpresa"];

    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}

@*<input id="hddNroPaginaActual" type="hidden" value="@ViewBag.NroPaginaActual" />
    <input id="hddCantidadTotal" type="hidden" value="@ViewBag.CantidadTotalResultados" />*@

<h5>Ofertas</h5>
<div class="row">
    <div class="col-md-12">
        <!--Cabecera-->
        <div class="row grilla1-cabecera color-paleta2">
            <div class="col-xs-12 col-sm-2">Fecha de <br />Publicación</div>
            <div class="col-xs-3 col-sm-3">Cargo</div>
            <div class="col-xs-3 col-sm-2">Usuario asignado</div>
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-3 col-sm-1">CVs Pendientes</div>
            <div class="col-xs-2 col-sm-2">Estado</div>
            <div class="col-xs-2 col-sm-1">Msj</div>
            <div class="col-xs-2 col-sm-1">Opciones</div>
        </div>
        <!--Detalle-->
        @foreach (var item in Model)
        {
            <div class="row grilla1-linea table-hover">
                <div class="col-xs-12 col-sm-2">
                    <span>@Html.FormatoFrecuencia(@item.FechaPublicacion)</span>

                </div>
                <div class="col-xs-3 col-sm-3">
                    @{
                        //Sólo se muestra el link cuando la oferta está ACTIVA o FINALIZADA o FIN DE RECEPECION DE CVs
                        if (item.EstadoOfertaIdListaValor == "OFERAC" || item.EstadoOfertaIdListaValor == "OFERFI" || item.EstadoOfertaIdListaValor == "OFERCV")
                        {
                            @*<strong>@Html.ActionLink(item.Cargo, "Oferta", new { idOfertaCrypt = Helper.Encriptar(item.IdOferta.ToString()), pantallaCrypt = Helper.Encriptar("Empresa") }, new { target = "_blank" })</strong>*@
                            <strong>@Html.ActionLink(item.Cargo, "Oferta", new { idOfertaCrypt = Helper.Encriptar(item.IdOferta.ToString()), pantallaCrypt = Helper.Encriptar("Empresa") }, null)</strong>
                        }
                        else
                        {
                            @item.Cargo
                        }
                    }
                </div>
                <div class="col-xs-12 col-sm-2"><span>@item.UsuarioPropietarioEmpresa</span></div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-3 col-sm-1"><span class="valor-icono2">r&nbsp;</span>@item.CVPendientesRevision/@item.CVTotales</div>
                <div class="col-xs-2 col-sm-2"><span class="valor-palabra">@item.EstadoOferta</span><span class="valor-icono2">D</span></div>
                <div class="col-xs-2 col-sm-1"><span class="valor-icono2">h&nbsp;</span>@item.MensajesNoLeidos/@item.MensajesTotales</div>
                <div class="col-xs-2 col-sm-1">
                    @{
                        //El botón editar sólo está activo para los roles: Administrador (ROLEAD), y Usuario (ROLEUS).
                        //Y para las ofertas PENDIENTES DE ACTIVACION (OFERPR) o EN CONSTRUCCION (OFERCO)
                        if ((ticketEmpresa.Rol == "ROLEAD" || ticketEmpresa.Rol == "ROLEUS") && (item.EstadoOfertaIdListaValor == "OFERPR" || item.EstadoOfertaIdListaValor == "OFERCO"))
                        {
                            @*@Html.ActionLink(" ", "OfertaLaboral", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, new { @class = "btn btn-xs fa fa-pencil color-paleta2", @tooltip = "Editar oferta", @target = "_blank" })*@
                            @Html.ActionLink(" ", "OfertaLaboral", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, new { @class = "btn btn-xs fa fa-pencil color-paleta2", @tooltip = "Editar oferta" })
                        }
                        else
                        {
                            @Html.ActionLink(" ", "OfertaLaboral", new { id = item.IdOferta }, new { @class = "btn btn-xs fa fa-pencil color-paleta2", @disabled = "disabled", @title = "No tiene permisos para ejecutar esta acción." })
                        }
                    }
                    @*@Html.ActionLink(" ", "MostrarOferta", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { @class = "btn btn-xs fa fa-file-o color-paleta2", @target = "_blank", @title = "Vista previa de la oferta" })*@
                    @Html.ActionLink(" ", "MostrarOferta", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { @class = "btn btn-xs fa fa-file-o color-paleta2", @title = "Vista previa de la oferta" })
                    @Html.ActionLink(" ", "ExportarPostulantesOferta", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { @class = "btn btn-xs fa fa-download color-paleta2", @title = "Exportar postulantes de la oferta" })
                </div>
            </div>
        }

        @if (Model.Count() == 0)
        {
            <div class="row grilla1-linea">
                <div class="col-sm-12 text-center">
                    <h6>No se encontraron resultados.</h6>
                </div>
            </div>
        }

        @*<a href="~/Views/Empresa/NuevaOferta"></a><button class="btn btn-default" style="margin:10px 10px 10px 10px;color:white;background-color:rgb(60, 172, 201);">Crear Oferta </button>*@
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        @{
            if (ticketEmpresa.Rol == "ROLEAD" || ticketEmpresa.Rol == "ROLEUS") //Rol Administrador de Empresa. ROLEAD,ROLEUS
            {
                @Html.ActionLink("Crear oferta", "NuevaOferta", null, new { @class = "btn btn-default color-paleta2" })
            }
            else
            {
                @Html.ActionLink("Crear oferta", "NuevaOferta", null, new { @class = "btn btn-default color-paleta2", @disabled = "disabled", @title = "No tiene permisos para ejecutar esta acción." })
            }
        }
    </div>

    <div class="col-sm-6" style="text-align:right;">
        <!--Paginación-->
        <nav class="navbar-right">
            <ul class="pagination">

                @*@{
                        for (int i = 1; i <= paginacion.TotalPaginas; i++)
                        {
                            if (i == paginacion.NroPaginaActual)
                            {
                                <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                            }
                            else
                            {
                                <li><a href="#" onclick="buscarOfertasPaginacion('@i');">@i</a></li>

                             }
                         }
                    }*@
                @{
                    //La paginación avanzada no existe para la búsqueda de oferta. Se deja el bloque de paginación avanzada para efectos de desarrollo futuro de esa funcionalidad.
                    int i1 = paginacion.NroPaginaActual - 2;
                    if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
                    if (i1 < 1) { i1 = 1; }
                    if (paginacion.NroPaginaActual > 1)
                    {
                        
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarOfertasPaginacion('1');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('1');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                                </a>
                            }
                        </li>
                        if (paginacion.NroPaginaActual - 5 >= 1)
                        {
                            <li>
                                @if (ViewBag.TipoBusqueda == "Simple")
                                {
                                    <a href="#" onclick="buscarOfertasPaginacion('@(paginacion.NroPaginaActual - 5)');">
                                        <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" onclick="buscarPaginacionAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                        <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                    </a>
                                }
                            </li>
                        }
                    }

                    for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
                    {
                        if (i == paginacion.NroPaginaActual)
                        {
                            <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                        }
                        else
                        {
                            if (i > 0)
                            {
                                if (ViewBag.TipoBusqueda == "Simple")
                                {
                                    <li><a href="#" onclick="buscarOfertasPaginacion('@i');">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                                }
                            }
                        }
                    }
                    if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
                    {
                        int i2 = paginacion.NroPaginaActual + 5;
                        if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                        if (i2 < paginacion.TotalPaginas)
                        {
                            <li>
                                @if (ViewBag.TipoBusqueda == "Simple")
                                {
                                    <a href="#" onclick="buscarOfertasPaginacion('@i2');">
                                        <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" onclick="buscarPaginacionAvanzada('@i2');">
                                        <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                    </a>
                                }
                            </li>
                        }
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarOfertasPaginacion('@paginacion.TotalPaginas');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('@paginacion.TotalPaginas');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                                </a>
                            }
                        </li>
                    }
                }

            </ul>

        </nav>
    </div>






</div>
<hr />
