@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaOfertaEmpresa>
@using UTPPrototipo.Models.ViewModels.Cuenta;
@using UTPPrototipo.Common

@{

    TicketEmpresa ticketEmpresa = (TicketEmpresa)Session["TicketEmpresa"];
}
<div class="row">
    <div class="col-md-12">
        <!--Cabecera-->
        <div class="row grilla1-cabecera color-paleta2">
            <div class="col-xs-12 col-sm-2">Fecha de <br />Publicación</div>
            <div class="col-xs-3 col-sm-3">Cargo</div>
            <div class="col-xs-3 col-sm-2">Usuario asignado</div>
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-3 col-sm-1">CVs Pendientes<br />de Revisión</div>
            <div class="col-xs-2 col-sm-2">Estado</div>
            <div class="col-xs-2 col-sm-1">Msj</div>
            <div class="col-xs-2 col-sm-1">Editar</div>
        </div>
        <!--Detalle-->
        @foreach (var item in Model)
        {
            <div class="row grilla1-linea table-hover">
                <div class="col-xs-12 col-sm-2"><span>@Html.FormatoFrecuencia(@item.FechaPublicacion)</span></div>
                <div class="col-xs-3 col-sm-3">

                    @{
            //Sólo se muestra el link cuando la oferta está ACTIVA o FINALIZADA.
            if (item.EstadoOfertaIdListaValor == "OFERAC" || item.EstadoOfertaIdListaValor == "OFERFI")
            {
                <strong>@Html.ActionLink(item.Cargo, "Oferta", new { id = item.IdOferta })</strong>
            }
            else
            {
                @item.Cargo
            }
                    }


                </div>
                <div class="col-xs-12 col-sm-2"><span>@item.UsuarioPropietarioEmpresa</span></div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-3 col-sm-1"><span class="valor-icono2">r&nbsp;</span>@item.CVPendientesRevision/@item.CVTotales</div>
                <div class="col-xs-2 col-sm-2"><span class="valor-palabra">@item.EstadoOferta</span><span class="valor-icono2">D</span></div>
                <div class="col-xs-2 col-sm-1"><span class="valor-icono2">h&nbsp;</span>@item.MensajesNoLeidos/@item.MensajesTotales</div>
                <div class="col-xs-2 col-sm-1">
                    @{
            //El botón editar sólo está activo para los roles: Administrador (ROLEAD), y Usuario (ROLEUS).
            //Y para las ofertas PENDIENTES DE ACTIVACION (OFERPR) o EN CONSTRUCCION (OFERCO)
            if ((ticketEmpresa.Rol == "ROLEAD" || ticketEmpresa.Rol == "ROLEUS") &&
                (item.EstadoOfertaIdListaValor == "OFERPR" || item.EstadoOfertaIdListaValor == "OFERCO"))
            {
                @Html.ActionLink(" ", "EditarOferta", new { id = item.IdOferta }, new { @class = "btn btn-xs fa fa-pencil color-paleta2", @tooltip = "Editar oferta" })
            }
            else
            {
                @Html.ActionLink(" ", "EditarOferta", new { id = item.IdOferta }, new { @class = "btn btn-xs fa fa-pencil color-paleta2", @disabled = "disabled", @title = "No tiene permisos para ejecutar esta acción." })
            }
                    }
                </div>
            </div>
        }

            @if (Model.Count() == 0)
            {
                <div>
                    No se encontraron resultados.
                </div>
            }

        @*<a href="~/Views/Empresa/NuevaOferta"></a><button class="btn btn-default" style="margin:10px 10px 10px 10px;color:white;background-color:rgb(60, 172, 201);">Crear Oferta </button>*@
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        @{
            if (ticketEmpresa.Rol == "ROLEAD" || ticketEmpresa.Rol == "ROLEUS") //Rol Administrador de Empresa. ROLEAD,ROLEUS
            {
                @Html.ActionLink("Crear oferta", "NuevaOferta", null, new { @class = "btn btn-default color-paleta2" })
            }
            else
            {
                @Html.ActionLink("Crear oferta", "NuevaOferta", null, new { @class = "btn btn-default color-paleta2", @disabled = "disabled", @title = "No tiene permisos para ejecutar esta acción." })
            }
        }
    </div>
    <div class="col-sm-6" style="text-align:right;">
        <!--Paginación-->
        <nav class="navbar-right">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>
<hr />
