@model UTP.PortalEmpleabilidad.Modelo.OfertaEncuesta

<!--Modal para la encuesta-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="Estudio">Encuesta</h4>
    </div>
    <div class="modal-body fuente-pequeña">

        @Html.HiddenFor(m => m.IdOferta)
        @Html.HiddenFor(m => m.Estado)
        @Html.HiddenFor(m => m.ModificadoPor)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label>1.	¿Por favor califica los CVs recibidos?</label>
            <br />
            <div class="form-inline">
                @foreach (var item in Model.Calificaciones)
                {
                    <span>
                        @Html.RadioButtonFor(a => a.Calificacion, item.IdListaValor)  @item.Valor &nbsp;&nbsp;
                    </span>
                }
                <br />
                @Html.ValidationMessageFor(m => m.Calificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>2.	¿A cuántos postulantes se invitó a entrevista?</label>
            <br />
            @Html.TextBoxFor(m => m.NroPostulantes, new { @class = "form-control", style = "width: 80px;" })
            @Html.ValidationMessageFor(m => m.NroPostulantes, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <label>3.	¿Contrató alguno de IDAT?</label>
            <br />
            @Html.RadioButtonFor(a => a.ContratadosIDAT, "Si", new { @id= ""}) &nbsp; Si &nbsp;&nbsp;
            @Html.RadioButtonFor(a => a.ContratadosIDAT, "No", new { @id = "" }) &nbsp; No
            @*@Html.TextBoxFor(m => m.ContratadosUTP, new { @class = "form-control", style = "width: 80px;" })*@
            @Html.ValidationMessageFor(m => m.ContratadosIDAT, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" id="divCiudadCombo" style="display:none;">
            <div class=" input-group fuente-pequeña">
                <span class="input-group-addon">Nombres y Apellidos</span>
                @Html.TextBoxFor(m => m.NombreYApellido, null, htmlAttributes: new { @class = "form-control", @id = "CiudadCombo" })
            </div>
            @Html.ValidationMessageFor(m => m.NombreYApellido, "", new { @class = "text-danger" })
            <br />
            @Html.RadioButtonFor(a => a.ModalidadContrato, "Practicas", new { @id = "" }) &nbsp; Prácticas &nbsp;&nbsp;
            @Html.RadioButtonFor(a => a.ModalidadContrato, "Empleo", new { @id = "" }) &nbsp; Empleo &nbsp;&nbsp;
            @Html.RadioButtonFor(a => a.ModalidadContrato, "Proyecto", new { @id = "" }) &nbsp; Proyecto 
        </div>
        <div class="form-group">
            <label>4.	En General, qué apreciación le mereció "el postulante IDAT" al momento del proceso de selección.</label>
            <br />
            <table class="table table-bordered" >
                <tbody>
                    <tr>
                        <td style="width: 140px;"></td>
                    @for (int i = 0; i < Model.Calificaciones.Count - 1; i++)
                    {
                        <td style="text-align:center">@Model.Calificaciones[i].Valor.Trim()</td>
                    }
                    </tr>
                    <tr>
                        <td>Puntualidad a la hora de entrevista</td>
                        @for (int i = 0; i < Model.Calificaciones.Count-1; i++)
                        {
                            <td style="text-align:center">
                                <span>
                                @Html.RadioButtonFor(a => a.Puntualidad, Model.Calificaciones[i].IdListaValor, new { @style = "vertical-align: text-bottom;" }) 
                                </span>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Imagen personal</td>
                        @for (int i = 0; i < Model.Calificaciones.Count - 1; i++)
                        {
                            <td style="text-align:center">
                                <span>
                                    @Html.RadioButtonFor(a => a.ImagenPersonal, Model.Calificaciones[i].IdListaValor, new { @style = "vertical-align: text-bottom;" })
                                </span>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Conocimientos propios de la carrera</td>
                        @for (int i = 0; i < Model.Calificaciones.Count - 1; i++)
                        {
                            <td style="text-align:center">
                                <span>
                                    @Html.RadioButtonFor(a => a.Conocimientos, Model.Calificaciones[i].IdListaValor, new { @style = "vertical-align: text-bottom;" })
                                </span>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Experiencia laboral de acuerdo al puesto</td>
                        @for (int i = 0; i < Model.Calificaciones.Count - 1; i++)
                        {
                            <td style="text-align:center">
                                <span>
                                    @Html.RadioButtonFor(a => a.Experiencia, Model.Calificaciones[i].IdListaValor, new { @style = "vertical-align: text-bottom;" })
                                </span>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Disponibilidad de tiempo</td>
                        @for (int i = 0; i < Model.Calificaciones.Count - 1; i++)
                        {
                            <td style="text-align:center">
                                <span>
                                    @Html.RadioButtonFor(a => a.Disponibilidad, Model.Calificaciones[i].IdListaValor, new { @style = "vertical-align: text-bottom;" })
                                </span>
                            </td>
                        }
                    </tr>                  
                </tbody>
            </table>
            @Html.ValidationMessageFor(m => m.Puntualidad, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.ImagenPersonal, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Conocimientos, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Experiencia, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Disponibilidad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-default color-paleta2 fuente-pequeña" style="color: white; margin-bottom: 10px;">
                    Cerrar oferta
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $('[name=ContratadosIDAT]').change(function () {
        var display = $('[name=ContratadosIDAT]:checked').val();
        $("#divCiudadCombo").css('display', display == "Si" ? 'block' : 'none');
    });
</script>





