@model List<UTP.PortalEmpleabilidad.Modelo.OfertaFase>
<div class="panel-group" id="oferta-fases" role="tablist" aria-multiselectable="true">
    <div id="divContenedorFases" class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFases" style="padding: 2px 2px 2px 6px;">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#oferta-fases" href="#collapseFases" aria-expanded="true" aria-controls="collapseFases" class="fuente-seccion">
                    Fases de la Oferta
                </a>
            </h5>
        </div>

        <div id="collapseFases" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFases">
            <div class="panel-body fuente-pequeña">
                <p>Seleccionar Fases para esta Oferta</p>

                @for (int i = 0; i < Model.Count(); i++)
                {
            <!--Se realiza la distinción de los Id que no se deben modificar.-->
                    if (Model[i].IdListaValor == "OFFAPR" || Model[i].IdListaValor == "OFFACV" || Model[i].IdListaValor == "OFFAFI" || Model[i].IdListaValor == "OFFADE")
                    {
                        <p>
                            <span>
                                @*@Html.CheckBoxFor(m => m[i].Incluir, new { @disabled = "disabled", @checked = "checked" })*@
                                <input type="checkbox" checked="checked" disabled title="Fases obligatorias">
                                @*@Html.CheckBoxFor(m => m[i].Incluir)*@
                            </span>@Model[i].FaseOferta
                        </p>
                    }
                    else
                    {
                        <p>
                            <span>
                                @Html.CheckBoxFor(m => m[i].Incluir)
                            </span>@Model[i].FaseOferta
                        </p>
                    }
            <!--Se guardan en Hidden los valores que se van a necesitar al devolver la lista.-->
                    @Html.HiddenFor(m => m[i].IdOfertaFase)
                    @Html.HiddenFor(m => m[i].FaseOferta)
                    @Html.HiddenFor(m => m[i].IdListaValor)
                    @Html.HiddenFor(m => m[i].Incluir)
                }
                <div class="row">
                    <div class="col-sm-12 " style="text-align:right;">
                        <button class="btn btn-default color-paleta2" style="margin-bottom:5px;">
                            Guardar cambios
                        </button>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>