@using UTPPrototipo.Common
@using UTPPrototipo.Utiles

@*@model List<UTP.PortalEmpleabilidad.Modelo.Vistas.Alumno.VistaAlumnoHunting>*@
@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Hunting>

@using UTP.PortalEmpleabilidad.Modelo
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}


<div class="row grilla1-cabecera color-paleta3">
    <div class="col-sm-1">Msj</div>
    <div class="col-sm-3">Nombre</div>
    <div class="col-sm-3">Estudio</div>
    <div class="col-sm-2">Estado</div>
    <div class="col-sm-2">Último Sector</div>
    <div class="col-sm-1">Años<br />Exper.</div>
</div>

@foreach (var item in Model)
{
    <div id="divResultadoHunting" class="row grilla1-linea">
        <div class="col-sm-1 checkAlumno"><input type="checkbox" name="@item.IdAlumno" /> <input type="hidden" value="@item.IdAlumno" /></div>
        <div class="col-sm-3 linea-destacada">
            @*<strong>@item.Nombres @item.Apellidos</strong>*@            
            @*@Html.ActionLink(item.Nombres + "" + @item.Apellidos, "MostrarAlumno", new { id = item.IdAlumno }, htmlAttributes: new { @target = "_blank", @title = "Ver CV alumno" })*@
            @*@Html.ActionLink(item.Nombres + "" + @item.Apellidos, "MostrarAlumno", new { id = Helper.Encriptar(item.IdAlumno.ToString()) }, htmlAttributes: new { @target = "_blank", @title = "Ver CV alumno" })*@
            @Html.ActionLink(item.Nombres + " " + @item.Apellidos, "MostrarAlumno", new { id = Helper.Encriptar(item.IdAlumno.ToString()) }, htmlAttributes: new { @title = "Ver CV alumno" })
        </div>
        <div class="col-sm-3">@item.Estudios</div>
        <div class="col-sm-2">@item.ValorEstadoEstudio</div>
        <div class="col-sm-2">@item.ValorSectorEmpresarial</div>
        <div class="col-sm-1">@(item.TotalMesesExperiencia / 12)</div>
    </div>
}
@if (Model.Count() == 0)
{
    <div class="row grilla1-linea">
        <div class="col-sm-12 text-center">
            <h6>No se encontraron resultados.</h6>
        </div>
    </div>
}
<div>
    <!--Paginación-->
    <nav class="navbar-right">
        <ul class="pagination">

            @*@{
                 for (int i = 1; i <= paginacion.TotalPaginas; i++)
                 {
                     if (i == paginacion.NroPaginaActual)
                     {
                         <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                     }
                     else
                     {
                         if (ViewBag.TipoPaginacion == "Simple")
                         {
                             <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                         }
                         else
                         {
                             <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                         }
                     }
                 }
                }*@
            @{
                int i1 = paginacion.NroPaginaActual - 2;
                if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
                if (i1 < 1) { i1 = 1; }
                
                if (paginacion.NroPaginaActual > 1)
                {
                    
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarPaginacion('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarPaginacionAvanzada('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                        }
                    </li>
                    if (paginacion.NroPaginaActual - 5 >= 1)
                    {
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarPaginacion('@(paginacion.NroPaginaActual - 5)');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                            }
                        </li>
                    }
                }

                for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {
                        if (i > 0)
                        {
                            if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                            }
                            else
                            {
                                <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                            }
                        }
                    }
                }
                if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
                {
                    int i2 = paginacion.NroPaginaActual + 5;
                    if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                    if (i2 < paginacion.TotalPaginas)
                    {
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarPaginacion('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                            }
                        </li>
                    }
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarPaginacion('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarPaginacionAvanzada('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                        }
                    </li>
                }
            }

        </ul>
    </nav>
</div>









