@model UTP.PortalEmpleabilidad.Modelo.Oferta
@using UTPPrototipo.Models.ViewModels.Cuenta;

@{
    //Se obtiena la variable de sesión del ticket.
    TicketEmpresa ticketEmpresa = (TicketEmpresa)Session["TicketEmpresa"];
}

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingDetalle" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDetalle" aria-expanded="true" aria-controls="collapseDetalle" class="fuente-seccion">
                Condiciones
            </a>
        </h5>
    </div>
    <div id="collapseDetalle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingDetalle">
        <div class="panel-body fuente-pequeña">
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">
                        <span>Cargo</span>
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.CargoOfrecido</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Publicado
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.FechaPublicacion</strong>
                    </td>
                </tr>

                <tr>
                    <td class="celda-nombre" style="padding-top:9px;">
                        Recibir CVs hasta
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.FechaFinRecepcionCV.ToString("dd/MM/yyyy")</strong>

                        @if (ViewBag.Pantalla == "Empresa") //Solo si es de empresa
                        {
                            <span>
                                &nbsp;&nbsp;&nbsp;  <!--espacios en blanco--> <!--Si la oferta está finalizada deshabilitar el botón.-->
                                @if (Model.EstadoOferta == "OFERCV" || Model.EstadoOferta == "OFERFI")
                                {
                                    <button class="btn btn-default btn-sm color-paleta2" style="font-size: 10px;" disabled>Postulaciones finalizadas</button>
                                }
                                else
                                {
                                    if (ticketEmpresa.Rol == "ROLEAD" || ticketEmpresa.Rol == "ROLEUS") //Si es Administrador o Usuario.
                                    {
                                        <button id="btnFinalizarOferta" class="btn btn-default btn-sm color-paleta2" style="font-size: 10px;" onclick="finalizarOferta(@Model.IdOferta)">Finalizar postulaciones</button>
                                    }
                                }
                            </span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Fin de la Oferta
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.FechaFinProceso.ToString("dd/MM/yyyy")</strong>
                    </td>
                </tr>

                <tr>
                    <td class="celda-nombre">
                        Tipo Cargo
                    </td>
                    <td class="celda-datos">
                        <span class="valor-palabra"><strong>@Model.TipoCargo.Valor</strong></span><span class="valor-icono2">H</span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Trabajo
                    </td>
                    <td class="celda-datos">
                        <span class="valor-palabra"><strong>@Model.TipoTrabajo.Valor</strong></span><span class="valor-icono2">I</span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Contrato
                    </td>
                    <td class="celda-datos">
                        <span class="valor-palabra"><strong>@Model.TipoContrato.Valor</strong></span><span class="valor-icono2">N</span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Duración (meses)
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.DuracionContrato</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Horario
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.Horario</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Remuneración
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.RemuneracionOfrecida</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Área
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.AreaEmpresa</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Vacantes
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.NumeroVacantes</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Ubicación
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.NombreLocacion</strong>
                    </td>
                </tr>
            </table>
            <br />
        </div>
    </div>
</div>

<script>

    function finalizarOferta(idOferta) {
        //alert("IdOferta: " + idOferta);

        //var url = "../../Oferta/FinalizarOferta/" + idOferta + '&estado=OFERFI';

        if (confirm('¿Está seguro de finalizar las postulaciones a la oferta?')) {

            $('#btnFinalizarOferta').text("Procesando ...");
            $('#btnFinalizarOferta').css("disabled", "disabled");

            var url = '@Url.Action("FinalizarOferta", "Oferta")' + "?idOferta=" + idOferta + '&estado=OFERCV'; //Se envía el estado Fin de recepción de CV's.

            $.get(url, function (data) {

                $('#btnFinalizarOferta').text("Postulaciones finalizadas");
                $('#btnFinalizarOferta').attr("disabled", "disabled"); //Se deshabilita el botón.
            }).error(function (err)  //Se muestran los errores en la consola.
            {
                console.log(err);
            }).then(function ()
            {
                alert("La oferta ha sido actualizada");
            });;
        }
    }


</script>