@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.OfertaPostulante>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingPostulante" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePostulante" aria-expanded="true" aria-controls="collapsePostulante" class="fuente-seccion">
                Postulantes
            </a>
        </h5>
    </div>
    <div id="collapsePostulante" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPostulante">
        <div class="panel-body fuente-pequeña">
            <div class="row">
                <div class="col-md-12 fuente-seccion"><strong class="sub-titulo-seccion"></strong></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon">Mover <br />a Fase</span>
                        <select class="form-control">
                            <option>-- Mover Postulantes a Fase --</option>
                            <option>CVs Pendientes de Revisión</option>
                            <option>
                                CVs en Revisión
                            </option>
                            <option>
                                Dinámica Grupal
                            </option>
                            <option>
                                Primera Entrevista
                            </option>
                            <option>
                                Examen de Conocimientos
                            </option>
                            <option>
                                Evaluaciones Psicológicas/Psicotécnicas
                            </option>
                            <option>
                                Examen Médico
                            </option>
                            <option>
                                Entrevista Final
                            </option>
                            <option>
                                Contratación
                            </option>
                            <option>
                                Proceso Finalizado
                            </option>
                        </select>
                    </div>

                </div><div class="col-sm-2">
                    <span>&nbsp;&nbsp;<button class="btn btn-default color-paleta2">Mover</button></span>
                </div>
            </div>
            <br /><br />

            <!--Cabecera-->
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2"><span class="fa fa-1x fa-arrow-down"></span><a href="#"><strong> Fase</strong></a></div>
                <div class="col-sm-3"><a href="#"><strong>Fecha de <br />Postulación</strong></a></div>
                <div class="col-sm-4"><a href="#"><strong>Nombre</strong></a></div>
                <div class="col-sm-2"><a href="#"><strong>Cump.</strong></a></div>
            </div>
            <!--Detalle-->
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-sm-1">
                        <input type="checkbox" />
                    </div>
                    <div class="col-sm-2">
                        @item.FaseOferta.Valor
                    </div>
                    <div class="col-sm-3">
                        @item.FechaPostulacion
                    </div>
                    <div class="col-sm-4">
                        <a href="../Empresa/Postulante"><strong>@item.Alumno.Nombres @item.Alumno.Apellidos</strong></a>
                    </div>
                    <div class="col-sm-2">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="@item.NivelDeMatch" aria-valuemin="0" aria-valuemax="100" style="width:90%;">
                                @item.NivelDeMatch
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
