@model UTP.PortalEmpleabilidad.Modelo.Oferta
@using UTPPrototipo.Models.ViewModels.Cuenta;

@{
    //Se obtiena la variable de sesión del ticket.
    TicketEmpresa ticketEmpresa = (TicketEmpresa)Session["TicketEmpresa"];
}

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingDetalle" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDetalle" aria-expanded="true" aria-controls="collapseDetalle" class="fuente-seccion">
                Condiciones
            </a>
        </h5>
    </div>
    <div id="collapseDetalle" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDetalle">
        <div class="panel-body fuente-pequeña">
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">
                        <span>Cargo</span>
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.CargoOfrecido</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Publicado el
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.FechaPublicacion</strong>
                    </td>
                </tr>

                <tr>
                    <td class="celda-nombre">
                        Recibir CVs hasta el
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.FechaFinRecepcionCV</strong>

                        @if (ViewBag.Pantalla == "Empresa") //Solo si es de empresa
                        { 
                            <span>
                                &nbsp;&nbsp;&nbsp;  <!--espacios en blanco-->
                                @if (Model.EstadoOferta == "OFERFI")
                                {
                                    <button id="btnFinalizarOferta" class="btn btn-default color-paleta2" disabled>Oferta finalizada</button>
                                }
                                else
                                {
                                    if (ticketEmpresa.Rol == "ROLEAD" || ticketEmpresa.Rol == "ROLEUS" ) //Si es Administrador o Usuario.
                                    {
                                        <button id="btnFinalizarOferta" class="btn btn-default color-paleta2" onclick="finalizarOferta(@Model.IdOferta)">Finalizar ahora</button>
                                    }
                                }                            
                            </span>
                        }
                    </td>
                </tr>


                <tr>
                    <td class="celda-nombre">
                        Tipo Cargo
                    </td>
                    <td class="celda-datos">
                        <span class="valor-palabra"><strong>@Model.TipoCargo.Valor</strong></span><span class="valor-icono2">H</span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Trabajo
                    </td>
                    <td class="celda-datos">
                        <span class="valor-palabra"><strong>@Model.TipoTrabajo.Valor</strong></span><span class="valor-icono2">I</span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Contrato
                    </td>
                    <td class="celda-datos">
                        <span class="valor-palabra"><strong>@Model.TipoContrato.Valor</strong></span><span class="valor-icono2">N</span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Duración
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.DuracionContrato</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Horario
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.Horario</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Remuneración
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.RemuneracionOfrecida</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Área
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.AreaEmpresa</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Vacantes
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.NumeroVacantes</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Ubicación
                    </td>
                    <td class="celda-datos">
                        <strong>@Model.IdEmpresaLocacion</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Usuario asignado                        
                    </td>
                    <td class="celda-datos">
                        @{ 
                            if (ViewBag.Pantalla == "Empresa")
                            { 
                                //Si es Administrador  y la Oferta está Activa.
                                if ((ticketEmpresa.Rol == "ROLEAD" ) && (Model.EstadoOferta == "OFERAC")) 
                                {
                                    <!--Se agregan los usuarios-->
                                    @Html.DropDownListFor(m => m.UsuarioPropietarioEmpresa, null, null, htmlAttributes: new { @class = "form-control" })
                                    <span>
                                        &nbsp;&nbsp;&nbsp;  <!--espacios en blanco-->
                                        <button id="btnAsignarUsuario" class="btn btn-default color-paleta2" onclick="asignarUsuarioEmpresa(@Model.IdOferta)">Asignar usuario</button>
                                    </span>
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.UsuarioPropietarioEmpresa, null, null, htmlAttributes: new { @class = "form-control", @disabled = "disabled", @title = "No tiene permisos para modificar este campo" })
                                    @Html.HiddenFor(m => m.UsuarioPropietarioEmpresa) //Se crea un hidden que contiene el valor del Usuario.
                                }
                            }
                        }
                    </td>

                </tr>
            </table>
            <br />
        </div>
    </div>
</div>

<script>

    function finalizarOferta(idOferta) {
        //alert("IdOferta: " + idOferta);

        //var url = "../../Oferta/FinalizarOferta/" + idOferta + '&estado=OFERFI';

        if (confirm('¿Está seguro de finalizar la oferta?')) {
            var url = '@Url.Action("FinalizarOferta", "Oferta")' + "?idOferta="  + idOferta + '&estado=OFERFI'; //Se envía el estado Finalizado.

            $.get(url, function (data) {
                alert("La oferta ha sido finalizada");

                $('#btnFinalizarOferta').html("Oferta finalizada")
                $('#btnFinalizarOferta').attr("disabled", "disabled"); //Se deshabilita el botón.

            }).error(function (err)  //Se muestran los errores en la consola.
            {
                console.log(err);
                //alert(err);
            });
        }
    }

    function asignarUsuarioEmpresa(idOferta)
    {
        //Se obtiene el valor del combo:
        var usuarioEmpresa = $('#UsuarioPropietarioEmpresa').val();

        //Se crea el URL
        var url = '@Url.Action("AsignarUsuario", "Oferta")' + "?idOferta="  + idOferta + '&usuario=' + usuarioEmpresa; //Se envía el IdOferta y el estado

        $.get(url, function (data) {
            alert("El usuario ha sido asignado con éxito");                        
        }).error(function (err)  
        {
            //Se muestran los errores en la consola.
            console.log(err);            
        });
    }

</script>