@model List<UTP.PortalEmpleabilidad.Modelo.OfertaPostulante>
@using UTPPrototipo.Models.ViewModels.Cuenta;

@{
    TicketEmpresa ticketEmpresa = (TicketEmpresa)Session["TicketEmpresa"];
}

<input id="hddEstadoOfertaIdListaValor" type="hidden" value="@ViewBag.EstadoOfertaIdListaValor" />

<!--Se guarda la columna  -->
<input id="hddColumnaActual" type="hidden" value="@ViewBag.Columna" />
<input id="hddOrdenActual" type="hidden" value="@ViewBag.Orden" />

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingPostulante" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePostulante" aria-expanded="true" aria-controls="collapsePostulante" class="fuente-seccion">
                Postulantes
            </a>
        </h5>
    </div>
    <div id="collapsePostulante" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPostulante">
        <div class="panel-body fuente-pequeña">
            <div class="row">
                <div class="col-md-12 fuente-seccion"><strong class="sub-titulo-seccion"></strong></div>
            </div>
            <br />
            
            <div class="row">
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon">Mover <br />a Fase</span>
                        @Html.DropDownList("IdOfertaFase", null, "< Mover postulantes a fase >", htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
                <div class="col-sm-2">
                    @{
                        if (ViewBag.Pantalla == "Empresa")
                        { 
                            if ((ticketEmpresa.Rol == "ROLEAD" || ticketEmpresa.Rol == "ROLEUS") && (ViewBag.EstadoOfertaIdListaValor == "OFERAC")) //Si es Administrador o Supervisor.
                            {
                                <span>&nbsp;&nbsp;<button class="btn btn-default color-paleta2" onclick="return validar();">Mover</button></span>
                            }
                            else
                            {
                                <span>&nbsp;&nbsp;<button class="btn btn-default color-paleta2" disabled title="No tiene permisos para ejecutar esta acción.">Mover</button></span>
                            }
                        }
                    }
                </div>
            </div>
            

            <!--Cabecera-->
            <label id="lblCargando" style="visibility:hidden;">Cargando, por favor espere.</label>
            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    @*<span class="fa fa-1x fa-arrow-down"></span>*@
                    @*<a href="#" style="color:white;"><strong> fase</strong></a>*@
                    @{
                        if (ViewBag.Columna == "Fase" && ViewBag.Orden == "ASC")
                        {
                            <span class="fa fa-1x fa-arrow-up"></span>
                        }
                        if (ViewBag.Columna == "Fase" && ViewBag.Orden == "DESC")
                        {
                            <span class="fa fa-1x fa-arrow-down"></span>
                        }
                    }
                    <label id="colFase" style="cursor:pointer;">Fase</label>
                </div>
                <div class="col-sm-3">
                    @*<a href="#"><strong>Fecha de <br />Postulación</strong></a>*@
                    @*@Html.ActionLink("Fecha de Postulación", "VistaOfertaPostulantes", new { ColumnaOrden = "FechaPostulacion" })*@
                    @{
                        if (ViewBag.Columna == "Fecha" && ViewBag.Orden == "ASC")
                        {
                            <span class="fa fa-1x fa-arrow-up"></span>
                        }
                        if (ViewBag.Columna == "Fecha" && ViewBag.Orden == "DESC")
                        {
                            <span class="fa fa-1x fa-arrow-down"></span>
                        }
                    }
                    <label id="colFecha" style="cursor:pointer;">Fecha de <br />Postulación</label>
                </div>
                <div class="col-sm-4">
                    @{
                        if (ViewBag.Columna == "Nombre" && ViewBag.Orden == "ASC")
                        {
                            <span class="fa fa-1x fa-arrow-up"></span>
                        }
                        if (ViewBag.Columna == "Nombre" && ViewBag.Orden == "DESC")
                        {
                            <span class="fa fa-1x fa-arrow-down"></span>
                        }
                    }
                    <label id="colNombre" style="cursor:pointer;">Nombre</label>
                </div>
                <div class="col-sm-2">
                    @*<a href="#" style="color:white;"><strong>cump.</strong></a>*@
                    @{
                        if (ViewBag.Columna == "Cumplimiento" && ViewBag.Orden == "ASC")
                        {
                            <span class="fa fa-1x fa-arrow-up"></span>
                        }
                        if (ViewBag.Columna == "Cumplimiento" && ViewBag.Orden == "DESC")
                        {
                            <span class="fa fa-1x fa-arrow-down"></span>
                        }
                    }
                    <label id="colCumplimiento" style="cursor:pointer;">Cump</label>
                </div>
            </div>
            <!--Detalle-->
            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.HiddenFor(m => m[i].IdOferta)
                @Html.HiddenFor(m => m[i].IdOfertaPostulante)
                <div class="row grilla1-linea">
                    <div class="col-sm-1">
                        @*<input type="checkbox" />*@
                        @Html.CheckBoxFor(m => m[i].Seleccionado)
                    </div>
                    <div class="col-sm-2">
                        @Model[i].FaseOferta.Valor
                    </div>
                    <div class="col-sm-3">
                        @Model[i].FechaPostulacion
                    </div>
                    <div class="col-sm-4">
                        @Html.ActionLink(Model[i].Alumno.Apellidos + ", " + Model[i].Alumno.Nombres, "Postulante", "Empresa", new { id = Model[i].IdOfertaPostulante }, null)
                        @*<a href="../Empresa/Postulante">
                                <strong>@Model[i].Alumno.Nombres @Model[i].Alumno.Apellidos</strong>
                            </a>*@
                    </div>
                    <div class="col-sm-2">
                        <div class="progress">
                            @if (@Model[i].NivelDeMatch < 60)
                            {
                                <div class="progress-bar progress-bar-danger progress-bar" role="progressbar" aria-valuenow="@Model[i].NivelDeMatch" aria-valuemin="0" aria-valuemax="100" style="width:@Model[i].NivelDeMatch%;">
                                    @Model[i].NivelDeMatch%
                                </div>
                            }
                            @if (@Model[i].NivelDeMatch >= 60 && @Model[i].NivelDeMatch < 80)
                            {
                                <div class="progress-bar progress-bar-warning progress-bar" role="progressbar" aria-valuenow="@Model[i].NivelDeMatch" aria-valuemin="0" aria-valuemax="100" style="width:@Model[i].NivelDeMatch%;">
                                    @Model[i].NivelDeMatch%
                                </div>
                            }
                            @if (@Model[i].NivelDeMatch >= 80)
                            {
                                <div class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="@Model[i].NivelDeMatch" aria-valuemin="0" aria-valuemax="100" style="width:@Model[i].NivelDeMatch%;">
                                    @Model[i].NivelDeMatch%
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function validar() {

        var itemSeleccionado = $('#IdOfertaFase').val();

        if (itemSeleccionado == '') {
            console.log('en blanco');
            alert('Debe seleccionar una fase');
            return false;
        }
        else {
            console.log(itemSeleccionado);
            return true;
        }


    }

    $(document).ready(function () {

        //Eventos clic para el ordenamiento de la grilla de postulantes:
        $('#colFecha').on('click', function () {
            //debugger;

            OrdenarPostulantes('Fecha');
            @*console.log('click en colFecha');

            //Se obtiene el Id y el estado:
            var idOferta = $('#hddIdOferta').val();
            var estadoOferta = $('#hddEstadoOfertaIdListaValor').val();
            var columnActual = $('#hddColumnaActual').val();
            var ordenActual = $('#hddOrdenActual').val();

            var orden = ordenActual == 'ASC' ? 'DESC' : 'ASC';

            //Se llama al controlador pasando los parámetros para ordenar las columnas.
            var url = '@Url.Action("VistaOfertaPostulantes", "Empresa")' + '?id=' + idOferta + '&columna=Fecha&orden=' + orden + '&estado=' + estadoOferta;
            $.get(url, function (data) {
                $('#divActualizarPostulantes').html(data);
            });*@

        });

        $('#colNombre').on('click', function () {
            OrdenarPostulantes('Nombre');
        });

        $('#colFase').on('click', function () {
            OrdenarPostulantes('Fase');
        });

        $('#colCumplimiento').on('click', function () {
            OrdenarPostulantes('Cumplimiento');
        });

        function OrdenarPostulantes(columna) {
            //Se obtiene el Id y el estado:
            $('#lblCargando').css('visibility','visible')

            var idOferta = $('#hddIdOferta').val();
            var estadoOferta = $('#hddEstadoOfertaIdListaValor').val();
            var columnActual = $('#hddColumnaActual').val();
            var ordenActual = $('#hddOrdenActual').val();

            var orden = ordenActual == 'ASC' ? 'DESC' : 'ASC';  //Se cambia el orden actual

            //Se llama al controlador pasando los parámetros para ordenar las columnas.
            var url = '@Url.Action("VistaOfertaPostulantes", "Empresa")' + '?id=' + idOferta + '&columna=' + columna + '&orden=' + orden + '&estado=' + estadoOferta;
            $.get(url, function (data) {
                $('#divActualizarPostulantes').html(data);
            }).then(function () {
                $('#lblCargando').css('visibility', 'hidden')
            });
        }

    });
</script>