@model UTP.PortalEmpleabilidad.Modelo.Oferta

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingRequisito" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseRequisito" aria-expanded="true" aria-controls="collapseRequisito" class="fuente-seccion">
                Requisitos de la Oferta
            </a>
        </h5>
    </div>
    <div id="collapseRequisito" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRequisito">
        <div class="panel-body fuente-pequeña">
            <div class="row">
                <div class="col-md-12">
                    <strong class="sub-titulo-seccion">Carreras</strong>
                </div>
            </div>
            <br />
            @{
                int ControlCicloyEstado = 1;
            }
            @foreach (var itemCarrera in Model.CarrerasSeleccionadas)
            {
                <table class="fuente-pequeña">

                    <tr>
                        <td class="celda-nombre">Carrera</td>
                        <td class="celda-datos">@itemCarrera.Estudio</td>
                    </tr>

                </table>
                <br />
                if (ControlCicloyEstado == 1)
                {
                    ControlCicloyEstado = 0;
                    <table class="fuente-pequeña">
                        <tr>
                            <td class="celda-nombre">Estado</td>
                            <td class="celda-datos">@itemCarrera.EstadoDelEstudio.Valor</td>
                        </tr>
                        @if (Convert.ToInt32(@itemCarrera.CicloEstudio) != 0)
                        {
                            <tr>
                                <td class="celda-nombre">Ciclo mínimo</td>
                                <td class="celda-datos">@itemCarrera.CicloEstudio</td>
                            </tr>
                        }
                    </table>
                    <br />
                }
            }
            @if (Model.ListaEstudios.Count > 0)
            {
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <strong class="sub-titulo-seccion">Otros Estudios</strong>
                    </div>
                </div>
                <br />
            }


            @foreach (var itemEstudio in Model.ListaEstudios)
            {
                <table class="fuente-pequeña">
                    <tr>
                        <td class="celda-nombre">Tipo</td>
                        <td class="celda-datos">@itemEstudio.TipoDeEstudio.Valor</td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">Estudio</td>
                        <td class="celda-datos">@itemEstudio.Estudio</td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">Estado</td>
                        <td class="celda-datos">@itemEstudio.EstadoDelEstudio.Valor</td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">Ciclo mínimo</td>
                        <td class="celda-datos">@itemEstudio.CicloEstudio</td>
                    </tr>
                </table>
                <br />
            }
            @if (Model.ExperienciaGeneral != null || Model.ExperienciaPosicionesSimilares != null)
            {
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <strong class="sub-titulo-seccion">Experiencia</strong>
                    </div>
                </div>
            }

            <br />
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">General (meses)</td>
                    <td class="celda-datos">@Model.ExperienciaGeneral</td>
                </tr>
                <tr>
                    <td class="celda-nombre">En posiciones similares (meses)</td>
                    <td class="celda-datos">@Model.ExperienciaPosicionesSimilares</td>
                </tr>
            </table>
            @if (Model.ListaSectores.Count > 0)
            {
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <strong class="sub-titulo-seccion">Experiencia por Sector</strong>
                    </div>
                </div>
            }
            <br />
            @foreach (var itemSector in Model.ListaSectores)
            {
                <table class="fuente-pequeña">
                    <tr>
                        <td class="celda-nombre">Sector</td>
                        <td class="celda-datos">@itemSector.SectorEmpresarial.Valor</td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">Años de experiencia</td>
                        <td class="celda-datos">@itemSector.AniosTrabajados</td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">Excluyente</td>
                        <td class="celda-datos">@(itemSector.ExperienciaExcluyente ? "Si" : "No")</td>
                    </tr>
                </table>
                <br />
            }
            @if (Model.ListaInformacionAdicional.Count > 0)
            {
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <strong class="sub-titulo-seccion">Información Adicional</strong>
                    </div>
                </div>
            }

            <br />
            @foreach (var itemInfoAdicional in Model.ListaInformacionAdicional)
            {
                <table class="fuente-pequeña">
                    <tr>
                        <td class="celda-nombre">Tipo</td>
                        <td class="celda-datos">@itemInfoAdicional.TipoConocimiento.Valor</td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">Conocimiento</td>
                        <td class="celda-datos">@itemInfoAdicional.Conocimiento</td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">Nivel</td>
                        <td class="celda-datos">@itemInfoAdicional.NivelConocimiento.Valor</td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">Años de experiencia</td>
                        <td class="celda-datos">@itemInfoAdicional.AniosExperiencia</td>
                    </tr>
                </table>
                <br />
            }
        </div>
    </div>
</div>

