@*@model UTP.PortalEmpleabilidad.Modelo.Empresa*@

@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Admnistrar el registro de la Empresa";
}

<div class="container" style="margin-top:2px;">

    <!--Panel superior donde se muestra los datos del usuario autenticado. - Ancho 12-->
    @{Html.RenderAction("VistaCabecera", "Empresa");}

    <!--Panel de datos generales de la emrpesa - Ancho 12-->
    @Html.Action("_AdministrarDatosGenerales", "Empresa", new { IdEmpresa = @ViewBag.IdEmpresa })

    <div class="row fuente-pequeña">

        <!--Columna de Ubicaciones - Ancho 6-->
        <div id="divListaUbicaciones" class="col-sm-6">
            @Html.Action("_AdministrarUbicaciones", "Empresa", new { IdEmpresa = @ViewBag.IdEmpresa })
        </div>

        <!--Columna de Usuarios - Ancho 6-->
        <div id="divListaUsuarios" class="col-sm-6">
            @Html.Action("_AdministrarUsuarios", "Empresa", new { IdEmpresa = @ViewBag.IdEmpresa })
        </div>

     </div>

</div>


<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<!-- Modal Datos Generales -->
<div div="divEditarModal" class="modal" id="Modal-modifica-datos-empresa" tabindex="-1" role="dialog" aria-labelledby="ModificaDatosEmpresa" aria-hidden="true">

    @using (Ajax.BeginForm("EditarEmpresa", "Empresa", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "datos-empresa", OnComplete = "cerrarModal" }))
    {
        @Html.AntiForgeryToken()

        <div id="divEditarContenedor" class="modal-dialog">

        </div>
    }

</div>

<!-- Modal Ubicaciones-->
<div id="divModalNuevaUbicacion" class="modal" tabindex="-1" role="dialog" aria-labelledby="NuevaUbicacion" aria-hidden="true">

    @using (Ajax.BeginForm("_AdministrarNuevaUbicacion", "Empresa", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divListaUbicaciones", OnComplete = "cerrarModal" }))
    {    
        @Html.AntiForgeryToken()
        
        <div id="divNuevaUbicacionContenedor" class="modal-dialog">

        </div>
    
    }
</div>

<!-- Modal Usuarios-->
<div class="modal" id="divModalNuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="NuevaUbicacion" aria-hidden="true">

    @using (Ajax.BeginForm("_AdministrarNuevoUsuario", "Empresa", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divListaUsuarios", OnComplete = "cerrarModal" }))
    {
        @Html.AntiForgeryToken()
    
        <div id="divNuevoUsuarioContenedor" class="modal-dialog">

        </div>    
    }
</div>

<script>
    $(document).ready(function () {
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta5").addClass("color-paleta4");

        $('#btnModificarEmpresa').click(function () {
            //debugger;
            var url = "/Empresa/EditarEmpresa"; // el url del controlador
            var id = $(this).attr('data-id'); // el id del botón.
            $.get(url + '/' + id, function (data) {
                $('#divEditarContenedor').html(data);
                $('#divEditarModal').modal('show');
            });
        });

        $('#btnNuevaUbicacion').click(function () {
            //debugger;
            var url = "/Empresa/_AdministrarNuevaUbicacion"; // el url del controlador            
            $.get(url, function (data) {
                $('#divNuevaUbicacionContenedor').html(data);
                $('#divModalNuevaUbicacion').modal('show');
            });
        });

        $('#btnNuevoUsuario').click(function () {

            var url = "/Empresa/_AdministrarNuevoUsuario"; // el url del controlador           
            $.get(url, function (data) {
                $('#divNuevoUsuarioContenedor').html(data);
                $('#divModalNuevoUsuario').modal('show');
            });
        });
    });

    function cerrarModal() {

        //debugger;
        //$('#divEditarModal').modal('hide'); Prueba 1

        //$("#divEditarModal").modal('hide').on('hidden.bs.modal', functionThatEndsUpDestroyingTheDOM); //Prueba 2

        //$('#divEditarModal').removeClass('fade');
        //$('#divEditarModal').modal('hide');

        $('.modal.in').modal('hide');
    }

</script>



