@*@model UTP.PortalEmpleabilidad.Modelo.Empresa*@

@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Admnistrar el registro de la Empresa";
}

<div class="container" style="margin-top:2px;">

    <!--Panel superior donde se muestra los datos del usuario autenticado. - Ancho 12-->
    @{Html.RenderAction("VistaCabecera", "Empresa");}

    <div class ="row">
        <div id="divAdministrarImagen" class ="col-sm-4">
            @Html.Action("_AdministrarImagen", "Empresa", new { IdEmpresa = @ViewBag.IdEmpresa })
        </div>
        <div class="col-sm-8">
            <!--Panel de datos generales de la emrpesa - Ancho 12-->
            @Html.Action("_AdministrarDatosGenerales", "Empresa", new { IdEmpresa = @ViewBag.IdEmpresa })
        </div>
    </div>

    <div class="row fuente-pequeña">

        <!--Columna de Ubicaciones - Ancho 6-->
        <div id="divListaUbicaciones" class="col-sm-6">
            @Html.Action("_AdministrarUbicaciones", "Empresa", new { IdEmpresa = @ViewBag.IdEmpresa })
        </div>

        <!--Columna de Usuarios - Ancho 6-->
        <div id="divListaUsuarios" class="col-sm-6">
            @Html.Action("_AdministrarUsuarios", "Empresa", new { IdEmpresa = @ViewBag.IdEmpresa })
        </div>

     </div>

</div>

@*<div id="divCargando">
    <img id="imgCargando" src="../../img/cargando.gif" alt="" />
</div>*@

<!--
    id="Modal-modifica-datos-empresa"
-->

<!-- Modal Datos Generales -->
<div id="divEditarModal" class="modal"  tabindex="-1" role="dialog" aria-labelledby="ModificaDatosEmpresa" aria-hidden="true">

    @using (Ajax.BeginForm("EditarEmpresa", "Empresa", new AjaxOptions() {  LoadingElementId = "divCargando", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "datos-empresa", OnComplete = "cerrarModal" }))
    {
        @Html.AntiForgeryToken()

        <div id="divEditarContenedor" class="modal-dialog">

        </div>
    }

</div>

<!-- Modal Ubicaciones-->
<div id="divModalNuevaUbicacion" class="modal" tabindex="-1" role="dialog" aria-labelledby="NuevaUbicacion" aria-hidden="true">

    @using (Ajax.BeginForm("_AdministrarNuevaUbicacion", "Empresa", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divListaUbicaciones", OnComplete = "cerrarModal" }))
    {    
        @Html.AntiForgeryToken()
        
        <div id="divNuevaUbicacionContenedor" class="modal-dialog">

        </div>
    
    }
</div>

<div id="divModalUbicacionEditar" class="modal" tabindex="-1" role="dialog" aria-labelledby="EditarUbicacion" aria-hidden="true">

    @using (Ajax.BeginForm("_AdministrarUbicacionEditar", "Empresa", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divListaUbicaciones", OnComplete = "cerrarModal" }))
    {
        @Html.AntiForgeryToken()

        <div id="divUbicacionContenedorEditar" class="modal-dialog">

        </div>

    }
</div>

<!-- Modal Usuarios-->
<!--Crear usuario-->
<div class="modal" id="divModalNuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="NuevaUbicacion" aria-hidden="true">

    @using (Ajax.BeginForm("_AdministrarNuevoUsuario", "Empresa", new AjaxOptions() {  InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divListaUsuarios", OnComplete = "cerrarModal" }))
    {
        @Html.AntiForgeryToken()
       
        <div id="divNuevoUsuarioContenedor" class="modal-dialog">

        </div>    
    }
</div>

<!--Editar usuario-->
<div class="modal" id="divModalUsuarioEditar" tabindex="-1" role="dialog" aria-labelledby="EditarUbicacion" aria-hidden="true">

    @using (Ajax.BeginForm("_AdministrarUsuarioEditar", "Empresa", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divListaUsuarios", OnComplete = "cerrarModal" }))
    {
        @Html.AntiForgeryToken()

        <div id="divUsuarioContenedorEditar" class="modal-dialog">

        </div>
    }
</div>


@*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script>
    $(document).ready(function () {
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta5").addClass("color-paleta4");
        $('#PestañaEmpresa').css('backgroundColor', '#f00');
        //$('#btnModificarEmpresa').on("click", function () {
        //    //debugger;
        //    var url = "/Empresa/EditarEmpresa"; // el url del controlador
        //    var id = $(this).attr('data-id'); // el id del botón.
        //    $.get(url + '/' + id, function (data) {
        //        $('#divEditarContenedor').html(data);

        //        //var formSelector = $('#divEditarModal').find('form');
        //        //var form = $(formSelector)
        //        //                .removeData("validator") /* added by the raw jquery.validate plugin */
        //        //                .removeData("unobtrusiveValidation");

        //        $.validator.unobtrusive.parse('#divEditarContenedor');
        //        //$.validator.unobtrusive.parse('#divEditarModal');

        //        $('#divEditarModal').modal('show');

        //    });
        //});

    });

    function modificarEmpresa(id) {
        //var url = "/Empresa/EditarEmpresa"; // el url del controlador
        var url = '@Url.Action("EditarEmpresa", "Empresa")';
        //alert(id);
        //var id = $(this).attr('data-id'); // el id del botón.
        $.get(url + '/' + id, function (data) {
            $('#divEditarContenedor').html(data);

            //var formSelector = $('#divEditarModal').find('form');
            //var form = $(formSelector)
            //                .removeData("validator") /* added by the raw jquery.validate plugin */
            //                .removeData("unobtrusiveValidation");

            $.validator.unobtrusive.parse('#divEditarContenedor');
            //$.validator.unobtrusive.parse('#divEditarModal');

            $('#divEditarModal').modal('show');

        });
    }

    function crearUsuario() {
        //var url = "/Empresa/_AdministrarNuevoUsuario"; // el url del controlador
        var url = '@Url.Action("_AdministrarNuevoUsuario", "Empresa")';
        $.get(url, function (data) {
            $('#divNuevoUsuarioContenedor').html(data);
            $.validator.unobtrusive.parse('#divNuevoUsuarioContenedor');

            $('#divModalNuevoUsuario').modal('show');
        });
    }

    function editarUsuario(id) {
        //var url = "/Empresa/_AdministrarUsuarioEditar/" + id;
        var url = '@Url.Action("_AdministrarUsuarioEditar", "Empresa")' + '/' + id;

        $.get(url, function (data) {
            $('#divUsuarioContenedorEditar').html(data);
            $.validator.unobtrusive.parse('#divUsuarioContenedorEditar');
            $('#divModalUsuarioEditar').modal('show');
        });
    }

    function crearLocacion()
    {
        //var url = "/Empresa/_AdministrarNuevaUbicacion"; // el url del controlador
        var url = '@Url.Action("_AdministrarNuevaUbicacion", "Empresa")'

        $.get(url, function (data) {
            //alert(data);
            $('#divNuevaUbicacionContenedor').html(data);
            $.validator.unobtrusive.parse('#divNuevaUbicacionContenedor');
            $('#divModalNuevaUbicacion').modal('show');
        }).error(function (err) { console.log(err); });
    }

    function editarLocacion(id) {
        //var url = "/Empresa/_AdministrarUbicacionEditar/" + id; // el url del controlador
        var url = '@Url.Action("_AdministrarUbicacionEditar", "Empresa")' + '/' + id;

        $.get(url, function (data) {
            $('#divUbicacionContenedorEditar').html(data);
            $.validator.unobtrusive.parse('#divUbicacionContenedorEditar');
            $('#divModalUbicacionEditar').modal('show');
        }).error(function (err) { console.log(err); });
    }

    function cerrarModal() {
        $('.modal.in').modal('hide');
        //$('#divNuevoUsuarioContenedor').html("");
    }

    //function validar() {
    //    debugger;
    //    //var form = $('#divEditarModal').find('form');

    //    //var validacion = $(form).validate();
    //    var esValido = $('#form0').valid();

    //    if (esValido)
    //    {
    //        return true;
    //    }
    //    else
    //    {
    //        return false;
    //    }

    //}

</script>

<script>

    function validar(idEmpresa, idEmpresaUsuario, tipo) {
        //console.log(idEmpresa + ' - ' + idEmpresaUsuario);
        var nDocumento = $('#NumeroDocumento').val();
        var tipoDocumento = $('#TipoDocumentoIdListaValor').val();
        var regex = /^\d{8}$/
        if (tipoDocumento == "TDDNI") {
            if (!(regex.test(nDocumento))) {
                document.getElementById("alertDocumento").style.display = "block";
                return false;
            } else { document.getElementById("alertDocumento").style.display = "none"; }
        }

        var validacionNroDocumento = false;
        var validacionUsuario = false;
        var $nroDocumentoInput = $('#NumeroDocumento');
        var $usuarioInput = $('#NombreUsuario');
        tipo = tipo | 'agregar';

        if (nroDocumento != '' && usuario != '') {


            console.log($('#NumeroDocumento'));
            console.log('idEmpresa: ' + idEmpresa + ', idEmpresaUsuario:' + idEmpresaUsuario);

            var url = '@Url.Action("ValidarNroDocumento", "Empresa")' + '?nroDocumento=' + nroDocumento + '&idEmpresa=' + idEmpresa + '&idEmpresaUsuario=' + idEmpresaUsuario;

            //Validación de # de documento>
            jQuery.ajax({
                url: url,
                success: function (data) {
                    console.log('validacion nro documento: ' + data);
                    if (eval(data) == 0) {
                        //console.log('if ' + data);
                        validacionNroDocumento = true;
                    }
                    else {
                        //console.log('else ' + data);
                        alert('Ya existe un usuario en la empresa con el número de documento: "' + nroDocumento + '"');
                        validacionNroDocumento = false;
                    }
                },
                async: false //se cambia esta propiedad para que la llamada del ajax sea síncrona. Por defecto es asíncrona.
            });

            if (validacionNroDocumento == false)
                return validacionNroDocumento;

            var urlUsuario = '@Url.Action("ValidarUsuario", "Empresa")' + '?usuario=' + usuario + '&idEmpresa=' + idEmpresa + '&idEmpresaUsuario=' + idEmpresaUsuario;

            //Validación de usuario
            validacionUsuario = true;

            if (tipo == 'agregar') {
                jQuery.ajax({
                    url: urlUsuario,
                    success: function (data) {
                        if (eval(data) == 0) {
                            //console.log('if ' + data);
                            validacionUsuario = true;
                        }
                        else {
                            //console.log('else ' + data);
                            alert('El nombre de usuario "' + usuario + '" ya existe.');
                            validacionUsuario = false;
                        }
                    },
                    async: false //se cambia esta propiedad para que la llamada del ajax sea síncrona. Por defecto es asíncrona.
                });
            }
            
            return validacionUsuario;
        }   
        else {
            alert('Ingrese Usuario y Número de Documento');
            return false;
        }
    }


   
</script>

