@model UTP.PortalEmpleabilidad.Modelo.Oferta

@using UTP.PortalEmpleabilidad.Modelo;

@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Nueva Oferta Laboral";
}
<div class="container" style="margin-top:2px;">

    @{Html.RenderAction("VistaCabecera", "Empresa");}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <!--Se guardar los Id's en archivos temporales-->
        @Html.HiddenFor(model => model.IdOferta)
        @Html.HiddenFor(model => model.IdEmpresa)
        @Html.HiddenFor(model => model.CreadoPor)

        <div class="row">
            <div class="col-sm-3 fuente-seccion">
                Nueva Oferta Laboral
            </div>
            <div class="col-sm-3 fuente-seccion">
                Estado: Pendiente de Activación
            </div>
            <div class="col-sm-3 fuente-seccion">
                <input type="checkbox" /><span> Recibir correos&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="col-sm-3 fuente-seccion" style="text-align:right;">
                <button class="btn btn-default color-paleta2" style="margin-bottom:5px;">Grabar Cambios</button>
            </div>
        </div>

        <script src="~/Scripts/ckeditor/ckeditor.js"></script>

        <div id="divDescripcionOferta" class="row">

            <div class="col-sm-6">

                <div class="panel-group" id="oferta-anuncio" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOferta" style="padding: 2px 2px 2px 6px;">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOferta" aria-expanded="true" aria-controls="collapseOferta" class="fuente-seccion">
                                    Descripción de la Oferta
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOferta" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOferta">
                            <div class="panel-body fuente-pequeña">
                                <div class="input-group">
                                    <span class="input-group-addon">Cargo</span>
                                    <input id="CargoOfrecido" data-val="true" data-val-required="No ha ingresado el campo" name="CargoOfrecido" type="text" class="form-control" placeholder="Nombre del cargo a publicar" value="@Model.CargoOfrecido">
                                    @Html.ValidationMessageFor(m => m.CargoOfrecido)
                                    @*<input class="text-box single-line" id="CargoOfrecido" name="CargoOfrecido" type="text" value="">*@
                                    @*@Html.EditorFor(model => model.CargoOfrecido, new { @class = "form-control" })*@
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Funciones</span>
                                    @*<textarea class="form-control" rows="6"></textarea>*@
                                    <textarea name="Funciones" id="Funciones" rows="6" cols="80">@Html.Raw(@Model.Funciones)</textarea>
                                    @Html.ValidationMessageFor(m => m.Funciones)
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Compe-<br />tencias</span>
                                    @*<textarea class="form-control" rows="4"></textarea>*@
                                    <textarea name="Competencias" id="Competencias" rows="6" cols="80">@Html.Raw(@Model.Competencias)</textarea>
                                    @Html.ValidationMessageFor(m => m.Competencias)
                                </div>
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <script>

                CKEDITOR.replace('Funciones');
                CKEDITOR.replace('Competencias');
            </script>

            <div class="col-sm-6">

                <div class="panel-group" id="oferta-condiciones" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingDetalle" style="padding: 2px 2px 2px 6px;">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseDetalle" aria-expanded="true" aria-controls="collapseDetalle" class="fuente-seccion">
                                    Condiciones de la Oferta
                                </a>
                            </h5>
                        </div>
                        <div id="collapseDetalle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingDetalle">
                            <div class="panel-body fuente-pequeña">
                                <div class="input-group">
                                    <span class="input-group-addon">Recibir<br />CVs hasta</span>
                                    <input type="date" id="FechaFinRecepcionCV" name="FechaFinRecepcionCV" class="form-control" placeholder="Fecha de fin de publicación">
                                    @Html.ValidationMessageFor(m => m.FechaFinRecepcionCV)
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Área</span>
                                    <input id="AreaEmpresa" name="AreaEmpresa" type="text" class="form-control" placeholder="Área o división de la empresa">
                                    @Html.ValidationMessageFor(m => m.AreaEmpresa)
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Tipo de<br />Cargo</span>
                                    <select id="TipoCargo" name="TipoCargo" class="form-control">
                                        <option value="">
                                            -- Seleccione un Tipo de Cargo --
                                        </option>
                                        @{
        var itemsTipoCargo = ((List<ListaValor>)(ViewBag.ListaTipoCargo));
        foreach (var item in itemsTipoCargo)
        {
            <option value="@item.IdListaValor">
                @item.Valor
            </option>
        }
                                        }

                                    </select>
                                    @Html.ValidationMessageFor(m => m.TipoCargo)
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Tipo de<br />Trabajo</span>
                                    <select id="TipoTrabajo" name="TipoTrabajo" class="form-control">
                                        <option value="0">
                                            -- Seleccione un Tipo de Trabajo --
                                        </option>
                                        @{
        var itemsTipoTrabajo = ((List<ListaValor>)(ViewBag.ListaTipoTrabajo));
        foreach (var item in itemsTipoTrabajo)
        {
            <option value="@item.IdListaValor">
                @item.Valor
            </option>
        }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.TipoTrabajo)
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Tipo de<br />Contrato</span>
                                    <select id="TipoContrato" name="TipoContrato" class="form-control">
                                        <option value="">
                                            -- Seleccione un Tipo de Contrato --
                                        </option>
                                        @{
        var itemsTipoContrato = ((List<ListaValor>)(ViewBag.ListaTipoContrato));
        foreach (var item in itemsTipoContrato)
        {
            if (item.IdListaValor == Model.TipoContrato.IdListaValor)
            {
                <option value="@item.IdListaValor" selected="selected">
                    @item.Valor
                </option>
            }
            else
            {

                <option value="@item.IdListaValor">
                    @item.Valor
                </option>
            }
        }
                                        }
                                    </select>

                                    @Html.ValidationMessageFor(m => m.TipoContrato)
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Duración<br />en meses</span>
                                    <input id="DuracionContrato" name="DuracionContrato" type="text" class="form-control" placeholder="Vacio si es indeterminada" value="@Model.DuracionContrato">
                                    @Html.ValidationMessageFor(m => m.DuracionContrato)
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Horario</span>
                                    <input id="Horario" name="Horario" type="text" class="form-control" placeholder="Ej: De Lunes a Viernes de 9:00am a 6:00pm" value="@Model.Horario">
                                    @Html.ValidationMessageFor(m => m.Horario)
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Sueldo S/.</span>
                                    <input id="RemuneracionOfrecida" name="RemuneracionOfrecida" type="text" class="form-control" placeholder="Sueldo a pagar en Nuevos Soles" value="@Model.RemuneracionOfrecida">
                                    @Html.ValidationMessageFor(m => m.RemuneracionOfrecida)
                                </div>


                                <div class="input-group">
                                    <span class="input-group-addon">Vacantes</span>
                                    <input id="NumeroVacantes" name="NumeroVacantes" type="text" class="form-control" placeholder="Número de vacantes para el puesto" value="@Model.NumeroVacantes">
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <span class="input-group-addon">Ubicación</span>
                                            <select id="IdEmpresaLocacion" name="IdEmpresaLocacion" class="form-control">
                                                <option value="">
                                                    -- Seleccione Ubicación del Trabajo --
                                                </option>
                                                @{
        var locaciones = ((List<EmpresaLocacion>)(ViewBag.ListaLocaciones));
        foreach (var locacion in locaciones)
        {
            <option value="@locacion.IdEmpresaLocacion">
                @locacion.NombreLocacion, @locacion.DireccionLinea1, @locacion.DireccionDistrito
            </option>
        }
                                                }

                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-sm-5 fuente-pequeña" style="text-align:right;">
                                        <button class="btn btn-default color-paleta2">Nueva Ubicación</button>
                                    </div>
                                </div>

                                <br />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
        <div class="row">

            <div id="ofertaRequisitos" class="col-sm-6">                
                <div class="panel-group" id="oferta-requisito" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingRequisito" style="padding: 2px 2px 2px 6px;">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#oferta-requisito" href="#collapseRequisito" aria-expanded="true" aria-controls="collapseRequisito" class="fuente-seccion">
                                    Requisitos de la Oferta
                                </a>
                            </h5>
                        </div>
                        <div id="collapseRequisito" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRequisito">
                            <div class="panel-body fuente-pequeña">

                                @{Html.RenderAction("ObtenerEstudios", "OfertaEstudio", new { idOferta = Model.IdOferta }); }

                                <hr />

                                @{Html.RenderAction("ObtenerSectoresEmpresariales", "OfertaSectorEmpresarial", new { idOferta = Model.IdOferta }); }

                                <hr />
                                
                                @Html.Action("ObtenerInformacionAdicional", "OfertaInformacionAdicional", new { idOferta = Model.IdOferta })
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ofertaFases" class="col-sm-6">

                <div class="panel-group" id="oferta-fases" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFases" style="padding: 2px 2px 2px 6px;">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#oferta-fases" href="#collapseFases" aria-expanded="true" aria-controls="collapseFases" class="fuente-seccion">
                                    Fases de la Oferta
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFases" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFases">
                            <div class="panel-body fuente-pequeña">
                                <p>Seleccionar Fases para esta Oferta</p>
                                <p><span><input type="checkbox" checked disabled /></span> CVs Pendientes de Revisión</p>
                                <p>
                                    <span><input type="checkbox" checked disabled /></span> CVs en Revisión
                                </p>
                                <p>
                                    <span><input type="checkbox" /></span> Dinámica Grupal
                                </p>
                                <p>
                                    <span><input type="checkbox" /></span> Primera Entrevista
                                </p>
                                <p>
                                    <span><input type="checkbox" /></span> Examen de Conocimientos
                                </p>
                                <p><span><input type="checkbox" /></span> Evaluaciones Psicológicas/Psicotécnicas</p>
                                <p><span><input type="checkbox" /></span> Examen Médico</p>
                                <p><span><input type="checkbox" /></span> Entrevista Final</p>
                                <p><span><input type="checkbox" /></span> Contratación</p>
                                <p><span><input type="checkbox" checked disabled /></span> Proceso Finalizado</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

   
</div>
<script>
    $(document).ready(function () {
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta2");
    });
</script>
