@model UTP.PortalEmpleabilidad.Modelo.Vistas.Alumno.VistaAlumnoHunting
@using UTP.PortalEmpleabilidad.Modelo

@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Hunting";
}

<div class="container" style="margin-top:2px;">
    @{Html.RenderAction("VistaCabecera", "Empresa");}

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="CabeceraColapsaBusqueda" style="padding: 2px 2px 2px 6px;">
            <div class="panel-title">
                <div data-toggle="collapse" data-parent="#CriterioBusquedaAlumno" data-target="#ColapsaBusqueda" aria-expanded="true" aria-controls="ColapsaBusqueda" class="fuente-seccion">
                    <span role="button">Búsqueda</span>
                    <span class="glyphicon pull-right" role="button"></span>
                </div>
            </div>
        </div>
        <div id="ColapsaBusqueda" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CabeceraColapsaBusqueda">
            <div class="panel-body">
                <table style="width:100%;">
                    <tr>
                        <td>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon fuente-pequeña">Palabra Clave</span>
                                @Html.TextBoxFor(model => model.PalabraClave, new { @class = "form-control fuente-pequeña", @placeholder = "Nombre Alumno" })

                            </div>
                        </td>
                        <td style="text-align:right;">
                            <span class="col-md-6 btn-group">
                                <button type="button" class="btn btn-default fa fa-search color-paleta3" id="buscar"></button>
                                @*<span class="fui" style=" font-size:30px;cursor:pointer" id="buscar">(</span>*@
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    @*}*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="CabeceraColapsaBusquedaAvanzada" style="padding: 2px 2px 2px 6px;">
            <div class="panel-title">
                <div class="collapsed fuente-seccion" data-toggle="collapse" data-parent="#CriterioBusquedaAlumno" data-target="#ColapsaBusquedaAvanzada" aria-expanded="false" aria-controls="ColapsaBusquedaAvanzada">
                    <span role="button">Búsqueda avanzada</span>
                    <span class="glyphicon pull-right" role="button"></span>
                </div>
            </div>
        </div>
        <div id="ColapsaBusquedaAvanzada" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CabeceraColapsaBusquedaAvanzada">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group fuente-pequeña">
                            <span class="input-group-addon">Tipo<br />Estudio</span>
                            @Html.DropDownListFor(model => model.IdTipoEstudio, new SelectList(ViewBag.ListaTipoEstudio, "Value", "Text"), "- Seleccionar Tipo de Estudio -", new { @class = "form-control", @Id = "IdTipoEstudio" })
                        </div>
                        <div class="input-group fuente-pequeña">
                            <span class="input-group-addon">Estudio</span>
                            @Html.TextBoxFor(model => model.Estudios, new { @class = "form-control fuente-pequeña", @placeholder = "Estudio Requerido", @Id = "Estudios" })
                        </div>
                        <div class="input-group fuente-pequeña">
                            <span class="input-group-addon">Estado</span>
                            @Html.DropDownListFor(model => model.IdEstadoEstudio, new SelectList(ViewBag.ListaEstadodelestudio, "Value", "Text"), "- Seleccionar Estado del Estudio -", new { @class = "form-control", @Id = "IdEstadoEstudio" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group fuente-pequeña">
                            <span class="input-group-addon">Sector</span>
                            @Html.DropDownListFor(model => model.IdSectorEmpresarial, new SelectList(ViewBag.ListaSectorEmpresarial, "Value", "Text"), "- Seleccionar Sector Empresarial -", new { @class = "form-control", @Id = "IdSectorEmpresarial" })
                        </div>
                        <div class="input-group fuente-pequeña">
                            <span class="input-group-addon">Experiencia</span>
                            @Html.TextBoxFor(model => model.AnosExperiencia, new { @class = "form-control fuente-pequeña", @placeholder = "Años de Experiencia", @Id = "AnosExperiencia" })
                        </div>
                        @*<div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Tipo<br />Cargo</span>
                                @Html.DropDownListFor(model => model.IdTipoCargo, new SelectList(ViewBag.ListaTipoCargo, "Value", "Text"), "- Seleccionar Tipo de Cargo -", new { @class = "form-control", @Id = "IdTipoCargo" })
                            </div>*@
                        <div class="input-group fuente-pequeña">
                            <span class="input-group-addon">Cargo</span>
                            @Html.TextBoxFor(model => model.NombreCargo, new { @class = "form-control fuente-pequeña", @placeholder = "Nombre del Cargo", @Id = "NombreCargo" })
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="input-group fuente-pequeña">
                            <span class="input-group-addon">Inform.<br />Adicional</span>
                            @Html.DropDownListFor(model => model.IdInformacionAdicional, new SelectList(ViewBag.ListaTipoInformacionAdicional, "Value", "Text"), "- Seleccionar Informacion Adicional -", new { @class = "form-control", @Id = "TipoConocimientoIdListaValor" })
                        </div>
                        <div class="input-group fuente-pequeña">
                            <span class="input-group-addon">Conoci-<br />miento</span>
                            @Html.TextBoxFor(model => model.Conocimiento, new { @class = "form-control fuente-pequeña", @placeholder = "Conocmiento específico: ej. SAP", @Id = "Conocimientos" })
                        </div>
                        <div class="input-group fuente-pequeña">
                            <span class="input-group-addon">Distrito</span>
                            @Html.TextBoxFor(model => model.Distrito, new { @class = "form-control fuente-pequeña", @placeholder = "Distrito donde vive", @Id = "Distrito" })
                        </div>
                        <div>
                            <button type="button" class="btn btn-default fa fa-search color-paleta3" id="buscaravanzada"></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    

    <div class="row">        
        <div id="resultadobusqueda" class="col-sm-7">            
        </div>
        <div class="col-sm-5">
            @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_EMPRESA_HUNTING })            
        </div>

    </div>

</div>

@*<script src="~/Scripts/jquery-2.1.1.min.js"></script>*@

<script>
    $(document).ready(function () {
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5").addClass("color-paleta3");
        $('#PestañaHunting').css('backgroundColor', '#f00');
        AutoCompleteText('#Estudios', '@Url.Action("ListarEstudio", "Empresa")', '#Estudios', 'option', 'appendTo', '.eventInsForm');
        @*AutoCompleteText('#NombreCargo', '@Url.Action("ListarCargo", "Empresa")', '#NombreCargo');*@
        AutoCompleteText('#Distrito', '@Url.Action("ListarDistritos", "Empresa")', '#Distrito');

        //se obtiene el valor del combo
        var codigoTipoConocimiento = $('#TipoConocimientoIdListaValor').val();

        //ESE ES LA CAJA, LA ACCION Y EL CONTROLADOR
        AutoCompleteTextDemo('#Conocimientos', '@Url.Action("ListarDatosEspecificos", "OfertaInformacionAdicional")' + '?codigoTipo=' + codigoTipoConocimiento, '#Conocimientos', '#TipoConocimientoIdListaValor', 'option', 'appendTo', '.eventInsForm');

        var Alumno = {
            PalabraClave: $('#PalabraClave').val(),
            NroPagina: 1,

        };


        //Cargar("resultadobusqueda", "/Empresa/BusquedaSimpleHunting", Alumno);
        Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleHunting", "Empresa")', Alumno);


    });

    $('#buscar').click(function () {
        //debugger;
        var Alumno = {
            PalabraClave: $('#PalabraClave').val(),
            NroPagina: 1,

        };


        //Cargar("resultadobusqueda", "/Empresa/BusquedaSimpleHunting", Alumno);
        Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleHunting", "Empresa")', Alumno);
    });

    $('#buscaravanzada').click(function () {
        //debugger;
        var Alumno = {
            IdTipoEstudio: $('#IdTipoEstudio').val(),
            Estudios: $('#Estudios').val(),
            IdEstadoEstudio: $('#IdEstadoEstudio').val(),
            IdEstadoEstudio: $('#IdEstadoEstudio').val(),
            AnosExperiencia: $('#AnosExperiencia').val(),
            NombreCargo: $('#NombreCargo').val(),
            IdInformacionAdicional: $('#IdInformacionAdicional').val(),
            Conocimiento: $('#Conocimientos').val(),
            Distrito: $('#Distrito').val(),
            NroPagina: 1,
        };
        //Cargar("resultadobusqueda", "/Empresa/BusquedaAvanzadaHunting", Alumno);
        Cargar("resultadobusqueda", '@Url.Action("BusquedaAvanzadaHunting", "Empresa")', Alumno);
    });
    //$(document).ready(function () {
    //    var Alumno = {
    //        PalabraClave: $('#PalabraClave').val(),

    //    };
    //    Cargar("resultadobusqueda", "/Empresa/BusquedaSimpleHunting", Alumno);
    //});

    function Cargar(id, link, entidad) {
        //debugger;
        var cargando = '<div class="row grilla1-linea">'
                            + '<div class="col-sm-12 text-center">'
                                + '<h6>Çargando ...</h6></div></div>';
        $('#' + id).html(cargando);

        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(entidad),
            dataType: 'html'
        })
        .success(function (result) {
            $("#" + id).html(result);
            //alert(result);
            //console.log(result);
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);
            $('#' + id).html('');
            alert('Ocurrió un error al obtener la información.');
        })
    }

    function buscarPaginacion(nroPagina) {
        var Alumno = {
            PalabraClave: $('#PalabraClave').val(),
            NroPagina: nroPagina,

        };
        //Cargar("resultadobusqueda", "/Empresa/BusquedaSimpleHunting", Alumno);
        Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleHunting", "Empresa")', Alumno);
    }

    function buscarPaginacionAvanzada(nroPagina) {
        var Alumno = {
            IdTipoEstudio: $('#IdTipoEstudio').val(),
            Estudios: $('#Estudios').val(),
            IdEstadoEstudio: $('#IdEstadoEstudio').val(),
            IdEstadoEstudio: $('#IdEstadoEstudio').val(),
            AnosExperiencia: $('#AnosExperiencia').val(),
            NombreCargo: $('#NombreCargo').val(),
            IdInformacionAdicional: $('#IdInformacionAdicional').val(),
            Conocimiento: $('#Conocimiento').val(),
            Distrito: $('#Distrito').val(),
            NroPagina: nroPagina,
        };
        //Cargar("resultadobusqueda", "/Empresa/BusquedaAvanzadaHunting", Alumno);
        Cargar("resultadobusqueda", '@Url.Action("BusquedaAvanzadaHunting", "Empresa")', Alumno);
    }
</script>
