@model UTP.PortalEmpleabilidad.Modelo.Oferta

@using UTP.PortalEmpleabilidad.Modelo;

@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Nueva Oferta Laboral";
}



<div class="container fuente-pequeña" style="margin-top:2px;">

    @{Html.RenderAction("VistaCabecera", "Empresa");}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.IdEmpresa)
        @*@Html.HiddenFor(model => model.CreadoPor)*@

        <div class="row">
            <div class="col-sm-3">
                <h6><strong>Nueva Oferta Laboral</strong></h6>
            </div>
            <div class="col-sm-3">
                <!--Estado: Pendiente de Activación-->
            </div>
            <div class="col-sm-3">
                @*<input type="checkbox" /><span> Recibir correos&nbsp;&nbsp;&nbsp;&nbsp;</span>*@
                <div class="input-group">
                    <span class="input-group-addon">
                        (*) Alertas
                    </span>

                    @Html.DropDownListFor(m => m.RecibeCorreosIdListaValor, null, "- Seleccione forma de alertar -", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.RecibeCorreosIdListaValor, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3 " style="text-align:right;">
                <button id="btnGuardarOferta" type="submit" class="btn btn-default color-paleta2">Guardar</button>
            </div>
        </div>
       
        <script src="~/Scripts/ckeditor/ckeditor.js"></script>

        <div id="divDescripcionOferta" class="row">

            <div class="col-sm-6">
                <div class="panel-group" id="oferta-anuncio" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOferta" style="padding: 2px 2px 2px 6px;">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOferta" aria-expanded="true" aria-controls="collapseOferta" class="fuente-seccion">
                                    Descripción de la Oferta
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOferta" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOferta">
                            <div class="panel-body fuente-pequeña">
                                <div class="input-group">
                                    <span class="input-group-addon">(*) Cargo</span>

                                    @Html.TextBoxFor(m => m.CargoOfrecido, new { @class = "form-control", @id = "Cargo", @placeholder = "Nombre del cargo a publicar" })




                                    @*<input class="text-box single-line" id="CargoOfrecido" name="CargoOfrecido" type="text" value="">*@
                                    @*@Html.EditorFor(model => model.CargoOfrecido, new { @class = "form-control" })*@

                                </div>
                                @Html.ValidationMessageFor(m => m.CargoOfrecido, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">(*)<br />Funciones</span>
                                    @*<textarea class="form-control" rows="6"></textarea>*@
                                    <textarea name="Funciones" id="Funciones" rows="2" cols="80" data-val-required="Esta campo es olbigatorio">@Html.Raw(Model.Funciones)</textarea>
                                    @*@Html.TextAreaFor(m => m.Funciones)*@
                                </div>
                                @Html.ValidationMessageFor(m => m.Funciones, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">Informac.<br />Adicional</span>
                                    @*<textarea class="form-control" rows="4"></textarea>*@
                                    <textarea name="Competencias" id="Competencias" rows="2" cols="80">@Html.Raw(Model.Competencias)</textarea>
                                </div>
                                @Html.ValidationMessageFor(m => m.Competencias, "", new { @class = "text-danger" })
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                CKEDITOR.replace('Funciones', { height: 75 });
                CKEDITOR.replace('Competencias', { height: 74 });
            </script>

            <div class="col-sm-6">
                <div class="panel-group" id="oferta-condiciones" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingDetalle" style="padding: 2px 2px 2px 6px;">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseDetalle" aria-expanded="true" aria-controls="collapseDetalle" class="fuente-seccion">
                                    Condiciones de la Oferta
                                </a>
                            </h5>
                        </div>
                        <div id="collapseDetalle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingDetalle">
                            <div class="panel-body fuente-pequeña">
                                <div class="input-group">
                                    <span class="input-group-addon">(*) Recibir<br />CVs hasta</span>
                                    @*<input type="date" id="FechaFinRecepcionCV" name="FechaFinRecepcionCV" class="form-control" placeholder="Fecha de fin de publicación">*@
                                    @*@Html.Raw(@Html.EditorFor(m => m.FechaFinRecepcionCV).ToString().Replace("text-box single-line", "form-control"))*@
                                    @*@Html.EditorFor(m => m.FechaFinRecepcionCV)*@
                                    @Html.TextBoxFor(m => m.FechaFinRecepcionCV, new { @class = "form-control", @placeholder = "Fecha de fin de publicación", @Value = Model.FechaFinRecepcionCV.ToString("d") })
                                </div>
                                @Html.ValidationMessageFor(m => m.FechaFinRecepcionCV, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">Área</span>
                                    @*<input id="AreaEmpresa" name="AreaEmpresa" type="text" class="form-control" placeholder="Área o división de la empresa">*@
                                    @Html.TextBoxFor(m => m.AreaEmpresa, new { @class = "form-control", @placeholder = "Área o división de la empresa", @id = "AreaEmpresa" })
                                </div>
                                @Html.ValidationMessageFor(m => m.AreaEmpresa, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">Tipo de<br />Cargo</span>
                                    @Html.DropDownListFor(m => m.TipoCargoIdListaValor, null, "- Seleccione Tipo de Cargo -", htmlAttributes: new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.TipoCargoIdListaValor, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">(*) Tipo de<br />Trabajo</span>
                                    @Html.DropDownListFor(m => m.TipoTrabajoIdListaValor, null, "- Seleccione Tipo de Trabajo -", htmlAttributes: new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.TipoTrabajoIdListaValor, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">Tipo de<br />Contrato</span>
                                    @Html.DropDownListFor(m => m.TipoContratoIdListaValor, null, "- Seleccione Tipo de Contrato -", htmlAttributes: new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.TipoContratoIdListaValor, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">Duración<br />en meses</span>
                                    @*<input id="DuracionContrato" name="DuracionContrato" type="text" class="form-control" placeholder="Vacio si es indeterminada">*@
                                    @Html.TextBoxFor(m => m.DuracionContrato, new { @class = "form-control", @placeholder = "Vacío si es indeterminada" })
                                </div>
                                @Html.ValidationMessageFor(m => m.DuracionContrato, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">Horario</span>
                                    @*<input id="Horario" name="Horario" type="text" class="form-control" placeholder="Ej: De Lunes a Viernes de 9:00am a 6:00pm">*@
                                    @Html.TextBoxFor(m => m.Horario, new { @class = "form-control", @placeholder = "Ej: De Lunes a Viernes de 9:00am a 6:00pm" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Horario, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">Sueldo S/.</span>
                                            @*<input id="RemuneracionOfrecida" name="RemuneracionOfrecida" type="text" class="form-control" placeholder="Sueldo a pagar en Nuevos Soles">*@
                                            @Html.TextBoxFor(m => m.RemuneracionOfrecida, new { @class = "form-control", @placeholder = "Sueldo a pagar en Nuevos Soles" })
                                        </div>@Html.ValidationMessageFor(m => m.RemuneracionOfrecida, "", new { @class = "text-danger" })
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">Vacantes</span>
                                            @*<input id="NumeroVacantes" name="NumeroVacantes" type="text" class="form-control" placeholder="Número de vacantes para el puesto">*@
                                            @Html.TextBoxFor(m => m.NumeroVacantes, new { @class = "form-control", @placeholder = "Número de vacantes para el puesto" })
                                        </div>@Html.ValidationMessageFor(m => m.NumeroVacantes, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">(*)<br />Ubicación</span>
                                            @Html.DropDownListFor(m => m.IdEmpresaLocacion, null, "- Seleccione Ubicación -", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.IdEmpresaLocacion, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="col-sm-5 fuente-pequeña" style="text-align:right;">
                                            <button class="btn btn-default color-paleta2">Nueva Ubicación</button>
                                        <span class="btn btn-default color-paleta2">Nueva ubicación</span>
                                                                        </div>*@
                                </div>

                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="fila2" class="row" style="display:none;">
        <div id="filaRequisitos" class="col-sm-6">
            <div class="panel-group disabled" id="oferta-requisito" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingRequisito" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#oferta-requisito" href="#collapseRequisito" aria-expanded="true" aria-controls="collapseRequisito" class="fuente-seccion">
                                Requisitos de la Oferta
                            </a>
                        </h5>
                    </div>
                    <div id="collapseRequisito" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRequisito">
                        <div class="panel-body fuente-pequeña">

                            @*@Html.Action("ObtenerEstudios", "OfertaEstudio", new { idOferta = -1 })*@

                            <div class="row">
                                <div class="col-md-12">
                                    <strong class="sub-titulo-seccion">Estudios</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-12" style="text-align:right;">
                                    <button class=" btn btn-default" disabled>
                                        Agregar Estudio específico
                                    </button>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-12">
                                    <strong class="sub-titulo-seccion">Experiencia por Sector Empresarial</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-12" style="text-align:right;">
                                    <button class="btn btn-default" disabled>
                                        Agregar Experiencia por Sector
                                    </button>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-12">
                                    <strong class="sub-titulo-seccion">Información Adicional</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-12" style="text-align:right;">
                                    <button class="btn btn-default" disabled>
                                        Agregar Información Adicional
                                    </button>

                                </div>
                            </div>

                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="filaFases" class="col-sm-6">
            <div class="panel-group" id="oferta-fases" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFases" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#oferta-fases" href="#collapseFases" aria-expanded="true" aria-controls="collapseFases" class="fuente-seccion">
                                Fases de la Oferta
                            </a>
                        </h5>
                    </div>
                    <div id="collapseFases" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFases">
                        <div class="panel-body fuente-pequeña" disabled>
                            <p>Seleccionar Fases para esta Oferta</p>
                            <p><span><input type="checkbox" checked disabled /></span> CVs Pendientes</p>
                            <p>
                                <span><input type="checkbox" checked disabled /></span> CVs en Revisión
                            </p>
                            <p>
                                <span><input type="checkbox" disabled /></span> Dinámica Grupal
                            </p>
                            <p>
                                <span><input type="checkbox" disabled /></span> Primera Entrevista
                            </p>
                            <p>
                                <span><input type="checkbox" disabled /></span> Examen de Conocimientos
                            </p>
                            <p><span><input type="checkbox" disabled /></span> Evaluaciones Psicológicas/Psicotécnicas</p>
                            <p><span><input type="checkbox" disabled /></span> Examen Médico</p>
                            <p><span><input type="checkbox" disabled /></span> Entrevista Final</p>
                            <p><span><input type="checkbox" disabled /></span> Contratación</p>
                            <p><span><input type="checkbox" checked disabled /></span> Proceso Finalizado</p>


                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    @*<span style="font-size:x-small">Debe crear la oferta para habilitar estas secciones:</span>*@
    
    <div id='divNombre' class='classNombre'>
        <div class="row">

            <div id="ofertaRequisitos" class="col-sm-6">
                <div class="panel-group" id="oferta-requisito" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingRequisito" style="padding: 2px 2px 2px 6px;">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#oferta-requisito" href="#collapseRequisito" aria-expanded="true" aria-controls="collapseRequisito" class="fuente-seccion">
                                    Requisitos de la Oferta
                                </a>
                            </h5>
                        </div>
                        <div id="collapseRequisito" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRequisito">
                            <div class="panel-body fuente-pequeña">
                                <div id="divListaEstudios">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong class="sub-titulo-seccion">Estudios</strong>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12" style="text-align:right;">
                                            <button id="btnNuevoEstudio" data-toggle="modal" data-target="#divModalEstudio" onclick="validarGuardarOferta();" class=" btn btn-default color-paleta2">
                                                Agregar Estudio específico
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <hr />

                                <div id="divListaSectores">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong class="sub-titulo-seccion">Experiencia por Sector Empresarial</strong>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12" style="text-align:right;">
                                            <button id="btnNuevoSectorEmpresarial" data-toggle="modal" data-target="#divModalSectorEmpresarial" onclick="validarGuardarOferta();" class="btn btn-default color-paleta2">
                                                Agregar Experiencia por Sector
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <hr />

                                <div id="divListaInfoAdicional">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong class="sub-titulo-seccion">Información Adicional</strong>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12" style="text-align:right;">
                                            <button class="btn btn-default color-paleta2" onclick="validarGuardarOferta();">
                                                Agregar Información Adicional
                                            </button>
                                            <!--id="btnNuevaInfoAdicional" data-toggle="modal" data-target="#divModalInfoAdicional"-->
                                        </div>
                                    </div>

                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ofertaFases" class="col-sm-6">


                <div id="divContenedorFases" class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFases" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#oferta-fases" href="#collapseFases" aria-expanded="true" aria-controls="collapseFases" class="fuente-seccion">
                                Fases de la Oferta
                            </a>
                        </h5>
                    </div>

                    <div id="collapseFases" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFases">
                        <div class="panel-body fuente-pequeña">


                            @foreach (var fase in ((SelectList)ViewBag.FasesOferta).Items)
                            {
                                <p>
                                    <span>
                                        <input type="checkbox" onclick="validarGuardarOferta();"/>
                                    </span>
                                  
                                        <label>@(((ListaValor)fase).Valor)</label>
                                  
                                </p>
                            }


                            @*<button onclick="validarGuardarOferta();" class="btn btn-default color-paleta2">
                                Mostrar fases de la oferta
                            </button>*@
                        </div>
                    </div>


                </div>


            </div>

        </div>


    </div>
</div>
<script>
   

    $(document).ready(function () {
        //$("#divFinalCabecera").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta2");
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta2");
        $('#PestañaOfertas').css('backgroundColor', '#f00');
        AutoCompleteText('#Cargo', '@Url.Action("ListarCargo", "Empresa")', '#Cargo');
        AutoCompleteText('#AreaEmpresa', '@Url.Action("ListarAreasEmpresa", "Alumno")', '#AreaEmpresa');

        //checkSupportForInputTypeDate();
        $("#FechaFinRecepcionCV").datepicker({ dateFormat: 'dd/mm/yy' });
        
    });

    function validarGuardarOferta() {
        $('#btnGuardarOferta').click();
    }


</script>


