@model UTP.PortalEmpleabilidad.Modelo.Oferta
@using UTP.PortalEmpleabilidad.Modelo


@{
    if (ViewBag.Pantalla == "Empresa")
    {
        Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
        ViewBag.Title = "Oferta Laboral";
    }
    else if (ViewBag.Pantalla == "UTP")
    {
        Layout = "~/Views/UTP/_LayoutUTP.cshtml";
        ViewBag.Title = "Oferta Laboral";
    }

}

<input id="hddIdOferta" type="hidden" value="@Model.IdOferta" />
@Html.HiddenFor(m => m.IdOferta)
<div class="container" style="margin-top:2px;">

    @{
        if (ViewBag.Pantalla == "UTP")
        {
            Html.RenderAction("VistaCabeceraUtp", "UTP");
        }
        else if (ViewBag.Pantalla == "Empresa")
        {
            Html.RenderAction("VistaCabecera", "Empresa");
        }
    }

    <div class="row">
        <div class="col-md-7">

            <div class="panel-group" id="oferta-anuncio" role="tablist" aria-multiselectable="true">
                @Html.Action("VistaOfertaAnuncio", "Empresa", new { oferta = @Model })
            </div>

            <div class="panel-group" id="divContenedorPostulantes" role="tablist" aria-multiselectable="true">
                @using (Ajax.BeginForm("_OfertaPostulanteMoverDeFase", "Empresa", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divActualizarPostulantes", OnComplete = "alertaExito" }))
                {
                    @Html.AntiForgeryToken()

                    <div id="divActualizarPostulantes">
                        @Html.Action("VistaOfertaPostulantes", "Empresa", new { id = @Model.IdOferta, estado = @Model.EstadoOferta, pantalla = @ViewBag.Pantalla })
                    </div>
                }
            </div>
        </div>

        <div class="col-md-5">

            <div class="panel-group" id="oferta-condiciones" role="tablist" aria-multiselectable="true">
                @Html.Action("VistaOfertaCondiciones", "Empresa", new { oferta = @Model, pantalla = ViewBag.Pantalla })
            </div>
            <div class="panel-group" id="oferta-requisito" role="tablist" aria-multiselectable="true">
                @Html.Action("VistaOfertaRequisitos", "Empresa", new { oferta = @Model })
            </div>
            @*<div class="panel-group" id="oferta-administracion" role="tablist" aria-multiselectable="true">
                    @Html.Action("_VistaOfertaAdministracion", "Empresa", new { oferta = @Model, pantalla = ViewBag.Pantalla })

                </div>*@
            @*<div class="panel-group" id="divOfertaMensajes" role="tablist" aria-multiselectable="true">
                    @Html.Action("_ObtenerMensajes", "Mensaje", new { id = @Model.IdOferta })
                </div>*@
            @{
                //Solo si el origen de la pantalla es Empresa se cargan los mensajes:
                if (ViewBag.Pantalla == "Empresa")
                {
                    <!--INICIO-->
                    <div class="panel-group" id="grupoMensajes" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne2" style="padding: 2px 2px 2px 6px;">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#grupoMensajes" href="#collapseMensajes" aria-expanded="true" aria-controls="collapseOne2" class="fuente-seccion">
                                        Mensajes
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseMensajes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                                <div class="panel-body">
                                    @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_EMPRESA_OFERTA, idOferta = Model.IdOferta })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN-->

                    <div class="panel-group" role="tablist" aria-multiselectable="true" id="divListaMensajes">
                        <!--Se envía el parámetro para distinguir el funcionamiento de cada página. [{MODULO}_{PAGINA}]-->

                    </div>
                }
            }

        </div>
    </div>
</div>

<!--Modal para la encuesta-->
<div class="modal" id="divModalEncuesta" tabindex="-1" role="dialog" aria-labelledby="Encuesta" aria-hidden="true">

    @*using (Ajax.BeginForm("
        Oferta", "Empresa", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "cerrarModal" }))*@
    @using (Html.BeginForm("CerrarOferta", "Empresa", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div id="divCrearEncuestaContenedor" class="modal-dialog">

        </div>
    }
</div>




<script>
    $(document).ready(function () {

        //Se condiciona la cabecera:
        if ('@ViewBag.Pantalla' == "Empresa") {
            $("#divFinalCabeceraEmpresa").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta2");
            $('#PestañaOfertas').css('backgroundColor', '#f00');
        }
        else
            if ('@ViewBag.Pantalla' == "UTP") {
                //alert("ingreso al if");
                $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta5 color-paleta6 color-paleta7 color-paleta8 color-paleta9").addClass("color-paleta4")
            }


        //Ordenamiento por fecha.
        $('#colFecha').on('click', function () {
            //debugger;
            console.log('click en colFecha');

            //Se obtiene el Id y el estado:
            var idOferta = $('#hddIdOferta').val();
            var estadoOferta = $('#hddEstadoOfertaIdListaValor').val();
            var columnActual = $('#hddColumnaActual').val();
            var ordenActual = $('#hddOrdenActual').val();

            var orden = ordenActual == 'ASC' ? 'DESC' : 'ASC';

            //Se llama al controlador pasando los parámetros para ordenar las columnas.
            var url = '@Url.Action("VistaOfertaPostulantes", "Empresa")' + '?id=' + idOferta + '&columna=Fecha&orden=' + orden + '&estado=' + estadoOferta;
            $.get(url, function (data) {
                $('#divActualizarPostulantes').html(data);
            });

        });

    });

    function alertaExito() {
        alert('Los postulantes cambiaron de fase con éxito');
    }

    function mostrarEncuesta(idOferta) {

        var url = '@Url.Action("CerrarOferta", "Empresa")' + "?idOferta=" + idOferta;

        $.get(url, function (data) {

            $('#divCrearEncuestaContenedor').html(data);
            $.validator.unobtrusive.parse('#divCrearEncuestaContenedor');
            $('#divModalEncuesta').modal('show');
        }).error(function (err) { console.log(err); alert(err); });
    };

    //Script para cerrar el modal cuando la actualización por ajax termina.
    function cerrarModal() {
        $('.modal.in').modal('hide');
    }
</script>