@model List<UTP.PortalEmpleabilidad.Modelo.OfertaSectorEmpresarial>

<div class="row">
    <div class="col-md-12">
        <strong class="sub-titulo-seccion">Expericencia por Sector Empresarial</strong>
    </div>
</div>
<br />

@foreach (var item in Model)
{

<div class="row">

    <div class="col-sm-7">
        <table class="fuente-pequeña">
            <tr>
                <td class="celda-nombre">Sector</td>
                <td class="celda-datos">@item.SectorEmpresarial.Valor</td>
            </tr>
            <tr>
                <td class="celda-nombre">Años de experiencia</td>
                <td class="celda-datos">@item.AniosTrabajados</td>
            </tr>
            <tr>
                <td class="celda-nombre">Excluyente</td>
                <td class="celda-datos"><input type="checkbox" checked=@item.ExperienciaExcluyente disabled /></td>
            </tr>            
        </table>
    </div>
    <div class="col-sm-5">
        <button class="btn btn-primary btn-sm" onclick="editarSector(@item.IdOfertaSectorEmpresarial);">Editar</button>
        <button class="btn btn-danger btn-sm" onclick="eliminarSector(@item.IdOfertaSectorEmpresarial);">Eliminar</button>
    </div>
</div>
<br />
}

<div class="row">
    <div class="col-sm-12" style="text-align:right;">
        <button id="btnNuevoSectorEmpresarial" data-toggle="modal" data-target="#divModalSectorEmpresarial" onclick="crearSector(@ViewBag.IdOferta)"  class="btn btn-default color-paleta2">
            Agregar Experiencia por Sector
        </button>
    </div>
</div>


