@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.OfertaEstudio>


<div class="row">
    <div class="col-md-12">
        <strong class="sub-titulo-seccion">Estudios</strong>
    </div>
</div>
<br />

@foreach (var item in Model)
{
    <div class="row fuente-pequeña">
        <div class="col-sm-7">
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">Tipo</td>
                    <td class="celda-datos">@item.TipoDeEstudio.Valor</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Estudio</td>
                    <td class="celda-datos">@item.Estudio</td>
                </tr>

                <tr>
                    <td class="celda-nombre">Estado</td>
                    <td class="celda-datos">@item.EstadoDelEstudio.Valor</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Ciclo mínimo</td>
                    <td class="celda-datos">@item.CicloEstudio</td>
                </tr>
                <tr>
                    <td class="celda-nombre"></td>
                    <td class="celda-datos"></td>
                </tr>
            </table>
        </div>
        @*<div class="col-sm-5">
                <br />
                <button class="btn btn-primary btn-sm" onclick="editarEstudio(@item.IdOfertaEstudio);" data-id="@item.IdOfertaEstudio">Editar</button>
                <button class="btn btn-danger btn-sm"  onclick="eliminarEstudio(@item.IdOfertaEstudio);" data-id="@item.IdOfertaEstudio">Eliminar</button>
            </div>*@
        <div class="col-sm-5">
            <button class="btn btn-default fa fa-pencil color-paleta2" onclick="editarEstudio(@item.IdOfertaEstudio);" data-id="@item.IdOfertaEstudio"></button>
            &nbsp;&nbsp;
            <button class="btn btn-default fa fa-remove color-paleta2" onclick="eliminarEstudio(@item.IdOfertaEstudio);" data-id="@item.IdOfertaEstudio"></button>
        </div>
    </div>
    <br />
}

<div class="row">
    <div class="col-sm-12" style="text-align:right;">
        <button id="btnNuevoEstudio" data-toggle="modal" data-target="#divModalEstudio" onclick="crearEstudio(@ViewBag.IdOferta)" class=" btn btn-default color-paleta2">
            Agregar un Estudio específico
        </button>
    </div>
</div>

