@model UTP.PortalEmpleabilidad.Modelo.OfertaEstudio

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="Estudio">Estudio específico</h4>
    </div>
    <div class="modal-body">

        @Html.HiddenFor(m => m.IdOferta)
        @Html.HiddenFor(m => m.IdOfertaEstudio)
        
        <div class="row">
            <div class="col-md-12">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Tipo</span>
                    @Html.DropDownListFor(m => m.TipoDeEstudioIdListaValor, null, "- Seleccione Tipo de Estudio -", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.TipoDeEstudioIdListaValor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" id="TipoUniversitario" style="display:none;">
            <div class="col-md-12">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Carrera</span>
                    @*@Html.TextBoxFor(m => m.Estudio, new { @class = "form-control", @id = "estudio", @placeholder = "Nombre del estudio", @style = "z-index:150000;" })*@
                    @Html.DropDownListFor(m => m.Estudio, null, "- Selecciones Carrera -", htmlAttributes: new { @class = "form-control", @id = "Estudio" })
                </div>
                @Html.ValidationMessageFor(m => m.Estudio, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" id="TipoOtrosEstudios" >
            <div class="col-md-12">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Estudio</span>
                    @Html.TextBoxFor(m => m.EstudioTexto, new { @class = "form-control", @id = "estudio", @placeholder = "Nombre del estudio", @style = "z-index:150000;" })
                </div>
                @Html.ValidationMessageFor(m => m.EstudioTexto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Estado</span>
                    @Html.DropDownListFor(m => m.EstadoDelEstudioIdListaValor, null, "- Seleccione Estado del Estudio -", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.EstadoDelEstudioIdListaValor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Ciclo<br />Mínimo</span>
                    @Html.TextBoxFor(m => m.CicloEstudio, new { @class = "form-control", @placeholder = "Ciclo mínimo del Estudio" })
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-default color-paleta2 fuente-pequeña" style="color: white; margin-bottom: 10px;">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5").addClass("color-paleta3");
        $('#PestañaAlumno').css('backgroundColor', '#f00');
        @*AutoCompleteText('#estudio', '@Url.Action("ListarTipoEstudio", "Empresa")', '#estudio');*@
   
    
        var TipoDeEstudioIdListaValor = $("#TipoDeEstudioIdListaValor").val()
        if (TipoDeEstudioIdListaValor == Constantes.TIPO_ESTUDIO_PRINCIPAL) {
            $("#TipoUniversitario").css('display', 'block');  //los combos se muestran
            $("#TipoOtrosEstudios").css('display', 'none'); //las cajas se ocultan
        }
        else {
            $("#TipoUniversitario").css('display', 'none'); //los combos se ocultan
            $("#TipoOtrosEstudios").css('display', 'block'); //las cajas se muestran
            AutoCompleteText('#estudio', '@Url.Action("ListarEstudio", "Empresa")', '#estudio', 'option', 'appendTo', '.eventInsForm');
        }
    });
   


</script>

<script>
    $(document).ready(function () {

        $('#TipoDeEstudioIdListaValor').on('change', function () {
            var TipoDeEstudioIdListaValor = $("#TipoDeEstudioIdListaValor").val()
            if (TipoDeEstudioIdListaValor == Constantes.TIPO_ESTUDIO_PRINCIPAL) {
                
                $("#TipoUniversitario").css('display', 'block');  //los combos se muestran
                $("#TipoOtrosEstudios").css('display', 'none'); //las cajas se ocultan
            }
            else {
               
                $("#TipoUniversitario").css('display', 'none'); //los combos se ocultan
                $("#TipoOtrosEstudios").css('display', 'block'); //las cajas se muestran
                AutoCompleteText('#estudio', '@Url.Action("ListarEstudio", "Empresa")', '#estudio', 'option', 'appendTo', '.eventInsForm');
            }

        }
        )

    });
</script>