@model List<UTP.PortalEmpleabilidad.Modelo.OfertaInformacionAdicional>

<div class="row">
    <div class="col-md-12">
        <strong class="sub-titulo-seccion">Información Adicional</strong>
    </div>
</div>
<br />

@foreach (var item in Model)
{

<div class="row">

    <div class="col-sm-7">
        <table class="fuente-pequeña">
            <tr>
                <td class="celda-nombre">Tipo</td>
                <td class="celda-datos">@item.TipoConocimiento.Valor</td>
            </tr>
            <tr>
                <td class="celda-nombre">Conocimiento</td>
                <td class="celda-datos">@item.Conocimiento</td>
            </tr>
            <tr>
                <td class="celda-nombre">Nivel</td>
                <td class="celda-datos">@item.NivelConocimiento.Valor</td>
            </tr>
            <tr>
                <td class="celda-nombre">Años de conocimiento</td>
                
                    @if (item.AniosExperiencia == 0 || item.AniosExperiencia == null) 
                    {
                         <td class="celda-datos"></td>
                    }
                    else
                    {
                        <td class="celda-datos">@item.AniosExperiencia</td>
                    }                            
            </tr>           
        </table>
    </div>
    @*<div class="col-sm-5">
        <br />
        <button class="btn btn-primary btn-sm" onclick="editarInfoAdicional(@item.IdOfertaInformacionAdicional);">Editar</button>
        <button class="btn btn-danger btn-sm" onclick="eliminarInfoAdicional(@item.IdOfertaInformacionAdicional);">Eliminar</button>
    </div>*@    

    <div class="col-sm-5">
        <label class="btn btn-default fa fa-pencil color-paleta2" onclick="editarInfoAdicional(@item.IdOfertaInformacionAdicional);"></label>
        &nbsp;&nbsp;
        <label class="btn btn-default fa fa-remove color-paleta2" onclick="eliminarInfoAdicional(@item.IdOfertaInformacionAdicional);"></label>
    </div>


</div>
    <br />
}

<div class="row">
    <div class="col-sm-12" style="text-align:right;">
        <label  class="btn btn-default color-paleta2" onclick="crearInfoAdicional(@ViewBag.IdOferta)">
            Agregar Información Adicional
        </label>
        <!--id="btnNuevaInfoAdicional" data-toggle="modal" data-target="#divModalInfoAdicional"-->
    </div>
</div>