@model List<UTP.PortalEmpleabilidad.Modelo.OfertaInformacionAdicional>

<div class="row">
    <div class="col-md-12">
        <strong class="sub-titulo-seccion">Información Adicional</strong>
    </div>
</div>
<br />

@foreach (var item in Model)
{
    <table class="fuente-pequeña">
        <tr>
            <td class="celda-nombre">Tipo</td>
            <td class="celda-datos">@item.TipoConocimiento.Valor</td>
        </tr>
        <tr>
            <td class="celda-nombre">Conocimiento</td>
            <td class="celda-datos">@item.Conocimiento</td>
        </tr>
        <tr>
            <td class="celda-nombre">Nivel</td>
            <td class="celda-datos">@item.NivelConocimiento.Valor</td>
        </tr>
        <tr>
            <td class="celda-nombre">Años de experiencia</td>
            <td class="celda-datos">@item.AniosExperiencia</td>
        </tr>
        <tr>
            <td class="celda-nombre"></td>
            <td class="celda-datos">
                <p class="fui fa-2x" style="color:gray;">
                    <button class="btn btn-primary" onclick="editarInfoAdicional(@item.IdOfertaInformacionAdicional);">1</button>
                    1 l
                </p>
            </td>
        </tr>
    </table>
    <br />
}

<div class="row">
    <div class="col-sm-12" style="text-align:right;">
        <button  class="btn btn-default color-paleta2" onclick="crearInfoAdicional(@ViewBag.IdOferta)">
            Agregar Información Adicional
        </button>
        <!--id="btnNuevaInfoAdicional" data-toggle="modal" data-target="#divModalInfoAdicional"-->
    </div>
</div>