@model UTP.PortalEmpleabilidad.Modelo.OfertaInformacionAdicional

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="Estudio">Información adicional</h4>
    </div>
    <div class="modal-body">

        @Html.HiddenFor(m => m.IdOferta)
        @Html.HiddenFor(m => m.IdOfertaInformacionAdicional)

   
        <div class="row">
            <div class="col-md-12">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Tipo</span>                    
                    @Html.DropDownListFor(m => m.TipoConocimientoIdListaValor, null, "- Seleccione Tipo de Información Adicional -", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TipoConocimientoIdListaValor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Nombre</span>                    
                    @Html.TextBoxFor(m => m.Conocimiento, new { @class = "form-control", @placeholder = "Nombre del Conocimiento", @Id = "Conocimientos"})
                    @Html.ValidationMessageFor(m => m.Conocimiento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Nivel</span>                    
                    @Html.DropDownListFor(m => m.NivelConocimientoIdListaValor, null, "- Seleccione Nivel de Conocimiento -", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NivelConocimientoIdListaValor, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Años de<br />Conocimiento</span>                    
                    @Html.TextBoxFor(m => m.AniosExperiencia, new { @class = "form-control", @placeholder = "Años de Conocimiento" })
                </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-default color-paleta4 fuente-pequeña" style="color: white; margin-bottom: 10px;">
                    Guardar
                </button>                
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>


<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5").addClass("color-paleta3");
        $('#PestañaAlumno').css('backgroundColor', '#f00');
        //se obtiene el valor del combo
        var codigoTipoConocimiento = $('#TipoConocimientoIdListaValor').val();

        //ESE ES LA CAJA, LA ACCION Y EL CONTROLADOR
        AutoCompleteTextDemo('#Conocimientos', '@Url.Action("ListarDatosEspecificos", "OfertaInformacionAdicional")' + '?codigoTipo=' + codigoTipoConocimiento, '#Conocimientos', '#TipoConocimientoIdListaValor', 'option', 'appendTo', '.eventInsForm');




    });



</script>