
@model UTP.PortalEmpleabilidad.Modelo.UTP.VistaPanelCabeceraUTP 

 

<div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne" style="padding: 2px 2px 2px 6px;">
            <div class="panel-title">
                <div data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="fuente-seccion">
                    <span role="button">Usuario: @Model.Nombre (@Model.Usuario)</span>
                    <span class="glyphicon pull-right" role="button"></span>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

                <div class="col-md-6 fuente-pequeña">
                    <table>
                        <tr>
                            <td class="celda-nombre">Usuario:</td>
                            <td class="celda-datos">@Model.Usuario</td>
                        </tr>
                        <tr>
                            <td class="celda-nombre">Nombre:</td>
                            <td class="celda-datos">@Model.Nombre</td>
                        
                        </tr>
                    </table>
                </div>

                <div class="col-md-6 fuente-pequeña">
                    @*DNI <strong>89226681</strong><br />*@
                    <strong>@Model.CorreoElectronico</strong><br />
                    <strong>@Model.TelefonoCelular</strong>
                </div>


            </div>
        </div>
    </div>

</div>
