@using UTPPrototipo.Common
@model IEnumerable<UTPPrototipo.Models.ViewModels.UTP.VistaEmpresasPendientes>
@using UTPPrototipo.Utiles
@using UTP.PortalEmpleabilidad.Modelo
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}

    <h5>Empresas por Activar</h5>

    <div class="row grilla1-cabecera color-paleta1">
        <div class="col-sm-4">
            Fecha Registro
        </div>
        <div class="col-sm-8">
            Empresa
        </div>
    </div>

@foreach (var item in @Model)
{
    <div class="row grilla1-linea">
        <div class="col-sm-4">
            @Html.FormatoFrecuencia(@item.FechaCreacion)
        </div>
        <div class="col-sm-8">
            @*<a href="../UTP/RegistroEmpresa">@item.NombreComercial</a>*@            
            @*@Html.ActionLink(@item.NombreComercial, "VerDetalleEmpresa", new { id = item.IdEmpresa })*@
            @*@Html.ActionLink(@item.NombreComercial, "VerDetalleEmpresa", new { id = Helper.Encriptar(item.IdEmpresa.ToString()) }, htmlAttributes: new { target = "_blank" })*@
            @Html.ActionLink(@item.NombreComercial, "VerDetalleEmpresa", new { id = Helper.Encriptar(item.IdEmpresa.ToString()) }, null)
       </div>
    </div>
}
   @*<div>
   
    <nav class="navbar-right">
        <ul class="pagination">
            @{
                for (int i = 1; i <= paginacion.TotalPaginas; i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {
                        <li><a href="#" onclick="buscarEmpresasPendientes('@i');">@i</a></li>
                    }
                }
            }
        </ul>
    </nav>
       </div>*@
<nav class="navbar-right">
    <ul class="pagination">


        @{
            //La paginación avanzada no existe para la búsqueda de oferta. Se deja el bloque de paginación avanzada para efectos de desarrollo futuro de esa funcionalidad.
            int i1 = paginacion.NroPaginaActual - 2;
            if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
            if (i1 < 1) { i1 = 1; }
            if (paginacion.NroPaginaActual > 1)
            {

                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                    {
                        <a href="#" onclick="buscarEmpresasPendientes('1');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    }
                    else
                    {
                        <a href="#" onclick="buscarEmpresasPendientesAvanzada('1');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    }
                </li>
                if (paginacion.NroPaginaActual - 5 >= 1)
                {
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarEmpresasPendientes('@(paginacion.NroPaginaActual - 5)');">
                                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarEmpresasPendientesAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                            </a>
                        }
                    </li>
                }
            }

            for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
            {
                if (i == paginacion.NroPaginaActual)
                {
                    <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                }
                else
                {
                    if (i > 0)
                    {
                        if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <li><a href="#" onclick="buscarEmpresasPendientes('@i');">@i</a></li>
                        }
                        else
                        {
                            <li><a href="#" onclick="buscarEmpresasPendientesAvanzada('@i');">@i</a></li>
                        }
                    }
                }
            }
            if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
            {
                int i2 = paginacion.NroPaginaActual + 5;
                if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                if (i2 < paginacion.TotalPaginas)
                {
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarEmpresasPendientes('@i2');">
                                <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarEmpresasPendientesAvanzada('@i2');">
                                <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                            </a>
                        }
                    </li>
                }
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                    {
                        <a href="#" onclick="buscarEmpresasPendientes('@paginacion.TotalPaginas');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    }
                    else
                    {
                        <a href="#" onclick="buscarEmpresasPendientesAvanzada('@paginacion.TotalPaginas');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    }
                </li>
            }
        }

    </ul>

</nav>
<hr />

