@using UTPPrototipo.Common
@model IEnumerable<UTPPrototipo.Models.ViewModels.UTP.VistaEmpresasPendientes>

@using UTP.PortalEmpleabilidad.Modelo
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}

    <h5>Empresas por Activar</h5>

    <div class="row grilla1-cabecera color-paleta1">
        <div class="col-sm-4">
            Fecha Registro
        </div>
        <div class="col-sm-8">
            Empresa
        </div>
    </div>

@foreach (var item in @Model)
{
    <div class="row grilla1-linea">
        <div class="col-sm-4">
            @Html.FormatoFrecuencia(@item.FechaCreacion)
        </div>
        <div class="col-sm-8">
            @*<a href="../UTP/RegistroEmpresa">@item.NombreComercial</a>*@            
            @Html.ActionLink(@item.NombreComercial, "VerDetalleEmpresa", new { id = item.IdEmpresa })
        </div>
    </div>
}
   <div>
    <!--Paginación-->
    <nav class="navbar-right">
        <ul class="pagination">
            @{
                for (int i = 1; i <= paginacion.TotalPaginas; i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {
                        <li><a href="#" onclick="buscarEmpresasPendientes('@i');">@i</a></li>
                    }
                }
            }
        </ul>
    </nav>
</div>

<hr />

