<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Empleabilidad: UTP - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/animate.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />*@

  


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/jsEmpresa.js"></script>
    <!--Estilo para el datepicker con jquery-->






<style>
    .Boton_pestana {
    border-radius: 10px 10px 0px 0px;
    width: 80px;
    margin: 0px 0px 0px 2px;
    border-bottom: 0px;
    padding: 2px 1px 2px 1px;
    font-size: 12px;
    }
@Html.Raw("@")media screen and (max-width: 992px) {
    .Boton_pestana {
        border-radius: 6px 6px 0px 0px;
        font-size: 10px;
        width: 66px;
        margin-left:1px;
        }

}

</style>
    <meta name="description" content="The description of my page" />
</head>
<body class="cuerpo-zona-alumno">
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgb(240, 240, 240);border:0px;">
        <div class="container">

            <a href="../UTP/Index"><img src="~/img/LogoUTPPE2.png" class="LogoUTPPE2" /></a>
            <div class="navbar-header posicion-menu">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin: 3px 5px 3px 0px">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" style="border:0px;background-color:transparent;">
                <ul class="nav navbar-nav">
                    <li>
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta1" href="..\UTP\Index" style="padding: 2px 0px 2px 0px;color:white;">Mi Portal</a>*@
                        @*@Html.ActionLink("Mi Portal", "Index", null, new { @class = "btn btn-default navbar-btn Boton_pestana color-paleta1", @style = "padding: 2px 0px 2px 0px; color: white;" })*@
                        <a class="btn btn-default navbar-btn Boton_pestana color-paleta1" href=@Url.Action("Index", "UTP") style="padding: 2px 0px 2px 0px; color: white;">Mi Portal</a>
                    </li>
                    <li>
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta2" href="..\UTP\Empresas" style="padding: 2px 0px 2px 0px;color:white;">Empresas</a>*@
                        @*@Html.ActionLink("Empresas", "Empresas", null, new { @class = "btn btn-default navbar-btn Boton_pestana color-paleta2", @style = "padding: 2px 0px 2px 0px; color: white;" })*@
                        <a class="btn btn-default navbar-btn Boton_pestana color-paleta2" href=@Url.Action("Empresas", "UTP") style="padding: 2px 0px 2px 0px; color: white;">Empresas</a>
                    </li>
                    <li>
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta3" href="..\UTP\Alumnos" style="padding: 2px 0px 2px 0px;color:white;">Alumnos</a>*@

                        <a class="btn btn-default navbar-btn Boton_pestana color-paleta3" href=@Url.Action("Alumnos", "UTP") style="padding: 2px 0px 2px 0px;color:white;">Alumnos</a>


                    </li>
                    <li>
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta4" href="..\UTP\Oferta" style="padding: 2px 0px 2px 0px; color: white;">Ofertas</a>*@
                        <a class="btn btn-default navbar-btn Boton_pestana color-paleta4" href=@Url.Action("Ofertas", "UTP") style="padding: 2px 0px 2px 0px; color: white;">Ofertas</a>

                    </li>
                    <li>

                        @*@Html.ActionLink("Eventos", "Eventos", null, new { @class = "btn btn-default navbar-btn Boton_pestana color-paleta5", @style = "padding: 2px 0px 2px 0px; color: white;" })*@
                        <a class="btn btn-default navbar-btn Boton_pestana color-paleta5" href=@Url.Action("Eventos", "UTP") style="padding: 2px 0px 2px 0px; color: white;">Eventos</a>
                    </li>
                    <li>
                        <a class="btn btn-default navbar-btn Boton_pestana color-paleta6" href=@Url.Action("Reportes", "UTP") style="padding: 2px 0px 2px 0px; color: white;">Reportes</a>
                    </li>
                    <li>
                        @*<a class="btn btn-default navbar-btn Boton_pestana color-paleta7" href="..\UTP\Portal" style="padding: 2px 0px 2px 0px; color: white;">Contenido</a>*@
                        <a class="btn btn-default navbar-btn Boton_pestana color-paleta7" href=@Url.Action("Portal", "UTP") style="padding: 2px 0px 2px 0px; color: white;">Contenido</a>
                    </li>
                    <li>
                        <a class="btn btn-default navbar-btn Boton_pestana color-paleta8" href=@Url.Action("Sistema", "UTP") style="padding: 2px 0px 2px 0px; color: white;">Sistema</a>
                    </li>
                    <li>
                        <a class="btn btn-default navbar-btn Boton_pestana color-paleta9" href=@Url.Action("Convenios", "UTP") style="padding: 2px 0px 2px 0px; color: white;">Convenios</a>
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right" style="padding-right: 15px; ">
                    @* @Html.ActionLink("Log Out", "Logout", "UTP")*@
                    <li>
                        <a href=@Url.Action("Index","Home") class="fui fa-2x menuOpcionesAd" style="padding: 2px 3px 0px 8px"><span class="color-icono-paleta2">%</span></a>
                    </li>
                    <li>
                        <a href="https://es-es.facebook.com/EmpleabilidadUTP" target="_blank" class="fui fa-2x menuOpcionesAd" style=" padding:2px 3px 0px 8px;"><span class="color-icono-facebook">)</span></a>
                    </li>
                    <li>
                        @*<a href="#" class="fui fa-2x"  style=" padding:2px 10px 0px 10px;"><span class="color-icono-paleta2">*</span></a>*@
                        <a href=@Url.Action("Logout", "UTP") class="fui fa-2x menuOpcionesAd" style=" padding:2px 10px 0px 10px;"><span class="color-icono-paleta2">*</span></a>

                    </li>
                </ul>

            </div>
            <div id="divFinalCabecera" class="final-cabecera color-paleta1"></div>
        </div>
    </div>
    <!--<div class="container body-content">-->
    <div>
        @RenderBody()

        <footer style="background-color:rgb(131, 131, 129);">
            <div class="container">
                <p style="text-align:center;color:white;font-size:16px;">
                    Universidad Tecnológica del Perú
                </p>
                @*<p style="text-align:center;color:white;font-size:10px;padding-bottom:0px;padding-top:0px;">
                    Esquina Av. 28 de Julio y Av. Pettit Thouars, Lima Perú | teléfono: 315-9600 e-mail: admision@utp.edu.pe
                    Servicio de Atención al Estudiante (SAE): <a style="color:white;" href="http://sae.utp.edu.pe">sae.utp.edu.pe</a>
                </p>*@
                <p style="text-align:center;color:white;font-size:10px;">
                    @*Campus Chiclayo: Esquina Prol. Augusto B. Leguía con Av. Herman Meiner | teléfono: (074) 622121 | Informes: Calle San José 720 - teléfono: (074) 624 998 | e-mail: admisionchiclayo@utp.edu.pe*@
                    Mesa de Ayuda: Teléfono 01 315-9606 | <a href="http://mesadeayuda.utp.edu.pe" style="color:white;">mesadeayuda.utp.edu.pe</a>
                </p>
                <p style="text-align:center;color:white;font-size:14px;">
                    Copyright © 2015 Universidad Tecnológica del Perú | <a href="@Url.Action("PoliticasDePrivacidad", "Home")" style="color:white;">Política de Privacidad</a> | <a href="@Url.Action("TerminosDeUso", "Home")" style="color:white;">Términos de Uso</a> | <a href="@Url.Action("FAQ", "Home")" style="color:white;">FAQ</a>
                    @*<a href="../Home/Contacto" style="color:white;">Contáctenos</a>*@
                </p>
            </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>





    <script src="~/Scripts/carga.asincrona.js"></script>
    <script>site.baseUrl = "@Url.Content("~/").TrimEnd('/')";</script>

    <!--El script calendario.js es necesario para mostrar las fechas en español y agrega una validación para las fechas en Chrome para que sean dd/mm/yyyy -->
    <script src="~/Scripts/calendario.js"></script>
    @*    @RenderSection("scripts", required: false)*@
</body>
</html>

<script>

    function CargarPOSTNull(id, link) {
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            dataType: 'html'
        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
            ShowModal("#" + id);
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);

        })
    }
    function CargarPOST(id, link, entidad) {
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(entidad),
            dataType: 'html'
        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);

        })
    }


    function CargarGET(id, link) {
        $.ajax({
            url: link,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
        })
        .error(function (xhr, status) {
            console.log(xhr.statusText);
            console.log(status);
        })
    }


    function AutoComplete(inputsearch, urlsearch, inputtext, inputid) {
        alert(1);
        $(inputsearch).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: urlsearch,
                    data: "{ 'query': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(data);
                            return {
                                value: item.Label,
                                id: item.Value
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 1,
            select: function (even, ui) {
                $(inputid).val(ui.item.id);
                $(inputtext).val(ui.item.value);

                alert($(inputid).val());
                alert($(inputtext).val());

            }
        });
    }
    function AutoCompleteText(inputsearch, urlsearch, inputtext) {

        console.log(inputsearch);
        console.log(urlsearch);
        console.log(inputtext);

        $(inputsearch).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: urlsearch,
                    data: "{ 'query': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(data);
                            return {
                                value: item.Label,
                                id: item.Value
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 1,
            select: function (even, ui) {
                $(inputtext).val(ui.item.value);

            }
        });
    }
    function AutoCompleteTextVarios(inputsearch, urlsearch, inputtext,tipo) {
        $(inputsearch).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: urlsearch,
                    data: "{ 'query': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            //console.log(data);

                            return {
                                value: item.Label,
                                id: item.Value
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 1,
            select: function (even, ui) {
                $(inputtext).val(ui.item.value);
                if (tipo == "A") cargarDatosAlumno(ui.item.id);
                if (tipo == "E") cargarDescripcionEmpresa(ui.item.id);
                //console.log('seleccionado = ' + ui.item.id);
            }
        });
    }


    function AutoCompleteTextDemo(inputsearch, urlsearch, inputtext, combo) {

        console.log(inputsearch);
        console.log(urlsearch);
        console.log(combo);

        //var codigoTipoConocimiento = $('#TipoConocimientoIdListaValor').val();


        $(inputsearch).autocomplete({
            source: function (request, response) {
                console.log(request);
                var codigoTipoConocimiento = $('#TipoConocimientoIdListaValor').val();
                $.ajax({
                    url: urlsearch,
                    data: "{ 'query': '" + request.term + "', 'codigoTipo': '" + codigoTipoConocimiento + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(data);
                            return {
                                value: item.Label,
                                id: item.Value
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 1,
            select: function (even, ui) {
                $(inputtext).val(ui.item.value);

            }
        });
    }

    function AutoCompleteTextBuscarDescripcion(inputsearch, urlsearch, inputtext) {
        $(inputsearch).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: urlsearch,
                    data: "{ 'query': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            //console.log(data);

                            return {
                                value: item.Label,
                                id: item.Value
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 1,
            select: function (even, ui) {
                $(inputtext).val(ui.item.value);
                cargarDescripcion(ui.item.id);
                console.log('seleccionado = ' + ui.item.id);
            }
        });
    }

</script>


