@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Lista>

<h6>Listas de Valores</h6>

<div class="row grilla1-cabecera color-paleta8">
    <div class="col-sm-1">ID</div>
    <div class="col-sm-3">Nombre</div>
    <div class="col-sm-7">Descripción</div>
    <div class="col-sm-1">Modificable</div>

</div>
@foreach (var item in Model)
{
<div class="row grilla1-linea">
    <div class="col-sm-1">@item.IDLista</div>
   

    @*<div class="col-sm-3"><a href="../UTP/Lista">@item.NombreLista</a></div>*@

    <div class="col-sm-3">
  @Html.ActionLink(@item.NombreLista, "Lista", new { id = item.IDLista })
    </div>


    
   

    <div class="col-sm-7">@item.DescripcionLista</div>
    <div class="col-sm-1">@item.Modificable</div>

</div>
}

<br />
<div class="col-sm-12" style="text-align:right;">
    @*<button class="btn btn-default color-paleta8" data-toggle="modal" data-target="#Nueva-lista">Nueva Lista de Valorespppp</button>*@

    <button class="btn btn-default color-paleta8" onclick="ListaValorPadreInsertar();">Nueva Lista de Valorespppp</button>
</div>