@using UTPPrototipo.Common
@using UTPPrototipo.Utiles

@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.OfertaUTP>

@using UTP.PortalEmpleabilidad.Modelo

@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}
<h5 class="clearfix">Ofertas <button type="button" class="btn btn-primary pull-right fuente-pequeña" style="margin-top: -12px;" onclick="OfertasExportar()"><span class="fa fa-download"></span></button></h5>
<div class="row grilla1-cabecera color-paleta2">
    <div class="col-sm-1">
        Fecha Pub
    </div>
    <div class="col-sm-2">
        Empresa
    </div>
    <div class="col-sm-1">
        Clasificación
    </div>
    <div class="col-sm-2">
        Cargo
    </div>
    <div class="col-sm-1">
        # Vacantes
    </div>
    <div class="col-sm-1">
        Ejecutivo
    </div>
    <div class="col-sm-1">
        # CVs
    </div>
    <div class="col-sm-1">
        Fecha Fin Recepción de CVs
    </div>
    <div class="col-sm-1">
        Estado
    </div>
    <div class="col-sm-1">
        Comentarios
    </div>    
</div>

@foreach (var item in Model)
{
    <div class="row grilla1-linea">
        <div class="col-sm-1">
            @Html.FormatoFrecuencia(@item.FechaPublicacion)
        </div>
        <div class="col-sm-2">
            @item.NombreComercial
        </div>
        <div class="col-sm-1">
            @item.Clasificación
        </div>
        <div class="col-sm-2">
            @if (ViewBag.Rol != "ROLUTP")
            {
                @Html.ActionLink(@item.CargoOfrecido, "VerDetalleOferta", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, null)
                <br />                
                @Html.ActionLink("Vista empresa", "Oferta", "Empresa", new { idOfertaCrypt = Helper.Encriptar(item.IdOferta.ToString()), pantallaCrypt = Helper.Encriptar("UTP") }, null)
                <br />               
                @Html.ActionLink(" ", "VerOferta", "Home", new { crypt = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { @class = "fa fa-external-link", title = "Link externo" })
            }
            else
            {
                @item.CargoOfrecido
                <br />
                @Html.ActionLink(" ", "VerOferta", "Home", new { crypt = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { @class = "fa fa-external-link", title = "Link externo" })
            }
        </div>
        <div class="col-sm-1">
            @item.NumeroVacantes
        </div>
        <div class="col-sm-1">
            @item.EjecutivoUTP
        </div>
        <div class="col-sm-1">
            @item.Nrocv
        </div>
        <div class="col-sm-1">
            @item.FechaFinRecepcionCV
        </div>        
        <div class="col-sm-1">
            @item.Estado
        </div>
        <div class="col-sm-1">
            @item.Comentarios
        </div>
    </div>
}
@if (Model.Count() == 0)
{
    <div class="row grilla1-linea">
        <div class="col-sm-12 text-center">
            <h6>No se encontraron resultados.</h6>
        </div>
    </div>
}
<div>
    <!--Paginación-->
    <nav class="navbar-right">
        <ul class="pagination">
            @*@{
                for (int i = 1; i <= paginacion.TotalPaginas; i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {

                        if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                        }
                        else
                        {
                            <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                        }




                    }
                }
}*@
            @{
                int i1 = paginacion.NroPaginaActual - 2;
                if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
                if (i1 < 1) { i1 = 1; }
                if (paginacion.NroPaginaActual > 1)
                {
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarPaginacion('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarPaginacionAvanzada('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                        }
                    </li>
                    if (paginacion.NroPaginaActual - 5 >= 1)
                    {
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarPaginacion('@(paginacion.NroPaginaActual - 5)');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                            }
                        </li>
                    }
                }

                for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {
                        if (i > 0)
                        {
                            if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                            }
                            else
                            {
                                <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                            }
                        }
                    }
                }
                if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
                {
                    int i2 = paginacion.NroPaginaActual + 5;
                    if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                    if (i2 < paginacion.TotalPaginas)
                    {
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarPaginacion('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                            }
                        </li>
                    }
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarPaginacion('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarPaginacionAvanzada('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                        }
                    </li>
                }
            }
        </ul>
    </nav>
</div>