
@using UTPPrototipo.Common
@model IEnumerable<UTPPrototipo.Models.ViewModels.UTP.VistaObtenerEventosUTP>
@using UTP.PortalEmpleabilidad.Modelo
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}
<div class="row grilla1-cabecera color-paleta5">
    <div class="col-sm-2">
        Fecha Evento
    </div>
    <div class="col-sm-2">
        Evento
    </div>
    <div class="col-sm-2">
        Lugar
    </div>
    <div class="col-sm-2">
        Dirección
    </div>
    @*<div class="col-sm-2">
            Expositor
        </div>*@
    <div class="col-sm-2">
        Asistente Esperado
    </div>
</div>

@foreach (var item in Model)
{

    <div class="row grilla1-linea">
        <div class="col-sm-2">
            @item.FechaEvento
        </div>
        <div class="col-sm-2">
            @*@item.NombreEvento*@

            @Html.ActionLink(@item.NombreEvento, "Evento_Editar", new { id = item.IdEvento })
        </div>
        <div class="col-sm-2">
            @item.LugarEvento
        </div>
        <div class="col-sm-2">
            @item.DireccionEvento
        </div>
        @*<div class="col-sm-2">
                @item.Expositor
            </div>*@
        <div class="col-sm-2">
            @item.AsistentesEsperados
        </div>
    </div>
}
@if (Model.Count() == 0)
{
    <div class="row grilla1-linea">
        <div class="col-sm-12 text-center">
            <h6>No se encontraron resultados.</h6>
        </div>
    </div>
}

@*<div>
   
    <nav class="navbar-right">
        <ul class="pagination">
            @{
                for (int i = 1; i <= paginacion.TotalPaginas; i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {
                        <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                    }
                }
            }
        </ul>
    </nav>
</div>*@
    
<nav class="navbar-right">
    <ul class="pagination">


        @{
            //La paginación avanzada no existe para la búsqueda de oferta. Se deja el bloque de paginación avanzada para efectos de desarrollo futuro de esa funcionalidad.
            int i1 = paginacion.NroPaginaActual - 2;
            if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
            if (i1 < 1) { i1 = 1; }
            if (paginacion.NroPaginaActual > 1)
            {
                
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                    {
                        <a href="#" onclick="buscarPaginacion('1');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    }
                    else
                    {
                        <a href="#" onclick="buscarPaginacionAvanzada('1');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    }
                </li>
                if (paginacion.NroPaginaActual - 5 >= 1)
                {
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarPaginacion('@(paginacion.NroPaginaActual - 5)');">
                                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarPaginacionAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                            </a>
                        }
                    </li>
                }
            }

            for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
            {
                if (i == paginacion.NroPaginaActual)
                {
                    <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                }
                else
                {
                    if (i > 0)
                    {
                        if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                        }
                        else
                        {
                            <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                        }
                    }
                }
            }
            if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
            {
                int i2 = paginacion.NroPaginaActual + 5;
                if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                if (i2 < paginacion.TotalPaginas)
                {
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarPaginacion('@i2');">
                                <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarPaginacionAvanzada('@i2');">
                                <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                            </a>
                        }
                    </li>
                }
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                    {
                        <a href="#" onclick="buscarPaginacion('@paginacion.TotalPaginas');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    }
                    else
                    {
                        <a href="#" onclick="buscarPaginacionAvanzada('@paginacion.TotalPaginas');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    }
                </li>
            }
        }

    </ul>

</nav>