

@using UTPPrototipo.Common
@using UTPPrototipo.Utiles
@*@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Alumno.VistaUTPListaAlumno>*@

@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.AlumnoUTP>

@using UTP.PortalEmpleabilidad.Modelo
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}
<h5 class="clearfix">Alumnos <button type="button" class="btn btn-primary pull-right fuente-pequeña" style="margin-top: -12px;" onclick="AlumnosExportar()"><span class="fa fa-download"></span></button></h5> 
<div class="row grilla1-cabecera color-paleta3">

    <div class="col-sm-1">
        Fecha de Registro
    </div>
    <div class="col-sm-2">
        Nombres
    </div>
    <div class="col-sm-2">
        Apellidos
    </div>
    <div class="col-sm-2">
        Carrera
    </div>
    <div class="col-sm-1">
        Ciclo
    </div>
    <div class="col-sm-1">
        Estado
    </div>
    <div class="col-sm-2">
        Cumplimiento de CV
    </div>

</div>
@foreach (var item in Model)
{
    <div class="row grilla1-linea">

        <div class="col-sm-1">
            @*<a href="../UTP/Empresa">@item.FechaRegistro</a>*@
            @*@item.FechaRegistro*@
            @Html.FormatoFrecuencia(@item.FechaperiodoRegistro)
            
        </div>
        <div class="col-sm-2">

            @* <a href="../UTP/VerDetalleAlumno"> @item.Nombre</a>*@


           @* @Html.ActionLink(@item.Nombre, "VerDetalleAlumno", new { id = item.idAlumno })*@
            @*@Html.ActionLink(@item.Nombre, "VerDetalleAlumno", new { id = Helper.Encriptar(item.idAlumno.ToString()) }, htmlAttributes: new { target = "_blank" })*@
            @Html.ActionLink(@item.Nombre, "VerDetalleAlumno", new { id = Helper.Encriptar(item.idAlumno.ToString()) }, null)
            @*@item.Nombre*@
        </div>
        <div class="col-sm-2">
            @item.Apellidos
        </div>
        <div class="col-sm-2">
            @item.Carrera
        </div>
        <div class="col-sm-1">
            @item.Ciclo

        </div>
        <div class="col-sm-1">
            @item.EstadoAlumno

        </div>
        <div class="col-sm-2">
            <div class="progress">




                @if (@item.completitud >= 80)
                {

                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@item.completitud" aria-valuemin="0" aria-valuemax="100" style="width: @item.completitud%;">
                        @item.completitud%
                    </div>



                }
                else if (@item.completitud < 80 && @item.completitud >= 60)
                {

                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@item.completitud" aria-valuemin="0" aria-valuemax="100" style="width: @item.completitud%;">
                        @item.completitud%
                    </div>
                }
                else if (@item.completitud < 60)
                {

                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@item.completitud" aria-valuemin="0" aria-valuemax="100" style="width: @item.completitud%;">
                        @item.completitud%
                    </div>
                }
            </div>
        </div>
    </div>
}
@if (Model.Count() == 0)
{
    <div class="row grilla1-linea">
        <div class="col-sm-12 text-center">
            <h6>No se encontraron resultados.</h6>
        </div>
    </div>
}
<div>
    
    <nav class="navbar-right">
        <ul class="pagination">
            @*@{
                
                for (int i = (paginacion.NroPaginaActual - 2); (i <= paginacion.TotalPaginas && i <=(paginacion.NroPaginaActual + 2)); i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {
                        if (i > 0)
                        {
                            <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                        }
                        else
                        {
                            <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                        }
                    }
                }
            }*@
            @{
                int i1 = paginacion.NroPaginaActual - 2;
                if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
                if (i1 < 1) { i1 = 1; }
                if (paginacion.NroPaginaActual > 1)
                {
                    
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarPaginacion('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarPaginacionAvanzada('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                        }
                    </li>
                    if (paginacion.NroPaginaActual - 5 >= 1)
                    {
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarPaginacion('@(paginacion.NroPaginaActual - 5)');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                            }
                        </li>
                    }
                }

                for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {
                        if (i > 0)
                        {
                            if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                            }
                            else
                            {
                                <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                            }
                        }
                    }
                }
                if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
                {
                    int i2 = paginacion.NroPaginaActual + 5;
                    if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                    if (i2 < paginacion.TotalPaginas)
                    {
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarPaginacion('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                            }
                        </li>
                    }
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarPaginacion('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarPaginacionAvanzada('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                        }
                    </li>
                }
            }
        </ul>
    </nav>

</div>
<br />