@using UTPPrototipo.Common
@using UTPPrototipo.Utiles
@model IEnumerable<UTPPrototipo.Models.ViewModels.UTP.VistaOfertasPendientes>
@using UTP.PortalEmpleabilidad.Modelo
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}

        <h5>Ofertas por Activar</h5>
        <div class="row grilla1-cabecera color-paleta1">
            <div class="col-sm-3">
                Fecha Publicación
            </div>
            <div class="col-sm-4">
                Empresa
            </div>
            <div class="col-sm-5">
                Oferta
            </div>
        </div>

@if (Model.Count() == 0)
{
    <div class="row grilla1-linea">
        <div class="col-sm-12 text-center">
            <h6>No se encontraron resultados.</h6>
        </div>
    </div>
}
@foreach (var item in @Model)
{
    <div class="row grilla1-linea">
        <div class="col-sm-3">
            @Html.FormatoFrecuencia(@item.FechaPublicacion)
        </div>
        <div class="col-sm-4">
            @item.NombreComercial
        </div>
        <div class="col-sm-5">
            @*@Html.ActionLink(@item.CargoOfrecido, "VerDetalleOferta", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { target = "_blank" })*@
            @Html.ActionLink(@item.CargoOfrecido, "VerDetalleOferta", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, null)
        </div>
    </div>

  
}

@*<div>
   
    <nav class="navbar-right">
        <ul class="pagination">
            @{
                for (int i = 1; i <= paginacion.TotalPaginas; i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {
                        <li><a href="#" onclick="buscarOfertasPendientes('@i');">@i</a></li>
                    }
                }
            }
        </ul>
    </nav>
</div>*@
        <nav class="navbar-right">
    <ul class="pagination">


        @{
            //La paginación avanzada no existe para la búsqueda de oferta. Se deja el bloque de paginación avanzada para efectos de desarrollo futuro de esa funcionalidad.
            int i1 = paginacion.NroPaginaActual - 2;
            if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
            if (i1 < 1) { i1 = 1; }
            if (paginacion.NroPaginaActual > 1)
            {
                
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                    {
                        <a href="#" onclick="buscarOfertasPendientes('1');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    }
                    else
                    {
                        <a href="#" onclick="buscarOfertasPendientesAvanzada('1');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    }
                </li>
                if (paginacion.NroPaginaActual - 5 >= 1)
                {
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarOfertasPendientes('@(paginacion.NroPaginaActual - 5)');">
                                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarOfertasPendientesAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                            </a>
                        }
                    </li>
                }
            }

            for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
            {
                if (i == paginacion.NroPaginaActual)
                {
                    <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                }
                else
                {
                    if (i > 0)
                    {
                        if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <li><a href="#" onclick="buscarOfertasPendientes('@i');">@i</a></li>
                        }
                        else
                        {
                            <li><a href="#" onclick="buscarOfertasPendientesAvanzada('@i');">@i</a></li>
                        }
                    }
                }
            }
            if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
            {
                int i2 = paginacion.NroPaginaActual + 5;
                if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                if (i2 < paginacion.TotalPaginas)
                {
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="buscarOfertasPendientes('@i2');">
                                <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="buscarOfertasPendientesAvanzada('@i2');">
                                <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                            </a>
                        }
                    </li>
                }
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                    {
                        <a href="#" onclick="buscarOfertasPendientes('@paginacion.TotalPaginas');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    }
                    else
                    {
                        <a href="#" onclick="buscarOfertasPendientesAvanzada('@paginacion.TotalPaginas');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    }
                </li>
            }
        }

    </ul>

</nav>
<hr />