@model List<UTP.PortalEmpleabilidad.Modelo.EmpresaListaEmpresa>

@using UTPPrototipo.Models.ViewModels.Cuenta;
@using UTPPrototipo.Common
@using UTP.PortalEmpleabilidad.Modelo
@using UTPPrototipo.Utiles

@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
    //string rol = ((TicketUTP)Session["TicketUtp"]).Rol;            
}
<h5 class="clearfix">Empresas <button type="button" class="btn btn-primary pull-right fuente-pequeña" style="margin-top: -12px;" onclick="EmpresaExportar()"><span class="fa fa-download"></span></button></h5> 
<div class="row grilla1-cabecera color-paleta4">

    <div class="col-sm-2">
        Nombre
    </div>
    <div class="col-sm-2">
        Razón Social
    </div>
    <div class="col-sm-2">
        Sector
    </div>
    <div class="col-sm-1">
        Estado
    </div>
    <div class="col-sm-1">
        Ejecutivo asignado
    </div>
    <div class="col-sm-1">
        Clasificación
    </div>
    <div class="col-sm-1">
        Nivel Relación
    </div>
    <div class="col-sm-1">
        Fac 1
    </div>
    <div class="col-sm-1">
        Comentarios
    </div>

</div>


@foreach (var item in Model)
{
    <div class="row grilla1-linea">

        <div class="col-sm-2">
            @*<a href="../UTP/Empresa">@item.NombreComercial</a>*@
            @if (ViewBag.Rol != "ROLUTP")
            {
                if (@item.NombreComercial != "")
                {
                    @*@Html.ActionLink(@item.NombreComercial, "VerDetalleEmpresa", new { id = Helper.Encriptar(item.IdEmpresa.ToString()) }, htmlAttributes: new { target = "_blank" })*@
                    @Html.ActionLink(@item.NombreComercial, "VerDetalleEmpresa", new { id = Helper.Encriptar(item.IdEmpresa.ToString()) }, null)
                }
                else
                {                
                    @Html.ActionLink("-- SIN NOMBRE --", "VerDetalleEmpresa", new { id = item.IdEmpresa })
                }
            }
            else
            {
                if (item.NombreComercial != "")
                {
                    @item.NombreComercial                                  
                }
                else
                {
                    @Html.Raw("-- SIN NOMBRE --")
                }
            }
    
        </div>
        <div class="col-sm-2">
            @item.RazonSocial
        </div>
        @*<div class="col-sm-1">
                @item.RUC
            </div>*@
        <div class="col-sm-2">
            @item.SectorEmpresarial
        </div>
        <div class="col-sm-1">
            @item.Estado
        </div>
        <div class="col-sm-1">
            @item.EjecutivoUTP

        </div>
        <div class="col-sm-1">
            @item.Clasificacion
        </div>
        <div class="col-sm-1">
            @item.NivelDeRelacion
        </div>
        <div class="col-sm-1">
            @item.FacultadPrincipal
        </div>
        <div class="col-sm-1">
            @item.TieneComentarios
        </div>
    </div>
}
@if (Model.Count() == 0)
{
    <div class="row grilla1-linea">
        <div class="col-sm-12 text-center">
            <h6>No se encontraron resultados.</h6>
        </div>
    </div>
}

    @*<div class="col-sm-6" style="text-align:right;">*@
    <nav class="navbar-right">
        <ul class="pagination">
            @{
                int i1 = paginacion.NroPaginaActual - 2;
                if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
                if (i1 < 1) { i1 = 1; }
                if (paginacion.NroPaginaActual > 1)
                {
                    
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="BusquedaSimpleEmpresasActivas('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="BusquedaAvanzadaEmpresasActivas('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                        }
                    </li>
                    if (paginacion.NroPaginaActual - 5 >= 1)
                    {
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="BusquedaSimpleEmpresasActivas('@(paginacion.NroPaginaActual - 5)');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="BusquedaAvanzadaEmpresasActivas('@(paginacion.NroPaginaActual - 5)');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                            }
                        </li>
                    }
                }

                for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
                {
                    if (i == paginacion.NroPaginaActual)
                    {
                        <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                    }
                    else
                    {
                        if (i > 0)
                        {
                            if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <li><a href="#" onclick="BusquedaSimpleEmpresasActivas('@i');">@i</a></li>
                            }
                            else
                            {
                                <li><a href="#" onclick="BusquedaAvanzadaEmpresasActivas('@i');">@i</a></li>
                            }
                        }
                    }
                }
                if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
                {
                    int i2 = paginacion.NroPaginaActual + 5;
                    if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                    if (i2 < paginacion.TotalPaginas)
                    {
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="BusquedaSimpleEmpresasActivas('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="BusquedaAvanzadaEmpresasActivas('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                            }
                        </li>
                    }
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="BusquedaSimpleEmpresasActivas('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="BusquedaAvanzadaEmpresasActivas('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                        }
                    </li>
                }
            }
        </ul>

    </nav>

@if (ViewBag.Rol != "ROLUTP")
{
    <div class="col-sm-12">

        <button class="btn btn-default color-paleta2" onclick="EmpresaUTPCrear();">Agregar Empresa</button>
  
    </div>
}




