@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.EmpresaListaEmpresa>


<br />
    <div class="row grilla1-cabecera color-paleta2">

        <div class="col-sm-2">
            Nombre
        </div>
        <div class="col-sm-2">
            Razón Social
        </div>
        @*<div class="col-sm-1">
            RUC
        </div>*@
        <div class="col-sm-2">
            Sector
        </div>
        <div class="col-sm-2">
            Clasificación
        </div>
        <div class="col-sm-2">
            Ejecutivo UTP asignado
        </div>
        
        <div class="col-sm-2">
            Estado
        </div>
       
        @*<div class="col-sm-2">
            Ofertas
        </div>*@

    </div>


    @foreach (var item in Model)
    {
        <div class="row grilla1-linea">

            <div class="col-sm-2">
                @*<a href="../UTP/Empresa">@item.NombreComercial</a>*@
                @Html.ActionLink(@item.NombreComercial, "VerDetalleEmpresa", new { id = item.IdEmpresa })
            </div>
            <div class="col-sm-2">
                @item.RazonSocial
            </div>
            @*<div class="col-sm-1">
                @item.RUC
            </div>*@
            <div class="col-sm-2">
                @item.SectorEmpresarial
            </div>
            <div class="col-sm-2">
                @item.Clasificacion
            </div>
            <div class="col-sm-2">
                @item.EjecutivoUTP
             
            </div>
        
            <div class="col-sm-2">
                @item.Estado
            </div>
            
            @*<div class="col-sm-2">
                @item.Ofertas
            </div>*@

        </div>
    }

    @*<div class="row grilla1-linea">

            <div class="col-sm-2">
                <a href="../UTP/Empresa">Criteria IT</a>
            </div>
            <div class="col-sm-2">
                Criteria IT SAC
            </div>
            <div class="col-sm-1">
                20555167581
            </div>
            <div class="col-sm-2">
                Activa
            </div>
            <div class="col-sm-3">
                Tecnología y Software, Servicios
            </div>
            <div class="col-sm-2">
                Tot: 10, Act: 2, Pend: 1
            </div>

        </div>*@

    <div class="row">
        <div class="col-sm-12" style="text-align:right;">

            <nav>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                    </ul>
                </nav>
            </nav>

        </div>
    </div>
