@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.EmpresaUsuario>

@using UTP.PortalEmpleabilidad.Modelo
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}

@*<h6>Usuarios UTP</h6>*@
<div class="row grilla1-cabecera color-paleta8">
    <div class="col-sm-2">Usuario</div>
    <div class="col-sm-2">Nombre</div>
    <div class="col-sm-1">Sexo</div>
    <div class="col-sm-2">e-Mail</div>
    <div class="col-sm-2">Telfono</div>
    <div class="col-sm-1">Celular</div>
    <div class="col-sm-1">Estado</div>
    <div class="col-sm-1">Opción</div>
</div>

@foreach (var item in Model)
{
    
    <div class="row grilla1-linea">
        <div class="col-sm-2">@item.Usuario.NombreUsuario</div>
        @*<div class="col-sm-2" onclick="UsuarioUTPEditar(@item.IdUTPUsuario);">*@
            <div class="col-sm-2">               
                @item.Nombres @item.Apellidos
            </div>

        <div class="col-sm-1">@item.Sexo.Valor</div>
        <div class="col-sm-2">@item.CorreoElectronico</div>
        <div class="col-sm-2">@item.TelefonoFijo</div>
        <div class="col-sm-1">@item.TelefonoCelular</div>
        <div class="col-sm-1">@item.Usuario.EstadoUsuario.Valor</div>
        <div class="col-sm-1" style="text-align:right;">
            <button class="fui fa-lg color-icono-paleta1" style="font-size:22px;border-width:0px;background-color:transparent;" onclick="UsuarioEmpresaEditar(@item.IdEmpresaUsuario);">1</button>

        </div>

    </div>
}
@*<div class="row">
    <div class="col-sm-6" style="text-align:left;">*@
        <nav class="navbar-right" style="margin-top:-14px; margin-left:-10px;">
            <ul class="pagination">

                @{
                    //La paginación avanzada no existe para la búsqueda de oferta. Se deja el bloque de paginación avanzada para efectos de desarrollo futuro de esa funcionalidad.
                    if (paginacion.NroPaginaActual > 1)
                    {
                        int i1 = paginacion.NroPaginaActual - 5;
                        if (i1 < 1) { i1 = 1; }
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                            {
                            <a href="#" onclick="buscarPaginacion('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                            }
                            else
                            {
                            <a href="#" onclick="buscarPaginacionAvanzada('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                            }
                </li>
                        if (i1 > 1)
                        {
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                                {
                                <a href="#" onclick="buscarPaginacion('@i1');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                                }
                                else
                                {
                                <a href="#" onclick="buscarPaginacionAvanzada('@i1');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                </a>
                                }
                </li>
                        }
                    }

                    for (int i = (paginacion.NroPaginaActual - 2); (i <= paginacion.TotalPaginas && i <= (paginacion.NroPaginaActual + 2)); i++)
                    {
                        if (i == paginacion.NroPaginaActual)
                        {
                <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                        }
                        else
                        {
                            if (i > 0)
                            {
                                if (ViewBag.TipoBusqueda == "Simple")
                                {
                <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                                }
                                else
                                {
                <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                                }
                            }
                        }
                    }
                    if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
                    {
                        int i2 = paginacion.NroPaginaActual + 5;
                        if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                        if (i2 < paginacion.TotalPaginas)
                        {
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                                {
                                <a href="#" onclick="buscarPaginacion('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                                }
                                else
                                {
                                <a href="#" onclick="buscarPaginacionAvanzada('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                                }
                </li>
                        }
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                            {
                            <a href="#" onclick="buscarPaginacion('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                            }
                            else
                            {
                            <a href="#" onclick="buscarPaginacionAvanzada('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                            }
                </li>
                    }
                }

            </ul>

        </nav>
    @*</div>*@
  <br />
    <div class="col-sm-12" style="text-align:right;">
        <button class="btn btn-default color-paleta8" onclick="UsuarioEmpresaCrear();">Nuevo Usuario Empresa</button>
    </div>

@*</div>*@



