@model UTP.PortalEmpleabilidad.Modelo.UTPUsuario

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Usuario</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Usuario</span>
                    @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "form-control", @placeholder = "Usuario" })
                </div>
                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Rol</span>
                    @Html.DropDownListFor(m => m.RolIdListaValor, null, "-- Especifique Rol --", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.RolIdListaValor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Nombre</span>
                    @Html.TextBoxFor(model => model.Nombres, new { @class = "form-control", @placeholder = "Nombres del Usuario" })
                </div>
                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Apellidos</span>
                    @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control", @placeholder = "Apellidos del Usuario" })
                </div>
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Sexo</span>
                    @Html.DropDownListFor(m => m.SexoIdListaValor, null, "-- Especifique Sexo --", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.SexoIdListaValor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">e-Mail</span>
                    @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", @placeholder = "Correo electrónico del Usuario" })
                </div>
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Teléfono</span>
                    @Html.TextBoxFor(model => model.TelefonoFijo, new { @class = "form-control", @placeholder = "Teléfon Fijo del Usuario" })
                </div>
                @Html.ValidationMessageFor(model => model.TelefonoFijo, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Anexo</span>
                    @Html.TextBoxFor(model => model.TelefonoAnexo, new { @class = "form-control", @placeholder = "Anexo del Usuario" })
                </div>
                @Html.ValidationMessageFor(model => model.TelefonoAnexo, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Celular</span>
                    @Html.TextBoxFor(model => model.TelefonoCelular, new { @class = "form-control", @placeholder = "Celular del Usuario" })
                </div>
                @Html.ValidationMessageFor(model => model.TelefonoCelular, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Estado</span>
                    @Html.DropDownListFor(m => m.EstadoUsuarioIdListaValor, null, "-- Especifique Estado --", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.EstadoUsuarioIdListaValor, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default color-paleta8">Guardar</button>
    </div>
</div>

