@model UTP.PortalEmpleabilidad.Modelo.Oferta
<h5>Seguimiento</h5>
@Html.HiddenFor(m => m.IdOferta)
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                Fecha de<br />Seguimiento
            </span>
            @Html.TextBoxFor(m => m.FechaSeguimiento, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = (Model.FechaSeguimiento != null ? Model.FechaSeguimiento.Value.ToString("d") : "") })

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                N° Postulantes
            </span>
            @Html.TextBoxFor(m => m.NumeroPostulantes, "", new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                Calificación CVs
            </span>
            @Html.DropDownListFor(m => m.SeguimientoCalificacion, null, "- Seleccione -", htmlAttributes: new { @class = "form-control" })
            @*@Html.TextBoxFor(m => m.Calificacion, "", new { @class = "form-control" })*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                N° Invitados<br />a Entrevistas
            </span>
            @Html.TextBoxFor(m => m.SeguimientoNroInvitados, "", new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                N° Entrevistados
            </span>
            @Html.TextBoxFor(m => m.NumeroEntrevistados, "", new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                Contratados<br />IDAT
            </span>
            @Html.TextBoxFor(m => m.SeguimientoContratados, "", new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                Contratados<br />otros
            </span>

            @Html.TextBoxFor(m => m.SeguimientoContratadosOtros, "", new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                ¿Convenio<br />Registrado?
            </span>
            <span class="form-control">
                @Html.CheckBoxFor(m => m.ConvenioRegistrado)
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                Contacto
            </span>
            @Html.TextBoxFor(m => m.Contacto, "", new { @class = "form-control" })
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                Datos de<br />Contacto
            </span>

            @Html.TextAreaFor(m => m.DatosContacto, new { @class = "form-control", @rows = "4" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                Medio de<br />Comunicación
            </span>
            @Html.TextBoxFor(m => m.MedioComunicacion, "", new { @class = "form-control" })

        </div>
    </div>
</div>
<div class="row" style="display:none">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" style="width:100px;">
                Tipo Trabajo<br />IDAT
            </span>
            @Html.DropDownListFor(m => m.TipoTrabajoUTP, null, "- Seleccione -", htmlAttributes: new { @class = "form-control" })
            @*@Html.TextBoxFor(m => m.TipoTrabajoUTP, "", new { @class = "form-control" })*@
        </div>
    </div>
</div>

<br />