@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Empresa.VistaEmpresaUsuario>

<h5>Usuarios</h5>

<div class="row grilla1-cabecera color-paleta4">
    <div class="col-sm-3">
        Usuario
    </div>
    <div class="col-sm-4">
        Nombre
    </div>
    <div class="col-sm-3">
        Rol
    </div>
    <div class="col-sm-2">
        Estado
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row grilla1-linea">
        <div class="col-sm-3">
            @*<a href="../UTP/EmpresaUsuario">mariorodriguez</a>*@
            @item.NombreUsuario
        </div>
        <div class="col-sm-4">
            @item.NombresUsuario @item.ApellidosUsuario
        </div>
        <div class="col-sm-3">
            @item.NombreRol
        </div>
        <div class="col-sm-2">
            @item.NombreEstado
        </div>
    </div>
}
@if (Model.Count() == 0)
{
    <div class="row grilla1-linea">
        <div class="col-sm-12 text-center">
            <h6>No se encontraron resultados.</h6>
        </div>
    </div>
}
    @*<div class="row">
            <div class="col-sm-12" style="text-align:right;">
                <nav>
                    <nav>
                        <ul class="pagination pagination-sm">
                            <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                        </ul>
                    </nav>
                </nav>
            </div>
        </div>*@

    @*<div class="row grilla1-linea">
            <div class="col-sm-3">
                <a href="../UTP/EmpresaUsuario">amaliabendezu</a>
            </div>
            <div class="col-sm-4">
                Rosa Amalia Bendezu Rodriguez
            </div>
            <div class="col-sm-3">
                Supervisor Empresa
            </div>
            <div class="col-sm-2">
                Activo
            </div>
        </div>
        <div class="row grilla1-linea">
            <div class="col-sm-3">
                <a href="../UTP/EmpresaUsuario">ivan-lopez</a>
            </div>
            <div class="col-sm-4">
                Ivan Martín Lopez Perez
            </div>
            <div class="col-sm-3">
                Usuario Empresa
            </div>
            <div class="col-sm-2">
                Suspendido
            </div>
        </div>*@