@*@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Alumno.VistaUTPListaAlumno>*@
@*@model UTP.PortalEmpleabilidad.Modelo.Vistas.Alumno.VistaUTPListaAlumno*@

@model UTPPrototipo.Models.ViewModels.UTP.VistaAlumno 


@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Alumnos";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />


<div class="container" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    <div class="panel-group" id="CriterioBusquedaAlumno" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="CabeceraColapsaBusquedaAlumno" style="padding: 2px 2px 2px 6px;">
                <div class="panel-title">
                    <div data-toggle="collapse" data-parent="#CriterioBusquedaAlumno" data-target="#ColapsaBusquedaAlumno" aria-expanded="true" aria-controls="ColapsaBusquedaAlumno" class="fuente-seccion">
                        <span role="button">Búsqueda Alumnos</span>
                        <span class="glyphicon pull-right" role="button"></span>
                    </div>
                </div>
            </div>
            <div id="ColapsaBusquedaAlumno" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CabeceraColapsaBusquedaAlumno">
                <div class="panel-body">
                    <table style="width:100%;">
                        <tr>
                            @*@using (Html.BeginForm("Alumnos", "UTP", FormMethod.Get))
                                {*@

                            <td>
                                <div class="input-group fuente-pequeña">
                                    <span class="input-group-addon fuente-pequeña">Palabra Clave</span>
                                  @*  @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Buscar por Empresa, Apellidos y Nombre" })*@

                                    @Html.TextBoxFor(model => model.PalabraClave, new { @class = "form-control", @placeholder = "Busqueda por Apellidos y Nombres" })

                                </div>


                            </td>
                            <td style="text-align:right;">
                                <span class="col-md-6 btn-group">
                                    <span class="btn btn-default fa fa-search color-paleta3" id="buscar"></span>
                                </span>
                            </td>
                            @*}*@
                        </tr>
                    </table>

                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="CabeceraColapsaBusquedaAvanzada" style="padding: 2px 2px 2px 6px;">
                <div class="panel-title">
                    <div class="collapsed fuente-seccion" data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" data-target="#ColapsaBusquedaAvanzada" aria-expanded="false" aria-controls="ColapsaBusquedaAvanzada">
                        <span role="button">Búsqueda avanzada</span>
                        <span class="glyphicon pull-right" role="button"></span>
                    </div>
                </div>
            </div>
            <div id="ColapsaBusquedaAvanzada" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CabeceraColapsaBusquedaAvanzada">
                <div class="panel-body fuente-pequeña">
                    <div class="row">
                        <div class="col-sm-3">
                 
                            <div class="input-group">
                                <span class="input-group-addon">Alumno</span>
                                @Html.TextBoxFor(model => model.Alumno, new { @class = "form-control", @placeholder = "Dato del Alumno" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Sexo</span>
                                @Html.DropDownListFor(model => model.Sexo, new SelectList(ViewBag.ListaSexo, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "Sexo" })
                                @*@Html.DropDownListFor(model => model.IdPeriodoRegistro, new SelectList(ViewBag.PeridoRegistro, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "IdPeriodoRegistro" })*@
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Distrito</span>
                                @Html.TextBoxFor(model => model.Distrito, new { @class = "form-control", @placeholder = "Distrito Del Alumno" })
                            </div>
                          
                            
                           
                            <!--Dejabajo de Registro 2-->
                          
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">Tipo<br />Estudio</span>
                                @Html.DropDownListFor(model => model.TipoEstudio, new SelectList(ViewBag.ListaTipoEstudio, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "TipoEstudio" })
                                @*@Html.DropDownListFor(model => model.IdPeriodoRegistro, new SelectList(ViewBag.PeridoRegistro, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "IdPeriodoRegistro" })*@

                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Carrera</span>
                                @Html.TextBoxFor(model => model.Carrera, new { @class = "form-control", @placeholder = "Carrera de Estudio" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Ciclo</span>
                                @Html.TextBoxFor(model => model.Ciclo, new { @class = "form-control", @placeholder = "Ciclo de Estudio" })
                            </div>

              
                         
                        
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">Estado<br />Estudio</span>
                                @Html.DropDownListFor(model => model.EstadoEstudio, new SelectList(ViewBag.ListaEstadoEstudio, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "EstadoEstudio" })
                                @*@Html.DropDownListFor(model => model.IdPeriodoRegistro, new SelectList(ViewBag.PeridoRegistro, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "IdPeriodoRegistro" })*@

                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Info.<br />Adicional</span>
                                @Html.DropDownListFor(model => model.InformacionAdicional, new SelectList(ViewBag.ListaInformacionAdicional, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "TipoConocimientoIdListaValor" })
                                @*@Html.DropDownListFor(model => model.IdPeriodoRegistro, new SelectList(ViewBag.PeridoRegistro, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "IdPeriodoRegistro" })*@

                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Conoci-<br />miento</span>
                                @Html.TextBoxFor(model => model.Conocimientos, new { @class = "form-control fuente-pequeña", @placeholder = "Conocmiento específico: ej. SAP", @Id = "Conocimientos" })
                                @*@Html.DropDownListFor(model => model.IdPeriodoRegistro, new SelectList(ViewBag.PeridoRegistro, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "IdPeriodoRegistro" })*@

                            </div>
                          
                            <!--Dejabajo de Tipo habian 2-->
                   

                        </div>

                        <div class="col-sm-3">

                            <!--Dejabajo de Tipo habiA 1 DIV CLAS INPUT-->
                   
                            <div class="input-group">
                                <span class="input-group-addon">Sector<br />Empresa</span>
                                @Html.DropDownListFor(model => model.SectorEmpresarial, new SelectList(ViewBag.ListaSectorEmpresarial, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "SectorEmpresarial" })
                                @*@Html.DropDownListFor(model => model.IdPeriodoRegistro, new SelectList(ViewBag.PeridoRegistro, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "IdPeriodoRegistro" })*@

                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">Cumplimiento</span>
                                @Html.TextBoxFor(model => model.completitud, new { @class = "form-control", @placeholder = "Ciclo de Estudio" })
                            </div>

                         
                            <span class="btn btn-default color-paleta3 fa fa-search" id="buscaravanzada"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<br />*@

        @*<h5>Eventos</h5>*@






    </div>
    @*<br />*@
    <div id="ResultadoBusqueda">
    </div>


    <br />
</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5 color-paleta6 color-paleta7 color-paleta8 color-paleta9").addClass("color-paleta3")
        $('#PestañaAlumno').css('backgroundColor', '#f00');
        var codigoTipoConocimiento = $('#TipoConocimientoIdListaValor').val();

        //ESE ES LA CAJA, LA ACCION Y EL CONTROLADOR
        AutoCompleteTextDemo('#Conocimientos', '@Url.Action("ListarDatosEspecificos", "OfertaInformacionAdicional")' + '?codigoTipo=' + codigoTipoConocimiento, '#Conocimientos', '#TipoConocimientoIdListaValor', 'option', 'appendTo', '.eventInsForm');

        var alumno = {
            PalabraClave: $('#PalabraClave').val(),
            nroPaginaActual: 1,
        };


        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaAlumnos", "UTP")', alumno);


    });

    $('#buscar').click(function () {
       
        var alumno = {
            PalabraClave: $('#PalabraClave').val(),
            nroPaginaActual: 1,
        };


        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaAlumnos", "UTP")', alumno);
    });

    $('#buscaravanzada').click(function () {
        var alumno = {
            TipoEstudio: $('#TipoEstudio').val(),
            Alumno: $('#Alumno').val(),
            Carrera: $('#Carrera').val(),
            Ciclo: $('#Ciclo').val(),
            Sexo: $('#Sexo').val(),
            Distrito: $('#Distrito').val(),
            SectorEmpresarial: $('#SectorEmpresarial').val(),
            Conocimientos: $('#Conocimientos').val(),
            EstadoEstudio: $('#EstadoEstudio').val(),
            completitud: $('#completitud').val(),
            nroPaginaActual: 1,

        };
        //debugger;

        //Cargar("resultadobusqueda", "/UTP/BusquedaAvanzadaEmpresas", oferta);

        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaAlumnosAvanzada", "UTP")', alumno);
    });

    function Cargar(id, link, entidad) {
        //debugger;
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(entidad),
            dataType: 'html'
        })
        .success(function (result) {
            $("#" + id).html(result);
            //alert(result);
            //console.log(result);
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);
            alert('error');
        })
    }

    function buscarPaginacion(nroPagina) {
        //debugger;
        var alumno = {
            PalabraClave: $('#PalabraClave').val(),
            nroPaginaActual: nroPagina,

        };
        //Cargar("resultadobusqueda", "/UTP/BusquedaSimpleEmpresasActivas", empresa);
        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaAlumnos", "UTP")', alumno);
    }

    function buscarPaginacionAvanzada(nroPagina) {

        var alumno = {
            TipoEstudio: $('#TipoEstudio').val(),
            Alumno: $('#Alumno').val(),
            Carrera: $('#Carrera').val(),
            Ciclo: $('#Ciclo').val(),
            Sexo: $('#Sexo').val(),
            Distrito: $('#Distrito').val(),
            SectorEmpresarial: $('#SectorEmpresarial').val(),
            Conocimiento: $('#Conocimiento').val(),
            EstadoEstudio: $('#EstadoEstudio').val(),
            completitud: $('#completitud').val(),
            nroPaginaActual: nroPagina,

        };
        //debugger;

        //Cargar("resultadobusqueda", "/UTP/BusquedaAvanzadaEmpresas", oferta);

        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaAlumnosAvanzada", "UTP")', alumno);
    }

    @*function buscarPaginacion(nroPaginaActual) {
        //debugger;

        var SearchString = $('#SearchString').val();

        var url = '@Url.Action("BusquedaAlumnos", "UTP")' + "?SearchString=" + SearchString + '&nroPaginaActual=' + nroPaginaActual;

        $.get(url, function (data) {
            console.log(data);
            $('#resultadobusqueda').html(data);
        }).error(function (err) { console.log(err); });

    }*@


</script>


