@*@model UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaEmpresListarOfertas*@
@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Alumno.VistaUTPListaAlumno>


@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Alumnos";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />


    <div class="container" style="margin-top:2px;">
        <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

            @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

        </div>
        <div class="panel-group" id="CriterioBusquedaPostulacion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="CabeceraColapsaBusqueda" style="padding: 2px 2px 2px 6px;">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" href="#ColapsaBusqueda" aria-expanded="true" aria-controls="ColapsaBusqueda" class="fuente-seccion">
                            Búsqueda
                        </a>
                    </h5>
                </div>
                <div id="ColapsaBusqueda" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CabeceraColapsaBusqueda">
                    <div class="panel-body">
                        <table style="width:100%;">
                            <tr>
                                @using (Html.BeginForm("Alumnos", "UTP", FormMethod.Get))
                            {

                                    <td>
                                        <div class="input-group fuente-pequeña">
                                            <span class="input-group-addon fuente-pequeña">Palabra Clave</span>
                                            @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Busca Por Apellidos & Nombre" })

                                        </div>


                                    </td>
                                    <td style="text-align:right;">
                                        <span class="col-md-6 btn-group">

                                            <input type="submit" class="fui" style="font-size:30px;border-width:0px;background-color:transparent;" value="(" />

                                        </span>
                                    </td>
                            }
                                
                         @*aqui iva*@
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <br />
            <div class="row grilla1-cabecera color-paleta2">

                <div class="col-sm-2">
                    Fecha de Registro
                </div>
                <div class="col-sm-2">
                    Nombres
                </div>
                <div class="col-sm-1">
                    Apellidos
                </div>
                <div class="col-sm-2">
                    Carrera
                </div>
                <div class="col-sm-3">
                   Ciclo
                </div>
                <div class="col-sm-2">
                    Completitud
                </div>

            </div>
@foreach (var item in Model)
    {
            <div class="row grilla1-linea">

                <div class="col-sm-2">
                    @*<a href="../UTP/Empresa">@item.FechaRegistro</a>*@
                 @item.FechaRegistro
                </div>
                <div class="col-sm-2">
                    @item.Nombre
                </div>
                <div class="col-sm-1">
                    @item.Apellidos
                </div>
                <div class="col-sm-2">
                    @item.Carrera 
                </div>
                <div class="col-sm-3">
                    @item.Ciclo 
                    
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        60%
                    </div>
                </div>

            </div>
}
           

        </div>
    </div>


<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5").addClass("color-paleta3");
    });
    


</script>


