@*@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Alumno.VistaUTPListaAlumno>*@
@*@model UTP.PortalEmpleabilidad.Modelo.Vistas.Alumno.VistaUTPListaAlumno*@

@model UTPPrototipo.Models.ViewModels.UTP.VistaAlumno 


@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Alumnos";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />



<div class="container" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    <div class="panel-group" id="CriterioBusquedaAlumno" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="CabeceraColapsaBusquedaAlumno" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#CriterioBusquedaAlumno" href="#ColapsaBusquedaAlumno" aria-expanded="true" aria-controls="ColapsaBusquedaAlumno" class="fuente-seccion">
                        Búsqueda Alumnos
                    </a>
                </h5>
            </div>
            <div id="ColapsaBusquedaAlumno" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CabeceraColapsaBusquedaAlumno">
                <div class="panel-body">
                    <table style="width:100%;">
                        <tr>
                            @*@using (Html.BeginForm("Alumnos", "UTP", FormMethod.Get))
                                {*@

                            <td>
                                <div class="input-group fuente-pequeña">
                                    <span class="input-group-addon fuente-pequeña">Palabra Clave</span>
                                  @*  @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Buscar por Empresa, Apellidos y Nombre" })*@

                                    @Html.TextBoxFor(model => model.PalabraClave, new { @class = "form-control", @placeholder = "Buscar por Apellidos y Nombres" })

                                </div>


                            </td>
                            <td style="text-align:right;">
                                <span class="col-md-6 btn-group">

                                    @*<button type="submit" class="btn btn-default color-paleta3 fa fa-search" />*@
                                   @* <input type="submit" onclick="buscarPaginacion(1);" class="fui" style="font-size:30px;border-width:0px;background-color:transparent;" value="(" />*@
                               
                                    <span class="fui" style=" font-size:30px;cursor:pointer" id="buscar">(</span>
                                 </span>
                            </td>
                            @*}*@
                        </tr>
                    </table>

                </div>
            </div>

        </div>
        @*<div class="panel panel-default">
            <div class="panel-heading" role="tab" id="CabeceraColapsaBusquedaAvanzada" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a class="collapsed fuente-seccion" data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" href="#ColapsaBusquedaAvanzada" aria-expanded="false" aria-controls="ColapsaBusquedaAvanzada">
                        Búsqueda avanzada
                    </a>
                </h5>
            </div>
            <div id="ColapsaBusquedaAvanzada" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CabeceraColapsaBusquedaAvanzada">
                <div class="panel-body fuente-pequeña">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">Registro</span>
                                @Html.DropDownListFor(model => model.IdPeriodoRegistro, new SelectList(ViewBag.PeridoRegistro, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "IdPeriodoRegistro" })
                            </div>
                            <!--Dejabajo de Registro 2-->
                          
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">Carrera</span>
                                @Html.TextBoxFor(model => model.Carrera, new { @class = "form-control", @placeholder = "Carrera de Estudio" })
                            </div>
                            <!--Dejabajo de carrera 2-->

                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">Ciclo</span>
                                @Html.TextBoxFor(model => model.Ciclo, new { @class = "form-control", @placeholder = "Ciclo de Estudio" })
                            </div>
                            <!--Dejabajo de Tipo habian 2-->
                   

                        </div>

                        <div class="col-sm-3">

                            <!--Dejabajo de Tipo habiA 1 DIV CLAS INPUT-->

                     

                            <button class="btn btn-default color-paleta3 fa fa-search" id="buscaravanzada"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        @*<br />*@

        @*<h5>Eventos</h5>*@






    </div>
    <br />
    <div id="ResultadoBusqueda">
    </div>


    <hr />
</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5 color-paleta6 color-paleta7 color-paleta8 color-paleta9").addClass("color-paleta3")
    });

    $('#buscar').click(function () {
        var alumno = {
            PalabraClave: $('#PalabraClave').val(),
            nroPaginaActual: 1,
        };


        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaAlumnos", "UTP")', alumno);
    });

    function Cargar(id, link, entidad) {
        //debugger;
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(entidad),
            dataType: 'html'
        })
        .success(function (result) {
            $("#" + id).html(result);
            //alert(result);
            //console.log(result);
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);
            alert('error');
        })
    }

    function buscarPaginacion(nroPagina) {
        var alumno = {
            PalabraClave: $('#PalabraClave').val(),
            nroPaginaActual: nroPagina,

        };
        //Cargar("resultadobusqueda", "/UTP/BusquedaSimpleEmpresasActivas", empresa);
        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaAlumnos", "UTP")', alumno);
    }

    @*function buscarPaginacion(nroPaginaActual) {
        //debugger;

        var SearchString = $('#SearchString').val();

        var url = '@Url.Action("BusquedaAlumnos", "UTP")' + "?SearchString=" + SearchString + '&nroPaginaActual=' + nroPaginaActual;

        $.get(url, function (data) {
            console.log(data);
            $('#resultadobusqueda').html(data);
        }).error(function (err) { console.log(err); });

    }*@


</script>


