@*@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaEmpresListarOfertas>*@

@model UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaEmpresListarOfertas

@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Empresas";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />


    <div class="container" style="margin-top:2px;">
        <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

            @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

        </div>
@*@using (Html.BeginForm())
{*@
        <div class="panel-group" id="CriterioBusquedaPostulacion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="CabeceraColapsaBusqueda" style="padding: 2px 2px 2px 6px;">
                    <div class="panel-title">
                        <div data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" data-target="#ColapsaBusqueda" aria-expanded="true" aria-controls="ColapsaBusqueda" class="fuente-seccion">
                            <span role="button">Búsqueda</span>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="ColapsaBusqueda" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CabeceraColapsaBusqueda">
                    <div class="panel-body">

                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <div class="input-group fuente-pequeña">
                                        <span class="input-group-addon fuente-pequeña">Palabra Clave</span>
                                        @Html.TextBoxFor(model => model.PalabraClave, new { @class = "form-control", @placeholder = "Busqueda Por Nombre" })

                                    </div>
                                </td>
                                <td style="text-align:right;">
                                    <span class="col-md-6 btn-group">
                                        <span class="btn btn-default fa fa-search color-paleta4" id="buscar"></span>
                                    </span>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="CabeceraColapsaBusquedaAvanzada" style="padding: 2px 2px 2px 6px;">
                    <div class="panel-title">
                        <div class="collapsed fuente-seccion" data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" data-target="#ColapsaBusquedaAvanzada" aria-expanded="false" aria-controls="ColapsaBusquedaAvanzada">
                            <span role="button">Búsqueda avanzada</span>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>

                <div id="ColapsaBusquedaAvanzada" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CabeceraColapsaBusquedaAvanzada">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">


                                <div class="input-group fuente-pequeña">
                                    <span class="input-group-addon">Nombre</span>

                                    @Html.TextBoxFor(model => model.NombreComercial, new { @class = "form-control", @placeholder = "Nombre Comercial", @id = "NombreComercial" })

                                </div>
                                <div class="input-group fuente-pequeña">
                                    <span class="input-group-addon">Razón<br />Social</span>
                                    @*<input type="text" class="form-control" placeholder="Razón Social de la empresa">*@
                                    @Html.TextBoxFor(model => model.RazonSocial, new { @class = "form-control", @placeholder = "Razón Social de la empresa", @id = "RazonSocial" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Ruc</span>
                                    @Html.TextBoxFor(model => model.RUC, new { @class = "form-control", @placeholder = "Ruc de la Empresa" })
                                </div>
                     

                  
                          
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Nro Oferta <br />Activas</span>
                                    @*@Html.TextBoxFor(model => model.NroOferta, new { @class = "form-control", @placeholder = "Busca por Nro de Oferta ", @onblur = "ValidaSoloNumeros();" })*@
                                    @Html.TextBoxFor(model => model.NroOferta, new { @class = "form-control", @placeholder = "Busca por Nro de Oferta "})
                                    @*@Html.TextBoxFor(model => model.NroOferta, new { @class = "form-control", @placeholder = "Ej:Si pongo 5 busca los menores que 5 excepto 0 " })*@
                                </div>
                                <div class="input-group fuente-pequeña">

                                    <span class="input-group-addon">Estado</span>
                                    @Html.DropDownListFor(model => model.IdEstadoEmpresa, new SelectList(ViewBag.ListaEstado, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })

                                </div>
             
                                <div class="input-group">
                                    <span class="input-group-addon">Nro<br />Postulante</span>
                                    @Html.TextBoxFor(model => model.NroPostulante, new { @class = "form-control", @placeholder = "Busca por Nro de Postulante" })
                                    @*@Html.DropDownListFor(model => model.IdPeriodoRegistro, new SelectList(ViewBag.PeridoRegistro, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "IdPeriodoRegistro" })*@

                                </div>
                                
              
                                             

                                @*<span class="input-group-addon">Sector</span>
                                        <select id="Lista" class="form-control">
                                            <option value="" selected>Sector empresarial</option>
                                            <option value="1">Auditoría y Consultoría</option>
                                            <option value="1">Banca y Seguros</option>
                                            <option value="1">Construcción e Inmobiliaria</option>
                                            <option value="1">Energía</option>
                                            <option value="1">Industria</option>
                                            <option value="1">Servicios</option>
                                            <option value="1">Tecnología y Software</option>
                                            <option value="1">Telecomunicaciones</option>
                                        </select>

                                    </div>*@
                            </div>

                            <div class="col-sm-4">

                                <div class="input-group fuente-pequeña">

                                    <span class="input-group-addon">Sector<br />Empresarial</span>

                                    @Html.DropDownListFor(model => model.IdSector, new SelectList(ViewBag.ListaSector, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })

                                </div>

           
                                <br />

                                <div>
                                    @*<span class="fui" style="font-size:30px;">(</span>*@
                                    <span class="btn btn-default fa fa-search color-paleta4" id="buscaravanzada"></span>





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="resultadobusqueda">
         </div>

@*}*@
      @*  @{Html.RenderAction("_EmpresaNuevaModal", "UTP");}*@
    </div>



<!--Modal para crear usuario-->
<div class="modal" id="divModalConvenioUTPCrear" role="dialog" aria-labelledby="Nuevo Usuario" aria-hidden="true">

    @using (Ajax.BeginForm("_EmpresaNuevaModal", "UTP", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divListaConvenioUTP", OnComplete = "cerrarModal" }))
    {
        @Html.AntiForgeryToken()

        <div class="modal-dialog" id="divContenedorConveniosUTPCrear">

        </div>
    }

</div>


<script>

    function EmpresaUTPCrear() {
        //debugger;
        //var url = "/UTP/_UsuariosUTPCrear"; //
        var url = '@Url.Action("_EmpresaNuevaModal", "UTP")'

        $.get(url, function (data) {
            //alert(data);
            $('#divContenedorConveniosUTPCrear').html(data);
            $.validator.unobtrusive.parse('#divContenedorConveniosUTPCrear');

            $('#divModalConvenioUTPCrear').modal('show');

        }).error(function (err) {
            console.log(err);
            alert(err);
        });
    }


    function cerrarModal() {

        //alert('cerrarmodal');
        //$('#divListaPadre').html('demo');
        $('.modal.in').modal('hide');
    }

</script>









   
@*<script src="~/Scripts/jquery-2.1.1.min.js"></script>*@

@if (TempData["ADMINISTRADORUTP"] == "ROLEAD")
{
    <script>
        var empresa = {
            PalabraClave: $('#PalabraClave').val(),
            nroPaginaActual: 1,
        };

        //Cargar("resultadobusqueda", "/UTP/BusquedaSimpleEmpresasActivas", empresa);

        Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleEmpresasActivas", "UTP")', empresa);
    </script>

}
<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7 color-paleta8").addClass("color-paleta1");
        $('#PestañaEmpresa').css('backgroundColor', '#f00');
        //AutoCompleteText('#NombreComercial', '@Url.Action("ListarNombreEmpresa", "UTP")', '#NombreComercial');
        AutoCompleteText('#RazonSocial', '@Url.Action("ListarRazonSocial", "UTP")', '#RazonSocial');

        var empresa = {
            PalabraClave: $('#PalabraClave').val(),
            nroPaginaActual: 1,
        };

        //Cargar("resultadobusqueda", "/UTP/BusquedaSimpleEmpresasActivas", empresa);

        Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleEmpresasActivas", "UTP")', empresa);

    });

        

    $('#buscar').click(function () {
        var empresa = {
            PalabraClave: $('#PalabraClave').val(),
            nroPaginaActual: 1,
        };

        //Cargar("resultadobusqueda", "/UTP/BusquedaSimpleEmpresasActivas", empresa);

        Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleEmpresasActivas", "UTP")', empresa);
    });



    $('#buscaravanzada').click(function () {
        var oferta = {
            NombreComercial: $('#NombreComercial').val(),
            IdEstadoEmpresa: $('#IdEstadoEmpresa').val(),
            IdSector: $('#IdSector').val(),
            RazonSocial: $('#RazonSocial').val(),
            RUC: $('#RUC').val(),
            NroOferta: $('#NroOferta').val(),
            NroPostulante: $('#NroPostulante').val(),
            nroPaginaActual: 1,

        };
        //debugger;

        //Cargar("resultadobusqueda", "/UTP/BusquedaAvanzadaEmpresas", oferta);

        Cargar("resultadobusqueda", '@Url.Action("BusquedaAvanzadaEmpresas", "UTP")', oferta);
    });

    function Cargar(id, link, entidad) {
        //debugger;
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(entidad),
            dataType: 'html'
        })
        .success(function (result) {
            $("#" + id).html(result);
            //alert(result);
            //console.log(result);
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);
            alert('error');
        })
    }


    function BusquedaSimpleEmpresasActivas(nroPagina) {
        var empresa = {
            PalabraClave: $('#PalabraClave').val(),
            nroPaginaActual: nroPagina,

        };
        //Cargar("resultadobusqueda", "/UTP/BusquedaSimpleEmpresasActivas", empresa);
        Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleEmpresasActivas", "UTP")', empresa);
    }

    function BusquedaAvanzadaEmpresasActivas(nroPagina) {

        var oferta = {
            NombreComercial: $('#NombreComercial').val(),
            IdEstadoEmpresa: $('#IdEstadoEmpresa').val(),
            IdSector: $('#IdSector').val(),
            RazonSocial: $('#RazonSocial').val(),
            RUC: $('#RUC').val(),
            NroOferta: $('#NroOferta').val(),
            NroPostulante: $('#NroPostulante').val(),
            nroPaginaActual: nroPagina,

        };

        //Cargar("resultadobusqueda", "/UTP/BusquedaAvanzadaEmpresas", oferta);
        Cargar("resultadobusqueda", '@Url.Action("BusquedaAvanzadaEmpresas", "UTP")', oferta);
    }

    //function ValidaSoloNumeros() {
    //    if ((event.keyCode < 48) || (event.keyCode > 57))
    //        event.returnValue = false;
    //}

    //function validarNroOferta()
    //{
    //    NroOferta: $('#NroOferta').val(),
    //    document.getElementById(NroOferta);

    //    if (NroOferta=null)     
    //    {
    //        NroOferta = 0;
    //    }
       
    //}
</script>


