@model IEnumerable<UTPPrototipo.Models.ViewModels.UTP.VistaObtenerEventosUTP>

@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Eventos";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />

<div class="container fuente-pequeña" style="margin-top:2px;">

    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    <div class="panel-group" id="CriterioBusquedaPostulacion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="CabeceraColapsaBusqueda" style="padding: 2px 2px 2px 6px;">
                <div class="panel-title">
                    <div data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" data-target="#ColapsaBusqueda" aria-expanded="true" aria-controls="ColapsaBusqueda" class="fuente-seccion">
                        <span role="button">Búsqueda</span>
                        <span class="glyphicon pull-right" role="button"></span>
                    </div>
                </div>
            </div>
            <div id="ColapsaBusqueda" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CabeceraColapsaBusqueda">
                <div class="panel-body">
                    <div class="row">
                        @*@using (Html.BeginForm("Eventos", "UTP", FormMethod.Get))
                            {*@
                        <div class="col-sm-8">


                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon fuente-pequeña">Palabra Clave</span>

                                @Html.TextBox("SearchString", "", new { @class = "form-control", @placeholder = "Busqueda Por Evento" })
                                @*<input type="text" class="form-control" placeholder="Palabra clave" />*@


                            </div>
                        </div>
                        <div class="col-sm-4">

                            @* <input type="submit" class="fui" style="font-size:30px;border-width:0px;background-color:transparent;" value="(" />*@
                            @*<button class="btn btn-default color-paleta5 fa fa-search" id="buscar"></button>*@
                            <button type="submit" onclick="buscarPaginacion(1);" class="btn btn-default fa fa-search color-paleta5"></button>
                        </div>
                        @*}*@
                    </div>
                </div>
            </div>

        </div>

        <br />

        @*<h5>Eventos</h5>*@






    </div>
    <br />
    <div id="resultadobusqueda">
    </div>
    @if (ViewBag.Rol != "ROLUTP")
    {
        <div class="row">
            <div class="col-sm-12">
                @* <button class="btn btn-default color-paleta5" >Nuevo Evento</button>*@
                <a class="btn btn-default color-paleta5" href=@Url.Action("evento", "UTP")>Nuevo Evento</a>
            </div>
        </div>
    }
    
    <hr />
</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta6 color-paleta7 color-paleta8").addClass("color-paleta5");
        $('#PestañaEventos').css('backgroundColor', '#f00');
        var SearchString = $('#SearchString').val();

        var url = '@Url.Action("BusquedaEventos", "UTP")' + "?SearchString=" + SearchString + '&nroPaginaActual=' + 1;

        $.get(url, function (data) {
            console.log(data);
            $('#resultadobusqueda').html(data);
        }).error(function (err) { console.log(err); });
    });


    function buscarPaginacion(nroPaginaActual) {
        //debugger;

        var SearchString = $('#SearchString').val();

        var url = '@Url.Action("BusquedaEventos", "UTP")' + "?SearchString=" + SearchString + '&nroPaginaActual=' + nroPaginaActual;

        $.get(url, function (data) {
            console.log(data);
            $('#resultadobusqueda').html(data);
        }).error(function (err) { console.log(err); });

    }
</script>

@*<script>
 
        var texto = "@ViewBag.Mensaje";
        alert(texto);

</script>*@


@{
    //Se valida que exista mensaje de éxito al crear una oferta
    if (TempData["MsjExitoCrearEvento"] != null)
    {
        <input id="MsjExitoCrearEvento" type="hidden" value="@TempData["MsjExitoCrearEvento"]" />
        TempData["MsjExitoCrearEvento"] = null; //Se establece el valor nuevamente en NULL.

        //Se muestra el script
        <script>

            var msjExito = document.getElementById("MsjExitoCrearEvento").value;
            alert(msjExito);

                    
            $(document).ready(function (nroPaginaActual) {
             
                var SearchString = $('#SearchString').val();

                var url = '@Url.Action("BusquedaEventos", "UTP")' + "?SearchString=" + SearchString + '&nroPaginaActual=' + nroPaginaActual;

                $.get(url, function (data) {
                    console.log(data);
                    $('#resultadobusqueda').html(data);
                }).error(function (err) { console.log(err); });
            });
            

        </script>
    }

}




