@*@model  IEnumerable<UTPPrototipo.Models.ViewModels.Cuenta.TicketUTP >*@

@using UTP.PortalEmpleabilidad.Modelo

@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Mi Portal";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">

    <!---Cabecera de la página.-->
    @{Html.RenderAction("VistaCabeceraUtpMiPortal", "UTP");}

    <ul id="offers-tabs" class="nav nav-justified nav-pills">
        <li role="presentation" class="active" style="padding: 4px;"><a href="@Url.Action("Ofertas", "UTP", new { Tab = "Todos" })">Todos</a></li>
        <li role="presentation" class="active" style="padding: 4px;"><a href="@Url.Action("Ofertas", "UTP", new { Tab = "PosicionesDeEntrada" })">Posiciones de entrada</a></li>
        <li role="presentation" class="active" style="padding: 4px;"><a href="@Url.Action("Ofertas", "UTP", new { Tab = "Practicas" })">Prácticas</a></li>
        <li role="presentation" class="active" style="padding: 4px;"><a href="@Url.Action("Ofertas", "UTP", new { Tab = "Empleo" })">Empleo</a></li>
    </ul>

    <br />

    <div class="row">
        <div class="col-sm-7">
            <div class="row">
                <div id="divResultadoOfertasPendientes" class="col-sm-12 fuente-pequeña" style="border-right:solid;border-color:rgb(220, 220, 220);border-width:1px;">
                    @Html.Action("VistaOfertasPendientes", "UTP", new { nroPaginaActual = 1 })
                </div>
            </div>
            <div class="row">
                <div id="divResultadoEmpresasPendientes" class="col-sm-12 fuente-pequeña" style="border-right:solid;border-color:rgb(220, 220, 220);border-width:1px;">
                    @Html.Action("Vista_EmpresasPendientes", "UTP", new { nroPaginaActual = 1 })
                </div>
            </div>
        </div>
        <div class="col-sm-5 fuente-pequeña">
            <!--INICIO-->
            <div class="panel-group" id="grupoMensajes" role="tablist" aria-multiselectable="true">
                @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_UTP_INDEX })
            </div>
            <!--FIN-->
        </div>
    </div>
    <div class="col-sm-7 fuente-pequeña">
        <div class="row">
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7 color-paleta8 color-paleta9").addClass("color-paleta1");
        $('#PestañaIndex').css('backgroundColor', '#f00');
    });

    function buscarOfertasPendientes(nroPaginaActual) {
       
        var url = '@Url.Action("VistaOfertasPendientes", "UTP")' + '?nroPaginaActual=' + nroPaginaActual;

        $.get(url, function (data) {
            $('#divResultadoOfertasPendientes').html(data);
        }).then(function () {

        });
    }

    function buscarEmpresasPendientes(nroPaginaActual) {

        var url = '@Url.Action("Vista_EmpresasPendientes", "UTP")' + '?nroPaginaActual=' + nroPaginaActual;

        $.get(url, function (data) {
            $('#divResultadoEmpresasPendientes').html(data);
        }).then(function () {

        });
    }

</script>
