@model UTPPrototipo.Models.ViewModels.Contenido.ContenidoVista


@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Mantenimiento de Portal";
}

@*<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>*@

<div class="container fuente-pequeña" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    <h5>Nuevo Contenido del Portal</h5>
    <hr>

    @*@using (Html.BeginForm())*@
    @using (Html.BeginForm("Portal_insertar", "UTP", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">Titulo</span>
                @Html.TextAreaFor(model => model.Titulo, new { @class = "form-control", rows = "3" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">Sub<br />Titulo</span>
                @Html.TextAreaFor(model => model.SubTitulo, new { @class = "form-control", rows = "3" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">Descrip-<br />ción</span>
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", rows = "10" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">Menú</span>
                @Html.DropDownList("Menu", ViewData["ContenidoMenu"] as List<SelectListItem>, "- Seleccione Menú -", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">

            <div class="input-group">
                <span class="input-group-addon">Imagen</span>
                @Html.TextBoxFor(model => model.ImagenHtml, new { type = "file", @class = "form-control" })



            </div>
           

        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">@Html.EditorFor(model => model.Activo)</span>
                <span class="form-control">Activo</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">@Html.EditorFor(model => model.EnPantallaPrincipal)</span>
                <span class="form-control">En Pantalla principal</span>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="text-align:right;">
        <button class="btn btn-default color-paleta7" type="submit" value="Guardar">Guardar</button>
    </div>

    }

 </div>  
  

        @section Scripts {
<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta8").addClass("color-paleta7");
        $('#PestañaPortal').css('backgroundColor', '#f00');
    });
    </script>
<script>
    $('#Id').attr("disabled", true);
    </script>

    }

















