@*@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Contenido>*@

@model  IEnumerable<UTPPrototipo.Models.ViewModels.Contenido.ContenidoVista>
@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Mantenimiento de Portal";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />


<div class="container fuente-pequeña" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    <h5>Contenido del Portal</h5>
    <br />

    @using (Html.BeginForm())
    {

        @*<b>Lista</b>
            @Html.DropDownList("Menu", ViewData["ContenidoMenu"] as List<SelectListItem>, new {style = "width: 200px;height:20px" })*@

    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">Menú</span>
                @Html.DropDownList("Menu", ViewData["ContenidoMenu"] as List<SelectListItem>, "- Seleccione una Sección-", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-sm-3">
            <button class="btn btn-default color-paleta7"><span class="fa fa-search"></span></button>
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Crear", "Portal_insertar", null, new { @class = "btn btn-default color-paleta7" })
        </div>
    </div>
    }


    <h2></h2>


    <div class="row grilla1-cabecera">

        <div class="col-sm-1">
            ID
        </div>
        <div class="col-sm-2">
            Menú
        </div>
        <div class="col-sm-2">
            Título
        </div>
        <div class="col-sm-2">
            Sub-Título
        </div>
        <div class="col-sm-2">
            Descripción
        </div>
        <div class="col-sm-3">
            Imagen
        </div>
        <div class="col-sm-1">

        </div>
    </div>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdContenido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TituloMenu)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SubTitulo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>


                <td>
                    @*@Html.image(modelItem => item.Imagen)*@

                    @*<img src="@item.Imagen" alt="" />*@


                    @*<img src="/Content/imagen/@item.Imagen" height="100" width="100" />*@

                    @*      <img src="/Contenido/RetrieveImage/@item.IdContenido" alt="" height=100 width=200 />*@
                    <img alt="" height=100 width=200 src='@Url.Action("Imagen", "UTP", new { id = @item.IdContenido })' />
                </td>


                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Menu)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Portal_Editar_Buscar", new { id = item.IdContenido })|

                    @*  @Html.ActionLink("Eliminar", "Contenido_Eliminar", new { id = item.IdContenido })*@


                    @Html.ActionLink("Eliminar", "Contenido_Eliminar", new { id = item.IdContenido }, new { onclick = "return confirm('Está Seguro que desea Eliminar?');" })



                </td>
            </tr>
        }

    </div>


</div>



<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta8").addClass("color-paleta7");
    });


</script>


