@model  UTPPrototipo.Models.ViewModels.Contenido.ContenidoVista



@*@model UTP.PortalEmpleabilidad.Modelo.Contenido*@

@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Mantenimiento de Portal";
}
<div class="container fuente-pequeña" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    @using (Html.BeginForm("Portal_Editar_Buscar", "UTP", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <h5>Contenido de Portal</h5>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="row" hidden>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    @Html.EditorFor(model => model.IdContenido, null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input class="form-control " value="@Model.IdContenido" disabled />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Titulo</span>
                    @Html.TextAreaFor(model => model.Titulo, new { @class = "form-control", rows = "3" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Sub<br />Titulo</span>
                    @Html.TextAreaFor(model => model.SubTitulo, new { @class = "form-control", rows = "3" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Descrip-<br />ción</span>
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", rows = "10" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Menú</span>
                    @Html.DropDownList("Menu", ViewData["ContenidoMenu"] as List<SelectListItem>, "- Seleccione Menú -", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                @if (Model.ArchivoNombreOriginal == "" || Model.ArchivoNombreOriginal == null)
                {
                    <span class="input-group-addon">Imagen</span>
                    @Html.TextBoxFor(model => model.ImagenHtml, new { type = "file" })
                    @Html.ValidationMessageFor(model => model.ImagenHtml)


                }
                else
                {
                    <div class="input-group">
                        <span class="input-group-addon">Imagen</span>
                        <input class="form-control" value="@Model.ArchivoNombreOriginal" disabled />
                    </div>
                    @Html.ActionLink("Remover Gráfico", "RemoverArchivo", new { id = Model.IdContenido, @class = "form-control" })
                }

            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">@Html.EditorFor(model => model.Activo)</span>
                    <span class="form-control">Activo</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">@Html.EditorFor(model => model.EnPantallaPrincipal)</span>
                    <span class="form-control">En Pantalla principal</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="text-align:right;">
            <button class="btn btn-default color-paleta7" type="submit" value="Guardar">Guardar</button>
        </div>

        <table class="fuente-pequeña">
            <tr class="linea_raya">
                <td class="celda-nombre">
                    Creado Por
                </td>
                <td class="celda-datos">
                    @Model.CreadoPor
                </td>
            </tr>
            <tr class="linea_raya">
                <td class="celda-nombre">
                    Creado el
                </td>
                <td class="celda-datos">
                    @Model.FechaCreacion
                </td>
            </tr>
            <tr class="linea_raya">
                <td class="celda-nombre">
                    Modificado Por
                </td>
                <td class="celda-datos">
                    @Model.ModificadoPor
                </td>
            </tr>
            <tr class="linea_raya">
                <td class="celda-nombre">
                    Modificado el
                </td>
                <td class="celda-datos">
                    @Model.FechaModificacion
                </td>
            </tr>
        </table>
        <hr />
    }
</div>
    <script>

        $(document).ready(function () {
            $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta8").addClass("color-paleta7");
        });


    </script>
