@*@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Contenido>*@

@model  IEnumerable<UTPPrototipo.Models.ViewModels.Contenido.ContenidoVista>
@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Mantenimiento de Portal";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />


<div class="container" style="margin-top:2px;">
    <h2>Portal</h2>
    
    @using (Html.BeginForm())
    {
              
  

        @*<b>Lista</b>
            @Html.DropDownList("Menu", ViewData["ContenidoMenu"] as List<SelectListItem>, new {style = "width: 200px;height:20px" })*@


        <table>
            <thead>
                <tr>
                    <th>Lista:</th>
                  
                    <th>@Html.DropDownList("Menu", ViewData["ContenidoMenu"] as List<SelectListItem>, "Seleccione...", new { @class = "form-control", style = "width: 200px;height:20px" })</th>
                    <th><input type="submit" value=" Buscar" class="btn btn-default" /></th>
                    <th></th>

                </tr>
            </thead>

        </table>
    <h3>
        @Html.ActionLink("Crear", "Portal_insertar")
    </h3>

    }


                    <h2></h2>


                    <table class="table">
                        <tr>
                            <th>
                                <b>Codigo</b>
                                @*@Html.DisplayNameFor(model => model.IdContenido)*@
                            </th>

                            <th>
                                <b>Menú</b>
                                @*@Html.DisplayNameFor(model => model.TituloMenu)*@
                            </th>

                            <th>
                                <b>Título</b>
                                @*@Html.DisplayNameFor(model => model.Titulo)*@
                            </th>

                            <th>
                                <b>Sub Título</b>
                                @*@Html.DisplayNameFor(model => model.SubTitulo)*@
                            </th>

                            <th>
                                <b>Descripcíon</b>
                                @*@Html.DisplayNameFor(model => model.Descripcion)*@
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Imagen)
                            </th>




                            <th style="display:none">
                                @Html.DisplayNameFor(model => model.Menu)
                            </th>

                            @*<th>
                                    <b>Editar</b>
                                </th>
                                <th>
                                    <b>Eliminar</b>
                                </th>*@



                            <th></th>
                        </tr>



                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdContenido)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.TituloMenu)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.SubTitulo)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>


                                <td>
                                    @*@Html.image(modelItem => item.Imagen)*@

                                    @*<img src="@item.Imagen" alt="" />*@


                                    @*<img src="/Content/imagen/@item.Imagen" height="100" width="100" />*@

                                    @*      <img src="/Contenido/RetrieveImage/@item.IdContenido" alt="" height=100 width=200 />*@
                                    <img alt="" height=100 width=200 src='@Url.Action("Imagen", "UTP", new { id = @item.IdContenido })' />
                                </td>


                                <td style="display:none">
                                    @Html.DisplayFor(modelItem => item.Menu)
                                </td>

                                <td>
                                    @Html.ActionLink("Editar", "Portal_Editar_Buscar", new { id = item.IdContenido })|

                                  @*  @Html.ActionLink("Eliminar", "Contenido_Eliminar", new { id = item.IdContenido })*@
                           

                                    @Html.ActionLink("Eliminar", "Contenido_Eliminar", new { id = item.IdContenido }, new { onclick = "return confirm('Esta Seguro que desea Eliminar?');" })

                                    

                                </td>
                            </tr>
            }

                    </table>


                </div>



                <script>

                    $(document).ready(function () {
                        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5").addClass("color-paleta3");
                    });


                </script>


              