@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Contenido>

@*@model  IEnumerable<UTPPrototipo.Models.ViewModels.Contenido.ContenidoVista>*@
@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Mantenimiento de Portal";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />


<div class="container fuente-pequeña" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    <h5>Contenido del Portal</h5>
    <br />

    @using (Html.BeginForm())
    {

        @*<b>Lista</b>
            @Html.DropDownList("Menu", ViewData["ContenidoMenu"] as List<SelectListItem>, new {style = "width: 200px;height:20px" })*@

    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">Menú</span>
                @Html.DropDownList("Menu", ViewData["ContenidoMenu"] as List<SelectListItem>, "- Seleccione una Sección-", new { @class = "form-control", @id = "Menu" })
            </div>
        </div>

        <div class="col-sm-3">
            @*<button class="btn btn-default color-paleta7"><span class="fa fa-search"></span></button>*@
            <span class="fui" style="font-size:30px;cursor:pointer" id="buscaravanzada">(</span>
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Crear", "Portal_insertar", null, new { @class = "btn btn-default color-paleta7" })
        </div>
     
        </div>
    <div id="resultadobusqueda">
    </div>
    }
    <h2></h2>

    
    <hr />
</div>

<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta8 color-paleta9").addClass("color-paleta7")
        $('#PestañaPortal').css('backgroundColor', '#f00');
        var oferta = {
            Menu: $('#Menu').val(),

            nroPaginaActual: 1,

        };

        Cargar("resultadobusqueda", '@Url.Action("ResultadoBusquedaContenidoUTP", "UTP")', oferta);

    });

    $('#buscaravanzada').click(function () {
        var oferta = {
            Menu: $('#Menu').val(),

            nroPaginaActual: 1,

        };

        Cargar("resultadobusqueda", '@Url.Action("ResultadoBusquedaContenidoUTP", "UTP")', oferta);
    });

    function Cargar(id, link, entidad) {
        //debugger;
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(entidad),
            dataType: 'html'
        })
        .success(function (result) {
            $("#" + id).html(result);
            //alert(result);
            //console.log(result);
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);
            alert('error');
        })
    }

    @*function BusquedaPortalContenido(nroPagina) {
        var empresa = {
            Menu: $('#Menu').val(),
            nroPaginaActual: nroPagina,

        };

        Cargar("resultadobusqueda", '@Url.Action("ResultadoBusquedaContenidoUTP", "UTP")', empresa);
    }*@


</script>


