@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaEmpresListarOfertas>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("prueba", "UTP", FormMethod.Get))
{
<p>
    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectorEmpresarial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ofertas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreComercial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectorEmpresarial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ofertas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
