@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Reportes";
}

<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/bundle.js"></script>
<link href="~/Content/reports.css" rel="stylesheet" />
<style>
    #chartAlumnosActivos .dhx_axis_item_x {
        top: 308px !important;
    }

    #chartEmpresasActivas .dhx_axis_item_x {
        top: 308px !important;
    }
</style>
<div class="container fuente-pequeña" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    <br />
    <div class="row reportes">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading1">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            <h5 role="button">Alumnos activos (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapsing" role="tab" aria-labelledby="heading1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartAlumnosActivos" style="height:350px"></div>
                            </div>
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <h6># de alumnos activos (acumulado): <strong><span id="alumnosActivos"></span></strong></h6>
                            <h6># de alumnos con CV completo (acumulado): <strong><span id="alumnosCVCompleto"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading2">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <h5 role="button">Empresas activas (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse2" class="panel-collapse collapsing" role="tab" aria-labelledby="heading2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartEmpresasActivas" style="height:350px"></div>
                            </div>
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <h6># de empresas activas (acumulado): <strong><span id="empresasActivas"></span></strong></h6>
                            <h6># de ofertas publicadas (acumulado): <strong><span id="ofertasPublicadas"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row reportes">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading3">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <h5 role="button">Empresas según clasificación (acumulado)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse3" class="panel-collapse collapsing" role="tab" aria-labelledby="heading3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartEmpresasSegunClasificacion" style="height:300px"></div>
                            </div>
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <h6># de empresas activas (acumulado): <strong><span id="empresasSegunClasificacionAcumulado"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading4">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <h5 role="button">Ofertas según clasificación (acumulado)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse4" class="panel-collapse collapsing" role="tab" aria-labelledby="heading4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartOfertasSegunClasificacion" style="height:300px"></div>
                            </div>
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <h6># de ofertas publicadas (acumulado): <strong><span id="ofertasSegunClasificacionAcumulado"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row reportes">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading5">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            <h5 role="button">Empresas según clasificación (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse5" class="panel-collapse collapsing" role="tab" aria-labelledby="heading5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Año
                                    </div>
                                    <input class="form-control" id="empresasSegunClasificacionPorMes_Ano" value="@(DateTime.Today.Year)" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Mes
                                    </div>
                                    <select class="form-control" id="empresasSegunClasificacionPorMes_Mes">
                                        <option value="">- Seleccione Mes -</option>
                                        <option value="1" @(DateTime.Today.Month == 1 ? "selected" : "")>Enero</option>
                                        <option value="2" @(DateTime.Today.Month == 2 ? "selected" : "")>Febrero</option>
                                        <option value="3" @(DateTime.Today.Month == 3 ? "selected" : "")>Marzo</option>
                                        <option value="4" @(DateTime.Today.Month == 4 ? "selected" : "")>Abril</option>
                                        <option value="5" @(DateTime.Today.Month == 5 ? "selected" : "")>Mayo</option>
                                        <option value="6" @(DateTime.Today.Month == 6 ? "selected" : "")>Junio</option>
                                        <option value="7" @(DateTime.Today.Month == 7 ? "selected" : "")>Julio</option>
                                        <option value="8" @(DateTime.Today.Month == 8 ? "selected" : "")>Agosto</option>
                                        <option value="9" @(DateTime.Today.Month == 9 ? "selected" : "")>Setiembre</option>
                                        <option value="10" @(DateTime.Today.Month == 10 ? "selected" : "")>Octubre</option>
                                        <option value="11" @(DateTime.Today.Month == 11 ? "selected" : "")>Noviembre</option>
                                        <option value="12" @(DateTime.Today.Month == 12 ? "selected" : "")>Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn btn-default color-paleta6" onclick="cargaEmpresasSegunClasificacionMes();">
                                    Mostrar
                                </div>
                            </div>
                        </div>
                        <br />
                        <p id="msgEmpresasSegunClasificacionMes">
                        </p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartEmpresasSegunClasificacionMes" style="height:300px"></div>
                            </div>
                        </div>
                        <br />
                        <div style="text-align:center;" id="divEmpresasSegunClasificacionMensual">
                            <h6># de empresas activas (mensual): <strong><span id="empresasSegunClasificacionMensual"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading6">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            <h5 role="button">Ofertas según clasificación (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse6" class="panel-collapse collapsing" role="tab" aria-labelledby="heading6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Año
                                    </div>
                                    <input class="form-control" id="ofertasSegunClasificacionPorMes_Ano" value="@(DateTime.Today.Year)" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Mes
                                    </div>
                                    <select class="form-control" id="ofertasSegunClasificacionPorMes_Mes">
                                        <option value="">- Seleccione Mes -</option>
                                        <option value="1" @(DateTime.Today.Month == 1 ? "selected" : "")>Enero</option>
                                        <option value="2" @(DateTime.Today.Month == 2 ? "selected" : "")>Febrero</option>
                                        <option value="3" @(DateTime.Today.Month == 3 ? "selected" : "")>Marzo</option>
                                        <option value="4" @(DateTime.Today.Month == 4 ? "selected" : "")>Abril</option>
                                        <option value="5" @(DateTime.Today.Month == 5 ? "selected" : "")>Mayo</option>
                                        <option value="6" @(DateTime.Today.Month == 6 ? "selected" : "")>Junio</option>
                                        <option value="7" @(DateTime.Today.Month == 7 ? "selected" : "")>Julio</option>
                                        <option value="8" @(DateTime.Today.Month == 8 ? "selected" : "")>Agosto</option>
                                        <option value="9" @(DateTime.Today.Month == 9 ? "selected" : "")>Setiembre</option>
                                        <option value="10" @(DateTime.Today.Month == 10 ? "selected" : "")>Octubre</option>
                                        <option value="11" @(DateTime.Today.Month == 11 ? "selected" : "")>Noviembre</option>
                                        <option value="12" @(DateTime.Today.Month == 12 ? "selected" : "")>Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn btn-default color-paleta6" onclick="cargaOfertasSegunClasificacionMes();">
                                    Mostrar
                                </div>
                            </div>
                        </div>
                        <br />
                        <p id="msgOfertasSegunClasificacionMes"></p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartOfertasSegunClasificacionMes" style="height:300px"></div>
                            </div>
                        </div>
                        <br />
                        <div style="text-align:center;" id="divOfertasSegunClasificacionMensual">
                            <h6># de ofertas publicadas (mensual): <strong><span id="ofertasSegunClasificacionMensual"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row reportes">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading7">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            <h5 role="button">Top 10 carreras más demandadas</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse7" class="panel-collapse collapsing" role="tab" aria-labelledby="heading7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartTop10CarrerasMasDemandadas" data-template=" " style="height:360px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading8">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            <h5 role="button">Ofertas target según tipo de trabajo (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse8" class="panel-collapse collapsing" role="tab" aria-labelledby="heading8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Año
                                    </div>
                                    <input class="form-control" id="ofertasSegunTipoTrabajoUTP_Ano" value="@(DateTime.Today.Year)" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Mes
                                    </div>
                                    <select class="form-control" id="ofertasSegunTipoTrabajoUTP_Mes">
                                        <option value="">- Seleccione Mes -</option>
                                        <option value="1" @(DateTime.Today.Month == 1 ? "selected" : "")>Enero</option>
                                        <option value="2" @(DateTime.Today.Month == 2 ? "selected" : "")>Febrero</option>
                                        <option value="3" @(DateTime.Today.Month == 3 ? "selected" : "")>Marzo</option>
                                        <option value="4" @(DateTime.Today.Month == 4 ? "selected" : "")>Abril</option>
                                        <option value="5" @(DateTime.Today.Month == 5 ? "selected" : "")>Mayo</option>
                                        <option value="6" @(DateTime.Today.Month == 6 ? "selected" : "")>Junio</option>
                                        <option value="7" @(DateTime.Today.Month == 7 ? "selected" : "")>Julio</option>
                                        <option value="8" @(DateTime.Today.Month == 8 ? "selected" : "")>Agosto</option>
                                        <option value="9" @(DateTime.Today.Month == 9 ? "selected" : "")>Setiembre</option>
                                        <option value="10" @(DateTime.Today.Month == 10 ? "selected" : "")>Octubre</option>
                                        <option value="11" @(DateTime.Today.Month == 11 ? "selected" : "")>Noviembre</option>
                                        <option value="12" @(DateTime.Today.Month == 12 ? "selected" : "")>Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn btn-default color-paleta6" onclick="cargaOfertasSegunTipoTrabajoUTP();">
                                    Mostrar
                                </div>
                            </div>
                        </div>
                        <br />
                        <p id="msgOfertasSegunTipoTrabajoUTP"></p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartOfertasSegunTipoTrabajoUTP" style="height:300px"></div>
                            </div>
                        </div>
                        <div style="text-align:center;" id="ofertasTargetDiv">
                            <h6># de ofertas target según tipo de trabajo (acumulado): <strong><span id="ofertasTarget"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row reportes">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading9">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            <h5 role="button">Carreras sin ofertas de prácticas (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse9" class="panel-collapse collapsing" role="tab" aria-labelledby="heading9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Año
                                    </div>
                                    <input class="form-control" id="carrerasSinOfertasDePracticas_Ano" value="@(DateTime.Today.Year)" />
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Mes
                                    </div>
                                    <select class="form-control" id="carrerasSinOfertasDePracticas_Mes">
                                        <option value="">- Seleccione Mes -</option>
                                        <option value="1" @(DateTime.Today.Month == 1 ? "selected" : "")>Enero</option>
                                        <option value="2" @(DateTime.Today.Month == 2 ? "selected" : "")>Febrero</option>
                                        <option value="3" @(DateTime.Today.Month == 3 ? "selected" : "")>Marzo</option>
                                        <option value="4" @(DateTime.Today.Month == 4 ? "selected" : "")>Abril</option>
                                        <option value="5" @(DateTime.Today.Month == 5 ? "selected" : "")>Mayo</option>
                                        <option value="6" @(DateTime.Today.Month == 6 ? "selected" : "")>Junio</option>
                                        <option value="7" @(DateTime.Today.Month == 7 ? "selected" : "")>Julio</option>
                                        <option value="8" @(DateTime.Today.Month == 8 ? "selected" : "")>Agosto</option>
                                        <option value="9" @(DateTime.Today.Month == 9 ? "selected" : "")>Setiembre</option>
                                        <option value="10" @(DateTime.Today.Month == 10 ? "selected" : "")>Octubre</option>
                                        <option value="11" @(DateTime.Today.Month == 11 ? "selected" : "")>Noviembre</option>
                                        <option value="12" @(DateTime.Today.Month == 12 ? "selected" : "")>Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn btn-default color-paleta6" onclick="cargaCarrerasSinOfertasDePracticas();">
                                    Mostrar
                                </div>
                            </div>
                        </div>
                        <br />
                        <p id="msgCarrerasSinOfertasDePracticas"></p>
                        <div style="text-align:left; margin-left:45px" id="carrerasSinOfertasDePracticas"> </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading10">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            <h5 role="button">Carreras sin ofertas de empleo (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse10" class="panel-collapse collapsing" role="tab" aria-labelledby="heading10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Año
                                    </div>
                                    <input class="form-control" id="carrerasSinOfertasDeEmpleo_Ano" value="@(DateTime.Today.Year)" />
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Mes
                                    </div>
                                    <select class="form-control" id="carrerasSinOfertasDeEmpleo_Mes">
                                        <option value="">- Seleccione Mes -</option>
                                        <option value="1" @(DateTime.Today.Month == 1 ? "selected" : "")>Enero</option>
                                        <option value="2" @(DateTime.Today.Month == 2 ? "selected" : "")>Febrero</option>
                                        <option value="3" @(DateTime.Today.Month == 3 ? "selected" : "")>Marzo</option>
                                        <option value="4" @(DateTime.Today.Month == 4 ? "selected" : "")>Abril</option>
                                        <option value="5" @(DateTime.Today.Month == 5 ? "selected" : "")>Mayo</option>
                                        <option value="6" @(DateTime.Today.Month == 6 ? "selected" : "")>Junio</option>
                                        <option value="7" @(DateTime.Today.Month == 7 ? "selected" : "")>Julio</option>
                                        <option value="8" @(DateTime.Today.Month == 8 ? "selected" : "")>Agosto</option>
                                        <option value="9" @(DateTime.Today.Month == 9 ? "selected" : "")>Setiembre</option>
                                        <option value="10" @(DateTime.Today.Month == 10 ? "selected" : "")>Octubre</option>
                                        <option value="11" @(DateTime.Today.Month == 11 ? "selected" : "")>Noviembre</option>
                                        <option value="12" @(DateTime.Today.Month == 12 ? "selected" : "")>Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn btn-default color-paleta6" onclick="cargaCarrerasSinOfertasDeEmpleo();">
                                    Mostrar
                                </div>
                            </div>
                        </div>
                        <br />
                        <p id="msgCarrerasSinOfertasDeEmpleo"></p>
                        <div style="text-align:left; margin-left:45px" id="carrerasSinOfertasDeEmpleo"> </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row reportes">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading11">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                            <h5 role="button">Vacantes ofrecidas (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse11" class="panel-collapse collapsing" role="tab" aria-labelledby="heading11">
                    <div class="panel-body">
                        <div id="chartVacantesOfrecidas" style="height:400px"></div>
                        <br />
                        <div style="text-align:center;">
                            <h6># de vacantes ofrecidas (acumulado): <strong><span id="vacantesOfrecidas"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading12">
                    <div class="panel-title">
                        <div class="fuente-seccion"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                            <h5 role="button">Postulaciones a ofertas de empresas target (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse12" class="panel-collapse collapsing" role="tab" aria-labelledby="heading12">
                    <div class="panel-body">
                        <div id="chartEmpresasTarget" style="height:400px"></div>
                        <br />
                        <div style="text-align:center;">
                            <h6># postulaciones a empresas target (acumulado): <strong><span id="postulantesEmpresas"></span></strong></h6>
                            <h6>Ratio promedio de postulantes invitados a entrevista: <strong><span id="ratioPostulantes"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row reportes">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading13">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                            <h5 role="button">Ofertas con procesos cerrados (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse13" class="panel-collapse collapsing" role="tab" aria-labelledby="heading13">
                    <div class="panel-body">
                        <div id="chartProcesosCerrados" style="height:400px"></div>
                        <br />
                        <div style="text-align:center;">
                            <h6># de ofertas con procesos cerrados (acumulado): <strong><span id="procesosCerrados"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading14">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                            <h5 role="button">Clasificación de CV's Recibidos (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse14" class="panel-collapse collapsing" role="tab" aria-labelledby="heading14">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Año
                                    </div>
                                    <input class="form-control" id="clasificacionCvsRecibidos_Ano" value="@(DateTime.Today.Year)" />
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Mes
                                    </div>
                                    <select class="form-control" id="clasificacionCvsRecibidos_Mes">
                                        <option value="">- Seleccione Mes -</option>
                                        <option value="1" @(DateTime.Today.Month == 1 ? "selected" : "")>Enero</option>
                                        <option value="2" @(DateTime.Today.Month == 2 ? "selected" : "")>Febrero</option>
                                        <option value="3" @(DateTime.Today.Month == 3 ? "selected" : "")>Marzo</option>
                                        <option value="4" @(DateTime.Today.Month == 4 ? "selected" : "")>Abril</option>
                                        <option value="5" @(DateTime.Today.Month == 5 ? "selected" : "")>Mayo</option>
                                        <option value="6" @(DateTime.Today.Month == 6 ? "selected" : "")>Junio</option>
                                        <option value="7" @(DateTime.Today.Month == 7 ? "selected" : "")>Julio</option>
                                        <option value="8" @(DateTime.Today.Month == 8 ? "selected" : "")>Agosto</option>
                                        <option value="9" @(DateTime.Today.Month == 9 ? "selected" : "")>Setiembre</option>
                                        <option value="10" @(DateTime.Today.Month == 10 ? "selected" : "")>Octubre</option>
                                        <option value="11" @(DateTime.Today.Month == 11 ? "selected" : "")>Noviembre</option>
                                        <option value="12" @(DateTime.Today.Month == 12 ? "selected" : "")>Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn btn-default color-paleta6" onclick="cargaClasificacionCVsRecibidos();">
                                    Mostrar
                                </div>
                            </div>
                        </div>
                        <br />
                        <p id="msgClasificacionCvsRecibidos"></p>
                        <div id="chartClasificacionCvsRecibidos" style="height:400px"></div>
                        <div style="text-align:center;" id="cvsRecibidosDiv">
                            <h6># clasificación total de CV´s (acumulado): <strong><span id="cvsRecibidos"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row reportes">
        <div class="col-sm-12">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading15">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                            <h5 role="button">Contrataciones (mensual)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse15" class="panel-collapse collapsing" role="tab" aria-labelledby="heading15">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartContrataciones" style="height:400px"></div>
                            </div>
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <h6># de contratos (acumulados): <strong><span id="contratosAcumulados"></span></strong></h6>
                            <h6># de contratos target: <strong><span id="contratosTarget"></span></strong></h6>
                            <h6>Ratio de contratados citados a entrevista: <strong><span id="ratioEntrevistados"></span></strong></h6>
                            <h6># de convenios registrados (mes actual): <strong><span id="conveniosDelMes"></span></strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row reportes">
        <div class="col-sm-12">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading" role="tab" id="heading16">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                            <h5 role="button">Alumnos activos según carrera (acumulado)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse16" class="panel-collapse collapsing" role="tab" aria-labelledby="heading16">
                    <div class="panel-body">
                        <div id="chartAlumnosSegunCarrera" style="height:650px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row reportes">
        <div class="col-sm-12">
            <div class="panel panel-default" style="text-align:center;" >
                <div class="panel-heading" role="tab" id="heading17">
                    <div class="panel-title">
                        <div class="fuente-seccion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                            <h5 role="button">Alumnos con CV completo al 100% según carrera (acumulado)</h5>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="collapse17" class="panel-collapse collapsing" role="tab" aria-labelledby="heading17">
                    <div class="panel-body">
                        <div id="chartCvCompletoSegunCarrera" style="height:650px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta7 color-paleta8 color-paleta9").addClass("color-paleta6")
        $('#PestañaReportes').css('backgroundColor', '#f00');
        cargaAlumnosActivos();
        function cargaAlumnosActivos() {
            var url = '@Url.Action("ReporteAlumnosActivos", "UTP")';
            $.get(url, function (datos) {
                var data = [], i = 0;
                for (; i < datos[0].length; i++) {
                    data.push(_.zipObject(['label', 'value', 'inactive'], [datos[0][i], datos[1][i] == 0 ? "" : datos[1][i], datos[2][i] == 0 ? "" : datos[2][i]]));
                }
                Chart.Column(
                  {
                      container: 'chartAlumnosActivos',
                      color: '#E99522',
                      legend: {
                          align: 'center',
                          valign: 'top',
                          marker: { radius: 0 },
                          values: [
                            { text: 'Alumnos activos', color: '#E99522' },
                            { text: 'Alumnos con CV completo', color: '#C0BA00' }
                          ],                          
                          toggle: false,
                          layout: 'x'
                      }, 
                      padding: { bottom: 70 }
                  }, [
                    {
                        view: 'line',
                        value: "#value#",
                        line: { color: '#333' },
                        label: false,
                        item: { radius: 0 }
                    },
                    {
                        view: 'bar',
                        value: "#inactive#",
                        color: '#C0BA00',                        
                        label: function (o) { return o.inactive; },
                        yAxis: {
                            start: 0,
                            step: 200,
                            end: 2000,
                            lines: false
                        }
                    },
                    {
                        view: 'line',
                        value: "#inactive#",
                        line: { color: 'red' },
                        label: false,
                        item: { radius: 0 }
                    }
                  ]
                )
                  .draw(data);
                $("#alumnosActivos").html(datos[3]);
                $("#alumnosCVCompleto").html(datos[4]);
            });
        }

        cargaEmpresasActivas();
        function cargaEmpresasActivas() {
            var url = '@Url.Action("ReporteEmpresasActivas", "UTP")';
            $.get(url, function (datos) {
                var data = [], i = 0;
                for (; i < datos[0].length; i++) {
                    data.push(_.zipObject(['label', 'value', 'inactive'], [datos[0][i], datos[1][i] == 0 ? "" : datos[1][i], datos[2][i] == 0 ? "" : datos[2][i]]));
                }
                Chart.Column(
                  {
                      container: 'chartEmpresasActivas',
                      color: '#3CACC9',
                      legend: {
                          align: 'center',
                          valign: 'top',
                          marker: { radius: 0 },
                          values: [
                            { text: 'Empresas activas', color: '#3CACC9' },
                            { text: 'Ofertas publicadas', color: '#0E9E95' }
                          ],
                          toggle: false,
                          layout: 'x'
                      },
                      padding: { bottom: 70 }
                  }, [
                    {
                        view: 'line',
                        value: "#value#",
                        line: { color: '#333' },
                        label: false,
                        item: { radius: 0 }
                    },
                    {
                        view: 'bar',
                        value: "#inactive#",
                        color: '#0E9E95',
                        yAxis: {
                            start: 0,
                            step: 100,
                            end: 200,
                            lines: false
                        },
                        label: function (o) { return o.inactive; },
                    },
                    {
                        view: 'line',
                        value: "#inactive#",
                        line: { color: 'red' },
                        label: false,
                        item: { radius: 0 }
                    }
                  ]
                )
                  .draw(data);
                $("#empresasActivas").html(datos[3]);
                $("#ofertasPublicadas").html(datos[4]);
            });
        }

        cargaEmpresasSegunClasificacion();
        function cargaEmpresasSegunClasificacion() {
            var url = '@Url.Action("ReporteEmpresasSegunClasificacion", "UTP")';
            $.get(url, function (datosPie) {
                var data = [], i = 0;
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            label: value.PieLabel,
                            value: eval(value.PieValue),
                            color: value.PieColor
                        };
                    data.push(itemdata);
                    i += eval(value.PieValue);
                })
                Chart.Pie({ container: 'chartEmpresasSegunClasificacion' }).draw(data);
                $("#empresasSegunClasificacionAcumulado").html(i);
            });
        }

        cargaOfertasSegunClasificacion();
        function cargaOfertasSegunClasificacion() {
            var url = '@Url.Action("ReporteOfertasSegunClasificacion", "UTP")';
            $.get(url, function (datosPie) {
                var data = [], i = 0;
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            label: value.PieLabel,
                            value: eval(value.PieValue),
                            color: value.PieColor
                        };
                    data.push(itemdata);
                    i += eval(value.PieValue);
                })
                Chart.Pie({ container: 'chartOfertasSegunClasificacion' }).draw(data);
                $("#ofertasSegunClasificacionAcumulado").html(i);
            });
        }


        cargaTop10Carreras();
        function cargaTop10Carreras() {
            var url = '@Url.Action("ReporteTop10CarrerasMasDemandadas", "UTP")';
            $.get(url, function (datosPie) {
                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            label: value.PieLabel,
                            value: eval(value.PieValue),
                            color: value.PieColor
                        };
                    data.push(itemdata);
                })
                Chart.Pie({
                    container: 'chartTop10CarrerasMasDemandadas',
                    legend: {
                        align: 'center',
                        valign: 'bottom',
                        template: '#label#',
                        marker: { radius: 0 },
                        layout: 'x'
                    },
                    pieInnerText: '<b>#value#</b>'
                }).draw(data);
            });
        }

        CargaVacantesOfrecida();
        function CargaVacantesOfrecida() {
            var url = '@Url.Action("ReporteVacantesOfrecidas", "UTP")';
            $.get(url, function (datos) {
                var data = [], i = 0;
                for (; i < datos[0].length; i++) {
                    data.push(_.zipObject(['label', 'value', 'inactive'], [datos[0][i], datos[1][i] == 0 ? "" : datos[1][i], 0]));
                };
                Chart.Column(
                  {
                      container: 'chartVacantesOfrecidas',
                      color: function (o) { return o.value ? '#2ecc71' : '#eeeeee'; },
                      padding: { bottom: 70 }
                  }, [                      
                        {
                            view: 'line',
                            value: "#value#",
                            line: { color: '#333' },
                            label: false,
                            item: { radius: 0 }
                        },                      
                        {
                            view: 'bar',
                            value: "#inactive#",
                            color: '#FFFFFF',
                            yAxis: {
                                start: 0,
                                step: 100,
                                end: 800
                            },
                            label: function (o) { return o.inactive; }                        
                        }
                     ]
                ).draw(data);
                $("#vacantesOfrecidas").html(datos[2]);
            });
        }

        CargaEmpresasTarget();
        function CargaEmpresasTarget() {
            var url = '@Url.Action("ReporteEmpresasTarget", "UTP")';
            $.get(url, function (datos) {
                var data = [], i = 0;
                for (; i < datos[0].length; i++) {
                    data.push(_.zipObject(['label', 'value', 'inactive'], [datos[0][i], datos[1][i] == 0 ? "" : datos[1][i], 0]));
                };
                Chart.Column(
                    {
                        container: 'chartEmpresasTarget',
                        color: function (o) { return o.value ? '#2ecc71' : '#eeeeee'; },
                        padding: { bottom: 70 }
                    }, [{
                        view: 'line',
                        value: "#value#",
                        line: { color: '#333' },
                        label: false,
                        item: { radius: 0 }
                    }]
                ).draw(data);
                $("#postulantesEmpresas").html(datos[2]);
                $("#ratioPostulantes").html(datos[3]);
            });
        }

        CargaProcesosCerrados();
        function CargaProcesosCerrados() {
            var url = '@Url.Action("ReporteOfertasConProcesosCerrados", "UTP")';
            $.get(url, function (datos) {
                var data = [], i = 0;
                for (; i < datos[0].length; i++) {
                    data.push(_.zipObject(['label', 'value', 'inactive'], [datos[0][i], datos[1][i] == 0 ? "" : datos[1][i], 0]));
                };
                Chart.Column(
                    {
                        container: 'chartProcesosCerrados',
                        color: function (o) { return o.value ? '#2ecc71' : '#eeeeee'; },
                        padding: { bottom: 70 }
                    }, [{
                        view: 'line',
                        value: "#value#",
                        line: { color: '#333' },
                        label: false,
                        item: { radius: 0 }
                    },
                    {
                        view: 'bar',
                        value: "#inactive#",
                        color: '#0E9E95',
                        yAxis: {
                            start: 0,
                            step: 10,
                            end: 100
                        },
                        label: function (o) { return o.inactive; },
                    }]
                ).draw(data);
                $("#procesosCerrados").html(datos[2]);
            });
        }


        CargaContrataciones();
        function CargaContrataciones() {
            var url = '@Url.Action("ReporteContrataciones", "UTP")';
            $.get(url, function (datos) {
                var data = [], i = 0;
                for (; i < datos[0].length; i++) {
                    data.push(_.zipObject(['label', 'value', 'inactive'], [datos[0][i], datos[1][i] == 0 ? "" : datos[1][i], datos[2][i] == 0 ? "" : datos[2][i]]));
                }
                Chart.Column(
                      {
                          container: 'chartContrataciones',
                          color: '#1abc9c',
                          legend: {
                              align: 'right',
                              valign: 'middle',
                              marker: { radius: 0 },
                              values: [
                                { text: 'Total Contrataciones', color: '#1abc9c' },
                                { text: 'Contrataciones Target', color: '#dddddd' }
                              ]
                          }, padding: {bottom : 70}
                      }, [
                        {
                            view: 'line',
                            value: "#value#",
                            line: { color: '#333' },
                            label: false,
                            item: { radius: 0 }
                        },
                        {
                            view: 'bar',
                            value: "#inactive#",
                            color: '#ddd',
                            yAxis: {
                                start: 0,
                                step: 100,
                                end: 2000,
                                lines: false
                            },
                            label: function (o) { return o.inactive; },
                        },
                        {
                            view: 'line',
                            value: "#inactive#",
                            line: { color: 'red' },
                            label: false,
                            item: { radius: 0 }
                        }
                      ]
                    )
                      .draw(data);

                $("#contratosAcumulados").html(datos[3]);
                $("#contratosTarget").html(datos[4]);
                $("#ratioEntrevistados").html(datos[5]);
                $("#conveniosDelMes").html(datos[6]);
            });
        }

        CargaActivosSegunCarrera();
        function CargaActivosSegunCarrera() {
            var url = '@Url.Action("ReporteAlumnosActivosSegunCarrera", "UTP")';
            $.get(url, function (datos) {
                var data = [], i = 0;
                for (; i < datos[0].length; i++) {
                    data.push(_.zipObject(['label', 'value'], [datos[0][i], datos[1][i]]));
                };
                Chart.Bar({
                    container: 'chartAlumnosSegunCarrera',
                    padding: { left: 200, bottom: 60 },
                    xAxis: { lines: false }
                })
                  .draw(data);
            });
        }
        CargaCvCompletosSegunCarrera();
        function CargaCvCompletosSegunCarrera() {
            var url = '@Url.Action("ReporteCvCompletosSegunCarrera", "UTP")';
            $.get(url, function (datos) {
                var data = [], i = 0;
                for (; i < datos[0].length; i++) {
                    data.push(_.zipObject(['label', 'value'], [datos[0][i], datos[1][i]]));
                };
                Chart.Bar({
                    container: 'chartCvCompletoSegunCarrera',
                    padding: { left: 200, bottom: 50 },
                    xAxis: { lines: false }
                })
                  .draw(data);
            });
        }

        cargaEmpresasSegunClasificacionMes();
        cargaOfertasSegunClasificacionMes();
        cargaClasificacionCVsRecibidos();
        cargaOfertasSegunTipoTrabajoUTP();
        cargaCarrerasSinOfertasDeEmpleo();
        cargaCarrerasSinOfertasDePracticas();
    });

    function cargaEmpresasSegunClasificacionMes() {
        var url = '@Url.Action("ReporteEmpresasSegunClasificacionMensual", "UTP")' + '?ano=' + document.getElementById("empresasSegunClasificacionPorMes_Ano").value + '&mes=' + document.getElementById("empresasSegunClasificacionPorMes_Mes").value;
        $("#texto1").html("Cargando...");
        $.get(url, function (datosPie) {
            if (datosPie.length > 0) {
                $("#chartEmpresasSegunClasificacionMes").css("visibility", "visible");
                $("#chartEmpresasSegunClasificacionMes").html("");
                $("#msgEmpresasSegunClasificacionMes").html("");
                $("#divEmpresasSegunClasificacionMensual").css("visibility", "visible");
                var data = [], i = 0;
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            label: value.PieLabel,
                            value: eval(value.PieValue),
                            color: value.PieColor
                        };
                    data.push(itemdata);
                    i += eval(value.PieValue);
                })
                Chart.Pie({ container: 'chartEmpresasSegunClasificacionMes' }).draw(data);
                $("#empresasSegunClasificacionMensual").html(i);
            }
            else {

                $("#msgEmpresasSegunClasificacionMes").html("No se encontraron resultados");
                $("#chartEmpresasSegunClasificacionMes").html("");
                $("#divEmpresasSegunClasificacionMensual").css("visibility", "hidden");
            }
        });
    }
    function cargaOfertasSegunClasificacionMes() {
        var url = '@Url.Action("ReporteOfertasSegunClasificacionMensual", "UTP")' + '?ano=' + document.getElementById("ofertasSegunClasificacionPorMes_Ano").value + '&mes=' + document.getElementById("ofertasSegunClasificacionPorMes_Mes").value;
        $("#texto1").html("Cargando...");
        $.get(url, function (datosPie) {
            if (datosPie.length > 0) {
                $("#chartOfertasSegunClasificacionMes").css("visibility", "visible");
                $("#chartOfertasSegunClasificacionMes").html("");
                $("#msgOfertasSegunClasificacionMes").html("");
                $("#divOfertasSegunClasificacionMensual").css("visibility", "visible");
                var data = [], i = 0;
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            label: value.PieLabel,
                            value: eval(value.PieValue),
                            color: value.PieColor
                        };
                    data.push(itemdata);
                    i += eval(value.PieValue);
                })
                Chart.Pie({ container: 'chartOfertasSegunClasificacionMes' }).draw(data);
                $("#ofertasSegunClasificacionMensual").html(i);
            }
            else {
                $("#msgOfertasSegunClasificacionMes").html("No se encontraron resultados");
                $("#chartOfertasSegunClasificacionMes").html("");
                $("#divOfertasSegunClasificacionMensual").css("visibility", "hidden");
            }
        });
    }

    function cargaOfertasSegunTipoTrabajoUTP() {
        var url = '@Url.Action("ReporteOfertasSegunTipoTrabajoUTP", "UTP")' + '?ano=' + document.getElementById("ofertasSegunTipoTrabajoUTP_Ano").value + '&mes=' + document.getElementById("ofertasSegunTipoTrabajoUTP_Mes").value;
        $("#texto1").html("Cargando...");
        $.get(url, function (datosPie) {
            if (datosPie[0].length > 0) {
                $("#chartOfertasSegunTipoTrabajoUTP").css("visibility", "visible");
                $("#chartOfertasSegunTipoTrabajoUTP").html("");
                $("#ofertasTargetDiv").css("visibility", "visible");
                $("#msgOfertasSegunTipoTrabajoUTP").html("");
                var data = [];
                $.each(datosPie[0], function (index, value) {
                    var itemdata =
                        {
                            label: value.PieLabel,
                            value: eval(value.PieValue),
                            color: value.PieColor
                        };
                    data.push(itemdata);
                })
                Chart.Pie({
                    container: 'chartOfertasSegunTipoTrabajoUTP',
                    legend: {
                        align: 'center',
                        valign: 'bottom',
                        template: '#label#',
                        marker: { radius: 0 },
                        layout: 'x'
                    }
                }).draw(data);

                $("#ofertasTarget").html(datosPie[1]);

            }
            else {
                $("#msgOfertasSegunTipoTrabajoUTP").html("No se encontraron resultados");
                $("#chartOfertasSegunTipoTrabajoUTP").html("");
                $("#ofertasTargetDiv").css("visibility", "hidden");
            }
        });
    }

    function cargaCarrerasSinOfertasDePracticas() {
        var url = '@Url.Action("ReporteCarrerasSinOfertasDePracticas", "UTP")' + '?ano=' + document.getElementById("carrerasSinOfertasDePracticas_Ano").value + '&mes=' + document.getElementById("carrerasSinOfertasDePracticas_Mes").value;

        $.get(url, function (data) {

            if (data.length > 12) {
                $('#carrerasSinOfertasDePracticas').html(data);
                $("#carrerasSinOfertasDePracticas").css("visibility", "visible");
                $("#msgCarrerasSinOfertasDePracticas").html("");
            }
            else {
                $("#msgCarrerasSinOfertasDePracticas").html("No se encontraron resultados");
                $("#carrerasSinOfertasDePracticas").css("visibility", "hidden");
            }
        });
    }

    function cargaCarrerasSinOfertasDeEmpleo() {
        var url = '@Url.Action("ReporteCarrerasSinOfertasDeEmpleo", "UTP")' + '?ano=' + document.getElementById("carrerasSinOfertasDeEmpleo_Ano").value + '&mes=' + document.getElementById("carrerasSinOfertasDeEmpleo_Mes").value;

        $.get(url, function (data) {
            if (data.length > 12) {
                $('#carrerasSinOfertasDeEmpleo').html(data);
                $("#carrerasSinOfertasDeEmpleo").css("visibility", "visible");
                $("#msgcarrerasSinOfertasDeEmpleo").html("");
            }
            else {
                $("#msgcarrerasSinOfertasDeEmpleo").html("No se encontraron resultados");
                $("#carrerasSinOfertasDeEmpleo").css("visibility", "hidden");
            }
        });
    }
    function cargaClasificacionCVsRecibidos() {
        var url = '@Url.Action("ReporteClasificacionDeCvRecibidos", "UTP")' + '?ano=' + document.getElementById("clasificacionCvsRecibidos_Ano").value + '&mes=' + document.getElementById("clasificacionCvsRecibidos_Mes").value;
        $("#texto1").html("Cargando...");

        $.get(url, function (datos) {
            if (datos[0].length > 0) {
                
                $("#chartClasificacionCvsRecibidos").css("visibility", "visible");
                $("#chartClasificacionCvsRecibidos").html("");
                $("#msgClasificacionCvsRecibidos").html("");
                $("#cvsRecibidosDiv").css("visibility", "visible");

                var data = [], i = 0;
                for (; i < datos[0].length; i++) {
                    data.push(_.zipObject(['label', 'value'], [datos[0][i], datos[1][i]]));
                };

                Chart.Bar({
                    container: 'chartClasificacionCvsRecibidos',
                    padding: { left: 75 },
                    xAxis: { template: false, lines: false }
                })
                  .draw(data);
                $("#cvsRecibidos").html(datos[2]);
            }
            else {
                $("#msgClasificacionCvsRecibidos").html("No se encontraron resultados");
                $("#chartClasificacionCvsRecibidos").html("");
                $("#cvsRecibidosDiv").css("visibility", "hidden");
            }

        });
    }

</script>
