@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Reportes";
}

<script src="~/Scripts/Chart.js"></script>

<div class="container fuente-pequeña" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Alumnos activos (mensual)</h5>
                <canvas id="chartAlumnosActivos" width="480" height="400"></canvas>
                <div style="text-align:center;">
                    <h6># de alumnos activos (acumulado): <strong><span id="alumnosActivos"></span></strong></h6>
                    <h6># de alumnos con CV completo (acumulado): <strong><span id="alumnosCVCompleto"></span></strong></h6>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Empresas activas (mensual)</h5>
                <canvas id="chartEmpresasActivas" width="400" height="400"></canvas>
                <div style="text-align:center;">
                    <h6># de empresas activas (acumulado): <strong><span id="empresasActivas"></span></strong></h6>
                    <h6># de ofertas publicadas (acumulado): <strong><span id="ofertasPublicadas"></span></strong></h6>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Empresas según clasificación (acumulado)</h5>
                <br />
                <div class="row">
                    <div class="col-sm-8">
                        <canvas id="chartEmpresasSegunClasificacion" width="380" height="320"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Ofertas según clasificación (acumulado)</h5>
                <br />
                <div class="row">
                    <div class="col-sm-8">
                        <canvas id="chartOfertasSegunClasificacion" width="300" height="320"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Empresas según clasificación (mensual)</h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="empresasSegunClasificacionPorMes_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <select class="form-control" id="empresasSegunClasificacionPorMes_Mes">
                                <option value="">- Seleccione Mes -</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Setiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaEmpresasSegunClasificacionMes();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgEmpresasSegunClasificacionMes">
                </p>
                <div class="row">
                    <div class="col-sm-8">
                        <canvas id="chartEmpresasSegunClasificacionMes" width="380" height="300"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Ofertas según clasificación (mensual)</h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="ofertasSegunClasificacionPorMes_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <select class="form-control" id="ofertasSegunClasificacionPorMes_Mes">
                                <option value="">- Seleccione Mes -</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Setiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaOfertasSegunClasificacionMes();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgOfertasSegunClasificacionMes"></p>
                <div class="row">
                    <div class="col-sm-8">
                        <canvas id="chartOfertasSegunClasificacionMes" width="300" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Top 10 carreras más demandadas</h5>
                <br />
                <div class="row">
                    <div class="col-sm-8">
                        <canvas id="chartTop10CarrerasMasDemandadas" width="300" height="320"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Ofertas target según tipo de trabajo (mensual)</h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="ofertasSegunTipoTrabajoUTP_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <select class="form-control" id="ofertasSegunTipoTrabajoUTP_Mes">
                                <option value="">- Seleccione Mes -</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Setiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaOfertasSegunTipoTrabajoUTP();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgOfertasSegunTipoTrabajoUTP"></p>
                <div class="row">
                    <div class="col-sm-8">
                        <canvas id="chartOfertasSegunTipoTrabajoUTP" width="300" height="300"></canvas>
                        
                    </div>
                </div>
                <div style="text-align:center;" id="ofertasTargetDiv">
                    <h6># de ofertas target según tipo de trabajo (acumulado): <strong><span id="ofertasTarget"></span></strong></h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Carreras sin ofertas de prácticas (mensual)</h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="carrerasSinOfertasDePracticas_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <select class="form-control" id="carrerasSinOfertasDePracticas_Mes">
                                <option value="">- Seleccione Mes -</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Setiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaCarrerasSinOfertasDePracticas();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgCarrerasSinOfertasDePracticas"></p>
                <div style="text-align:left; margin-left:45px" id="carrerasSinOfertasDePracticas"> </div>
                <br />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Carreras sin ofertas de empleo (mensual)</h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="carrerasSinOfertasDeEmpleo_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <select class="form-control" id="carrerasSinOfertasDeEmpleo_Mes">
                                <option value="">- Seleccione Mes -</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Setiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaCarrerasSinOfertasDeEmpleo();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgCarrerasSinOfertasDeEmpleo"></p>
                <div style="text-align:left; margin-left:45px" id="carrerasSinOfertasDeEmpleo"> </div>
                <br />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Vacantes ofrecidas (mensual)</h5>
                <canvas id="chartVacantesOfrecidas" width="480" height="400"></canvas>
                <div style="text-align:center;">
                    <h6># de vacantes ofrecidas (acumulado): <strong><span id="vacantesOfrecidas"></span></strong></h6>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Postulaciones a ofertas de empresas target (mensual)</h5>
                <canvas id="chartEmpresasTarget" width="400" height="400"></canvas>
                <div style="text-align:center;">
                    <h6># postulaciones a empresas target (acumulado): <strong><span id="postulantesEmpresas"></span></strong></h6>
                    <h6>Ratio promedio de postulantes citados a entrevista: <strong><span id="ratioPostulantes"></span></strong></h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Ofertas con procesos cerrados (mensual)</h5>
                <canvas id="chartProcesosCerrados" width="480" height="400"></canvas>
                <div style="text-align:center;">
                    <h6># de ofertas con procesos cerrados (acumulado): <strong><span id="procesosCerrados"></span></strong></h6>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Clasificación de CV's Recibidos</h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="clasificacionCvsRecibidos_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <select class="form-control" id="clasificacionCvsRecibidos_Mes">
                                <option value="">- Seleccione Mes -</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Setiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaClasificacionCVsRecibidos();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgClasificacionCvsRecibidos"></p>
                <canvas id="chartClasificacionCvsRecibidos" width="400" height="400"></canvas>
                <div style="text-align:center;" id="cvsRecibidosDiv">
                    <h6># clasificación total de CV´s (acumulado): <strong><span id="cvsRecibidos"></span></strong></h6>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Contrataciones (mensual)</h5>
                <canvas id="chartContrataciones" width="880" height="400"></canvas>
                <div style="text-align:center;">
                    <h6># de contratos (acumulados): <strong><span id="contratosAcumulados"></span></strong></h6>
                    <h6># de contratos target: <strong><span id="contratosTarget"></span></strong></h6>
                    <h6>Ratio de invitados a entrevista: <strong><span id="ratioEntrevistados"></span></strong></h6>
                    <h6># de convenios registrados (mes actual): <strong><span id="conveniosDelMes"></span></strong></h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Alumnos activos según carrera</h5>
                <canvas id="chartAlumnosSegunCarrera" width="880" height="500"></canvas>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta7 color-paleta8 color-paleta9").addClass("color-paleta6")

        cargaAlumnosActivos();
        function cargaAlumnosActivos() {
            var url = '@Url.Action("ReporteAlumnosActivos", "UTP")';
            $.get(url, function (datos) {
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Alumnos Activos",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        },
                        {
                            label: "Alumnos con CV completo",
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: datos[2]
                        }
                    ]
                };
                var ctx = document.getElementById("chartAlumnosActivos").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
                $("#alumnosActivos").html(datos[3]);
                $("#alumnosCVCompleto").html(datos[4]);
            });
        }

        cargaEmpresasActivas();
        function cargaEmpresasActivas() {
            var url = '@Url.Action("ReporteEmpresasActivas", "UTP")';
            $.get(url, function (datos) {
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Empresas activas",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        },
                        {
                            label: "Ofertas publicadas",
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: datos[2]
                        }
                    ]
                };
                var ctx = document.getElementById("chartEmpresasActivas").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
                $("#empresasActivas").html(datos[3]);
                $("#ofertasPublicadas").html(datos[4]);
            });
        }

        cargaEmpresasSegunClasificacion();
        function cargaEmpresasSegunClasificacion() {
            var url = '@Url.Action("ReporteEmpresasSegunClasificacion", "UTP")';
            $.get(url, function (datosPie) {
                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })

                var helpers = Chart.helpers;
                var canvas = document.getElementById("chartEmpresasSegunClasificacion");
                var moduleDoughnut = new Chart(canvas.getContext('2d')).Pie(data, { legendTemplate: "<ul class=\"col-sm-4\"><% for (var i=0; i<segments.length; i++){%><li class=\"li-legend\"><span class=\"pie-legend\" style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>", tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>", animation: false });
                //
                var legendHolder = document.createElement('div');
                legendHolder.innerHTML = moduleDoughnut.generateLegend();
                // Include a html legend template after the module doughnut itself
                helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
                    helpers.addEvent(legendNode, 'mouseover', function () {
                        var activeSegment = moduleDoughnut.segments[index];
                        activeSegment.save();
                        activeSegment.fillColor = activeSegment.highlightColor;
                        moduleDoughnut.showTooltip([activeSegment]);
                        activeSegment.restore();
                    });
                });
                helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
                    moduleDoughnut.draw();
                });
                canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);

            });
        }

        cargaOfertasSegunClasificacion();
        function cargaOfertasSegunClasificacion() {
            var url = '@Url.Action("ReporteOfertasSegunClasificacion", "UTP")';
            $.get(url, function (datosPie) {
                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })

                var helpers = Chart.helpers;
                var canvas = document.getElementById("chartOfertasSegunClasificacion");
                var moduleDoughnut = new Chart(canvas.getContext('2d')).Pie(data, { legendTemplate: "<ul class=\"col-sm-4\"><% for (var i=0; i<segments.length; i++){%><li class=\"li-legend\"><span class=\"pie-legend\" style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>", tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>", animation: false });
                //
                var legendHolder = document.createElement('div');
                legendHolder.innerHTML = moduleDoughnut.generateLegend();
                // Include a html legend template after the module doughnut itself
                helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
                    helpers.addEvent(legendNode, 'mouseover', function () {
                        var activeSegment = moduleDoughnut.segments[index];
                        activeSegment.save();
                        activeSegment.fillColor = activeSegment.highlightColor;
                        moduleDoughnut.showTooltip([activeSegment]);
                        activeSegment.restore();
                    });
                });
                helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
                    moduleDoughnut.draw();
                });
                canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);

            });
        }


        cargaTop10Carreras();
        function cargaTop10Carreras() {

            var url = '@Url.Action("ReporteTop10CarrerasMasDemandadas", "UTP")';
            $.get(url, function (datosPie) {

                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel

                        };
                    data.push(itemdata);
                })

                var helpers = Chart.helpers;
                var canvas = document.getElementById("chartTop10CarrerasMasDemandadas");
                var moduleDoughnut = new Chart(canvas.getContext('2d')).Pie(data, { legendTemplate: "<ul class=\"col-sm-4\"><% for (var i=0; i<segments.length; i++){%><li class=\"li-legend\"><span class=\"pie-legend\" style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>", tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>", animation: false });
                //
                var legendHolder = document.createElement('div');
                legendHolder.innerHTML = moduleDoughnut.generateLegend();
                // Include a html legend template after the module doughnut itself
                helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
                    helpers.addEvent(legendNode, 'mouseover', function () {
                        var activeSegment = moduleDoughnut.segments[index];
                        activeSegment.save();
                        activeSegment.fillColor = activeSegment.highlightColor;
                        moduleDoughnut.showTooltip([activeSegment]);
                        activeSegment.restore();
                    });
                });
                helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
                    moduleDoughnut.draw();
                });
                canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);

            });
        }

        CargaVacantesOfrecida();
        function CargaVacantesOfrecida() {
            var url = '@Url.Action("ReporteVacantesOfrecidas", "UTP")';
            $.get(url, function (datos) {
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Vacantes Ofrecidas",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        }
                    ]
                };
                var ctx = document.getElementById("chartVacantesOfrecidas").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
                $("#vacantesOfrecidas").html(datos[2]);
            });
        }

        CargaEmpresasTarget();
        function CargaEmpresasTarget() {
            var url = '@Url.Action("ReporteEmpresasTarget", "UTP")';
            $.get(url, function (datos) {
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Empresas Target",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        }
                    ]
                };
                var ctx = document.getElementById("chartEmpresasTarget").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
                $("#postulantesEmpresas").html(datos[2]);
                $("#ratioPostulantes").html(datos[3]);
            });
        }

        CargaProcesosCerrados();
        function CargaProcesosCerrados() {
            var url = '@Url.Action("ReporteOfertasConProcesosCerrados", "UTP")';
            $.get(url, function (datos) {
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Procesos Cerrados",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        }
                    ]
                };
                var ctx = document.getElementById("chartProcesosCerrados").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
                $("#procesosCerrados").html(datos[2]);
            });
        }


        CargaContrataciones();
        function CargaContrataciones() {
            var url = '@Url.Action("ReporteContrataciones", "UTP")';
            $.get(url, function (datos) {
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Contrataciones Total",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        },
                        {
                            label: "Contrataciones Target",
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: datos[2]
                        }
                    ]
                };
                var ctx = document.getElementById("chartContrataciones").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
                $("#contratosAcumulados").html(datos[3]);
                $("#contratosTarget").html(datos[4]);
                $("#ratioEntrevistados").html(datos[5]);
                $("#conveniosDelMes").html(datos[6]);
            });
        }

        CargaActivosSegunCarrera();
        function CargaActivosSegunCarrera() {
            var url = '@Url.Action("ReporteAlumnosActivosSegunCarrera", "UTP")';
            $.get(url, function (datos) {
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Alumnos ACtivos Segun Carrera",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        }
                    ]
                };
                var ctx = document.getElementById("chartAlumnosSegunCarrera").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
            });
        }
        cargaCarrerasSinOfertasDePracticas();
        function cargaCarrerasSinOfertasDePracticas() {
            var url = '@Url.Action("ReporteCarrerasSinOfertasDePracticas", "UTP")' + '?ano=' + document.getElementById("carrerasSinOfertasDePracticas_Ano").value + '&mes=' + document.getElementById("carrerasSinOfertasDePracticas_Mes").value;

            $.get(url, function (data) {

                if (data.length > 0) {
                    $('#carrerasSinOfertasDePracticas').html(data);
                    $("#carrerasSinOfertasDePracticas").css("visibility", "visible");
                    $("#msgCarrerasSinOfertasDePracticas").html("");
                }
                else {
                    $("#msgCarrerasSinOfertasDePracticas").html("No se encontraron resultados");
                    $("#carrerasSinOfertasDePracticas").css("visibility", "hidden");
                }
            });
        }
        cargaEmpresasSegunClasificacionMes();

        cargaOfertasSegunClasificacionMes();

        cargaClasificacionCVsRecibidos();

        cargaOfertasSegunTipoTrabajoUTP();

        cargaCarrerasSinOfertasDeEmpleo();
        

    });

    function cargaEmpresasSegunClasificacionMes() {
        var url = '@Url.Action("ReporteEmpresasSegunClasificacionMensual", "UTP")' + '?ano=' + document.getElementById("empresasSegunClasificacionPorMes_Ano").value + '&mes=' + document.getElementById("empresasSegunClasificacionPorMes_Mes").value;
        $("#texto1").html("Cargando...");
        $.get(url, function (datosPie) {
            if (datosPie.length > 0) {
                $("#chartEmpresasSegunClasificacionMes").css("visibility", "visible");
                $("#msgEmpresasSegunClasificacionMes").html("");
                $("#legendEmpresas").remove();

                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })

                var helpers = Chart.helpers;
                var canvas = document.getElementById("chartEmpresasSegunClasificacionMes");
                var moduleDoughnut = new Chart(canvas.getContext('2d')).Pie(data, { legendTemplate: "<ul id=\"legendEmpresas\" class=\"col-sm-4\"><% for (var i=0; i<segments.length; i++){%><li class=\"li-legend\"><span class=\"pie-legend\" style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>", tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>", animation: false });
                //
                var legendHolder = document.createElement('div');
                legendHolder.innerHTML = moduleDoughnut.generateLegend();
                // Include a html legend template after the module doughnut itself
                helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
                    helpers.addEvent(legendNode, 'mouseover', function () {
                        var activeSegment = moduleDoughnut.segments[index];
                        activeSegment.save();
                        activeSegment.fillColor = activeSegment.highlightColor;
                        moduleDoughnut.showTooltip([activeSegment]);
                        activeSegment.restore();
                    });
                });
                helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
                    moduleDoughnut.draw();

                });
                canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);

            }
            else {

                $("#msgEmpresasSegunClasificacionMes").html("No se encontraron resultados");
                $("#legendEmpresas").css("visibility", "hidden");
                $("#chartEmpresasSegunClasificacionMes").css("visibility", "hidden");
            }
        });
    }
    function cargaOfertasSegunClasificacionMes() {
        var url = '@Url.Action("ReporteOfertasSegunClasificacionMensual", "UTP")' + '?ano=' + document.getElementById("ofertasSegunClasificacionPorMes_Ano").value + '&mes=' + document.getElementById("ofertasSegunClasificacionPorMes_Mes").value;
        $("#texto1").html("Cargando...");
        $.get(url, function (datosPie) {
            if (datosPie.length > 0) {
                $("#chartOfertasSegunClasificacionMes").css("visibility", "visible");
                $("#msgOfertasSegunClasificacionMes").html("");
                $("#legendOfertas").remove();

                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })

                var helpers = Chart.helpers;
                var canvas = document.getElementById("chartOfertasSegunClasificacionMes");
                var moduleDoughnut = new Chart(canvas.getContext('2d')).Pie(data, { legendTemplate: "<ul id=\"legendOfertas\" class=\"col-sm-4\"><% for (var i=0; i<segments.length; i++){%><li class=\"li-legend\"><span class=\"pie-legend\" style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>", tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>", animation: false });
                //
                var legendHolder = document.createElement('div');
                legendHolder.innerHTML = moduleDoughnut.generateLegend();
                // Include a html legend template after the module doughnut itself
                helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
                    helpers.addEvent(legendNode, 'mouseover', function () {
                        var activeSegment = moduleDoughnut.segments[index];
                        activeSegment.save();
                        activeSegment.fillColor = activeSegment.highlightColor;
                        moduleDoughnut.showTooltip([activeSegment]);
                        activeSegment.restore();
                    });
                });
                helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
                    moduleDoughnut.draw();

                });
                canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);


            }
            else {
                $("#msgOfertasSegunClasificacionMes").html("No se encontraron resultados");
                $("#legendOfertas").css("visibility", "hidden");
                $("#chartOfertasSegunClasificacionMes").css("visibility", "hidden");
            }
        });
    }

    function cargaOfertasSegunTipoTrabajoUTP() {
        var url = '@Url.Action("ReporteOfertasSegunTipoTrabajoUTP", "UTP")' + '?ano=' + document.getElementById("ofertasSegunTipoTrabajoUTP_Ano").value + '&mes=' + document.getElementById("ofertasSegunTipoTrabajoUTP_Mes").value;
        $("#texto1").html("Cargando...");
        $.get(url, function (datosPie) {
            if (datosPie[0].length > 0) {
                $("#chartOfertasSegunTipoTrabajoUTP").css("visibility", "visible");
                $("#ofertasTargetDiv").css("visibility", "visible");
                $("#msgOfertasSegunTipoTrabajoUTP").html("");
                $("#legendTarget").remove();
                var data = [];
                $.each(datosPie[0], function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })

                var helpers = Chart.helpers;
                var canvas = document.getElementById("chartOfertasSegunTipoTrabajoUTP");
                var moduleDoughnut = new Chart(canvas.getContext('2d')).Pie(data, { legendTemplate: "<ul id=\"legendTarget\" class=\"col-sm-4\"><% for (var i=0; i<segments.length; i++){%><li class=\"li-legend\"><span class=\"pie-legend\" style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>", tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>", animation: false });
                //
                var legendHolder = document.createElement('div');
                legendHolder.innerHTML = moduleDoughnut.generateLegend();
                // Include a html legend template after the module doughnut itself
                helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
                    helpers.addEvent(legendNode, 'mouseover', function () {
                        var activeSegment = moduleDoughnut.segments[index];
                        activeSegment.save();
                        activeSegment.fillColor = activeSegment.highlightColor;
                        moduleDoughnut.showTooltip([activeSegment]);
                        activeSegment.restore();
                    });
                });
                helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
                    moduleDoughnut.draw();

                });
                canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);
                                
                $("#ofertasTarget").html(datosPie[1]);

            }
            else {
                $("#msgOfertasSegunTipoTrabajoUTP").html("No se encontraron resultados");
                $("#legendTarget").css("visibility", "hidden");
                $("#chartOfertasSegunTipoTrabajoUTP").css("visibility", "hidden");
                $("#ofertasTargetDiv").css("visibility", "hidden");
            }
        });
    }

    function cargaCarrerasSinOfertasDePracticas() {
        var url = '@Url.Action("ReporteCarrerasSinOfertasDePracticas", "UTP")' + '?ano=' + document.getElementById("carrerasSinOfertasDePracticas_Ano").value + '&mes=' + document.getElementById("carrerasSinOfertasDePracticas_Mes").value;

        $.get(url, function (data) {

            if (data.length > 12) {
                $('#carrerasSinOfertasDePracticas').html(data);
                $("#carrerasSinOfertasDePracticas").css("visibility", "visible");
                $("#msgCarrerasSinOfertasDePracticas").html("");
            }
            else {
                $("#msgCarrerasSinOfertasDePracticas").html("No se encontraron resultados");
                $("#carrerasSinOfertasDePracticas").css("visibility", "hidden");
            }
        });
    }

    function cargaCarrerasSinOfertasDeEmpleo() {
        var url = '@Url.Action("ReporteCarrerasSinOfertasDeEmpleo", "UTP")' + '?ano=' + document.getElementById("carrerasSinOfertasDeEmpleo_Ano").value + '&mes=' + document.getElementById("carrerasSinOfertasDeEmpleo_Mes").value;

        $.get(url, function (data) {
            if (data.length > 12) {
                $('#carrerasSinOfertasDeEmpleo').html(data);
                $("#carrerasSinOfertasDeEmpleo").css("visibility", "visible");
                $("#msgcarrerasSinOfertasDeEmpleo").html("");
            }
            else {
                $("#msgcarrerasSinOfertasDeEmpleo").html("No se encontraron resultados");
                $("#carrerasSinOfertasDeEmpleo").css("visibility", "hidden");
            }
        });
    }
    function cargaClasificacionCVsRecibidos() {
        var url = '@Url.Action("ReporteClasificacionDeCvRecibidos", "UTP")' + '?ano=' + document.getElementById("clasificacionCvsRecibidos_Ano").value + '&mes=' + document.getElementById("clasificacionCvsRecibidos_Mes").value;
        $("#texto1").html("Cargando...");
        
        $.get(url, function (datos) {
            if (datos[0].length > 0) {
                $("#chartClasificacionCvsRecibidos").html(datos);
                $("#chartClasificacionCvsRecibidos").css("visibility", "visible");
                $("#msgClasificacionCvsRecibidos").html("");
                
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Cvs Recibidos",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        }
                    ]
                };
                var ctx = document.getElementById("chartClasificacionCvsRecibidos").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
                $("#cvsRecibidos").html(datos[2]);
            }
            else {
                $("#msgClasificacionCvsRecibidos").html("No se encontraron resultados");
                $("#chartClasificacionCvsRecibidos").css("visibility", "hidden");
                $("#cvsRecibidosDiv").css("visibility", "hidden");
            }
            
        });
    }

</script>
