@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Reportes";
}

<script src="~/Scripts/Chart.js"></script>

<div class="container fuente-pequeña" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Alumnos activos</h5>
                <canvas id="chartAlumnosActivos" width="480" height="400"></canvas>
                <div style="text-align:center;">
                    <h6>Alumnos activos: <strong><span id="alumnosActivos"></span></strong></h6>
                    <h6>Alumnos con CV completo: <strong><span id="alumnosCVCompleto"></span></strong></h6>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Empresas activas</h5>
                <canvas id="chartEmpresasActivas" width="400" height="400"></canvas>
                <div style="text-align:center;">
                    <h6>Empresas activas: <strong><span id="empresasActivas"></span></strong></h6>
                    <h6>Ofertas Publicadas: <strong><span id="ofertasPublicadas"></span></strong></h6>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Empresas según Clasificación</h5>
                <canvas id="chartEmpresasSegunClasificacion" width="480" height="400"></canvas>

            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Ofertas según Clasificación</h5>
                <canvas id="chartOfertasSegunClasificacion" width="400" height="400"></canvas>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Empresas según Clasificación por Mes </h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="empresasSegunClasificacionPorMes_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <input class="form-control" id="empresasSegunClasificacionPorMes_Mes" />

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaEmpresasSegunClasificacionMes();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgEmpresasSegunClasificacionMes"></p>
                <canvas id="chartEmpresasSegunClasificacionMes" width="480" height="400"></canvas>

            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Ofertas según Clasificación por Mes</h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="ofertasSegunClasificacionPorMes_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <input class="form-control" id="ofertasSegunClasificacionPorMes_Mes" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaOfertasSegunClasificacionMes();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgOfertasSegunClasificacionMes"></p>
                <canvas id="chartOfertasSegunClasificacionMes" width="400" height="400"></canvas>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Ofertas según Tipo de Trabajo</h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="ofertasSegunTipoTrabajoUTP_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <input class="form-control" id="ofertasSegunTipoTrabajoUTP_Mes" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaOfertasSegunTipoTrabajoUTP();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgOfertasSegunTipoTrabajoUTP"></p>
                <canvas id="chartOfertasSegunTipoTrabajoUTP" width="400" height="400"></canvas>
                <div style="text-align:center;" id="ofertasTargetDiv">
                    <h6>Ofertas Target <strong><span id="ofertasTarget"></span></strong></h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="col-sm-6">
            <div class="panel panel-default" style="text-align:center;">
                <h5>Carreras sin Ofertas de Prácticas</h5>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Año
                            </div>
                            <input class="form-control" id="zzzofertasSegunTipoTrabajoUTP_Ano" />
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Mes
                            </div>
                            <input class="form-control" id="xxofertasSegunTipoTrabajoUTP_Mes" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-default color-paleta6" onclick="cargaOfertasSegunTipoTrabajoUTP();">
                            Mostrar
                        </div>
                    </div>
                </div>
                <br />
                <p id="msgOfertzzasSegunTipoTrabajoUTP"></p>
                <canvas id="chartOfertasSegunTipoTrabajoUTPzzz" width="400" height="400"></canvas>

            </div>
        </div>
    </div>

</div>


           
<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta7 color-paleta8 color-paleta9").addClass("color-paleta6")

        cargaAlumnosActivos();
        function cargaAlumnosActivos() {
            var url = '@Url.Action("ReporteAlumnosActivos", "UTP")';
            $.get(url, function (datos) {
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Alumnos Activos",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        },
                        {
                            label: "Alumnos con CV completo",
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: datos[2]
                        }
                    ]
                };
                var ctx = document.getElementById("chartAlumnosActivos").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
                $("#alumnosActivos").html(datos[3]);
                $("#alumnosCVCompleto").html(datos[4]);
            });
        }

        cargaEmpresasActivas();
        function cargaEmpresasActivas() {
            var url = '@Url.Action("ReporteEmpresasActivas", "UTP")';
            $.get(url, function (datos) {
                var data = {
                    labels: datos[0],
                    datasets: [
                        {
                            label: "Empresas activas",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: datos[1]
                        },
                        {
                            label: "Ofertas publicadas",
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: datos[2]
                        }
                    ]
                };
                var ctx = document.getElementById("chartEmpresasActivas").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(data);
                $("#empresasActivas").html(datos[3]);
                $("#ofertasPublicadas").html(datos[4]);
            });
        }

        cargaEmpresasSegunClasificacion();
        function cargaEmpresasSegunClasificacion() {
            var url = '@Url.Action("ReporteEmpresasSegunClasificacion", "UTP")';
            $.get(url, function (datosPie) {
                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })
                var ctx = document.getElementById("chartEmpresasSegunClasificacion").getContext("2d");
                var myPieChart = new Chart(ctx).Pie(data);
            });
        }

        cargaOfertasSegunClasificacion();
        function cargaOfertasSegunClasificacion() {
            var url = '@Url.Action("ReporteOfertasSegunClasificacion", "UTP")';
            $.get(url, function (datosPie) {
                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })
                var ctx = document.getElementById("chartOfertasSegunClasificacion").getContext("2d");
                var myPieChart = new Chart(ctx).Pie(data);
            });
        }


    });

    function cargaEmpresasSegunClasificacionMes() {
        var url = '@Url.Action("ReporteEmpresasSegunClasificacion", "UTP")' + '?ano=' + document.getElementById("empresasSegunClasificacionPorMes_Ano").value + '&mes=' + document.getElementById("empresasSegunClasificacionPorMes_Mes").value;
        $("#texto1").html("Cargando...");
        $.get(url, function (datosPie) {
            if (datosPie.length > 0) {
                $("#chartEmpresasSegunClasificacionMes").css("visibility", "visible");
                $("#msgEmpresasSegunClasificacionMes").html("");
                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })
                var ctx = document.getElementById("chartEmpresasSegunClasificacionMes").getContext("2d");
                var myPieChart = new Chart(ctx).Pie(data);
            }
            else {
                $("#msgEmpresasSegunClasificacionMes").html("No se encontraron resultados");
                $("#chartEmpresasSegunClasificacionMes").css("visibility", "hidden");
            }
        });
    }

    function cargaOfertasSegunClasificacionMes() {
        var url = '@Url.Action("ReporteOfertasSegunClasificacion", "UTP")' + '?ano=' + document.getElementById("empresasSegunClasificacionPorMes_Ano").value + '&mes=' + document.getElementById("empresasSegunClasificacionPorMes_Mes").value;
        $("#texto1").html("Cargando...");
        $.get(url, function (datosPie) {
            if (datosPie.length > 0) {
                $("#chartOfertasSegunClasificacionMes").css("visibility", "visible");
                $("#msgOfertasSegunClasificacionMes").html("");
                var data = [];
                $.each(datosPie, function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })
                var ctx = document.getElementById("chartOfertasSegunClasificacionMes").getContext("2d");
                var myPieChart = new Chart(ctx).Pie(data);
            }
            else {
                $("#msgOfertasSegunClasificacionMes").html("No se encontraron resultados");
                $("#chartOfertasSegunClasificacionMes").css("visibility", "hidden");
            }
        });
    }

    function cargaOfertasSegunTipoTrabajoUTP() {
        var url = '@Url.Action("ReporteOfertasSegunTipoTrabajoUTP", "UTP")' + '?ano=' + document.getElementById("ofertasSegunTipoTrabajoUTP_Ano").value + '&mes=' + document.getElementById("ofertasSegunTipoTrabajoUTP_Mes").value;
        $("#texto1").html("Cargando...");
        $.get(url, function (datosPie) {
            if (datosPie[0].length > 0) {
                $("#chartOfertasSegunTipoTrabajoUTP").css("visibility", "visible");
                $("#ofertasTargetDiv").css("visibility", "visible");
                $("#msgOfertasSegunTipoTrabajoUTP").html("");
                var data = [];
                $.each(datosPie[0], function (index, value) {
                    var itemdata =
                        {
                            value: eval(value.PieValue),
                            color: value.PieColor,
                            highlight: value.PieHighlight,
                            label: value.PieLabel
                        };
                    data.push(itemdata);
                })
                var ctx = document.getElementById("chartOfertasSegunTipoTrabajoUTP").getContext("2d");
                var myPieChart = new Chart(ctx).Pie(data);
                $("#ofertasTarget").html(datosPie[1]);

            }
            else {
                $("#msgOfertasSegunTipoTrabajoUTP").html("No se encontraron resultados");
                $("#chartOfertasSegunTipoTrabajoUTP").css("visibility", "hidden");
                $("#ofertasTargetDiv").css("visibility", "hidden");
            }
        });
    }
</script>

