
@model UTP.PortalEmpleabilidad.Modelo.UtpAlumnoDetalle
@using UTP.PortalEmpleabilidad.Modelo
@using UTPPrototipo.Utiles


@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Oferta de Empresa";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container fuente-pequeña" style="margin-top:2px;">
    @*@using (Ajax.BeginForm("VerDetalleAlumno", "UTP", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "mostrarMensaje" }))*@
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.IdAlumno)
    @Html.AntiForgeryToken()
    
    <!---Cabecera de la página.-->
    {Html.RenderAction("VistaCabeceraUtp", "UTP");}


       <br />

    <div class="row">
        <div class="col-sm-8">
            <table>
                <tr class="linea_raya">
                    <td class="celda-nombre" style="width:40%;">
                        Fecha Registro
                    </td>
                    <td class="celda-datos">
                        @*@Html.DisplayFor(m => m.FechaCreacion.ToString("dd/MM/yyyy"))*@
                        <label>@Model.FechaCreacion.ToString("dd/MM/yyyy")</label>
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Código UTP
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.CodAlumnoUtp)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Usuario
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.Usuario)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Nombres
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.Nombres)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Apellidos
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.Apellidos)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Documento Identidad
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.TipoDocumento): @Html.DisplayFor(m => m.NumeroDocumento)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Fecha de Nacimiento
                    </td>
                    <td class="celda-datos">
                        @Model.FechaNacimiento.ToString("dd/MM/yyyy")  (@Model.Edad años)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Sexo
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.Sexo )
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                       Dirección
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.Direccion), @Html.DisplayFor(m => m.DireccionDistrito), @Html.DisplayFor(m => m.DireccionCiudad), @Html.DisplayFor(m => m.DireccionRegion)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Correo Electronico
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.CorreoElectronico)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Correo Electronico 2
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.CorreoElectronico2)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Teléfono Fijo Casa
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.TelefonoFijoCasa)
                    </td>

                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Teléfono Celular
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.TelefonoCelular)
                    </td>

                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Estado
                    </td>
                    <td class="celda-datos">
                        @Html.DropDownList("CodEstadoAlumno", ViewData["UtpAlumnoMenuMostrar"] as List<SelectListItem>, "Seleccione...", new { @class = "form-control", style = "width: 200px;height:20px" })
                        @Html.ValidationMessageFor(model => model.CodEstadoAlumno)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Creado Por
                     
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.CreadoPor)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Creado el
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.FechaCreacion)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Modificado Por
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.ModificadoPor)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Modificado el
                    </td>
                    <td class="celda-datos">
                       @Html.DisplayFor(m => m.FechaModificacion)
                    </td>
                </tr>            
                           

            </table>
        </div>

        <div class="col-sm-4">
            <table>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Foto
                    </td>
                    <td class="celda-datos">
                        <img alt="" style="width:100%" src='@Url.Action("GetImagenAlumno", "UTP", new { idAlumno = Model.IdAlumno })' />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-12" style="text-align:right;">
            <button class="btn btn-default color-paleta3">Guardar</button>
        </div>
    </div>
        

    <hr />
    <div class="row fuente-pequeña">
        <div class="col-sm-12">
                 
           
            @{Html.RenderAction("AlumnoUtp_obtenerEstudios", "UTP", new { id = Model.IdAlumno });}

    
        </div>
    </div>
    
}


    <hr />
    <div class="row fuente-pequeña">
        <div class="col-sm-12">
            @{Html.RenderAction("AlumnoUtp_obtenerExperiencia", "UTP", new { id = Model.IdAlumno });}
          
        </div>
    </div>
    <br />
@*<div class="row">
    <div class="col-sm-12" style="text-align:right;">
        <button class="btn btn-default">Guardar</button>
    </div>
</div>*@
    <hr />
    <div class="row fuente-pequeña">
        <div class="col-sm-12">
            @{Html.RenderAction("AlumnoUtp_obtenerInformacionAdicional", "UTP", new { id = Model.IdAlumno });}
        </div>
    </div>

    <div class="row fuente-pequeña">
        <div class="col-sm-6">
            <!--INICIO-->
            <div class="panel-group" id="grupoMensajes" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne2">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#grupoMensajes" href="#collapseMensajes" aria-expanded="true" aria-controls="collapseOne2" class="fuente-seccion">
                                Mensajes
                            </a>
                        </h5>
                    </div>
                    <div id="collapseMensajes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="panel-body">
                            @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_UTP_ALUMNO, usuarioAlumno = Model.Usuario })                            
                        </div>
                    </div>
                </div>
            </div>
            <!--FIN-->
           
        </div>
        <div class="col-sm-6">
            @{Html.RenderAction("AlumnoUtp_obtenerCV", "UTP", new { usuario = Model.Usuario });}
        </div>
    </div>

    <br />
    @*<div class="row">
        <div class="col-sm-12" style="text-align:right;">
            <button class="btn btn-default">Guardar</button>
        </div>
    </div>*@
 </div> 
    
    
    
    
    
    
<br />
<br />
<br />


<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta3");

    });
    //function mostrarMensaje() {
    //    alert('Los datos fueron grabados con éxito.');
    //}

</script>

