@using UTP.PortalEmpleabilidad.Modelo
@using UTPPrototipo.Utiles
@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Empresa";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container fuente-pequeña" style="margin-top:2px;">

    <!---Cabecera de la página using (Html.BeginForm("_VerDetalleEmpresaDatosGeneralesEditar", "UTP").-->
    @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    <div id="divDatosGenerales">
        @using (Ajax.BeginForm("_VerDetalleEmpresaDatosGeneralesEditar", "UTP", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "mostrarMensaje", UpdateTargetId = "divDatosGenerales" }))
        {
            @Html.AntiForgeryToken()
            <!---Datos de la empresa y logo.-->
            @Html.Action("_VerDetalleEmpresaDatosGenerales", "UTP", new { id = ViewBag.IdEmpresa })
        }
    </div>

  
    <div class="row">
        @*<div class="col-sm-6">
                @Html.Action("_VerDetalleEmpresaUsuarios", "UTP", new { id = ViewBag.IdEmpresa })
            </div>*@
        <div class="col-sm-6">
            @Html.Action("_VerDetalleEmpresaOfertas", "UTP", new { id = ViewBag.IdEmpresa })
        </div>
        <div class="col-sm-6">
            @*@Html.Action("_VerDetalleEmpresaMensajes", "UTP", new { id = ViewBag.IdEmpresa })*@
            <!--INICIO-->
            @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_UTP_EMPRESA, idEmpresa = ViewBag.IdEmpresa })

        </div>
        <!--FIN-->

    </div>
    


    <div class="row">
        <div class="col-sm-6">
            @Html.Action("_VerDetalleEmpresaUsuarios", "UTP", new { id = ViewBag.IdEmpresa })
        </div>
        <div class="col-sm-6">
            @Html.Action("_VerDetalleEmpresaUbicaciones", "UTP", new { id = ViewBag.IdEmpresa })
        </div>
        @*<div class="col-sm-6">


                @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_UTP_EMPRESA, idEmpresa = ViewBag.IdEmpresa })
            </div>*@
    </div>

</div>

<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta1");
        $('#PestañaIndex').css('backgroundColor', '#f00');
    });

    function mostrarMensaje() {
        alert('Los datos fueron grabados con éxito.');
    }

    function validarDatosGenerales()
    {
        var comboEstado = $('#EstadoIdListaValor').val();
        var comboUsuarioEjecutivoUTP = $('#UsuarioEC').val();

        if (comboEstado == "")
        {
            alert("Debe ingresar un estado.")
            return false;
        }
        if (comboUsuarioEjecutivoUTP == "") {
            alert("Debe ingresar un ejecutivo de cuenta.")
            return false;
        }

        return true;
    }

</script>

