@model UTP.PortalEmpleabilidad.Modelo.Oferta
@using UTP.PortalEmpleabilidad.Modelo

@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Oferta de Empresa";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">
    <!---Cabecera de la página.-->
    @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    <!-- Input demo:
    <input type="text" value="@ViewBag.IdOferta" />
    -->

    <h5>Empresa: @Model.Empresa.NombreComercial  - Oferta: @Model.CargoOfrecido</h5>
    <br />

    <div class="row">
        <div class="col-sm-6">
            <table>
                <tr>
                    <td class="celda-nombre">
                        <span>Estado</span>
                    </td>
                    <td class="celda-datos">
                        <table>
                            <tr>
                                <td>@Html.DropDownListFor(m => m.EstadoOferta, null, "Seleccione", htmlAttributes: new { @class = "form-control" })</td>
                                <td>&nbsp;&nbsp;</td>
                                <td><button id="btnCambiarEstadoOferta" class="btn btn-default color-paleta2" onclick="cambiarEstado(@Model.IdOferta)">Cambiar estado</button></td>
                            </tr>
                        </table>                            
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        <span>Cargo</span>
                    </td>
                    <td class="celda-datos">
                        @Model.CargoOfrecido
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        <span>Funciones</span>
                    </td>
                    <td class="celda-datos">
                        @Model.Funciones
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        <span>Información Adicional</span>
                    </td>
                    <td class="celda-datos">
                        @Model.Competencias
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Publicado el
                    </td>
                    <td class="celda-datos">
                        @Model.FechaPublicacion
                    </td>
                </tr>

                <tr>
                    <td class="celda-nombre">
                        Recibir CVs hasta el
                    </td>
                    <td class="celda-datos">
                        @Model.FechaFinRecepcionCV
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Cargo
                    </td>
                    <td class="celda-datos">
                        @Model.TipoCargo.Valor
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Trabajo
                    </td>
                    <td class="celda-datos">
                        @Model.TipoTrabajo.Valor
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Contrato
                    </td>
                    <td class="celda-datos">
                        @Model.TipoContrato.Valor
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Duración
                    </td>
                    <td class="celda-datos">
                        @Model.DuracionContrato
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Horario
                    </td>
                    <td class="celda-datos">
                        @Model.Horario
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Remuneración
                    </td>
                    <td class="celda-datos">
                        @Model.RemuneracionOfrecida
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Área
                    </td>
                    <td class="celda-datos">
                        @Model.AreaEmpresa
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Vacantes
                    </td>
                    <td class="celda-datos">
                        @Model.NumeroVacantes
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Ubicación
                    </td>
                    <td class="celda-datos">
                        @Model.NombreLocacion
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Asignado a
                    </td>
                    <td class="celda-datos">
                        @Model.UsuarioPropietarioEmpresa
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Creado Por
                    </td>
                    <td class="celda-datos">
                        @Model.CreadoPor
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Creado el
                    </td>
                    <td class="celda-datos">
                        @Model.FechaCreacion
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Modificado Por
                    </td>
                    <td class="celda-datos">
                        @Model.ModificadoPor
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Modificado el
                    </td>
                    <td class="celda-datos">
                        @Model.FechaModificacion
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-6">

        </div>

        
    </div>

    
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h5>Estudios Requeridos</h5>

            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-3">
                    Estudio
                </div>
                <div class="col-sm-1">
                    Tipo
                </div>
                <div class="col-sm-2">
                    Estado
                </div>
                <div class="col-sm-1">
                    Ciclo
                </div>
                <div class="col-sm-1">
                    Estado
                </div>
                <div class="col-sm-1">
                    Creado Por
                </div>
                <div class="col-sm-1">
                    Fecha C
                </div>
                <div class="col-sm-1">
                    Mod. Por
                </div>
                <div class="col-sm-1">
                    Fecha M
                </div>

            </div>

            @foreach (var item in Model.ListaEstudios)
            {
                <div class="row grilla1-linea">
                    <div class="col-sm-3">
                        @item.Estudio
                    </div>
                    <div class="col-sm-1">
                        @item.TipoDeEstudio.Valor
                    </div>
                    <div class="col-sm-2">
                        @item.EstadoDelEstudio.Valor
                    </div>
                    <div class="col-sm-1">
                        @item.CicloEstudio
                    </div>
                    <div class="col-sm-1">
                        @item.EstadoOfertaEstudio.Valor
                    </div>
                    <div class="col-sm-1">
                        @item.CreadoPor
                    </div>
                    <div class="col-sm-1">
                        @item.FechaCreacion
                    </div>
                    <div class="col-sm-1">
                        @item.ModificadoPor
                    </div>
                    <div class="col-sm-1">
                        @{
                            if (item.FechaModificacion.ToString("yyyyMMdd") != "19000101")
                            {
                                @item.FechaModificacion
                            }
                        }
                        
                    </div>
                </div>
            }


        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h5>Experiencia Requerida</h5>

            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-5">
                    Sector Empresarial
                </div>
                <div class="col-sm-1">
                    Años
                </div>
                <div class="col-sm-1">
                    Excl
                </div>
                <div class="col-sm-1">
                    Estado
                </div>
                <div class="col-sm-1">
                    Creado Por
                </div>
                <div class="col-sm-1">
                    Fecha C
                </div>
                <div class="col-sm-1">
                    Mod. Por
                </div>
                <div class="col-sm-1">
                    Fecha M
                </div>

            </div>
            @foreach (var item in Model.ListaSectores)
            {
                <div class="row grilla1-linea">
                    <div class="col-sm-5">
                        @item.SectorEmpresarial.Valor
                    </div>
                    <div class="col-sm-1">
                        @item.AniosTrabajados
                    </div>
                    <div class="col-sm-1">
                        @item.ExperienciaExcluyente
                    </div>
                    <div class="col-sm-1">
                        @item.EstadoOfertaSectorEmpresarial.Valor
                    </div>
                    <div class="col-sm-1">
                        @item.CreadoPor
                    </div>
                    <div class="col-sm-1">
                        @item.FechaCreacion
                    </div>
                    <div class="col-sm-1">
                        @item.ModificadoPor
                    </div>
                    <div class="col-sm-1">
                        @item.FechaModificacion
                    </div>
                </div>
            }

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h5>Otros Conocimientos Requeridos</h5>

            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-4">
                    Tipo
                </div>
                <div class="col-sm-1">
                    Conocimiento
                </div>
                <div class="col-sm-1">
                    Nivel
                </div>
                <div class="col-sm-1">
                    Años
                </div>
                <div class="col-sm-1">
                    Estado
                </div>
                <div class="col-sm-1">
                    Creado Por
                </div>
                <div class="col-sm-1">
                    Fecha C
                </div>
                <div class="col-sm-1">
                    Mod. Por
                </div>
                <div class="col-sm-1">
                    Fecha M
                </div>
            </div>
            @foreach (var item in Model.ListaInformacionAdicional)
            {
                <div class="row grilla1-linea">
                    <div class="col-sm-4">
                        @item.TipoConocimiento.Valor
                    </div>
                    <div class="col-sm-1">
                        @item.Conocimiento
                    </div>
                    <div class="col-sm-1">
                        @item.NivelConocimiento.Valor
                    </div>
                    <div class="col-sm-1">
                        @item.AniosExperiencia
                    </div>
                    <div class="col-sm-1">
                        @item.EstadoOfertaInformacionAdicional.Valor
                    </div>
                    <div class="col-sm-1">
                        @item.CreadoPor
                    </div>
                    <div class="col-sm-1">
                        @item.FechaCreacion
                    </div>
                    <div class="col-sm-1">
                        @item.ModificadoPor
                    </div>
                    <div class="col-sm-1">
                        @item.FechaModificacion
                    </div>
                </div>
            }
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h5>Postulantes</h5>
            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-3">
                    Alumno
                </div>
                <div class="col-sm-2">
                    Fecha Postulación
                </div>
                <div class="col-sm-1">
                    Fase
                </div>
                <div class="col-sm-1">
                    CV
                </div>
                <div class="col-sm-1">
                    Cumplim
                </div>
                <div class="col-sm-1">
                    Creado Por
                </div>
                <div class="col-sm-1">
                    Fecha C
                </div>
                <div class="col-sm-1">
                    Mod. Por
                </div>
                <div class="col-sm-1">
                    Fecha M
                </div>
            </div>
            @foreach (var item in Model.Postulantes)
            {
                <div class="row grilla1-linea">
                    <div class="col-sm-3">
                        @*<a href="../UTP/Alumno">Mario José Alvarado Peña</a>*@
                        @Html.ActionLink(item.Alumno.Nombres + ' ' + item.Alumno.Apellidos, "VerDetalleAlumno", new { id = item.Alumno.IdAlumno })
                    </div>
                    <div class="col-sm-2">
                        @item.FechaPostulacion
                    </div>
                    <div class="col-sm-1">
                        @item.FaseOferta.Valor
                    </div>
                    <div class="col-sm-1">
                        @item.NombreCV
                    </div>
                    <div class="col-sm-1">
                        @item.NivelDeMatch %
                    </div>
                    <div class="col-sm-1">
                        @item.CreadoPor
                    </div>
                    <div class="col-sm-1">
                        @item.FechaCreacion
                    </div>
                    <div class="col-sm-1">
                        @item.ModificadoPor
                    </div>
                    <div class="col-sm-1">
                        @item.FechaModificacion
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row fuente-pequeña" style="display: block;">

        <div class="col-sm-6">

            <!--INICIO-->
            <div class="panel-group" id="grupoMensajes" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne2">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#grupoMensajes" href="#collapseMensajes" aria-expanded="true" aria-controls="collapseOne2" class="fuente-seccion">
                                Mensajes
                            </a>
                        </h5>
                    </div>
                    <div id="collapseMensajes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="panel-body">
                            @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_UTP_OFERTA, idOferta = Model.IdOferta })
                        </div>
                    </div>
                </div>
            </div>
            <!--FIN-->

           
        </div>
       
    </div>
</div>
<script>

    $(document).ready(function () {
        //$("#divFinalCabecera").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta2");
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta5 color-paleta6 color-paleta7 color-paleta8 color-paleta9").addClass("color-paleta4")
    });


    function cambiarEstado(idOferta)
    {
        var itemSeleccionado = $('#EstadoOferta').val();
        //alert('IdOferta: ' + idOferta + ' Estado Seleccionado: ' + itemSeleccionado);
        var pantalla = '@Constantes.MENSAJES_UTP_OFERTA';

        //var url = "../../Oferta/FinalizarOferta?idOferta=" + idOferta + '&estado=' + itemSeleccionado;
        var url = '@Url.Action("FinalizarOferta", "Oferta")' + '?idOferta=' + idOferta + '&estado=' + itemSeleccionado + '&pantalla=' + pantalla;

        console.log(url);

        $.get(url, function (data) {
            alert("El estado de la oferta fue actualizado con éxito");            
        }).error(function (err) {
            console.log(err);
            alert(err);
        });
    }

</script>
