@model UTP.PortalEmpleabilidad.Modelo.Oferta
@using UTP.PortalEmpleabilidad.Modelo
@using UTPPrototipo.Utiles

@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Oferta de Empresa";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container fuente-pequeña" style="margin-top:2px;">
    <!---Cabecera de la página.-->
    @{Html.RenderAction("VistaCabeceraUtp", "UTP");}

    <!-- Input demo:
    <input type="text" value="@ViewBag.IdOferta" />
    -->
    <h5>Empresa: @Model.Empresa.NombreComercial  - Oferta: @Model.CargoOfrecido</h5>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <table>
                <tr>
                    <td class="celda-nombre">
                        <span>Estado</span>
                    </td>
                    <td class="celda-datos">
                        <table>
                            <tr>
                                <td>@Html.DropDownListFor(m => m.EstadoOferta, null, "- Seleccione Estado -", htmlAttributes: new { @class = "form-control", @style = "width: 175px;" })</td>
                                <td>&nbsp;&nbsp;</td>
                                @if (ViewBag.Rol != "ROLUTP")
                                {
                                    <td><button id="btnCambiarEstadoOferta" class="btn btn-default color-paleta2" onclick="return cambiarEstado(@Model.IdOferta)">Cambiar estado</button></td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        <span>Tipo Trabajo UTP</span>
                    </td>
                    <td class="celda-datos">
                        <table>
                            <tr>
                                <td>@Html.DropDownListFor(m => m.TipoTrabajoUTP, null, "- Seleccione -", htmlAttributes: new { @class = "form-control", @id = "TipoTrabajoUTPFake", @style = "width: 175px;" })</td>
                                <td>&nbsp;&nbsp;</td>
                                @if (ViewBag.Rol != "ROLUTP")
                                {
                                    <td><button type="button" class="btn btn-default color-paleta2" id="btnGuardarSeguimiento">Guardar</button></td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />

            <div class="panel-group" id="oferta-anuncio" role="tablist" aria-multiselectable="true">
                @Html.Action("VistaOfertaAnuncio", "Empresa", new { oferta = @Model })
            </div>




        </div>
        <div class="col-sm-6">
            <div class="panel-group" id="oferta-requisito" role="tablist" aria-multiselectable="true">
                @Html.Action("VistaOfertaRequisitos", "Empresa", new { oferta = @Model })
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-6" id="divDatosOferta">
            @using (Ajax.BeginForm("_VerDetalleOfertaEditar", "UTP", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "mostrarMensajeSegumiento", UpdateTargetId = "divDatosOferta" }))
            {
                @Html.AntiForgeryToken()

                @Html.Action("_VerDetalleOferta", "UTP", new { id = ViewBag.IdOferta })
            }
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingCVPerfil" style="padding: 2px 2px 2px 6px;">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCVPerfil" aria-expanded="true" aria-controls="collapseCVPerfil" style="font-size:12px;">
                            Condiciones
                        </a>
                    </h5>
                </div>
                <div id="collapseCVPerfil" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCVPerfil">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group fuente-pequeña">
                                    <table>
                                        <tr>
                                            <td class="celda-nombre">
                                                <span>Cargo</span>
                                            </td>
                                            <td class="celda-datos">
                                                @Model.CargoOfrecido
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                <span>Funciones</span>
                                            </td>
                                            <td class="celda-datos">
                                                @Html.Raw(Model.Funciones)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                <span>Información Adicional</span>
                                            </td>
                                            <td class="celda-datos">
                                                @Html.Raw(Model.Competencias)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Publicado
                                            </td>
                                            <td class="celda-datos">
                                                @Model.FechaPublicacion
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Recibir CVs hasta
                                            </td>
                                            <td class="celda-datos">
                                                @Html.DisplayFor(model => model.FechaFinRecepcionCV)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Fin de Oferta
                                            </td>
                                            <td class="celda-datos">
                                                @Html.DisplayFor(model => model.FechaFinProceso)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Tipo Cargo
                                            </td>
                                            <td class="celda-datos">
                                                @Model.TipoCargo.Valor
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Tipo Trabajo
                                            </td>
                                            <td class="celda-datos">
                                                @Model.TipoTrabajo.Valor
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Tipo Contrato
                                            </td>
                                            <td class="celda-datos">
                                                @Model.TipoContrato.Valor
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Duración
                                            </td>
                                            <td class="celda-datos">
                                                @Model.DuracionContrato
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Horario
                                            </td>
                                            <td class="celda-datos">
                                                @Model.Horario
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Remuneración
                                            </td>
                                            <td class="celda-datos">
                                                @Model.RemuneracionOfrecida
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Área
                                            </td>
                                            <td class="celda-datos">
                                                @Model.AreaEmpresa
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Vacantes
                                            </td>
                                            <td class="celda-datos">
                                                @Model.NumeroVacantes
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Ubicación
                                            </td>
                                            <td class="celda-datos">
                                                @Model.NombreLocacion
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Asignado a
                                            </td>
                                            <td class="celda-datos">
                                                @Model.UsuarioPropietarioEmpresa
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Creado Por
                                            </td>
                                            <td class="celda-datos">
                                                @Model.CreadoPor
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Creado el
                                            </td>
                                            <td class="celda-datos">
                                                @Model.FechaCreacion
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Modificado Por
                                            </td>
                                            <td class="celda-datos">
                                                @{
                                                    if (Model.FechaModificacion.ToString("yyyyMMdd") != "19000101")
                                                    {
                                                        @Model.FechaModificacion
                                                    }
                                                }


                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Modificado el
                                            </td>
                                            <td class="celda-datos">
                                                @Model.FechaModificacion
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="celda-nombre">
                                                Link externo
                                            </td>
                                            <td class="celda-datos">
                                                @*@Html.ActionLink(" ", "VerOferta", "Home", new { crypt = Helper.Encriptar(Model.IdOferta.ToString()) }, htmlAttributes: new { @class = "fa fa-external-link", target = "_blank", title = "Link externo" })*@
                                                @Html.ActionLink(" ", "VerOferta", "Home", new { crypt = Helper.Encriptar(Model.IdOferta.ToString()) }, htmlAttributes: new { @class = "fa fa-external-link", title = "Link externo" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr />

    <br />
    <div class="row">
        <div class="col-sm-12">
            <h5>Postulantes</h5>
            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-3">
                    Alumno
                </div>
                <div class="col-sm-2">
                    Fecha Postulación
                </div>
                <div class="col-sm-1">
                    Fase
                </div>
                <div class="col-sm-1">
                    CV
                </div>
                <div class="col-sm-1">
                    Cumplim
                </div>
                <div class="col-sm-1">
                    Creado Por
                </div>
                <div class="col-sm-1">
                    Fecha C
                </div>
                <div class="col-sm-1">
                    Mod. Por
                </div>
                <div class="col-sm-1">
                    Fecha M
                </div>
            </div>
            @foreach (var item in Model.Postulantes)
            {
                <div class="row grilla1-linea">
                    <div class="col-sm-3">
                        @*<a href="../UTP/Alumno">Mario José Alvarado Peña</a>*@
                        @Html.ActionLink(item.Alumno.Nombres + ' ' + item.Alumno.Apellidos, "VerDetalleAlumno", new { id = Helper.Encriptar(item.Alumno.IdAlumno.ToString()) })
                    </div>
                    <div class="col-sm-2">
                        @item.FechaPostulacion
                    </div>
                    <div class="col-sm-1">
                        @item.FaseOferta.Valor
                    </div>
                    <div class="col-sm-1">
                        @item.NombreCV
                    </div>
                    <div class="col-sm-1">
                        @item.NivelDeMatch %
                    </div>
                    <div class="col-sm-1">
                        @item.CreadoPor
                    </div>
                    <div class="col-sm-1">
                        @item.FechaCreacion
                    </div>
                    <div class="col-sm-1">
                        @item.ModificadoPor
                    </div>
                    <div class="col-sm-1">
                        @item.FechaModificacion
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row fuente-pequeña" style="display: block;">

        <div class="col-sm-6">

            <!--INICIO-->
            @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_UTP_OFERTA, idOferta = Model.IdOferta })

        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        //$("#divFinalCabecera").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta2");
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta5 color-paleta6 color-paleta7 color-paleta8 color-paleta9").addClass("color-paleta2")
        $('#PestañaOfertas').css('backgroundColor', '#f00');

        $('#btnGuardarSeguimiento').on('click', function () { $('#divDatosOferta form').submit(); });
        $('#TipoTrabajoUTPFake').val($('#TipoTrabajoUTP').val());
        $('#TipoTrabajoUTPFake').on('change', function () {
            $('#TipoTrabajoUTP')[0].value = this.value;
        });
    });


    function cambiarEstado(idOferta)
    {
        var itemSeleccionado = $('#EstadoOferta').val();

        //Validación al seleccionar el estado de la oferta:
        if (itemSeleccionado == null || itemSeleccionado == "" || itemSeleccionado == 'undefined')
        {
            //Se muestra el mensaje de error y la función retorna falso para que no se ejecute.
            alert('Debe seleccionar un estado para continuar');
            return false;
        }

        //alert('IdOferta: ' + idOferta + ' Estado Seleccionado: ' + itemSeleccionado);
        var pantalla = '@Constantes.MENSAJES_UTP_OFERTA';

        //var url = "../../Oferta/FinalizarOferta?idOferta=" + idOferta + '&estado=' + itemSeleccionado;
        var url = '@Url.Action("FinalizarOferta", "Oferta")' + '?idOferta=' + idOferta + '&estado=' + itemSeleccionado + '&pantalla=' + pantalla;

        console.log(url);

        $.get(url, function (data) {
            alert("El estado de la oferta fue actualizado con éxito");
        }).error(function (err) {
            console.log(err);
            alert(err);
        });
    }
    function mostrarMensajeSegumiento()
    {
        alert("Seguimiento fue actualizado con éxito");

        //Incidencia 302: Se redirecciona a la página de ofertas
        window.location.href = '@Url.Action("Ofertas","UTP")';
    }

</script>
