
@model UTP.PortalEmpleabilidad.Modelo.UtpAlumnoDetalle
@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Oferta de Empresa";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container fuente-pequeña" style="margin-top:2px;">
    <!---Cabecera de la página.-->
    @{Html.RenderAction("VistaCabeceraUtp", "UTP");}


       <br />

    <div class="row">
        <div class="col-sm-8">
            <table>
                <tr class="linea_raya">
                    <td class="celda-nombre" style="width:40%;">
                        Fecha Registro
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.FechaRegistro)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Nombres
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.Nombres)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Apellidos
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.Apellidos)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Carrera
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.Carrera)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Tipo de Documento
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.TipoDocumento)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                       Nro Documento
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.NumeroDocumento)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        CorreoElectronico
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.CorreoElectronico)
                    </td>
                </tr>
                <tr class="linea_raya">
                    <td class="celda-nombre">
                        Ciclo Equivalente
                    </td>
                    <td class="celda-datos">
                        @Html.DisplayFor(m => m.CicloEquivalente)
                    </td>
                </tr>


            </table>
        </div>


    </div>
    <br />
    <br />
    <div class="row fuente-pequeña">
        <div class="col-sm-12">

            <h6>Estudios</h6>

            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-3">
                    Estudio
                </div>
                <div class="col-sm-1">
                    Tipo
                </div>
                <div class="col-sm-2">
                    Estado
                </div>
                <div class="col-sm-1">
                    Ciclo
                </div>
                <div class="col-sm-1">
                    Estado
                </div>
                <div class="col-sm-1">
                    Creado Por
                </div>
                <div class="col-sm-1">
                    Fecha C
                </div>
                <div class="col-sm-1">
                    Mod. Por
                </div>
                <div class="col-sm-1">
                    Fecha M
                </div>

            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-3">
                    Ingeniería de Sistemas
                </div>
                <div class="col-sm-1">
                    Universitaria
                </div>
                <div class="col-sm-2">
                    Bachiller
                </div>
                <div class="col-sm-1">
                    No Especifica
                </div>
                <div class="col-sm-1">
                    Activo
                </div>
                <div class="col-sm-1">
                    Usuario
                </div>
                <div class="col-sm-1">
                    10/10/2014 12:09
                </div>
                <div class="col-sm-1">
                    Usuario
                </div>
                <div class="col-sm-1">
                    10/10/2014 12:09
                </div>
            </div>
        </div>
    </div>
 </div> 
<br />
<br />
<br />


<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta2");
    });


</script>

