
@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.ListaValor>

@using UTPPrototipo.Common
@using UTP.PortalEmpleabilidad.Modelo
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}

<h6>Valores</h6>

<div class="row grilla1-cabecera color-paleta8">
    <div class="col-sm-1">
        ID
    </div>
    <div class="col-sm-2">
        Valor
    </div>
    <div class="col-sm-2">
        Descripción
    </div>
    <div class="col-sm-1">
        Icono
    </div>
    <div class="col-sm-1">
        Peso
    </div>
    <div class="col-sm-1">
        Valor IDAT
    </div>
    <div class="col-sm-1">
        Padre
    </div>
    <div class="col-sm-1">
        Estado
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-1">

    </div>
</div>

@foreach (var item in Model)
{
  
    <div class="row grilla1-linea color-paleta8">
        <div class="col-sm-1">
            @item.IdListaValor
        </div>
        <div class="col-sm-2">
            @*<a href="../UTP/ListaValor">CVs Pendientes de Revisión</a>*@
            @item.Valor
        </div>
        <div class="col-sm-2">
            @*Fase en la que se encuentran todos los CVs nuevos, que no han sido analizados*@
            @item.DescripcionValor
        </div>
        <div class="col-sm-1">
            <span class="fui fa-3x">@item.Icono</span>
        </div>
        <div class="col-sm-1">
            @item.Peso
        </div>
        <div class="col-sm-1">
            @item.ValorUTP
        </div>
        <div class="col-sm-1">
            @*<a href="../UTP/ListaValor">padre</a>*@
            @item.Padre
        </div>
        <div class="col-sm-1">
            @*Activo*@
            @item.EstadoValor

        </div>
 
        <div class="col-sm-1 fuente-pequeña">
<!---Anterior-->
            @*<button class="fui fa-2x color-icono-paleta1" style="font-size:30px;border-width:0px;background-color:transparent;" onclick="ListaValorHijoEditar('@item.IdListaValor');">1</button>*@

            <button class="fui fa-2x color-icono-paleta1" style="font-size:30px;border-width:0px;background-color:transparent;" onclick="ListaValorHijoEditar('@item.IdListaValor', ' @paginacion.NroPaginaActual');">1</button>
      
        
        
        </div>
        <div class="col-sm-1 fuente-pequeña">
            @*<button class="btn btn-default color-paleta8" onclick="EliminarVista_ListaValorHijo('@item.IdListaValor','@item.IdLista');">Eliminar</button>*@
            <button class="fui fa-2x color-icono-paleta1" style="font-size:30px;border-width:0px;background-color:transparent;" onclick="EliminarVista_ListaValorHijo('@item.IdListaValor','@item.IdLista');">l</button>
        </div>
    </div>

}



<script>
    function EliminarVista_ListaValorHijo(IdListaValor, IdLista) {
        if (confirm('Está seguro de eliminar el registro?')) {
            //try {
            console.log('ingreso al metodo');
            //var url = "/UTP/EliminarVista_ListaValorHijo?idListaValor=" + IdListaValor + "&idLista=" + IdLista; // el url del controlador
            var url = '@Url.Action("EliminarVista_ListaValorHijo", "UTP")/' + '?idListaValor=' + IdListaValor + "&idLista=" + IdLista; // el url del controlador
            console.log(url);
            $.get(url, function (data) {
                $('#divListaHijo').html(data);
                $.validator.unobtrusive.parse('#divListaHijo');
                //alert('Eliminado con Exito');
            });

            //}
            //catch (err)
            //{
            //    console.log(err);
            //}
        };
    }

</script>

<!--Paginación-->
<nav class="navbar-right">
    <ul class="pagination">


        @{
            //La paginación avanzada no existe para la búsqueda de oferta. Se deja el bloque de paginación avanzada para efectos de desarrollo futuro de esa funcionalidad.
            int i1 = paginacion.NroPaginaActual - 2;
            if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
            if (i1 < 1) { i1 = 1; }
            if (paginacion.NroPaginaActual > 1)
            {
                
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                    {
                        <a href="#" onclick="PaginarListaValorHijo('1');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    }
                    else
                    {
                        <a href="#" onclick="PaginarListaValorHijoAvanzada('1');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    }
                </li>
                if (paginacion.NroPaginaActual - 5 >= 1)
                {
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="PaginarListaValorHijo('@(paginacion.NroPaginaActual - 5)');">
                                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="PaginarListaValorHijoAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                            </a>
                        }
                    </li>
                }
            }

            for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
            {
                if (i == paginacion.NroPaginaActual)
                {
                    <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                }
                else
                {
                    if (i > 0)
                    {
                        if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <li><a href="#" onclick="PaginarListaValorHijo('@i');">@i</a></li>
                        }
                        else
                        {
                            <li><a href="#" onclick="PaginarListaValorHijoAvanzada('@i');">@i</a></li>
                        }
                    }
                }
            }
            if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
            {
                int i2 = paginacion.NroPaginaActual + 5;
                if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                if (i2 < paginacion.TotalPaginas)
                {
                    <li>
                        @if (ViewBag.TipoBusqueda == "Simple")
                        {
                            <a href="#" onclick="PaginarListaValorHijo('@i2');">
                                <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="PaginarListaValorHijoAvanzada('@i2');">
                                <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                            </a>
                        }
                    </li>
                }
                <li>
                    @if (ViewBag.TipoBusqueda == "Simple")
                    {
                        <a href="#" onclick="PaginarListaValorHijo('@paginacion.TotalPaginas');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    }
                    else
                    {
                        <a href="#" onclick="PaginarListaValorHijoAvanzada('@paginacion.TotalPaginas');">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    }
                </li>
            }
        }

    </ul>

</nav>


<br />

<div class="col-sm-12" style="text-align:right;">

    <button class="btn btn-default color-paleta8" onclick="ListaValorHijoInsertar();">Nueva Lista de Valores</button>


</div>




