@model UTP.PortalEmpleabilidad.Modelo.Mensaje
@using UTP.PortalEmpleabilidad.Modelo

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Mensaje</h4>
    </div>
    <div class="modal-body">

        @Html.HiddenFor(m => m.DeUsuario)
        @Html.HiddenFor(m => m.DeUsuarioCorreoElectronico)

        @if (ViewBag.Pantalla != Constantes.MENSAJES_UTP_INDEX)
        {
            @Html.HiddenFor(m => m.ParaUsuario)
            @Html.HiddenFor(m => m.ParaUsuarioCorreoElectronico)
        }


        @Html.HiddenFor(m => m.Pantalla)

        @if (ViewBag.Pantalla == Constantes.MENSAJES_ALUMNO_INDEX || ViewBag.Pantalla == Constantes.MENSAJES_UTP_INDEX || ViewBag.Pantalla == Constantes.MENSAJES_UTP_ALUMNO
            || ViewBag.Pantalla == Constantes.MENSAJES_EMPRESA_EVENTO || ViewBag.Pantalla == Constantes.MENSAJES_ALUMNO_EVENTO)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Destina-<br />tario</span>
                        <input id="inpUsuarioPara" name="ParaUsuario" class="form-control" placeholder="Usuario Destinatario" value="@Model.ParaUsuario" />
                    </div>
                </div>
            </div>
        }

        @if (ViewBag.Pantalla == Constantes.MENSAJES_EMPRESA_INDEX || ViewBag.Pantalla == Constantes.MENSAJES_EMPRESA_OFERTA
            || ViewBag.Pantalla == Constantes.MENSAJES_UTP_EVENTO)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Destina-<br />tario</span>
                        <select id="slcDestinatarios" name="slcDestinatarios" class="form-control"></select>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Asunto</span>
                    <input id="Asunto" name="Asunto" class="form-control" placeholder="Asunto del Correo" value="@Model.Asunto" />
                </div>
            </div>
        </div>

        @if (ViewBag.Pantalla == Constantes.MENSAJES_EMPRESA_INDEX || ViewBag.Pantalla == Constantes.MENSAJES_ALUMNO_INDEX
            || ViewBag.Pantalla == Constantes.MENSAJES_EMPRESA_OFERTA || ViewBag.Pantalla == Constantes.MENSAJES_UTP_ALUMNO
            || ViewBag.Pantalla == Constantes.MENSAJES_UTP_OFERTA)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Oferta<br />Laboral</span>
                        @Html.DropDownListFor(m => m.IdOfertaMensaje, null, "Seleccione Oferta Laboral relacionada", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IdOfertaMensaje, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        <!--, onchange = "democambio(this.value)"-->
        @*@if (ViewBag.Pantalla == "")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Evento</span>
                        <select class="form-control">
                            <option>- Seleccione Evento relacionado -</option>
                            <option>Feria de Trabajo 2015</option>
                            <option>Charla RRHH</option>
                            <option>Seminaro de Presentación</option>
                        </select>
                    </div>
                </div>
            </div>
        }*@

        @*@if (ViewBag.Pantalla == "")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Oferta<br />Laboral</span>
                        @Model.Oferta.CargoOfrecido
                        @Html.HiddenFor(m => m.IdOfertaMensaje)
                    </div>
                    @*<a href="#">Gerente de Proyectos (IBM del Perú)</a>*@

                </div>
            </div>
        }*@

        @if (ViewBag.Pantalla == Constantes.MENSAJES_EMPRESA_EVENTO || ViewBag.Pantalla == Constantes.MENSAJES_ALUMNO_EVENTO 
            || ViewBag.Pantalla == Constantes.MENSAJES_UTP_EVENTO)
        {
            @Html.HiddenFor(m => m.IdEvento)
            <div class="row">
                <div class="col-sm-12">
                    @Model.Evento.NombreEvento
                </div>
            </div>

        }

        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Mensaje</span>
                    <textarea name="MensajeTexto" class="form-control" placeholder="Mensaje del Correo" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary color-paleta1">Enviar</button>
    </div>
</div>
<script>


    $(document).ready(function () {

        var pantalla = $('#Pantalla').val();

        if (pantalla == '@Constantes.MENSAJES_EMPRESA_OFERTA') {
            var idOferta = @ViewBag.IdOfertaGeneral

            $('#IdOfertaMensaje').val(idOferta);

            //Llamada al controlador para cargar a los postulantes de la oferta seleccionada.
            var url = '@Url.Action("ObtenerPostulantesPorOferta", "Mensaje")' + '?IdOferta=' + idOferta;

            $('#slcDestinatarios option[value!="0"]').remove();
            $("#slcDestinatarios").append("<option selected>- Cargando destinatarios ... -</option>")

            $.getJSON(url, cargarComboDestinatarios).error(function (err) { console.log(err); });

            //$('#IdOfertaMensaje').attr('disabled','disabled'); //Se deshabilita el combo de ofertas.
        }

        if (pantalla == '@Constantes.MENSAJES_UTP_EVENTO') {

            var idEvento = @ViewBag.IdEventoGeneral

            //Llamada al controlador para cargar a los postulantes de la oferta seleccionada.
            var url = '@Url.Action("ObtenerAsistentesPorEvento", "Mensaje")' + '?IdEvento=' + idEvento;

            $('#slcDestinatarios option[value!="0"]').remove();
            $("#slcDestinatarios").append("<option selected>- Cargando asistentes ... -</option>")

            $.getJSON(url, cargarComboAsistentes).error(function (err) { console.log(err); });

        }

        $('#IdOfertaMensaje').on('change', function () {

            if (pantalla == '@Constantes.MENSAJES_UTP_ALUMNO') {
                return false;
            }
            //debugger;
            //console.log('IfOfertaChange');

            var idOfertaSeleccionada = this.value;
            var cargoOfrecidoSeleccionado = $('#IdOfertaMensaje option:selected').text();
            console.log(cargoOfrecidoSeleccionado);

            var pantalla = $('#Pantalla').val();

            //debugger;

            $("#Asunto").val(cargoOfrecidoSeleccionado);

            if (pantalla == '@Constantes.MENSAJES_EMPRESA_INDEX' || pantalla == '@Constantes.MENSAJES_EMPRESA_OFERTA') {
                var url = '@Url.Action("ObtenerPostulantesPorOferta", "Mensaje")' + '?IdOferta=' + idOfertaSeleccionada;

                $('#slcDestinatarios option[value!="0"]').remove();
                $("#slcDestinatarios").append("<option selected>- Cargando destinatarios ... -</option>")

                $.getJSON(url, cargarComboDestinatarios).error(function (err) { console.log(err); });

            }
            if (pantalla == '@Constantes.MENSAJES_ALUMNO_INDEX') {

                //console.log('EmpresaOferta');
                var url = '@Url.Action("ObtenerUsuarioEmpresaPorOferta", "Mensaje")' + '?IdOferta=' + idOfertaSeleccionada;

                $.getJSON(url, cargarDatosUsuarioPara)
            }

            if (pantalla == '@Constantes.MENSAJES_ALUMNO_OFERTA') {

                var url = '@Url.Action("ObtenerDestinatariosUTPOferta", "Mensaje")' + '?IdOferta=' + idOfertaSeleccionada;

                $.getJSON(url, cargarDestinatariosUTPOferta)
            }

        }).error(function (err) { console.log(err); });

        function cargarComboDestinatarios(data) {
            console.log(data);

            $('#slcDestinatarios option[value!="0"]').remove();
            $("#slcDestinatarios").append("<option selected>- Seleccione Alumno Destinatario -</option>")

            //Se crea un html con el combo de destinatarios.
            for (var i = 0; i < data.length; i++) {

                $("#slcDestinatarios").append("<option data-usuario='" + data[i].Usuario + "' value= '" + data[i].CorreoElectronico + "'>" + data[i].Alumno.Apellidos + " " + data[i].Alumno.Nombres + "</option>")
            }
        }

        function cargarDatosUsuarioPara(data) {
            console.log(data);
            //Se setea el campo:
            $("#inpUsuarioPara").val(data.UsuarioPropietarioEmpresa);

            //$("#inpUsuarioPara").attr('disabled', disabled)

            //Se guardan los datos del usuario Para:
            $('#ParaUsuario').val(data.UsuarioPropietarioEmpresa);
            $('#ParaUsuarioCorreoElectronico').val(data.UsuarioPropietarioEmpresaCorreo);
        }

        function cargarDestinatariosUTPOferta(data) {
            //console.log(data);

            $('#slcDestinatarios option[value!="0"]').remove();
            $("#slcDestinatarios").append("<option selected>- Seleccione Alumno Destinatario -</option>")

            for (var i = 0; i < data.length; i++) {

                $("#slcDestinatarios").append("<option data-usuario='" + data[i].Usuario + "' value= '" + data[i].CorreoElectronico + "'>" + data[i].TextoAMostrar + "</option>");
            }
        }

        function cargarComboAsistentes(data) {
            console.log(data);

            $('#slcDestinatarios option[value!="0"]').remove();
            $("#slcDestinatarios").append("<option selected>- Seleccione Alumno Destinatario -</option>")

            //Se crea un html con el combo de destinatarios.
            for (var i = 0; i < data.length; i++) {

                $("#slcDestinatarios").append("<option data-usuario='" + data[i].Usuario + "' value= '" + data[i].CorreoElectronico + "'>" + data[i].Apellidos + " " + data[i].Nombres + "</option>")
            }
        }

        //Se almacen el nombre del usuario en un Hidden que está enlazado al modelo.
        $('#slcDestinatarios').on('change', function () {

            var correoElectronico = this.value;
            var nombreUsuario = $(this).find(':selected').data('usuario');

            $('#ParaUsuario').val(nombreUsuario);
            $('#ParaUsuarioCorreoElectronico').val(correoElectronico);

            //console.log(correoElectronico);
            //console.log(nombreUsuario);

        });

    });

</script>