@model UTP.PortalEmpleabilidad.Modelo.Mensaje
@using UTPPrototipo.Common

<div class="modal-content fuente-pequeña">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@Model.Asunto</h4>

    </div>
    <div class="modal-body">
        <h6>
            Mensaje posterior:
            @*<a href="#">(Hace 15 minutos) RE: RE: Gerente de Proyectos para Sistemas de Información</a>*@

            @{
                <!--Sólo se muestra el link de mensaje posterior si existe.-->
    if (Model.MensajePosteriorIdMensaje != 0)
    {
        <label style="cursor: pointer; text-decoration: underline" onclick="mensajeVer('@Model.MensajePosteriorIdMensaje','@Model.Pantalla')">(@Html.FormatoFrecuencia(Model.MensajePosteriorFechaEnvio)) @Model.MensajePosteriorAsunto</label>
    }
}
            
        </h6>

        <br />
        <table>
            <tr class="linea_raya">
                <td class="celda-nombre">
                    Fecha:
                </td>
                <td class="celda-datos">
                    @*Hace 1 día (26/12/2014 16:24:00 HH)*@
                    @Html.FormatoFrecuencia(Model.FechaEnvio) @Model.FechaEnvio
                </td>
            </tr>
            <tr class="linea_raya">
                <td class="celda-nombre">
                    De:
                </td>
                <td class="celda-datos">
                    @Model.DeUsuario
                    @*Víctor Canal Aguirre (vcanal)*@
                </td>
            </tr>
            <tr class="linea_raya">
                <td class="celda-nombre">
                    Para:
                </td>
                <td class="celda-datos">
                    @*Alberto Beingochea Elcorrobarrutia (abel)*@
                    @Model.ParaUsuario
                </td>
            </tr>
            <tr class="linea_raya">
                <td class="celda-nombre">
                    Oferta Laboral:
                </td>
                <td class="celda-datos">
                    @*<a href="#">Gerente de Proyectos para Sistemas de Información (IBM del Perú) @Model.Oferta.CargoOfrecido</a>*@
                    @Model.Oferta.CargoOfrecido
                </td>
            </tr>
            @*<tr class="linea_raya">
                <td class="celda-nombre">
                    Evento:
                </td>
                <td class="celda-datos">
                    <a href="#">Feria Laboral 2015 UTP</a>
                </td>
            </tr>*@
            <tr class="linea_raya">
                <td class="celda-nombre">
                    Mensaje:
                </td>
                <td class="celda-datos">
                    @Model.MensajeTexto                    
                </td>
            </tr>
        </table>
        <br />
        <h6>
            Mensaje anterior:
            @*<a href="#">(Hace 3 días) Gerente de Proyectos para Sistemas de Información</a>*@

            @{
                <!--Sólo se muestra el link de mensaje posterior si existe.-->
    if (Model.MensajeAnteriorIdMensaje != 0)
    {
        <label style="cursor: pointer; text-decoration: underline" onclick="mensajeVer('@Model.MensajeAnteriorIdMensaje', '@Model.Pantalla')">(@Html.FormatoFrecuencia(Model.MensajeAnteriorFechaEnvio)) @Model.MensajeAnteriorAsunto</label>
    }
}
        </h6>


    </div>

    <div class="modal-footer">
        @*<button type="button" class="btn btn-primary color-paleta1" data-dismiss="modal" data-toggle="modal" data-target="#divModalMensajeRedactar">Contestar</button>*@
        <button type="button" class="btn btn-primary color-paleta-msg-btn" onclick="mensajeResponder('@Model.Pantalla', '@Model.IdMensaje');">Contestar</button>
    </div>
</div>
