@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Mensaje>
@using UTPPrototipo.Common
@using UTP.PortalEmpleabilidad.Modelo

@using UTP.PortalEmpleabilidad.Modelo
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}

<div id="divListaMensajes" class="col-sm-12">

    <div class="row">

                        @*@if (ViewBag.Pantalla == Constantes.MENSAJES_UTP_EMPRESA)
                            {
                                        <h5>Mensajes</h5>
                                        <hr />
                            }
                            else
                            {
                                        <h5>Mensajes</h5>
                            }*@


                        <!--Cabecera de la grilla-->
                        <div class="row grilla1-cabecera color-paleta-msg-btn">
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-11">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Fecha
                                    </div>
                                    <div class="col-sm-4">
                                        Remitente
                                    </div>
                                    <div class="col-sm-4">
                                        Destinatario
                                    </div>

                                </div>
                            </div>


                        </div>

                        <!--Detalle resultados-->
                        @foreach (var item in Model)
        {
                        <div class="row grilla1-linea">
                            <div class="col-sm-1">
                                <!--Estado del mensaje-->
                                @{
            string paletaColor = "";
            if (item.DeUsuario == ViewBag.usuarioActual)
            {
                paletaColor = "color-paleta-msg";
            }
            else
            {
                paletaColor = "color-paleta-msg-ent";
            }
            if (item.EstadoMensaje == "MSJNOL") //Mensaje no leído.
            {
                                    <span class="fui @paletaColor" style="font-size:22px;" title="Mensaje nuevo">k</span>
            }
            else
                if (item.EstadoMensaje == "MSJLEI") //Mensaje leído.
                {
                                    <span class="fui @paletaColor" style="font-size:22px;" title="Mensaje leído">i</span>
                }
                else
                    if (item.EstadoMensaje == "MSJCON") //Mensaje contestado
                    {
                                    <span class="fui @paletaColor" style="font-size:22px;" title="Mensaje contestado ">j</span>
                    }
                                }
                            </div>
                            <div class="col-sm-11">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @Html.FormatoFrecuencia(item.FechaEnvio)
                                    </div>
                                    <div class="col-sm-4">
                                        @item.DeUsuario
                                    </div>
                                    <div class="col-sm-4">
                                        @item.ParaUsuario
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        @*<strong><a href="#" data-toggle="modal" data-target="#verMensaje">RE: Gerente de Cuentas</a></strong>*@
                                        <strong>
                                            <label onclick="mensajeVer('@item.IdMensaje', '@ViewBag.Pantalla');" style="cursor:pointer;">@item.Asunto</label>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
        }
                        @if (Model.Count() == 0)
        {
                        <div class="row grilla1-linea">
                            <div class="col-sm-12 text-center">
                                <h6>No se encontraron resultados.</h6>
                            </div>
                        </div>
        }
                        <br />
                        <nav class="navbar-right">
                            <ul class="pagination">
                                @{
                                    int i1 = paginacion.NroPaginaActual - 2;
                                    if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
                                    if (i1 < 1) { i1 = 1; }
                    if (paginacion.NroPaginaActual > 1)
                    {
                        
                                <li>
                                    @if (ViewBag.TipoBusqueda == "Simple")
                            {
                            <a href="#" onclick="buscarPaginacionMensajes('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                            }
                            else
                            {
                            <a href="#" onclick="buscarPaginacionAvanzada('1');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                            </a>
                            }
                                </li>
                        if (paginacion.NroPaginaActual - 5 >= 1)
                        {
                                <li>
                                    @if (ViewBag.TipoBusqueda == "Simple")
                                    {
                                        <a href="#" onclick="buscarPaginacionMensajes('@(paginacion.NroPaginaActual - 5)');">
                                            <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" onclick="buscarPaginacionAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                            <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                        </a>
                                    }
                                </li>
                        }
                    }

                    for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
                    {
                        if (i == paginacion.NroPaginaActual)
                        {
                                <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                        }
                        else
                        {
                            if (i > 0)
                            {
                                if (ViewBag.TipoBusqueda == "Simple")
                                {
                                <li><a href="#" onclick="buscarPaginacionMensajes('@i');">@i</a></li>
                                }
                                else
                                {
                                <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                                }
                            }
                        }
                    }
                    if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
                    {
                        int i2 = paginacion.NroPaginaActual + 5;
                        if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                        if (i2 < paginacion.TotalPaginas)
                        {
                                <li>
                                    @if (ViewBag.TipoBusqueda == "Simple")
                                    {
                                        <a href="#" onclick="buscarPaginacionMensajes('@i2');">
                                            <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                        </a>
                                    }
                                    else
                                    {
                                <a href="#" onclick="buscarPaginacionAvanzada('@i2');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                </a>
                                }
                                </li>
                        }
                                <li>
                                    @if (ViewBag.TipoBusqueda == "Simple")
                                    {
                                        <a href="#" onclick="buscarPaginacionMensajes('@paginacion.TotalPaginas');">
                                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                                        </a>
                                    }
                                    else
                                    {
                            <a href="#" onclick="buscarPaginacionAvanzada('@paginacion.TotalPaginas');">
                                <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                            </a>
                            }
                                </li>
                    }
                                }
                            </ul>
                        </nav>
                        <div class="row">
                            <!--Acción para redactar nuevos mensajes.-->
                            <div class="col-sm-6">
                                @*<button class="btn btn-default color-paleta1" data-toggle="modal" data-target="#divModalMensajeRedactar">Redactar</button>*@
                                @{//20150508 a petición de Beatriz
                                    if (@ViewBag.Pantalla != Constantes.MENSAJES_ALUMNO_INDEX)
                                    { 
                                        <button id="btnMensajeNuevo" class="btn btn-default color-paleta-msg-btn" onclick="mensajeNuevo('@ViewBag.Pantalla','@ViewBag.IdOferta', '@ViewBag.UsuarioAlumno', '@ViewBag.IdEvento', '@ViewBag.IdEmpresa');">Redactar</button>
                                    }
                                }
                                <br />
                                <label id="lblCargando" style="font-size:xx-small"></label>
                            </div>

                            <!--Paginación de los mensajes-->
                            <!--
                            <div class="col-sm-10" style="text-align:right;">
                                <nav>
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                                -->
                        </div>

                        <hr />
                    </div>

    <!--Modal para nuevos mensajes -->
    <div class="modal" id="divModalMensajeNuevo" tabindex="-1" role="dialog">

    @using (Ajax.BeginForm("_MensajesNuevo", "Mensaje", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "cerrarModal", UpdateTargetId = "divListaMensajes", OnBegin = "AjaxBegin" }))
    {
        @Html.AntiForgeryToken()

        <div class="modal-dialog" id="divMensajeNuevoContenedorInterno">

        </div>
    }
    </div><!-- /.modal -->
    <!--Modal para ver un mensaje -->
    <div class="modal" id="divModalMensajeVer" tabindex="-1" role="dialog">

        @using (Ajax.BeginForm("_MensajesVer", "Mensajes", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divListaMensajes", OnComplete = "cerrarModal" }))
    {
    @Html.AntiForgeryToken()

    <div class="modal-dialog" id="divMensajeVerContenedorInterno">

    </div><!-- /.modal-dialog -->
    }
    </div><!-- /.modal -->
    <!--Modal para responder un mensaje -->
    <div class="modal" id="divModalMensajeResponder" tabindex="-1" role="dialog">

        @using (Ajax.BeginForm("_MensajesResponder", "Mensaje", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divListaMensajes", OnComplete = "cerrarModalResponder", OnBegin = "AjaxBeginResponder" }))
    {
    @Html.AntiForgeryToken()

    <div class="modal-dialog" id="divMensajeResponderContenedorInterno">

    </div>
    }

    </div><!-- /.modal -->

</div>
                     
<script type="text/javascript">

    $(document).ready(function () {

        $('#IdOferta').change(function () {

            //alert('cambio');
        });

    });

    function mensajeNuevo(pantalla, idOferta, usuarioAlumno, idEvento, idEmpresa) {

        $('#lblCargando').text('Cargando, por favor espere.');
        var listaIdAlumnos = '';

        if (pantalla == '@Constantes.MENSAJES_EMPRESA_HUNTING') {
            //Cuando la pantalla es de Hunting se debe seleccionar los checks marcados.
            //Se obtiene la grilla de alumnos.
            //$('#divResultadoHunting').each(function (i, x) {

            //    console.log(i);
            //    console.log(x);
            //});

            //Se realiza un foreach con los checks marcados.
            $("#divResultadoHunting input:checked").each(function () {

                var idAlumno = $(this).attr('name');
                listaIdAlumnos += idAlumno + '-';
            });

            //Se quita el char '-' final.
            if (listaIdAlumnos.length > 0) {
                listaIdAlumnos = listaIdAlumnos.substring(0, listaIdAlumnos.length - 1);
            }

            console.log(listaIdAlumnos);
            //return false;
        }

        var url = '@Url.Action("_MensajesNuevo", "Mensaje")' + '?pantalla=' + pantalla + '&idOferta=' + idOferta + '&usuarioAlumno=' + usuarioAlumno + '&idEvento=' + idEvento + '&idEmpresa=' + idEmpresa + '&listaIdAlumnos=' + listaIdAlumnos;

        $.get(url, function (data) {

            //console.log(data);
            $('#divMensajeNuevoContenedorInterno').html(data);
            $.validator.unobtrusive.parse('#divMensajeNuevoContenedorInterno');
            $('#divModalMensajeNuevo').modal('show');

        }).error(function (err) {
            console.log("error: " + err);
        }).then(function () {
            $('#lblCargando').text('');
        });
    };

    function mensajeVer(idMensaje, pantalla) {

        //debugger;
        //Se cierra cualquier modal que esté abierto y se abre el siguiente:
        try {
            $('.modal.in').modal('hide');
        }
        catch (err) {
            console.log(err);
        }

        //console.log(idMensaje);

        var url = '@Url.Action("_MensajesVer", "Mensaje")' + '?idMensaje=' + idMensaje + '&pantalla=' + pantalla;

        $.get(url, function (data) {

            console.log(data);
            $('#divMensajeVerContenedorInterno').html(data);
            //$.validator.unobtrusive.parse('#divMensajeVerContenedorInterno');
            $('#divModalMensajeVer').modal('show');

        }).error(function (err) {
            console.log('error en getMensajeVer' + err);
        });
    };

    function mensajeResponder(pantalla, idMensaje) {

        //Se cierra el modal actual y se abre el siguiente:
        $('.modal.in').modal('hide');

        var url = '@Url.Action("_MensajesResponder", "Mensaje")' + '?pantalla=' + pantalla + '&idMensaje=' + idMensaje;

        $.get(url, function (data) {

            $('#divMensajeResponderContenedorInterno').html(data);
            $.validator.unobtrusive.parse('#divMensajeResponderContenedorInterno');
            $('#divModalMensajeResponder').modal('show');

        }).error(function (err) {
            console.log(err);
        });
    }

    function cerrarModal() {
        
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $('.modal.in').modal('hide');

        //Se limpian los html de los modales:
        $('#divMensajeNuevoContenedorInterno').html("");
        $('#divMensajeVerContenedorInterno').html(""); 
        $('#divMensajeResponderContenedorInterno').html("");

        $("#btnEnviarMensaje").removeAttr('disabled');
        $("#btnEnviarMensaje").text('Enviar');

    }

    function AjaxBegin() {
        $('#btnEnviarMensaje').text('Enviando ...');
        $('#btnEnviarMensaje').attr('disabled', 'disabled')
    }


    function cerrarModalResponder() {

        $('.modal-backdrop').remove();
        $('.modal.in').modal('hide');

        //Se limpian los html de los modales:
        $('#divMensajeNuevoContenedorInterno').html("");
        $('#divMensajeVerContenedorInterno').html("");
        $('#divMensajeResponderContenedorInterno').html("");

        $("#btnResponderMensaje").removeAttr('disabled');
        $("#btnResponderMensaje").text('Enviar');

    }

    function AjaxBeginResponder() {
        $('#btnResponderMensaje').text('Enviando ...');
        $('#btnResponderMensaje').attr('disabled', 'disabled')
    }

    function buscarPaginacionMensajes(nroPagina) {

        var url = '@Url.Action("_Mensajes", "Mensaje", new {    pantalla = ViewBag.Pantalla,
                                                                idOferta = ViewBag.IdOferta,
                                                                usuarioAlumno = ViewBag.UsuarioAlumno,
                                                                idEvento = ViewBag.IdEvento,
                                                                idEmpresa = ViewBag.IdEmpresa,
                                                            } )' + '&nroPaginaActual=' + nroPagina;

        $.get(url, function (data) {
            $('#divListaMensajes').html(data);
        }).error(function (err) {
            console.log(err);
        });
    }

</script>

@{
    //Se valida que exista mensaje de éxito al crear una oferta
    if (TempData["MsjExitoCrearMensaje"] != null)
    {
        <input id="MsjExitoCrearMensaje" type="hidden" value="@TempData["MsjExitoCrearMensaje"]" />
        TempData["MsjExitoCrearMensaje"] = null; //Se establece el valor nuevamente en NULL.

        //Se muestra el script
        <script>

            var msjExito = document.getElementById("MsjExitoCrearMensaje").value;
            alert(msjExito);

        </script>
    }

}