@model  IEnumerable<UTP.PortalEmpleabilidad.Modelo.Mensaje>

<div id="divMensajes">

    <h5>Mensajes</h5>
    <hr />
    <!---Cabecera-->
    <div class="row grilla1-cabecera color-paleta1">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-2">
            Fecha
        </div>
        <div class="col-sm-3">
            Asunto
        </div>
        <div class="col-sm-3">
            Remitente
        </div>
        <div class="col-sm-3">
            Oferta/Evento
        </div>
    </div>
    <!--Lista de resultados-->
    @foreach (var item in Model)
    {
        <div class="row grilla1-linea">
            <div class="col-sm-1">
                <span class="fui fa-3x color-icono-paleta1">i</span>
            </div>
            <div class="col-sm-2">
                @item.FechaEnvio <!--TODO: Cambiar a la fórmular para obtener texto-->
            </div>
            <div class="col-sm-3">
                <a href="../Mensaje/VerMensaje">@item.Asunto</a>
            </div>
            <div class="col-sm-3">
                @item.DeUsuario
            </div>
            <div class="col-sm-3">
                @item.Oferta.CargoOfrecido
            </div>
        </div>
    }

    <!--Ejemplo-->
    @*<div class="row grilla1-linea">
            <div class="col-sm-1">
                <span class="fui fa-3x color-icono-paleta1">j</span>
            </div>
            <div class="col-sm-2">
                Hace 2 horas
            </div>
            <div class="col-sm-3">
                <a href="../Mensaje/VerMensaje">Bienvenido a la Postulación</a>
            </div>
            <div class="col-sm-3">
                Criteria IT S.A.C.
            </div>
            <div class="col-sm-3">
                Gerente de Proyecto (Postulando)
            </div>
        </div>*@

    <!--Paginación-->
    <div class="row">
        <div class="col-sm-12" style="text-align:right;">
            <nav>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                    </ul>
                </nav>
            </nav>
        </div>
    </div>
    <hr />

    <!--Formulario de envío de mensaje-->
    <h6>Nuevo Mensaje</h6>
    <div class="row">
        <div class="col-sm-12">
            @using (Ajax.BeginForm("_MensajeFormularioGrabar", "Mensaje", new AjaxOptions() { UpdateTargetId = "divMensajes" }))
            {
                @Html.AntiForgeryToken()
                @Html.Action("_MensajeFormulario", new { id = ViewBag.IdOferta })

            }
        </div>

    </div>
    <br />

</div>