@model UTP.PortalEmpleabilidad.Modelo.VistaEventosPorUsuario
@using UTPPrototipo.Utiles
<div class="row">
    <div class="col-sm-6 vertica">
        <div class="row" style="border-right:solid;border-color:rgb(220, 220, 220);border-width:1px;">
            <div class="col-sm-12">
                
                <h6>Eventos Próximos</h6>
                <hr />

                @if (Model.usuarioeventoposible != null && Model.usuarioeventoposible.Count > 0)
                {
                    <div class="row grilla1-cabecera color-paleta5">
                        <div class="col-sm-3">
                            Evento
                        </div>
                        <div class="col-sm-2">
                            Fecha
                        </div>
                        <div class="col-sm-2">
                            Lugar
                        </div>
                        <div class="col-sm-3">
                            Organiza
                        </div>
                        <div class="col-sm-2">
                            Estado
                        </div>
                    </div>
                    foreach (var item in Model.usuarioeventoposible)
                    {
                        <div class="row grilla1-linea">
                            <div class="col-sm-3">
                                @if (ViewBag.Pantalla == "Empresa")
                                {
                                    @*@Html.ActionLink(item.NombreEvento, "Evento", "Empresa", new { idEvento = item.IdEvento }, null)*@                             
                                    @*@Html.ActionLink(item.NombreEvento, "Evento", "Empresa", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()), pantallaCrypt = Helper.Encriptar("Empresa") }, htmlAttributes: new { target = "_blank" })*@
                                    @Html.ActionLink(item.NombreEvento, "Evento", "Empresa", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()), pantallaCrypt = Helper.Encriptar("Empresa") })
                                }
                                else
                                {
                                    @*@Html.ActionLink(item.NombreEvento, "Evento", "Alumno", new { idEvento = item.IdEvento }, null)*@
                                    @*@Html.ActionLink(item.NombreEvento, "Evento", "Alumno", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()), pantallaCrypt = Helper.Encriptar("Alumno") }, htmlAttributes: new { target = "_blank" })*@
                                    @Html.ActionLink(item.NombreEvento, "Evento", "Alumno", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()), pantallaCrypt = Helper.Encriptar("Alumno") }, htmlAttributes: new { target = "_blank" })
                                }
                            </div>
                            <div class="col-sm-2">
                                @item.FechaEventoTexto
                            </div>
                            <div class="col-sm-2">
                                @item.LugarEvento
                            </div>
                            <div class="col-sm-3">
                                @item.NombreComercial
                            </div>
                            <div class="col-sm-2">
                                @item.EstadoEvento
                            </div>
                        </div>
                    }
                    <hr />
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">

                @if (Model.usuarioeventoactivo != null && Model.usuarioeventoactivo.Count > 0)
                {
                    <h6>Te has inscrito en estos Eventos</h6>
                    <hr />
                    <div class="row grilla1-cabecera color-paleta5">
                        <div class="col-sm-2">
                            Evento
                        </div>
                        <div class="col-sm-2">
                            Fecha
                        </div>
                        <div class="col-sm-2">
                            Lugar
                        </div>
                        <div class="col-sm-2">
                            Organiza
                        </div>
                        <div class="col-sm-2">
                            Estado
                        </div>
                        <div class="col-sm-2">
                            Ticket
                        </div>
                    </div>
                    foreach (var item in Model.usuarioeventoactivo)
                    {
                        <div class="row grilla1-linea">
                            <div class="col-sm-2">
                                @if (ViewBag.Pantalla == "Empresa")
                                {
                                    @*@Html.ActionLink(item.NombreEvento, "Evento", "Empresa", new { idEvento = item.IdEvento }, null)*@
    @*@Html.ActionLink(item.NombreEvento, "Evento", "Empresa", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()), pantallaCrypt = Helper.Encriptar("Empresa") }, htmlAttributes: new { target = "_blank" })*@
    @Html.ActionLink(item.NombreEvento, "Evento", "Empresa", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()), pantallaCrypt = Helper.Encriptar("Empresa") })
                                }
                                else
                                {
                                    @*@Html.ActionLink(item.NombreEvento, "Evento", "Alumno", new { idEvento = item.IdEvento }, null)*@
    @*@Html.ActionLink(item.NombreEvento, "Evento", "Alumno", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()), pantallaCrypt = Helper.Encriptar("Alumno") }, htmlAttributes: new { target = "_blank" })*@
    @Html.ActionLink(item.NombreEvento, "Evento", "Alumno", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()), pantallaCrypt = Helper.Encriptar("Alumno") })
                                }
                            </div>
                            <div class="col-sm-2">
                                @item.FechaEventoTexto
                            </div>
                            <div class="col-sm-2">
                                @item.LugarEvento
                            </div>
                            <div class="col-sm-2">
                                @item.NombreComercial
                            </div>
                            <div class="col-sm-2">
                                @item.EstadoEvento
                            </div>
                            <div class="col-sm-2">
                                @item.ValorEstadoTicket
                            </div>
                        </div>
                    }
                    <hr />
                }

                @if (Model.usuarioeventopasado != null && Model.usuarioeventopasado.Count > 0)
                {
                    <h6>Participaste en estos Eventos</h6>
                    <hr />
                    <div class="row grilla1-cabecera color-paleta5">
                        <div class="col-sm-2">
                            Evento
                        </div>
                        <div class="col-sm-2">
                            Fecha
                        </div>
                        <div class="col-sm-2">
                            Lugar
                        </div>
                        <div class="col-sm-2">
                            Organiza
                        </div>
                        <div class="col-sm-2">
                            Estado
                        </div>
                        <div class="col-sm-2">
                            Ticket
                        </div>
                    </div>
                    foreach (var item in Model.usuarioeventopasado)
                    {
                        <div class="row grilla1-linea">
                            <div class="col-sm-2">
                                @if (ViewBag.Pantalla == "Empresa")
                                {
                                    @*@Html.ActionLink(item.NombreEvento, "Evento", "Empresa", new { idEvento = item.IdEvento }, null)*@
                                    @Html.ActionLink(item.NombreEvento, "Evento", "Empresa", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()) })
                                }
                                else
                                {
                                    @*@Html.ActionLink(item.NombreEvento, "Evento", "Alumno", new { idEvento = item.IdEvento }, null)*@
                                    @Html.ActionLink(item.NombreEvento, "Evento", "Empresa", new { idEvento = Helper.Encriptar(item.IdEvento.ToString()) })
                                }
                            </div>
                            <div class="col-sm-2">
                                @item.FechaEventoTexto
                            </div>
                            <div class="col-sm-2">
                                @item.LugarEvento
                            </div>
                            <div class="col-sm-2">
                                @item.NombreComercial
                            </div>
                            <div class="col-sm-2">
                                @item.EstadoEvento
                            </div>
                            <div class="col-sm-2">
                                @item.ValorEstadoTicket
                            </div>
                        </div>
                    }
                    <hr />
                }
            </div>
        </div>
    </div>
</div>

