@using UTPPrototipo.Common
@model List<UTP.PortalEmpleabilidad.Modelo.AlumnoEstudio>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingMiCVEducacion" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMiCVEducacion" aria-expanded="true" aria-controls="collapseMiCVEducacion" style="font-size:12px;">
                Estudios
            </a>
        </h5>
    </div>
    <div id="collapseMiCVEducacion" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMiCVEducacion">
        <div class="panel-body fuente-pequeña">
            <div class="row">
                <div class="col-sm-12 text-right"><button type="button" id="IdGrabarEstudio" class="btn btn-default color-paleta4 fuente-pequeña" style="color: white; margin-bottom: 10px;" onclick="crearEstudio()">Agregar Estudio</button></div>
            </div>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-sm-1">
                            <span>Incluir </span>
                            @if (item.Incluir)
                            {
                                <input type="checkbox" checked id='Incluir_@item.IdEstudio' class="class-estudios">

                            }
                            else
                            {
                                <input type="checkbox" id='Incluir_@item.IdEstudio' class="class-estudios">
                            }
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-2">
                                    <strong>
                                        @Html.FormatoFechaAnioMes((int) item.FechaInicioMes,(int) item.FechaInicioAno) -
                                        @Html.FormatoFechaAnioMes((int)item.FechaFinMes, (int)item.FechaFinAno)
                                    </strong>

                                </div>
                                <div class="col-sm-5">
                                    <span><strong>@Html.DisplayFor(modelItem => item.Institucion)</strong></span>
                                </div>

                                <div class="col-sm-5">
                                    Estudio: <strong>@Html.DisplayFor(modelItem => item.Estudio)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">

                                </div>
                                <div class="col-sm-2">
                                    <span class="valor-icono2">@item.IconoTipoDeEstudio</span><span class="valor-palabra">@Html.DisplayFor(modelItem => item.TipoDeEstudio)</span>
                                </div>
                                <div class="col-sm-3">
                                    @Html.DisplayFor(modelItem => item.EstadoDelEstudio)
                                </div>
                                <div class="col-sm-3">
                                    @Html.DisplayFor(modelItem => item.Observacion)
                                </div>
                                <div class="col-sm-2">
                                    Ciclo: @Html.DisplayFor(modelItem => item.CicloEquivalente)
                                </div>

                            </div>
                        </div>
                        @if (item.DatoUTP)
                        {
                            <div class="col-sm-1 fuente-pequeña">
                                <button class="btn btn-xs fa fa-pencil color-paleta4" disabled></button>&nbsp; &nbsp;<button class="btn btn-xs fa fa-remove color-paleta4" disabled></button>
                            </div>

                        }
                        else
                        {
                            <div class="col-sm-1 fuente-pequeña">
                                <button class="btn btn-xs fa fa-pencil color-paleta4" onclick="editarEstudio(this)" id='Editar_@item.IdEstudio'></button>&nbsp; &nbsp;<button class="btn btn-xs fa fa-remove color-paleta4" onclick="eliminarEstudio(this)" id='Delete_@item.IdEstudio'></button>
                            </div>                            
                        }





                    </div>
                    <hr />

                }

            }


        </div>
    </div>
</div>


<script>
    function crearEstudio() {
        var IdAlumno = $('#IdAlumno').val();
        var IdCV = $('#HIIdCV').val();

        //var url = "/Alumno/ModalRegistroEstudio?idAlumno=" + IdAlumno + "&IdCV=" + IdCV; // el url del controlador
        var url = '@Url.Action("ModalRegistroEstudio", "Alumno")' + '?idAlumno=' + IdAlumno + '&IdCV=' + IdCV;
        $.get(url, function (data) {
            $('#Modal-Nuevo-Estudio').html(data);
            $.validator.unobtrusive.parse('#Modal-Nuevo-Estudio');
            $('#Modal-estudio').modal("show");
        });
    }

    function editarEstudio(obj) {
        var IdAlumno = $('#IdAlumno').val();
        var IdCV = $('#HIIdCV').val();
        var IdEstudio = $(obj).attr('Id').split("_")[1];
        //var url = "/Alumno/ModalModificarEstudio?idAlumno=" + IdAlumno + "&IdCV=" + IdCV + "&IdEstudio=" + IdEstudio; // el url del controlador
        var url = '@Url.Action("ModalModificarEstudio", "Alumno")' + '?idAlumno=' + IdAlumno + '&IdCV=' + IdCV + '&IdEstudio=' + IdEstudio;

        $.get(url, function (data) {
            $('#Modal-Nuevo-Estudio').html(data);
            $.validator.unobtrusive.parse('#Modal-Nuevo-Estudio');
            $('#Modal-estudio').modal("show");
        });
    }
    function eliminarEstudio(obj) {
        var IdAlumno = $('#IdAlumno').val();
        var IdCV = $('#HIIdCV').val();
        var IdEstudio = $(obj).attr('Id').split("_")[1];
        //var url = "/Alumno/DesactivarEstudioAlumno?idAlumno=" + IdAlumno + "&IdCV=" + IdCV + "&IdEstudio=" + IdEstudio; // el url del controlador
        var url = '@Url.Action("DesactivarEstudioAlumno", "Alumno")' + '?idAlumno=' + IdAlumno + '&IdCV=' + IdCV + '&IdEstudio=' + IdEstudio;
        $.get(url, function (data) {
            $('#mi-cv-educacion').html(data);
            $.validator.unobtrusive.parse('#mi-cv-educacion');
        });
    }

    $(":enabled").focus(function () {
        $("#boton-guardar-cv").attr('disabled', false);
        return false;
    });
</script>