@model UTP.PortalEmpleabilidad.Modelo.Alumno
<div class="col-sm-12">
    <div class="panel-group" id="mi-cv-datos-generales" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMiCVDatosGenerales" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseMiCVDatosGenerales" aria-expanded="true" aria-controls="collapseMiCVDatosGenerales" style="font-size:12px;">
                        Datos Generales
                    </a>@*<span style="font-size:12px;">&nbsp;&nbsp; -&nbsp;&nbsp;Terminado <input type="checkbox"></span>*@

                </h5>
            </div>
            <div id="collapseMiCVDatosGenerales" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMiCVDatosGenerales">
                <div class="panel-body">
                    <p style="text-align:center;">
                        <strong>
                            @*<input type="checkbox" checked />Karina <input type="checkbox" checked />María Barrionuevo Chang*@
                            @{int cnt = 1;}
                            @for (int x = 0; x <= 3; x++)
                            {
                                if (Model.ListaNombres.Length - 1 >= x)
                                {
                                    if (x == 0)
                                    {
                                        @Html.CheckBoxFor(y => y.IncluirNombre1, new { @id = "IncluirNombre1" })<span>&nbsp;</span>
                                        @Model.ListaNombres[x]<span>&nbsp;</span>
                                    }
                                    else if (x == 1)
                                    {
                                        @Html.CheckBoxFor(y => y.IncluirNombre2, new { @id = "IncluirNombre2" })<span>&nbsp;</span>
                                        @Model.ListaNombres[x]<span>&nbsp;</span>
                                    }

                                    else if (x == 2)
                                    {
                                        @Html.CheckBoxFor(y => y.IncluirNombre3)<span>&nbsp;</span>
                                        @Model.ListaNombres[x]<span>&nbsp;</span>
                                    }
                                    else if (x == 3)
                                    {
                                        @Html.CheckBoxFor(y => y.IncluirNombre4)<span>&nbsp;</span>
                                        string nombre = string.Empty;
                                        for (int z = x; z < Model.ListaNombres.Length - 1; z++)
                                        {
                                            nombre = nombre + " " + Model.ListaNombres[z];
                                        }
                                        @nombre<span>&nbsp;</span>
                                    }
                                }
                                else
                                {
                                    if (x == 0)
                                    {
                                        @Html.CheckBoxFor(y => y.IncluirNombre1, htmlAttributes: new { @style = "display:none" })
                                    }
                                    else if (x == 1)
                                    {
                                        @Html.CheckBoxFor(y => y.IncluirNombre2, htmlAttributes: new { @style = "display:none" })
                                    }

                                    else if (x == 2)
                                    {
                                        @Html.CheckBoxFor(y => y.IncluirNombre3, htmlAttributes: new { @style = "display:none" })
                                    }
                                    else if (x == 3)
                                    {
                                        @Html.CheckBoxFor(y => y.IncluirNombre4, htmlAttributes: new { @style = "display:none" })
                                    }
                                }
                            }
 
                            @Model.Apellidos
                        </strong>
                    </p>
                    <p style="text-align:center;">
                        @Model.CorreoElectronico1 / @Model.TelefonoCelular
                    </p>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">
                                    
                                    @Html.CheckBoxFor(x=>x.IncluirCorreoElectronico2)
                                </span>
                                <span class="form-control" style="padding-top:8px;">@Model.CorreoElectronico2</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(x=>x.IncluirTelefonoFijo)
                                </span>
                                <span class="form-control" style="padding-top:8px;">@Model.TelefonoFijoCasa</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(x => x.IncluirFoto)
                                </span>
                                <span class="form-control" style="padding-top:8px;">Foto</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(x => x.IncluirDireccion)
                                </span>
                                <span class="form-control" style="padding-top:8px;">@Model.DireccionLinea1</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="panel-group" id="mi-cv-perfil" role="tablist" aria-multiselectable="true">
    
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMiCVPerfil" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseMiCVPerfil" aria-expanded="true" aria-controls="collapseMiCVPerfil" style="font-size:12px;">
                        Perfil
                    </a>
                </h5>
            </div>
            <div id="collapseMiCVPerfil" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMiCVPerfil">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Perfil</span>

                                @if (string.IsNullOrEmpty(@Model.Perfil) == false)
                                {
                                    <textarea class="form-control" rows="6" placeholder="Perfil profesional" id="Perfil" maxlength="2000">@Model.Perfil</textarea>

                                }
                                else
                                {
                                    <textarea class="form-control" rows="6" placeholder="Perfil profesional" id="Perfil" maxlength="2000"></textarea>
                                }


                            </div>
                            <div class="fuente-pequeña" id="perfilContador"></div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script type ='text/javascript'>
    $("#IncluirNombre1").click(function () {
    if (document.getElementById("IncluirNombre2").checked == false &&
        document.getElementById("IncluirNombre3").checked == false &&
        document.getElementById("IncluirNombre4").checked == false)
    {
    document.getElementById("IncluirNombre1").checked = true;
    Alert("Al menos incluya un Nombre");
    }
    });

    $("#IncluirNombre2").click(function () {
    if (document.getElementById("IncluirNombre1").checked == false &&
        document.getElementById("IncluirNombre3").checked == false &&
        document.getElementById("IncluirNombre4").checked == false)
    {
    document.getElementById("IncluirNombre2").checked = true;
    Alert("Al menos incluya un Nombre");
    }
    });

    $("#IncluirNombre3").click(function () {
    if (document.getElementById("IncluirNombre1").checked == false &&
        document.getElementById("IncluirNombre2").checked == false &&
        document.getElementById("IncluirNombre4").checked == false)
    {
    document.getElementById("IncluirNombre3").checked = true;
    Alert("Al menos incluya un Nombre");
    }
    });

    $("#IncluirNombre4").click(function () {
    if (document.getElementById("IncluirNombre1").checked == false &&
        document.getElementById("IncluirNombre2").checked == false &&
        document.getElementById("IncluirNombre3").checked == false)
    {
    document.getElementById("IncluirNombre4").checked = true;
    Alert("Al menos incluya un Nombre");
    }
    });


    $(document).ready(function () {
        var text_max = 2000;
       
        $('#perfilContador').html($('#Perfil').val().length + '/' + text_max);

        //Contador de caracteres del perfil:
        $('#Perfil').keyup(function () {
            var text_length = $('#Perfil').val().length;
            var text_remaining = text_max - text_length;

            $('#perfilContador').html(text_remaining + '/' + text_max);
        });
    });

    </script>
