@using UTPPrototipo.Common
@model IList<UTP.PortalEmpleabilidad.Modelo.AlumnoInformacionAdicional>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingMiCVInformacionAdicional" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMiCVInformacionAdicional" aria-expanded="true" aria-controls="collapseMiCVInformacionAdicional" style="font-size:12px;">
                Información Adicional
            </a>@*<span style="font-size:12px;">&nbsp;&nbsp; -&nbsp;&nbsp;Terminado <input type="checkbox"></span>*@
        </h5>
    </div>
    <div id="collapseMiCVInformacionAdicional" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMiCVInformacionAdicional">
        <div class="panel-body fuente-pequeña">
            <div class="row">
                <div class="col-sm-12 text-right"><button type="button" data-toggle="modal" data-target="#Modal-otro-conocimiento" class="btn btn-default color-paleta4 fuente-pequeña" style="color: white; margin-bottom: 10px;" id="IdGrabarInformacionAdicional">Agregar Información Adicional</button></div>
            </div>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-sm-1">
                            <span>Incluir </span>
                            @if (item.Incluir)
                            {
                                <input type="checkbox" checked>

                            }
                            else
                            {
                                <input type="checkbox">
                            }
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span><strong>@item.DesTipoConocimiento</strong></span>
                                </div>
                                <div class="col-sm-5">
                                    <strong>@item.Conocimiento </strong>
                                </div>
                                <div class="col-sm-2">
                                    <span class="valor-icono2">x</span><span class="valor-palabra">@item.DesNivelConocimiento</span>
                                </div>
                                <div class="col-sm-2">
                                    <strong>@Html.FormatoFechaAnioMes(item.FechaConocimientoDesdeMes,item.FechaConocimientoDesdeAno)  - @Html.FormatoFechaAnioMes(item.FechaConocimientoHastaMes, item.FechaConocimientoHastaAno)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <strong>@item.NomPais - @item.Ciudad</strong>
                                </div>
                                <div class="col-sm-7">
                                    <strong>@item.InstituciónDeEstudio</strong>
                                </div>
                                <div class="col-sm-2">
                                    
                                    @Html.FormatoFechaAnio(item.AñosExperiencia)
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-1 fui fa-2x" style="color:gray;">
                            1 l
                        </div>
                    </div>
                    <hr />

                }
            }


            @*<div class="row">
                <div class="col-sm-1">
                    <span>Incluir </span><input type="checkbox" />
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <span><strong>Idioma</strong></span>
                        </div>
                        <div class="col-sm-5">
                            <strong>Francés </strong>
                        </div>
                        <div class="col-sm-2">
                            <span class="valor-icono2">w</span><span class="valor-palabra">Nivel Básico</span>
                        </div>
                        <div class="col-sm-2">
                            <strong>11/2011</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Lima - Perú</strong>
                        </div>
                        <div class="col-sm-7">
                            <strong>Alianza Francesa de Los Olivos</strong>
                        </div>
                        <div class="col-sm-2">
                            1 año
                        </div>

                    </div>
                </div>
                <div class="col-sm-1 fui fa-2x" style="color:gray;">
                    1 l
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-1">
                    <span>Incluir </span><input type="checkbox" />
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <span><strong>Curso</strong></span>
                        </div>
                        <div class="col-sm-5">
                            <strong>Administración efectiva de Aplicaciones de Software</strong>
                        </div>
                        <div class="col-sm-2">
                            <span class="valor-icono2">y</span><span class="valor-palabra">Nivel Avanzado</span>
                        </div>
                        <div class="col-sm-2">
                            <strong>01/2013</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Buenos Aires - Argentina</strong>
                        </div>
                        <div class="col-sm-7">
                            <strong>Universidad de Belgrano</strong>
                        </div>
                        <div class="col-sm-2">
                            1 año
                        </div>

                    </div>
                </div>
                <div class="col-sm-1 fui fa-2x" style="color:gray;">
                    1 l
                </div>
            </div>*@

        </div>
    </div>
</div>
<script>
    $("#IdGrabarInformacionAdicional").click(function () {
        CargarPOST("Modal-otro-conocimiento", "ModalRegistroInformacionAdicional", null);
        $('#Modal-otro-conocimiento').modal("show");
        return false;
    });

</script>