@using UTPPrototipo.Common
@model IList<UTP.PortalEmpleabilidad.Modelo.AlumnoInformacionAdicional>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingMiCVInformacionAdicional" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMiCVInformacionAdicional" aria-expanded="true" aria-controls="collapseMiCVInformacionAdicional" style="font-size:12px;">
                Información Adicional
            </a>
        </h5>
    </div>
    <div id="collapseMiCVInformacionAdicional" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMiCVInformacionAdicional">
        <div class="panel-body fuente-pequeña">
            <div class="row">
                <div class="col-sm-12 text-right"><button type="button" class="btn btn-default color-paleta4 fuente-pequeña" style="color: white; margin-bottom: 10px;" id="IdGrabarInformacionAdicional" onclick="crearConocimiento();">Agregar Información Adicional</button></div>
            </div>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-sm-1">
                            <span>Incluir </span>
                            @if (item.Incluir)
                            {
                                <input type="checkbox" checked id='Incluir_@item.IdInformacionAdicional' class="class-conocimiento">

                            }
                            else
                            {
                                <input type="checkbox" id='Incluir_@item.IdInformacionAdicional' class="class-conocimiento">
                            }
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span><strong>@item.DesTipoConocimiento</strong></span>
                                </div>
                                <div class="col-sm-5">
                                    <strong>@item.Conocimiento </strong>
                                </div>
                                <div class="col-sm-2">
                                    <span class="valor-icono2">x</span><span class="valor-palabra">@item.DesNivelConocimiento</span>
                                </div>
                                <div class="col-sm-2">

                                    @if (item.FechaConocimientoDesdeAno == 0 || item.FechaConocimientoDesdeAno == null)
                                    {
                                        if (item.FechaConocimientoHastaAno > 0 && item.FechaConocimientoHastaAno != null)
                                        {
                                            <strong>
                                                @Html.FormatoFechaAnioMes((int)item.FechaConocimientoHastaMes, (int)item.FechaConocimientoHastaAno)
                                            </strong>
                                        }
                                    }
                                    else
                                    {
                                        <strong>
                                            @Html.FormatoFechaAnioMes((int)item.FechaConocimientoDesdeMes,(int) item.FechaConocimientoDesdeAno) - @Html.FormatoFechaAnioMes((int)item.FechaConocimientoHastaMes,(int) item.FechaConocimientoHastaAno)
                                        </strong>
                                    }

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <strong>@item.NomPais - @item.Ciudad</strong>
                                </div>
                                <div class="col-sm-7">
                                    <strong>@item.InstituciónDeEstudio</strong>
                                </div>
                                <div class="col-sm-2">
                                    
                                    @Html.FormatoFechaAnio((int) item.AnosExperiencia)
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-1 fuente-pequeña">
                            <button class="btn btn-xs fa fa-pencil color-paleta4" onclick="editarConocimiento(this);" id='Editar_@item.IdInformacionAdicional'></button>&nbsp;&nbsp;<button class="btn btn-xs fa fa-remove color-paleta4" onclick="eliminarConocimiento(this);" id='Delete_@item.IdInformacionAdicional'></button>
                        </div>
                    </div>
                    <hr />

                }
            }



        </div>
    </div>
</div>
<script>
    function crearConocimiento() {
        var IdAlumno = $('#IdAlumno').val();
        var IdCV = $('#HIIdCV').val();
        //var url = "/Alumno/ModalRegistroInformacionAdicional?idAlumno=" + IdAlumno + "&IdCV=" + IdCV; // el url del controlador
        var url = '@Url.Action("ModalRegistroInformacionAdicional", "Alumno")' + '?idAlumno=' + IdAlumno + '&IdCV=' + IdCV;
        $.get(url, function (data) {
            //console.log(data);
            $('#Modal-Nuevo-otro-conocimiento').html(data);
            $.validator.unobtrusive.parse('#Modal-Nuevo-otro-conocimiento');
            $('#Modal-otro-conocimiento').modal("show");
        });
    }

    function editarConocimiento(obj) {
        var IdAlumno = $('#IdAlumno').val();
        var IdCV = $('#HIIdCV').val();
        var IdInformacionAdicional = $(obj).attr('Id').split("_")[1];
        //var url = "/Alumno/ModalModificarInformacionAdicional?idAlumno=" + IdAlumno + "&IdCV=" + IdCV + "&IdInformacionAdicional=" + IdInformacionAdicional; // el url del controlador
        var url = '@Url.Action("ModalModificarInformacionAdicional", "Alumno")' + '?idAlumno=' + IdAlumno + '&IdCV=' + IdCV + "&IdInformacionAdicional=" + IdInformacionAdicional; // el url del controlador

        $.get(url, function (data) {
            $('#Modal-Nuevo-otro-conocimiento').html(data);
            $.validator.unobtrusive.parse('#Modal-Nuevo-otro-conocimiento');
            $('#Modal-otro-conocimiento').modal("show");
        });
    }
    function eliminarConocimiento(obj) {
        var IdAlumno = $('#IdAlumno').val();
        var IdCV = $('#HIIdCV').val();
        var IdInformacionAdicional = $(obj).attr('Id').split("_")[1];
        //var url = "/Alumno/DesactivarInformacionAdicionalAlumno?idAlumno=" + IdAlumno + "&IdCV=" + IdCV + "&IdInformacionAdicional=" + IdInformacionAdicional; // el url del controlador
        var url = '@Url.Action("DesactivarInformacionAdicionalAlumno", "Alumno")' + '?idAlumno=' + IdAlumno + '&IdCV=' + IdCV + "&IdInformacionAdicional=" + IdInformacionAdicional; // el url del controlador


        $.get(url, function (data) {
            $('#mi-cv-informacion-adicional').html(data);
            $.validator.unobtrusive.parse('#mi-cv-informacion-adicional');
        });
    }

    $(":enabled").focus(function () {
        $("#boton-guardar-cv").attr('disabled', false);
        return false;
    });
</script>