@model UTP.PortalEmpleabilidad.Modelo.Alumno

<link href="~/Content/font-awesome.css" rel="stylesheet" />

<div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">
    
    <div class="panel panel-default">
        @Html.Hidden("IdAlumno", Model.IdAlumno)
@Html.Hidden("PagOfertas", 3)
@Html.Hidden("PagOfertasPostulacion", 3)
        
        <div class="panel-heading" role="tab" id="headingOne" style="padding: 2px 2px 2px 6px;">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="fuente-seccion">
                    Tu Cuenta - @Model.Nombres @Model.Apellidos
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body fuente-pequeña">
                <div class="row">

                    <div class="col-sm-2">
                        <img class="foto-usuario" src="~/img/Alumna.png" />
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <strong>
                                    @Model.Nombres
                                    <br />
                                    @Model.Apellidos
                                </strong>
                                <br />@Model.Carrera

                            </div>

                            <div class="col-sm-4">
                                Código <strong>@Model.CodAlumnoUTP</strong><br />
                                DNI <strong>@Model.NumeroDocumento</strong><br />
                                <strong>@Model.CorreoElectronico1</strong><br />
                                <strong>@Model.CorreoElectronico2</strong>

                            </div>
                            <div class="col-sm-4">
                                Dirección <strong>@Model.DireccionLinea1</strong><br />
                                Teléfono <strong>@Model.TelefonoFijoCasa</strong><br />
                                Celular <strong>@Model.TelefonoCelular</strong>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12" style="text-align:right;">
                                @Html.ActionLink("Modificar Datos ...", "DatosAlumno", "Alumno", new { Id = Model.IdAlumno }, new { @class = "btn btn-default color-paleta1" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

 
