@model UTP.PortalEmpleabilidad.Modelo.Alumno
@using UTPPrototipo.Utiles
<link href="~/Content/font-awesome.css" rel="stylesheet" />

<div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        @Html.Hidden("IdAlumno", Model.IdAlumno)
        @Html.Hidden("PagOfertas", 10)
        @Html.Hidden("PagOfertasPostulacion", 5)

        <div class="panel-heading" role="tab" id="headingOne" style="padding: 2px 2px 2px 6px;">
            <div class="panel-title">
                <div data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="fuente-seccion">
                    <span role="button">Tu Cuenta - @Model.Nombres @Model.Apellidos</span>
                    <span class="glyphicon pull-right" role="button"></span>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse @ViewBag.ColapsaDatos" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body fuente-pequeña">
                <div class="row">

                    <div class="col-sm-2">
                        @if (Model.Foto != null && String.IsNullOrEmpty(Model.ArchivoMimeType) == false)
                        {
                            <img src="@Url.Action("GetImageAlumno", "Alumno", new {Model.IdAlumno})" class="foto-usuario" />
                        }
                        else
                        {
                            <img class="foto-usuario" src="~/img/sinimagen.jpg" />
                        }
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <strong>
                                    @Model.Nombres
                                    <br />
                                    @Model.Apellidos
                                </strong>
                                <br />@Model.Carrera

                            </div>

                            <div class="col-sm-4">
                                Código <strong>@Model.CodAlumnoUTP</strong><br />
                                @Model.TipoDocumentoValor: <strong>@Model.NumeroDocumento</strong><br />
                                <strong>@Model.CorreoElectronico1</strong><br />
                                <strong>@Model.CorreoElectronico2</strong>

                            </div>
                            <div class="col-sm-4">
                                Dirección <strong>@Model.DireccionLinea1, @Model.DireccionDistrito, @Model.DireccionCiudad, @Model.DireccionRegion</strong><br />
                                Teléfono <strong>@Model.TelefonoFijoCasa</strong><br />
                                Celular <strong>@Model.TelefonoCelular</strong>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12" style="text-align:right;">
                                <a href="@Url.Action("DescargarArchivoEstatico", "UTP", new { archivo = "manual-alumno.pdf" })" class="btn btn-danger pull-left">Descargar manual para alumnos <span class="glyphicon glyphicon-download-alt"></a>
                                @Html.ActionLink("Modificar Datos ...", "DatosAlumno", "Alumno",new { Id = Helper.Encriptar(Model.IdAlumno.ToString()) }, new { @class = "btn btn-default color-paleta1" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


