@using UTPPrototipo.Common
@model UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaOfertaAlumno
@using UTP.PortalEmpleabilidad.Modelo
@using UTPPrototipo.Utiles
@{
    <!--Se obtiene los datos para la paginación.-->
    Paginacion paginacion = (Paginacion)ViewBag.Paginacion;
}

<h5>Ofertas</h5>
<div class="row" style="margin:0px 0px 0px 0px;">
    @Html.Hidden("PaginaActual", Model.PaginaActual)
    @Html.Hidden("MaxPagina", Model.MaxPagina)
    <div class="row grilla1-cabecera color-paleta2">
        <div class="col-sm-1">Fecha Publicación</div>
        <div class="col-sm-2">Empresa</div>
        <div class="col-sm-2">Cargo</div>
        <div class="col-sm-1">Tipo de Trabajo</div>
        <div class="col-sm-2">Horario</div>
        <div class="col-sm-1">Sueldo</div>
        <div class="col-sm-1">Msj</div>
        <div class="col-sm-2">Cumplimiento de Oferta</div>
   
    </div>

    @if (Model.ListaOfertas != null && Model.ListaOfertas.Count > 0)
    {
        foreach (var item in Model.ListaOfertas)
        {
            <div class="row grilla1-linea">
                <div class="col-sm-1 linea-destacada"><span>@Html.FormatoFrecuencia(item.FechaPublicacion) </span></div>

                <div class="col-sm-2 linea-destacada"><a href="#">@Html.ActionLink(item.NombreComercial, "DetalleEmpresa", "Alumno", new { IdEmpresa = item.IdEmpresa }, new { @class = "popup-empresa" })</a></div>
                <div class="col-sm-2 linea-destacada">
                    @*@Html.ActionLink(item.CargoOfrecido, "postulacionOferta2", "Alumno", new { id = item.IdOferta }, null)*@
                    @*@Html.ActionLink(item.CargoOfrecido, "postulacionOferta2", "Alumno", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { target = "_blank" })*@
                    @Html.ActionLink(item.CargoOfrecido, "postulacionOferta2", "Alumno", new { id = Helper.Encriptar(item.IdOferta.ToString()) },null)
                </div>
                @*id = Helper.Encriptar(item.IdEmpresa.ToString())*@
                <div class="col-sm-1"><span class="valor-palabra">@item.DesTipoTrabajo</span><span class="valor-icono2">I</span></div>
                <div class="col-sm-2"><span>@item.Horario</span></div>
                <div class="col-sm-1">
                    @if (item.RemuneracionOfrecida > 0)
                    {

                    <span>@String.Format("{0:###,###,###.#0}", item.RemuneracionOfrecida)</span>
                    }
                    else
                    {
                    <span></span>
                    }
                </div>
                <div class="col-sm-1"><span class="fui fa-2x valor-icono">h</span>&nbsp;&nbsp;<span>@item.Mensaje</span></div>
                <div class="col-sm-2">
                    <div class="progress" style="background-color:white;margin:5px 10px 5px 10px;">
                        @Html.Raw(Html.CompatibilidaOferta((int)item.Compatible))


                    </div>
                </div>
                @*<div class="col-sm-1">@Html.ActionLink("Ver más", "postulacionOferta2", "Alumno", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { target = "_blank" })</div>*@
               
            </div>
        }
    }
    else        
        {
            <div class="row grilla1-linea">
                <div class="col-sm-12 text-center">
                    <h6>No se encontraron resultados.</h6>
                </div>
            </div>
        }
        <br />
        <nav class="navbar-right">
            <ul class="pagination">
                @*<li><a href="#" class="before">&laquo;</a></li>
                @for (int i = 1; i <= Model.MaxPagina; i++)
                {

                    if (i == Model.PaginaActual)
                    {
                        <li class="active"><a href="#" class="gridindex">@Html.DisplayName(i.ToString())</a></li>
                    }
                    else
                    {
                        <li><a href="#" class="gridindex">@Html.DisplayName(i.ToString())</a></li>
                    }
                }
                <li><a href="#" class="after">&raquo;</a></li>*@
                @{
                    int i1 = paginacion.NroPaginaActual - 2;
                    if (paginacion.NroPaginaActual + 2 > paginacion.TotalPaginas) { i1 = paginacion.TotalPaginas - 5; }
                    if (i1 < 1) { i1 = 1; }
                    if (paginacion.NroPaginaActual > 1)
                    {
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarPaginacion('1');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('1');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                                </a>
                            }
                        </li>
                        if (paginacion.NroPaginaActual - 5 >= 1)
                        {
                            <li>
                                @if (ViewBag.TipoBusqueda == "Simple")
                                {
                                    <a href="#" onclick="buscarPaginacion('@(paginacion.NroPaginaActual - 5)');">
                                        <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" onclick="buscarPaginacionAvanzada('@(paginacion.NroPaginaActual - 5)');">
                                        <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                    </a>
                                }
                            </li>
                        }
                    }

                    for (int i = i1; (i <= paginacion.TotalPaginas && i <= (i1 + 4)); i++)
                    {
                        if (i == paginacion.NroPaginaActual)
                        {
                            <li class="active"><a href="#">@i <span class="sr-only"></span></a></li>
                        }
                        else
                        {
                            if (i > 0)
                            {
                                if (ViewBag.TipoBusqueda == "Simple")
                                {
                                    <li><a href="#" onclick="buscarPaginacion('@i');">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="#" onclick="buscarPaginacionAvanzada('@i');">@i</a></li>
                                }
                            }
                        }
                    }
                    if (paginacion.NroPaginaActual < paginacion.TotalPaginas)
                    {
                        int i2 = paginacion.NroPaginaActual + 5;
                        if (i2 > paginacion.TotalPaginas) { i2 = paginacion.TotalPaginas; }
                        if (i2 < paginacion.TotalPaginas)
                        {
                            <li>
                                @if (ViewBag.TipoBusqueda == "Simple")
                                {
                                    <a href="#" onclick="buscarPaginacion('@i2');">
                                        <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" onclick="buscarPaginacionAvanzada('@i2');">
                                        <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                                    </a>
                                }
                            </li>
                        }
                        <li>
                            @if (ViewBag.TipoBusqueda == "Simple")
                            {
                                <a href="#" onclick="buscarPaginacion('@paginacion.TotalPaginas');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="buscarPaginacionAvanzada('@paginacion.TotalPaginas');">
                                    <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                                </a>
                            }
                        </li>
                    }
                }
            </ul>
        </nav>

   
</div>
    <script>

    $('.popup-empresa').click(function () {
        var url = $(this).attr('href');
        $.get(url, function (data) {
            $('#Modal-Nuevo-empresa').html(data);
            $('#Modal-datos-empresa').modal("show");
        });
        return false;
    });
    $('.gridindex').click(function () {
        if ($("#TipoBusqueda").val() == 1) {
            var oferta = {
                PalabraClave: $('#PalabraClave').val(),
                TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
                IdAlumno: $('#IdAlumno').val(),
                PaginaActual: $(this).html(),
                NumeroRegistros: parseInt($("#PagOfertas").val())
            };
            Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleOferta", "Alumno")', oferta);  //Cargar("resultadobusqueda", "/Alumno/BusquedaSimpleOferta", oferta);
        } else if ($("#TipoBusqueda").val() == 2) {
            var oferta = {
                IdPeriodoPublicacion: $('#IdPeriodoPublicacion').val(),
                IdEstudio: $('#IdEstudio').val(),
                IdEstadoEstudio: $('#IdEstadoEstudio').val(),
                IdSectorEmpresarial: $('#IdSectorEmpresarial').val(),
                AreaEmpresa: $('#AreaEmpresa').val(),
                AniosExperiencia: $('#AniosExperiencia').val(),
                IdTipoTrabajo: $('#IdTipoTrabajo').val(),
                IdContrato: $('#IdContrato').val(),
                IdTipoCargo: $('#IdTipoCargo').val(),
                Sueldo: $('#Sueldo').val(),
                Ubicacion: $('#Ubicacion').val(),
                IncluirMensaje: $('#IncluirMensaje:checked').val(),
                IdAlumno: $('#IdAlumno').val(),
                TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
                PaginaActual: $(this).html(),
                NumeroRegistros: parseInt($("#PagOfertas").val())

            };
            Cargar("resultadobusqueda", '@Url.Action("BusquedaAvanzadaOferta", "Alumno")', oferta);   //Cargar("resultadobusqueda", "/Alumno/BusquedaAvanzadaOferta", oferta);
        }
    });
    $('.before').click(function () {
        var paginaactual = 0;
        if ($("#PaginaActual").val() > 1) {
            paginaactual = parseInt($("#PaginaActual").val()) - 1;
            if ($("#TipoBusqueda").val() == 1) {
                var oferta = {
                    PalabraClave: $('#PalabraClave').val(),
                    IdAlumno: $('#IdAlumno').val(),
                    TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
                    PaginaActual: paginaactual,
                    NumeroRegistros: parseInt($("#PagOfertas").val())
                };

                Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleOferta", "Alumno")', oferta);
            } else if ($("#TipoBusqueda").val() == 2) {
                var oferta = {
                    IdPeriodoPublicacion: $('#IdPeriodoPublicacion').val(),
                    IdEstudio: $('#IdEstudio').val(),
                    IdEstadoEstudio: $('#IdEstadoEstudio').val(),
                    IdSectorEmpresarial: $('#IdSectorEmpresarial').val(),
                    AreaEmpresa: $('#AreaEmpresa').val(),
                    AniosExperiencia: $('#AniosExperiencia').val(),
                    IdTipoTrabajo: $('#IdTipoTrabajo').val(),
                    IdContrato: $('#IdContrato').val(),
                    IdTipoCargo: $('#IdTipoCargo').val(),
                    Sueldo: $('#Sueldo').val(),
                    Ubicacion: $('#Ubicacion').val(),
                    IncluirMensaje: $('#IncluirMensaje:checked').val(),
                    IdAlumno: $('#IdAlumno').val(),
                    TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
                    PaginaActual: paginaactual,
                    NumeroRegistros: parseInt($("#PagOfertas").val())

                };

                Cargar("resultadobusqueda", '@Url.Action("BusquedaAvanzadaOferta", "Alumno")', oferta);
            }
        }
    });
    $('.after').click(function () {
        var paginaactual = 0;
        if ($("#PaginaActual").val() < $("#MaxPagina").val()) {
            paginaactual = parseInt($("#PaginaActual").val()) + 1;
            if ($("#TipoBusqueda").val() == 1) {
                var oferta = {
                    PalabraClave: $('#PalabraClave').val(),
                    IdAlumno: $('#IdAlumno').val(),
                    TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
                    PaginaActual: paginaactual,
                    NumeroRegistros: parseInt($("#PagOfertas").val())
                };

                Cargar("resultadobusqueda", '@Url.Action("BusquedaSimpleOferta", "Alumno")', oferta);
            } else if ($("#TipoBusqueda").val() == 2) {
                var oferta = {
                    IdPeriodoPublicacion: $('#IdPeriodoPublicacion').val(),
                    IdEstudio: $('#IdEstudio').val(),
                    IdEstadoEstudio: $('#IdEstadoEstudio').val(),
                    IdSectorEmpresarial: $('#IdSectorEmpresarial').val(),
                    AreaEmpresa: $('#AreaEmpresa').val(),
                    AniosExperiencia: $('#AniosExperiencia').val(),
                    IdTipoTrabajo: $('#IdTipoTrabajo').val(),
                    IdContrato: $('#IdContrato').val(),
                    IdTipoCargo: $('#IdTipoCargo').val(),
                    Sueldo: $('#Sueldo').val(),
                    Ubicacion: $('#Ubicacion').val(),
                    IncluirMensaje: $('#IncluirMensaje:checked').val(),
                    IdAlumno: $('#IdAlumno').val(),
                    TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
                    PaginaActual: paginaactual,
                    NumeroRegistros: parseInt($("#PagOfertas").val())

                };

                Cargar("resultadobusqueda", '@Url.Action("BusquedaAvanzadaOferta", "Alumno")', oferta);
            }

        }

    });

    function CargarGET(id, link) {
        $.ajax({
            url: link,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
        })
        .error(function (xhr, status) {
            alert(status);
        })
    }
</script>
