@using UTPPrototipo.Common
@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaPostulacionAlumno>

<div class="row grilla1-cabecera color-paleta2">
    <div class="col-sm-1">Fecha Publicación</div>
    <div class="col-sm-1">Fecha Postulación</div>
    <div class="col-sm-2">Empresa</div>
    <div class="col-sm-2">Cargo</div>
    <div class="col-sm-1">Tipo Trabajo</div>
    <div class="col-sm-1">Horario</div>
    <div class="col-sm-1">Remuneración</div>
    <div class="col-sm-1">Msj</div>
    <div class="col-sm-1">Estado</div>
    <div class="col-sm-1"></div>
</div>

@foreach (var item in Model)
{
    <div class="row grilla1-linea">
        <div class="col-sm-1 linea-destacada"><span>@Html.FormatoFrecuencia(item.FechaPublicacion)</span></div>
        <div class="col-sm-1 linea-destacada"><span>@Html.FormatoFrecuencia(item.FechaPostulacion)</span></div>
        <div class="col-sm-2 linea-destacada">@Html.ActionLink(item.Empresa, "DetalleEmpresa", "Alumno", new { IdEmpresa = item.IdEmpresa }, new { @class = "popup-empresa" })</div>
        @*<div class="col-sm-2 linea-destacada"><a href="#" class="popup-empresa">@item.Empresa</a></div>*@

        <div class="col-sm-2 linea-destacada">@Html.ActionLink(item.CargoOfrecido, "postulacionOferta2", "Alumno", new { id = item.IdOferta }, null)</div>
        <div class="col-sm-1"><span class="valor-palabra">@item.TipoTrabajo</span><span class="valor-icono2">I</span></div>
        <div class="col-sm-1"><span>@item.Horario</span></div>
        <div class="col-sm-1">@if (item.RemuneracionOfrecida > 0)
        {

            <span>@String.Format("{0:###,###,###.#0}", item.RemuneracionOfrecida)</span>
        }
        else
        {
            <span></span>
        }</div>
        <div class="col-sm-1"><span class="fui fa-2x valor-icono">h</span>&nbsp;&nbsp;<span>@item.Mensajes</span></div>
        <div class="col-sm-1"><span class="valor-palabra">@item.EstadoOferta</span><span class="valor-icono2">D</span></div>
        <div class="col-sm-1">@Html.ActionLink("Ver más", "postulacionOferta2", "Alumno", new { id = item.IdOferta }, null)</div>
    </div>
}
<br />
<nav class="navbar-right">
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</nav>
<script>

    $('.popup-empresa').click(function () {
        var url = $(this).attr('href');
        CargarGET("Modal-datos-empresa", url);
        $('#Modal-datos-empresa').modal('show');
        return false;
    });
    function CargarGET(id, link) {
        $.ajax({
            url: link,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
        })
        .error(function (xhr, status) {
            alert(status);
        })
    }
</script>