@using UTPPrototipo.Common
@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Oferta>
<div class="row" style="margin:0px 0px 0px 0px;">
    <div class="row grilla1-cabecera color-paleta3">
        <div class="col-sm-1">Fecha Publicación</div>
        <div class="col-sm-2">Empresa</div>
        <div class="col-sm-2">Cargo</div>
        <div class="col-sm-1">Tipo de Trabajo</div>
        <div class="col-sm-1">Horario</div>
        <div class="col-sm-1">Sueldo</div>
        <div class="col-sm-1">Msj</div>
        <div class="col-sm-2">Cumplimiento</div>
        <div class="col-sm-1"></div>
    </div>
    
    @foreach (var item in Model)
    {
        <div class="row grilla1-linea">
            @*<div class="col-sm-1 linea-destacada"><span>@item.FechaPublicacion </span></div>*@
            <div class="col-sm-1 linea-destacada"><span>@Html.FormatoFrecuencia(item.FechaPublicacion) </span></div>

            <div class="col-sm-2 linea-destacada"><a href="#">@item.NombreComercial</a></div>
            <div class="col-sm-2 linea-destacada">@Html.ActionLink(item.CargoOfrecido, "postulacionOferta2", "Alumno", new { id = item.IdOferta }, null)</div>
            <div class="col-sm-1"><span class="valor-palabra">@item.DesTipoTrabajo</span><span class="valor-icono2">I</span></div>
            <div class="col-sm-1"><span>@item.Horario</span></div>
            <div class="col-sm-1"><span>@item.RemuneracionOfrecida</span></div>
            <div class="col-sm-1"><span class="fui fa-2x valor-icono">h</span>&nbsp;&nbsp;<span>1</span></div>
            <div class="col-sm-2">
                <div class="progress" style="background-color:white;margin:5px 10px 5px 10px;">
                    <div class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%;">
                        @item.Compatible %
                    </div>
                </div>
            </div>
            <div class="col-sm-1"><a href="..\Alumno\postulacionOferta2">Ver más</a></div>
        </div>
    }

    <br />
    <nav class="navbar-right">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#" id="pag">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </nav>
</div>

