@model UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaOfertaAlumno

@{
    Layout = "~/Views/Alumno/_LayoutAlumno.cshtml";
    ViewBag.Title = "Búsqueda de Oferta";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="margin-top:2px;">
        @Html.Hidden("TipoBusqueda", 1)
        @{Html.RenderAction("VistaCabecera", "Alumno", new { colapsaDatos = " " });}
        <div class="panel-group" id="CriterioBusquedaPostulacion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="CabeceraColapsaBusqueda" style="padding: 2px 2px 2px 6px;">
                    <div class="panel-title">
                        <div data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" data-target="#ColapsaBusqueda" aria-expanded="true" aria-controls="ColapsaBusqueda" class="fuente-seccion">
                            <span role="button">Búsqueda</span>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="ColapsaBusqueda" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CabeceraColapsaBusqueda">
                    <div class="panel-body fuente-pequeña">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon fuente-pequeña">Palabra Clave</span>
                                    @Html.TextBoxFor(model => model.PalabraClave, new { @class = "form-control", @placeholder = "Palabra clave" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default color-paleta2 fa fa-search" id="buscar"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="CabeceraColapsaBusquedaAvanzada" style="padding: 2px 2px 2px 6px;">
                    <div class="panel-title">
                        <div class="collapsed fuente-seccion" data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" data-target="#ColapsaBusquedaAvanzada" aria-expanded="false" aria-controls="ColapsaBusquedaAvanzada">
                            <span role="button">Búsqueda avanzada</span>
                            <span class="glyphicon pull-right" role="button"></span>
                        </div>
                    </div>
                </div>
                <div id="ColapsaBusquedaAvanzada" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CabeceraColapsaBusquedaAvanzada">
                    <div class="panel-body fuente-pequeña">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Publicado</span>
                                    @Html.DropDownListFor(model => model.IdPeriodoPublicacion, new SelectList(ViewBag.PeriodoPublicacion, "Value", "Text"), "- Seleccionar -", new { @class = "form-control", @Id = "IdPeriodoPublicacion" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Carrera</span>
                                    @Html.TextBoxFor(model => model.IdEstudio, new { @class = "form-control", @placeholder = "Carrera de Estudio" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Grado</span>
                                    @Html.DropDownListFor(model => model.IdEstadoEstudio, new SelectList(ViewBag.ListaEstadoEstudio, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Tipo de trabajo</span>
                                    @Html.DropDownListFor(model => model.TipoTrabajoUTP, null, "- Seleccione -", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Sector</span>
                                    @Html.DropDownListFor(model => model.IdSectorEmpresarial, new SelectList(ViewBag.ListaSectorEmpresarial, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Área</span>
                                    @Html.TextBoxFor(model => model.AreaEmpresa, new { @class = "form-control", @placeholder = "Área en la empresa" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Experiencia</span>
                                    @Html.TextBoxFor(model => model.AniosExperiencia, new { @class = "form-control", @placeholder = "Años de experiencia" })
                                </div>

                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Tipo</span>
                                    @Html.DropDownListFor(model => model.IdTipoTrabajo, new SelectList(ViewBag.ListaTipoTrabajo, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Contrato</span>
                                    @Html.DropDownListFor(model => model.IdContrato, new SelectList(ViewBag.ListaContrato, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Cargo</span>
                                    @Html.DropDownListFor(model => model.IdTipoCargo, new SelectList(ViewBag.ListaTipoCargo, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                                </div>

                            </div>

                            <div class="col-sm-3">

                                <div class="input-group">
                                    <span class="input-group-addon">Sueldo</span>
                                    @Html.TextBoxFor(model => model.Sueldo, new { @class = "form-control", @placeholder = "Sueldo ofrecido" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Sueldo, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">Ubicación</span>
                                    @Html.TextBoxFor(model => model.Ubicacion, new { @class = "form-control", @id = "Ubicacion", @placeholder = "Ubicación del trabajo" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        @Html.CheckBoxFor(model => model.IncluirMensaje, new { @id = "IncluirMensaje" })
                                    </span>
                                    <span class="form-control" style="padding-top:8px;">Con mensajes para mi</span>
                                </div>
                                <br />
                                <button class="btn btn-default color-paleta2 fa fa-search" id="buscaravanzada"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <ul id="offers-tabs" class="nav nav-justified nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#" aria-controls="all" role="tab" data-toggle="tab">Todos</a></li>
            <li role="presentation"><a href="#" role="tab" aria-controls="entries-position" data-toggle="tab">Posiciones de entrada</a></li>
            <li role="presentation"><a href="#" role="tab" aria-controls="practices" data-toggle="tab">Prácticas</a></li>
            <li role="presentation"><a href="#" role="tab" aria-controls="jobs" data-toggle="tab">Empleo</a></li>
        </ul>

        <div id="ResultadoBusqueda" class="result" style="margin-top: 16px;"></div>

    </div>

    <div class="modal" id="Modal-datos-empresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="Modal-Nuevo-empresa">
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5").addClass("color-paleta2");
        $('#PestañaOfertas').css('backgroundColor', '#f00');
        AutoCompleteText('#Ubicacion', '@Url.Action("ListarDistritos", "Alumno")', '#Ubicacion');
        AutoCompleteText('#AreaEmpresa', '@Url.Action("ListarAreasEmpresa", "Alumno")', '#AreaEmpresa');
        AutoCompleteText('#IdEstudio', '@Url.Action("ListarEstudio", "Alumno")', '#IdEstudio');

        $("#TipoBusqueda").attr('value', 1);
        var oferta = {
            PalabraClave: $('#PalabraClave').val(),
            IdAlumno: $('#IdAlumno').val(),
            TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
            PaginaActual: 1,
            NumeroRegistros: parseInt($("#PagOfertas").val())
        };
        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaSimpleOferta", "Alumno")', oferta);
    });

    $('#buscar').click(function () {
        $("#TipoBusqueda").attr('value', 1);
        var oferta = {
            PalabraClave: $('#PalabraClave').val(),
            IdAlumno: $('#IdAlumno').val(),
            TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
            PaginaActual: 1,
            NumeroRegistros: parseInt($("#PagOfertas").val())

        };
        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaSimpleOferta", "Alumno")', oferta);

        return false;
    });

    $('#buscaravanzada').click(function () {
        $("#TipoBusqueda").attr('value', 2);
        var oferta = {
            IdPeriodoPublicacion: $('#IdPeriodoPublicacion').val(),
            IdEstudio: $('#IdEstudio').val(),
            IdEstadoEstudio: $('#IdEstadoEstudio').val(),
            IdSectorEmpresarial: $('#IdSectorEmpresarial').val(),
            AreaEmpresa: $('#AreaEmpresa').val(),
            AniosExperiencia: $('#AniosExperiencia').val(),
            IdTipoTrabajo: $('#IdTipoTrabajo').val(),
            IdContrato: $('#IdContrato').val(),
            IdTipoCargo: $('#IdTipoCargo').val(),
            Sueldo: $('#Sueldo').val(),
            Ubicacion: $('#Ubicacion').val(),
            IncluirMensaje: $('#IncluirMensaje:checked').val(),
            IdAlumno: $('#IdAlumno').val(),
            TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
            PaginaActual: 1,
            NumeroRegistros: parseInt($("#PagOfertas").val())

        };
        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaAvanzadaOferta", "Alumno")', oferta);

        return false;
    });

    function Cargar(id, link, entidad) {
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(entidad),
            dataType: 'html'
        })
        .success(function (result) {
            $("#" + id).html(result);
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);
        })
    }

    function buscarPaginacion (nroPagina) {
        $("#TipoBusqueda").attr('value', 1);

        var oferta = {
            PalabraClave: $('#PalabraClave').val(),
            TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
            IdAlumno: $('#IdAlumno').val(),
            PaginaActual: nroPagina,
            NumeroRegistros: parseInt($("#PagOfertas").val())
        };
        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaSimpleOferta", "Alumno")', oferta);

        return false;
    }

    function buscarPaginacionAvanzada(nroPagina) {
        $("#TipoBusqueda").attr('value', 2);

        var oferta = {
            IdPeriodoPublicacion: $('#IdPeriodoPublicacion').val(),
            IdEstudio: $('#IdEstudio').val(),
            IdEstadoEstudio: $('#IdEstadoEstudio').val(),
            IdSectorEmpresarial: $('#IdSectorEmpresarial').val(),
            AreaEmpresa: $('#AreaEmpresa').val(),
            AniosExperiencia: $('#AniosExperiencia').val(),
            IdTipoTrabajo: $('#IdTipoTrabajo').val(),
            IdContrato: $('#IdContrato').val(),
            IdTipoCargo: $('#IdTipoCargo').val(),
            Sueldo: $('#Sueldo').val(),
            Ubicacion: $('#Ubicacion').val(),
            IncluirMensaje: $('#IncluirMensaje:checked').val(),
            IdAlumno: $('#IdAlumno').val(),
            TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
            PaginaActual: nroPagina,
            NumeroRegistros: parseInt($("#PagOfertas").val())
        };
        Cargar("ResultadoBusqueda", '@Url.Action("BusquedaAvanzadaOferta", "Alumno")', oferta);

        return false;
    }

    var Offers = {
        query: function () {
            return {
                IdPeriodoPublicacion: $('#IdPeriodoPublicacion').val(),
                IdEstudio: $('#IdEstudio').val(),
                IdEstadoEstudio: $('#IdEstadoEstudio').val(),
                IdSectorEmpresarial: $('#IdSectorEmpresarial').val(),
                AreaEmpresa: $('#AreaEmpresa').val(),
                AniosExperiencia: $('#AniosExperiencia').val(),
                IdTipoTrabajo: $('#IdTipoTrabajo').val(),
                IdContrato: $('#IdContrato').val(),
                IdTipoCargo: $('#IdTipoCargo').val(),
                Sueldo: $('#Sueldo').val(),
                Ubicacion: $('#Ubicacion').val(),
                IncluirMensaje: $('#IncluirMensaje:checked').val(),
                IdAlumno: $('#IdAlumno').val(),
                TipoTrabajoUTP: $('#TipoTrabajoUTP').val(),
                PaginaActual: 1,
                NumeroRegistros: parseInt($("#PagOfertas").val())
            };
        },
        all: function () {
            $('#TipoTrabajoUTP').val('');
            Cargar('ResultadoBusqueda', '@Url.Action("BusquedaAvanzadaOferta", "Alumno")', this.query())
        },
        entriesPosition: function () {
            $('#TipoTrabajoUTP').val('TTUPOE');
            Cargar('ResultadoBusqueda', '@Url.Action("BusquedaAvanzadaOferta", "Alumno")', this.query())
        },
        practices: function () {
            $('#TipoTrabajoUTP').val('TTUPRA');
            Cargar('ResultadoBusqueda', '@Url.Action("BusquedaAvanzadaOferta", "Alumno")', this.query())
        },
        jobs: function () {
            $('#TipoTrabajoUTP').val('TTUEMP');
            Cargar('ResultadoBusqueda', '@Url.Action("BusquedaAvanzadaOferta", "Alumno")', this.query())
        },
        tabs: function () {
            var sup = this,
                wrapperSelector = '#offers-tabs',
                $allTab = $(wrapperSelector + ' [aria-controls=all]'),
                $entriesPositionTab = $(wrapperSelector + ' [aria-controls=entries-position]'),
                $practicesTab = $(wrapperSelector + ' [aria-controls=practices]'),
                $jobs = $(wrapperSelector + ' [aria-controls=jobs]');

            $allTab.on('click', function (e) { e.preventDefault(); sup.all(); });
            $entriesPositionTab.on('click', function (e) { e.preventDefault(); sup.entriesPosition(); });
            $practicesTab.on('click', function (e) { e.preventDefault(); sup.practices(); });
            $jobs.on('click', function (e) { e.preventDefault(); sup.jobs(); });
        }
    };

    Offers.tabs();
</script>



