@model UTP.PortalEmpleabilidad.Modelo.VistaPanelAlumno
@using UTP.PortalEmpleabilidad.Modelo

@{
    Layout = "~/Views/Alumno/_LayoutAlumno.cshtml";
    ViewBag.Title = "Panel de Control";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">

    @{ViewBag.ColapsaDatos = " in";}
    @Html.Partial("_DatosPersonales", Model.Alumno)
    @{Html.RenderAction("AlertaCvAlumno", "Alumno");}
    @{Html.RenderAction("AlertaCvAlumnoDia", "Alumno");}
    @{Html.RenderAction("AlertaCvAlumnoMes", "Alumno");}

    <div class="row">
        <div class="col-md-3 fuente-pequeña" style="border-right:solid;border-color:rgb(220, 220, 220);border-width:1px;">

            <h5>Ofertas que pueden interesarte</h5>
            @Html.Partial("_AlumnoUltimasOfertas", Model.ListaOfertas)

        </div>
        <div class="col-md-6 fuente-pequeña" style="border-right:solid;border-color:rgb(220, 220, 220);border-width:1px;">
            <!--INICIO-->
            <div class="panel-group" id="grupoMensajes" role="tablist" aria-multiselectable="true">

                @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_ALUMNO_INDEX })

            </div>
            <!--FIN-->
        </div>
        <div class="col-md-3 fuente-pequeña">
            <!--INICIO-->
            <div class="panel-group" id="grupoEventos" role="tablist" aria-multiselectable="true">

                @Html.Partial("_AlumnoEventos", Model.ListaEventos)

            </div>

            <!--FIN-->
        </div>
        <div class="col-md-3 fuente-pequeña">
            @if (Session["ResultadoLogeo"].ToString().Equals(""))
            {
                @Html.Action("VistaCalendario", "Calendario")
            }
            else
            {
                <div class="alert alert-danger" role="alert">@Session["ResultadoLogeo"]</div>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2" style="text-align:center;">
            <a href="http://aptitus.com/" target="_blank"><img src="~/img/logos/aptitus.jpg" /></a>
            <hr />
        </div>
        <div class="col-sm-2" style="text-align:center;">
            <a href="http://www.bumeran.com.pe/" target="_blank"><img src="~/img/logos/bumeran.jpg" /></a><hr />
        </div>
        <div class="col-sm-2" style="text-align:center;">
            <a href="http://www.computrabajo.com.pe/" target="_blank"><img src="~/img/logos/computrabajo.jpg" /></a><hr />
        </div>
        <div class="col-sm-2" style="text-align:center;">
            <a href="http://www.laborum.pe/" target="_blank"><img src="~/img/logos/laborum.jpg" /></a><hr />
        </div>
        <div class="col-sm-2" style="text-align:center;">
            <a href="http://www.trabajando.pe/" target="_blank"><img src="~/img/logos/trabajando.jpg" /></a><hr />
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br />
</div>
<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7 color-paleta8").addClass("color-paleta1");
        $('#PestañaIndex').css('backgroundColor', '#f00');
    });
</script>
