@using UTPPrototipo.Common
@model UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaOfertaAlumno
@using UTP.PortalEmpleabilidad.Modelo
@using UTPPrototipo.Utiles

@{
    Layout = "~/Views/Alumno/_LayoutAlumno.cshtml";
    ViewBag.Title = "Oferta de Trabajo";
}
<div class="container" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">

        @Html.Hidden("IdOferta", Model.Oferta.IdOferta)
        @Html.Hidden("RecibeCorreosIdListaValor", Model.Oferta.RecibeCorreosIdListaValor)
        @Html.Hidden("CorreoElectronicoUsuarioEmpresa", Model.Oferta.CorreoElectronicoUsuarioEmpresa)
        @Html.Hidden("CargoOfrecido", Model.Oferta.CargoOfrecido)
        @{Html.RenderAction("VistaCabecera", "Alumno", new { colapsaDatos = " " });}

    </div>

    <div class="row">
        <div class="col-md-7">
            <!--Vista para la empresa-->
            <div class=" tabla-empresa">
                <table>
                    <tr>
                        <td>

                            @if (Model.Oferta.LogoEmpresa != null && string.IsNullOrEmpty(Model.Oferta.ArchivoMimeType) == false)
                            {
                                <img src="@Url.Action("GetImageEmpresa", "Alumno", new { Model.Oferta.IdEmpresa })" class="logo-empresa" />

                            }
                            else
                            {
                                <img class="logo-empresa" src="~/img/sinimagen.jpg" />
                            }
                        </td>
                        <td style="vertical-align:top;">
                            <a data-toggle="modal" data-target="#Modal-datos-empresa"><strong>@Model.Oferta.NombreComercial </strong></a>
                            <br /><span class="fuente-pequeña">
                                @if (string.IsNullOrEmpty(Model.Oferta.SitioWeb) == false)
                                {
                                    <a href="http://@Model.Oferta.SitioWeb" target="_blank"> @Model.Oferta.SitioWeb </a>
                                }
                            </span>
                            <br /><span class="fuente-pequeña">
                                RUC. @Model.Oferta.IdentificadorTributario
                            </span>
                            <br />
                            <span class="fuente-pequeña">
                                @Model.Oferta.DesNumeroEmpleados
                            </span>
                            <br /><p class="fuente-pequeña" style="margin:0px 0px 0px 0px;">
                                @Model.Oferta.DescripcionEmpresa
                            </p>
                        </td>
                    </tr>
                </table>

            </div>

            <!--Vista para la empresa-->
            <div class="panel-group" id="oferta-anuncio" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOferta" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOferta" aria-expanded="true" aria-controls="collapseOferta" class="fuente-seccion">
                                @Model.Oferta.CargoOfrecido
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOferta" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOferta">
                        <div class="panel-body fuente-pequeña">
                            <h6><strong>Funciones</strong></h6>
                            <br />
                            @Html.Raw(Model.Oferta.Funciones)
                            <h6><strong>Requisitos</strong></h6>
                            <br />
                            @Html.Raw(Model.Oferta.Competencias)
                        </div>
                    </div>
                </div>


            </div>

            <div class="panel-group" id="oferta-mensaje" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingMensaje" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMensaje" aria-expanded="true" aria-controls="collapseMensaje" class="fuente-seccion">
                                Ofertas similares
                            </a>
                        </h5>
                    </div>
                    <div id="collapseMensaje" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMensaje">
                        <div class="panel-body fuente-pequeña">
                            <div class="row" style="margin-bottom:10px;">
                                @foreach (var item in Model.ListaOfertas)
                                {
                                    <div class="col-sm-4">
                                        <div style="height:90px;">
                                            @if (item.LogoEmpresa != null && string.IsNullOrEmpty(item.ArchivoMimeType) == false)
                                            {
                                                @*<img src="@Html.GetImageEmpresa(item.LogoEmpresa, "image/jpeg")" class="logo-empresa2" />*@
                                                <img src="@Url.Action("GetImageEmpresa", "Alumno", new { item.IdEmpresa })" class="logo-empresa2" />

                                            }
                                            else
                                            {
                                                <img src="~/img/sinimagen.jpg" class="logo-empresa2" />
                                            }


                                        </div>
                                        @*<div style="height:90px;"><img src="~/img/logos/logoCriteria.jpg" class="logo-empresa2" /></div>*@

                                        <div>
                                            <strong>
                                                @*@Html.ActionLink(item.CargoOfrecido, "postulacionOferta2", "Alumno", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { target = "_blank" })*@
                                                @Html.ActionLink(item.CargoOfrecido, "postulacionOferta2", "Alumno", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, null)
                                            </strong>
                                            <br />@Html.FormatoFrecuencia(item.FechaPublicacion)
                                        </div>
                                    </div>
                                }


                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="oferta-mensaje2222" aria-multiselectable="true" hidden="hidden">

                <div class="panel-group" id="grupoMensajes" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne2">
                            <!--
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#grupoMensajes" href="#collapseMensajes" aria-expanded="true" aria-controls="collapseOne2" class="fuente-seccion">
                                    Mensajes
                                </a>
                            </h5>
                            -->
                        </div>
                        <div id="collapseMensajes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                            <div class="panel-body">
                                @*//20150508 a petición de Beatriz
                                    @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_ALUMNO_OFERTA, idOferta = Model.Oferta.IdOferta })*@
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
        <div class="col-md-5">


            <div class="panel-group" id="oferta-postulacion" role="tablist" aria-multiselectable="true">
                @Html.Partial("_EstadoPostulacion", Model.Oferta)
            </div>


            <div class="panel-group" id="oferta-requisito" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingRequisito" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseRequisito" aria-expanded="true" aria-controls="collapseRequisito" class="fuente-seccion">
                                Requisitos de la Oferta
                            </a>

                        </h5>
                        <div class="progress" style="background-color:white;margin:5px 10px 5px 10px;">
                            @Html.Raw(Html.CompatibilidaOferta((int)Model.Oferta.Compatible))


                        </div>
                    </div>
                    <div id="collapseRequisito" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRequisito">
                        <div class="panel-body fuente-pequeña">

                            <div class="row">
                                <div class="col-md-12">
                                    <strong class="sub-titulo-seccion">Carreras</strong>
                                    <br />
                                </div>
                            </div>
                            <br />
                            <table class="fuente-pequeña">
                                @if (Model.ListadoEstudios != null && Model.ListadoEstudios.Count > 0)
                                {
                                        <!--Carreras UTP-->
                                    for (int i = 0; i <= Model.ListadoEstudios.Count - 3; i++)
                                    {

                                        if (Model.ListadoEstudios[i].Tipo == 0 && Model.ListadoEstudios[i].Requisito == "Grado Universitario" && Model.ListadoEstudios[i].Line == 1)
                                        {
                                            <tr>
                                                <td class="celda-nombre" style="text-align:left">
                                                    <!--Se muestra el siguiente en la lista-->
                                                    <strong>@Model.ListadoEstudios[i + 1].Requisito.Split('-')[0]</strong>
                                                </td>
                                                <td class="celda-datos">
                                                    @if (Model.ListadoEstudios[i].Line == 1)
                                                    {
                                                        if (Model.ListadoEstudios[i].Cumplimiento == 1)
                                                        {
                                                            <span class="valor-palabra si-cumple">Si cumple</span><span class="valor-icono2 si-cumple">g</span>
                                                        }
                                                        else
                                                        {
                                                            <!--<span class="valor-palabra no-cumple"><strong>No cumple</strong></span><span class="valor-icono2 no-cumple">l</span>-->
                                                        }
                                                    }

                                                </td>
                                            </tr>
                                        }
                                        @*else
                                            {
                                                <tr>
                                                    <td colspan="2"><div class="linea_raya"></div></td>
                                                </tr>
                                            }*@

                                        i = i + 3;

                                    }
                                }

                            </table>
                            <br />
                            <table class="fuente-pequeña">
                                <tr>
                                    <td class="celda-nombre">Estado: </td>
                                    <td class="celda-datos"><strong>@Model.Oferta.EstadoCarreraUTPDescripcion</strong></td>
                                </tr>
                                @if (Convert.ToInt32(@Model.Oferta.CicloMinimoCarreraUTP) != 0)
                                {
                                    <tr>
                                        <td class="celda-nombre">Ciclo mínimo: </td>
                                        <td class="celda-datos"><strong>@Model.Oferta.CicloMinimoCarreraUTP</strong></td>
                                    </tr>
                                }
                            </table>
                            <br />
                            @if (Model.ListaEstudiosOtros.Count > 0)
                            {
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong class="sub-titulo-seccion">Otros Estudios</strong>
                                    </div>
                                </div>
                                <br />
                            }

                            <table class="fuente-pequeña">
                                @{
                                    string cicloMinimo = "";
                                }
                                @if (Model.ListadoEstudios != null && Model.ListadoEstudios.Count > 0)
                                {
                                        <!--Carreras UTP-->
                                    for (int i = 0; i <= Model.ListadoEstudios.Count - 1; i++)
                                    {
                                        if (Model.ListadoEstudios[i].Tipo == 0 && Model.ListadoEstudios[i].Requisito == "Grado Universitario")
                                        {
                                            i = i + 3;
                                        }

                                        if (Model.ListadoEstudios[i].Tipo == 1 && cicloMinimo != "")
                                        {
                                            <tr>
                                                <td class="celda-nombre">
                                                    Ciclo mínimo: @cicloMinimo

                                                    <!--Se establece el ciclo mínimo nuevamente vacío.-->
                                                    @{
                                            cicloMinimo = "";
                                                    }
                                                </td>

                                                <td></td>
                                            </tr>
                                        }

                                        if (Model.ListadoEstudios[i].Tipo == 0 && Model.ListadoEstudios[i].Requisito != "Grado Universitario")
                                        {
                                            <tr>
                                                <td class="celda-nombre">
                                                    <!--Se muestra el siguiente en la lista-->
                                                    <strong>@Model.ListadoEstudios[i].Requisito.Split('-')[0]</strong>
                                                    @{
                                            if (Model.ListadoEstudios[i].Requisito.Split('-').Length > 1)
                                            {
                                                cicloMinimo = Model.ListadoEstudios[i].Requisito.Split('-')[1].Split(':')[1];
                                            }
                                                    }
                                                </td>
                                                <td class="celda-datos">
                                                    @if (Model.ListadoEstudios[i].Line == 1)
                                                    {
                                                        if (Model.ListadoEstudios[i].Cumplimiento == 1)
                                                        {
                                                            <span class="valor-palabra si-cumple">Si cumple</span><span class="valor-icono2 si-cumple">g</span>
                                                        }
                                                        else
                                                        {
                                                            <!--<span class="valor-palabra no-cumple"><strong>No cumple</strong></span><span class="valor-icono2 no-cumple">l</span>-->
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        @*else
                                            {
                                                <tr>
                                                    <td colspan="2"><div class="linea_raya"></div></td>
                                                </tr>
                                            }*@



                                    }
                                }
                                <tr>
                                    <td>
                                        <hr />
                                    </td>
                                    <td>
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong class="sub-titulo-seccion">Experiencia</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        <strong class="sub-titulo-seccion">General: @Model.Oferta.ExperienciaGeneral meses </strong>
                                    </td>
                                    <td class="celda-datos">
                                        @if (Model.Oferta.CumpleExperienciaGeneral)
                                        {
                                            <span class="valor-palabra si-cumple">Si cumple</span><span class="valor-icono2 si-cumple">g</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        <strong class="sub-titulo-seccion">En posiciones similares: @Model.Oferta.ExperienciaPosicionesSimilares meses</strong>
                                    </td>
                                    <td class="celda-datos">
                                        @if (Model.Oferta.CumpleExperienciaPosicionesSimilares)
                                        {
                                            <span class="valor-palabra si-cumple">Si cumple</span><span class="valor-icono2 si-cumple">g</span>
                                        }
                                    </td>
                                </tr>
                                @if (Model.ListadoSectorEmpresarial != null && Model.ListadoSectorEmpresarial.Count > 0)
                                {
                                    <tr>
                                        <td>
                                            <strong class="sub-titulo-seccion">Experiencia por Sector</strong>
                                        </td>
                                        <td class="celda-datos"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <br />
                                        </td>
                                    </tr>
                                    foreach (var item in Model.ListadoSectorEmpresarial)
                                    {
                                        if (item.Tipo == 0)
                                        {
                                            <tr>
                                                <td class="celda-nombre">
                                                    <strong>@item.Requisito</strong>
                                                </td>
                                                <td class="celda-datos">
                                                    @if (item.Line == 1)
                                                    {
                                                        if (item.Cumplimiento == 1)
                                                        {
                                                            <span class="valor-palabra si-cumple">Si cumple</span><span class="valor-icono2 si-cumple">g</span>
                                                        }
                                                        @*else
                                                            {
                                                                <span class="valor-palabra no-cumple"><strong>No cumple</strong></span><span class="valor-icono2 no-cumple">l</span>
                                                            }*@
                                                    }

                                                </td>
                                            </tr>
                                        }
                                        @*else
                                            {
                                                <tr>
                                                    <td colspan="2"><div class="linea_raya"></div></td>
                                                </tr>
                                            }*@


                                    }
                                }
                                <tr>
                                    <td>
                                        <hr />
                                    </td>
                                    <td>
                                        <hr />
                                    </td>
                                </tr>

                                @if (Model.ListadoInformacionAdicional != null && Model.ListadoInformacionAdicional.Count > 0)
                                {
                                    <tr>
                                        <td>
                                            <strong class="sub-titulo-seccion">Conocimientos</strong>
                                            <br />
                                        </td>
                                        <td class="celda-datos"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <br />
                                        </td>
                                    </tr>
                                    foreach (var item in Model.ListadoInformacionAdicional)
                                    {
                                        if (item.Tipo == 0)
                                        {
                                            <tr>
                                                <td class="celda-nombre">
                                                    <strong>@item.Requisito</strong>
                                                </td>
                                                <td class="celda-datos">
                                                    @if (item.Line == 1)
                                                    {
                                                        if (item.Cumplimiento == 1)
                                                        {
                                                            <span class="valor-palabra si-cumple">Si cumple</span><span class="valor-icono2 si-cumple">g</span>
                                                        }
                                                        @*else
                                                            {
                                                                <span class="valor-palabra no-cumple"><strong>No cumple</strong></span><span class="valor-icono2 no-cumple">l</span>
                                                            }*@
                                                    }

                                                </td>
                                            </tr>
                                        }
                                        @*else
                                            {
                                                <tr>
                                                    <td colspan="2"><div class="linea_raya"></div></td>
                                                </tr>
                                            }*@


                                    }
                                }

                            </table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>

            <!--Vista para la empresa-->
            <div class="panel-group" id="oferta-detalle" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingDetalle" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDetalle" aria-expanded="true" aria-controls="collapseDetalle" class="fuente-seccion">
                                Condiciones
                            </a>
                        </h5>
                    </div>
                    <div id="collapseDetalle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingDetalle">
                        <div class="panel-body fuente-pequeña">


                            <table class="fuente-pequeña">
                                <tr>
                                    <td class="celda-nombre">
                                        <span>Cargo</span>
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.CargoOfrecido</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Publicado el
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@String.Format("{0:dd/MM/yyyy}", Model.Oferta.FechaPublicacion)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        CVs hasta el
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@String.Format("{0:dd/MM/yyyy}", Model.Oferta.FechaFinRecepcionCV)</strong>

                                    </td>
                                </tr>
                                <tr style="display:none;">
                                    <td class="celda-nombre">
                                        Finaliza el
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@String.Format("{0:dd/MM/yyyy}", Model.Oferta.FechaFinProceso)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Tipo Cargo
                                    </td>
                                    <td class="celda-datos">
                                        <span class="valor-palabra"><strong>@Model.Oferta.DesTipoCargo</strong></span><span class="valor-icono2">H</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Tipo Trabajo
                                    </td>
                                    <td class="celda-datos">
                                        <span class="valor-palabra"><strong>@Model.Oferta.DesTipoTrabajo</strong></span><span class="valor-icono2">I</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Tipo Contrato
                                    </td>
                                    <td class="celda-datos">
                                        <span class="valor-palabra"><strong>@Model.Oferta.DesTipoContrato</strong></span><span class="valor-icono2">N</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Duración
                                    </td>
                                    <td class="celda-datos">

                                        @if (Model.Oferta.DuracionContrato > 0)
                                        {

                                            <strong>@Model.Oferta.DuracionContrato Meses</strong>
                                        }
                                        else
                                        {
                                            <strong>Indefinido</strong>
                                        }


                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Horario
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.Horario</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Remuneración
                                    </td>
                                    <td class="celda-datos">
                                        @if (Model.Oferta.RemuneracionOfrecida > 0)
                                        {

                                            <strong>@String.Format("{0:###,###,###.#0}", Model.Oferta.RemuneracionOfrecida)</strong>
                                        }
                                        else
                                        {
                                            <strong></strong>
                                        }



                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Área
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.AreaEmpresa</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Vacantes
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.NumeroVacantes</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="celda-nombre">
                                        Ubicación
                                    </td>
                                    <td class="celda-datos">
                                        <strong>@Model.Oferta.NombreLocacion</strong>
                                    </td>
                                </tr>
                            </table>




                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="Modal-datos-empresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Datos de la Empresa</h4>
            </div>
            <div class="modal-body">
                <table style="width:100%">
                    <tr>
                        <td style="width:50%;text-align:center;">
                            @if (Model.Oferta.LogoEmpresa != null && string.IsNullOrEmpty(Model.Oferta.ArchivoMimeType) == false)
                            {
                                <img src="@Url.Action("GetImageEmpresa", "Alumno", new { Model.Oferta.IdEmpresa })" class="logo-empresa" />

                            }
                            else
                            {
                                <img class="logo-empresa" src="~/img/sinimagen.jpg" />
                            }
                        </td>
                        <td style="width:50%;"><h4>@Model.Oferta.NombreComercial</h4><br />@Model.Oferta.SitioWeb</td>
                    </tr>
                </table>
                <br />
                <h5>@Model.Oferta.DescripcionEmpresa</h5>
                <table>
                    <tr>
                        <td class="celda-nombre">
                            Año de Creación
                        </td>
                        <td class="celda-datos">
                            @Model.Oferta.AnoCreacion
                        </td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">
                            Empleados
                        </td>
                        <td class="celda-datos">
                            @Model.Oferta.DesNumeroEmpleados
                        </td>
                    </tr>
                    <tr>
                        <td class="celda-nombre">
                            Sector Empresarial
                        </td>
                        <td class="celda-datos">
                            @Model.Oferta.DesSectorEmpresarial
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-2.1.1.min.js"></script>*@
<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta4 color-paleta5").addClass("color-paleta2");
        $('#PestañaOfertas').css('backgroundColor', '#f00');
    });

    $('#BotonPostularAhora').click(function () {

        //Se valida que el alumno haya seleccionado un CV
        if ($('#IdCV').val() == "") {
            alert('Debe seleccionar un CV');
            return false;
        }
        var ofertapostulacion = {
            IdAlumno: $('#IdAlumno').val(),
            IdOferta: $('#IdOferta').val(),
            FaseOfertaPostulacion: 'OFFAPR',
            IdCV: $('#IdCV').val(),
            RecibeCorreos: $('#RecibeCorreosIdListaValor').val(),
            CorreoElectronicoUsuarioEmpresa: $('#CorreoElectronicoUsuarioEmpresa').val(),
            CargoOfrecido: $('#CargoOfrecido').val()

        };
        $('#BotonPostularAhora').removeClass('.color-paleta1 color-paleta2 color-paleta4 color-paleta5 btn-default').addClass('.color-paleta6');
        $('#BotonPostularAhora').html('Espere un momento');
        //CargarPOST(null, "/Alumno/PostularOferta", ofertapostulacion);
        CargarPOST(null, '@Url.Action("PostularOferta", "Alumno")', ofertapostulacion);

        //var url = "/Alumno/EstadoPostulacionOferta/" + $('#IdOferta').val();
        var url = '@Url.Action("EstadoPostulacionOferta", "Alumno")' + "/" + $('#IdOferta').val();

        CargarGET("oferta-postulacion", url);
    });
    $('#idDescargaCV').click(function () {
        var ofertapostulacion = {
            IdAlumno: $('#IdAlumno').val(),
            IdOferta: $('#IdOferta').val()
        };

        //CargarPOST(null, "/Alumno/DescargarCV", ofertapostulacion);
        CargarPOST(null, '@Url.Action("DescargarCV", "Alumno")', ofertapostulacion);
    });

    function CargarPOST(id, link, entidad) {
        $.ajax({
            url: link,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(entidad),
            dataType: 'html'
        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
        })
        .error(function (xhr, status) {
            console.log(xhr);
            console.log(status);

        })
    }
    function CargarGET(id, link) {
        $.ajax({
            url: link,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            if (id != null) {
                $("#" + id).html(result);
            }
        })
        .error(function (xhr, status) {
            alert(status);
        })
    }

</script>